[2022-06-08 19:27] webern opened #2199 "add systemd analyze commands to logdog output"
These commands can be helpful when trying to figure out a slow boot. Maybe we should add them to the information that logdog provides:

[code]

[2022-06-08 19:31] webern opened #2200 "introduce log level setting"
When troubleshooting Bottlerocket, we might want to increase logging verbosity. Many of our programs have a `--log-level` argument with the values `error`, `warn`, `info`, `debug`, `trace`. All of our programs default to `info`.

Should we introduce the ability to change this log-level through the settings API? If so, should we try to make it an instantaneous change, or should it be something that

[2022-06-09 15:08] kennu commented on #812
I'm also interested in a supported way to run Bottlerocket inside Firecracker VMs. I need to run some user containers in securely isolated VMs, on a shared (bare metal) EC2 instance, and it seems Firecracker + Bottlerocket would be the best combination.

[2022-06-09 21:12] zmrow opened #2204 "Support static addressing via `net.toml`"
- Depends on #2214

**What I'd like:**
I would like the ability to set up a static IP for a network interface.

This means we will need to be able to set the following at the least

- IPv4/6 IP
- gateway
- nameservers
- destination IP

[2022-06-09 23:34] kolyshkin commented on #2172
Should be fixed upstream by https://github.com/kubernetes/kubernetes/pull/110496

[2022-06-10 01:30] cbgbt commented on #2018
This is resolved in the latest Bottlerocket release, [v1.8.0](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.8.0).

[2022-06-10 01:30] #2018 closed, assigned to cbgbt

[2022-06-10 01:30] cbgbt commented on #1971
This is resolved in the latest Bottlerocket release, [v1.8.0](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.8.0).

[2022-06-10 01:30] #1971 closed, assigned to cbgbt

[2022-06-10 01:31] cbgbt commented on #2132
This is resolved in the latest Bottlerocket release, [v1.8.0](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.8.0) -- `settings.kubernetes.cluster-dns-ip` now supports being set to an array of IP addresses. Check [the documentation](https://github.com/bottlerocket-os/bottlerocket#kubernetes-settings) for an example on setting this.

Let us know if you have any questions!

[2022-06-10 01:31] #2132 closed, assigned to cbgbt

[2022-06-10 01:32] cbgbt commented on #2045
This is resolved in the latest Bottlerocket release, [v1.8.0](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.8.0).

[Check out the documentation](https://github.com/bottlerocket-os/bottlerocket#network-settings) for more details on how to use the new setting, `settings.network.hosts`. Let us know if you have any questions!

[2022-06-10 01:32] #2045 closed, assigned to cbgbt

[2022-06-10 15:39] stockholmux opened #2206 "[PROPOSAL] Switch changelog from a single linear to individual files per major.minor version"
**What I'd like:**
Bottlerocket just released version 1.8.0. 🥳

Looking over the changelog, I noticed it's getting pretty big - 2045 lines right now and it will continue to grow over time. Perhaps it's worth considering moving from the single file to a changelog directory with individual files per major/minor release. Example:

[code]

Note that patches are rolled up into a single file (for exampl

[2022-06-10 18:20] kdaula opened #2207 "Update `packages` for 1.9.0"

[2022-06-10 18:20] kdaula opened #2208 "Update rust deps for 1.9.0"

[2022-06-10 18:22] kdaula opened #2209 "Update go deps for 1.9.0"

[2022-06-13 12:30] misterek commented on #2056
Ok, last time I'll ask a question until August.   I just wanted to double check, but I assume this will support the new Inspector?  Or will it just be classic?  Or Both?

[2022-06-13 16:56] zmrow opened #2211 "Split metal and non-metal kernel config"
As time goes on and we continue to add kernel modules to support new and different hardware, we don't want our non-metal variants to carry all of the extra modules.  We should split out the metal-specific config.

There are a few considerations here however:
* We don't want a separate kernel package to maintain
* We need to ensure that the kernel gets re-built for metal/non-metal as required (will

[2022-06-13 16:58] webern commented on #2211
We should consider some additional logic to ensure that the kernel is only rebuilt when switching between metal and other versions, and not rebuilt when switching between eg aws-ecs and aws-k8s

[2022-06-13 18:28] etungsten opened #2212 "Non-1.23 K8s: Deprecate dockershim.sock and use `containerd.sock` for container runtime"
**What I'd like:**
More K8s deployments are now containerd-aware so customers are having to do K8s manifest edits for solutions that assume containerd as the underlying runtime.

In the containerd systemd service, we will create a symlink for the containerd socket at `/run/dockershim.sock` just so other deployments that assume docker as underlying runtime can still work.

We've already done this f

[2022-06-13 20:17] zmrow opened #2213 "Test `bootconfig` from current kernel doesn't get out of sync with `bootconfig` from SDK"
We currently package the `bootconfig` CLI from the current version of the 5.10 kernel.  Though `bootconfig` doesn't receive a ton of updates, it does pull in some header files from the kernel, so we need to make sure that newer kernel versions are compatible with the output of our particular `bootconfig`.

Possible options:
* Boot a variant with an initrd generated with `bootconfig` (perhaps via Q

[2022-06-13 20:19] zmrow opened #2214 "Support versioning in `net.toml`"
As we require additional network config options, we'll need to bump the version in `net.toml`.  The code needs to support deserialization of different versioned files.

[2022-06-14 15:18] foersleo commented on #2211
Yes, I think there is some steps to this here. I am thinking of something like the following:

- [x] Separate the config but have the same build with all options (Done with https://github.com/bottlerocket-os/bottlerocket/pull/2264)
- [x] Separate the builds to only have the metal specific configs build into the metal variants
- [ ] build time improvements *

(*) For the build time improvements the

[2022-06-14 17:58] arnaldo2792 commented on #2155
I like the idea, and I think this should work, I wonder if we should extend `prairiedog` to evaluate if a reboot is required.

[2022-06-14 22:38] arnaldo2792 opened #2216 "Add imageGC settings to all k8s variants’ models"
Add imageGCHighThresholdPercent and imageGCLowThresholdPercent to all k8s variants’ models

Required for: #2065

[2022-06-14 22:42] arnaldo2792 opened #2217 "Add migrations required for imageGC settings to all k8s variants’ models"
Add migrations required for the imageGCHighThresholdPercent and imageGCLowThresholdPercent settings to all k8s variants’ models

Required for: #2065
Blocked by: #2216

[2022-06-15 12:41] diranged opened #2218 "Symlinking /var/lib/kubelet/pods (or /var/lib/kubelet) breaks the AWS EFS CSI Driver..."
**Image I'm using:**
Bottlerocket 1.8.0 (either AMD64 or ARM64)

**Background**
We recently had a conversation with @bcressey on Slack (https://awsdevelopers.slack.com/archives/CV5GQHN2Y/p1654555993450939) about mounting the "local disk" from EC2 instances such that Kubernetes would use them for container storage. The suggested answer at https://github.com/bottlerocket-os/bottlerocket/discussions/

[2022-06-15 13:00] diranged commented on #2218
If I recall correctly - the `bootstrap` containers run before `kubelet` is up and running, right? So if the `--root-dir` flag was somehow exposed through the Bottlerocket configuration interface, then we could create our `/mnt/containers` dir via our bootstrap container and then use the `api-client` to set the `--root-dir` flag for kubelet. Just a thought.

[2022-06-15 13:15] diranged commented on #2218
(Side note, I have opened case #10230969021 within our AWS account to track a long term solution to this problem)..

[2022-06-15 15:22] bcressey commented on #2218
My heartfelt apologies, @diranged - the 2 AM page is certainly not the sort of experience I want anyone to have.

I need to dig into the two errors. In the first case, it looks like there's an attempt to relabel the volume with the pod's private label (`system_u:object_r:data_t:s0:c577,c1017`). That's broken for two reasons: EFS doesn't support xattrs (so `security.selinux` can't be set), and that

[2022-06-15 15:32] bcressey commented on #2218
I agree that this is the right long-term approach. The "ideal" bootstrap container does stuff that can't usefully be done at another time, and then makes API calls to put the host into the expected state. Doing stuff and then putting symlinks down to get the host to behave differently goes against the grain.

[2022-06-16 00:27] bcressey commented on #2218
The symlink for `/var/lib/kubelet/pods` approach looks to be incompatible with at least the EBS and EFS CSI plugins, if not most others. These pods mount `/var/lib/kubelet` with the "Bidirectional" (`rshared`) option, which is supposed to propagate new mounts on `/var` back to the host. When `kubelet` creates the mount point on the host, it's created under `/mnt`, which isn't a bind mount. When th

[2022-06-16 01:24] bcressey commented on #2218
What happens is that `kubelet` [checks CSI mounts for SELinux support](https://github.com/kubernetes/kubernetes/blob/4b024fc4eeb4a3eeb831e7fddec52b83d0b072df/pkg/volume/csi/csi_mounter.go#L273) which [inspects mount info for the seclabel option](https://github.com/kubernetes/kubernetes/blob/4b024fc4eeb4a3eeb831e7fddec52b83d0b072df/pkg/volume/util/hostutil/hostutil_linux.go#L237), using the mount i

[2022-06-16 01:33] bcressey commented on #2218
That leaves us with two requirements for CSI drivers to work:
* `/var/lib/kubelet` must all reside on the same mount point (ignoring volume mounts, which come later)
* `/var/lib/kubelet` must be the mount point on the host, not a symlink to somewhere else

I'll check but I don't think it's possible to satisfy both requirements with bootstrap containers today. Binding the directory in `/mnt` to the

[2022-06-16 20:46] diranged commented on #2218
Thanks for that really thorough deep dive! I look forward to a solution...

[2022-06-16 23:39] bcressey commented on #2218
The only short-term fix to make CSI drivers work that I can see is to allow bootstrap containers to bind mount onto the storage directories, and have those mounts propagate back to the host.

This is conceptually simple but winds up being a larger change, in part because I'm also trying to eliminate the "redundant" entries in the mount list. Otherwise each volume mount will show up three times:
*

[2022-06-18 00:23] #1924 closed, assigned to bcressey

[2022-06-21 15:06] zmrow opened #2225 "Metal: Include required files in the image at build time"
Metal images require a few extra files (`net.toml`, `user-data.toml`, and `bootconfig.data`) to be provisioned to boot and properly function.  I'd like the ability to build an image which includes these files on the `BOTTLEROCKET-PRIVATE` partition.  Doing this makes provisioning machines a single step: write the image.

The locations of the files could be passed to Buildsys as environment variabl

[2022-06-22 02:40] cbgbt opened #2228 "Deprecate aws-k8s-1.19 variant by August 2022"
Kubernetes 1.19 went out of upstream support in August, 2021. AWS EKS is maintaining support for 1.19 until [August 1st, 2022](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our `aws-k8s-1.19` variant at that time.

While you’ll still be able to launch `aws-k8s-1.19` nodes beyond August 1st, 2022, we’ll

[2022-06-22 05:31] kschumy opened #2229 "Update Kubernetes to 1.23.7"
**What I'd like:**
* The current version is 1.23.6, but EKS-D has a new release with 1.23.7.

**Any alternatives you've considered:**

[2022-06-22 05:40] kschumy opened #2231 "Update Kubernetes to 1.22.10"
**What I'd like:**
The current version is 1.22.9, but EKS-D has a new release with 1.22.10.

**Any alternatives you've considered:**

[2022-06-22 13:31] stevehipwell commented on #1667
Is there any news on this?

[2022-06-22 14:23] misterek commented on #1297
Looks like this one has been moved around a bit.

Is this no longer on the roadmap it seems?

[2022-06-22 15:58] joebowbeer commented on #1297
A level 2 recommendation for container-optimized OS, followed by links to Bottlerocket, was added to the CIS Benchmark for EKS v1.1.0, published at [cisecurity.org](https://cisecurity.org) on 4/13/2022.

[2022-06-22 16:09] voidlily commented on #1297
Is there a benchmark for Bottlerocket in a similar vein to how there's a benchmark for Amazon Linux 2?

I'm asking because I saw a Google Container-Optimized OS benchmark 1.0.0 published in December 2021 and what from that benchmark would translate to necessary hardening work for Bottlerocket AMIs as well.

[2022-06-22 16:10] ecpullen commented on #2135
You can use `-e PUBLISH_REGIONS="us-west-2"` as a workaround.

[2022-06-22 16:24] voidlily commented on #1297
https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY_FEATURES.md
https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY_GUIDANCE.md

I was looking at these, particularly SECURITY_GUIDANCE, and maybe this could work as a benchmark

[2022-06-22 16:34] cbgbt commented on #1888
Sorry for the milestone spam, we were deliberating scope for our release schedule. This depends on us moving away from inline registry mirror configuration per #1963.

[2022-06-22 16:50] webern commented on #2135
I didn't realize that, but I wonder if it would be possible to use my default region in the absence of that environment variable argument.

[2022-06-22 16:59] bcressey commented on #2225
A better approach here might be the tool that @webern has pitched to allow for modifications of an existing image.

We could support operations like:
* modifying root.json to allow an existing image to pull from different repositories
* adding files like user-data.toml to the private partition
* resigning kernel and bootloaders for Secure Boot

[2022-06-22 18:46] joebowbeer opened #2233 "Update PSP to PSS"
**What I'd like:**

In README and SECURITY_GUIDANCE, update references to the deprecated Pod Security Policy (PSP) to the new [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) (PSS).

To update the example configuration, considering drawing inspiration from:

https://kubernetes.io/docs/tutorials/security/cluster-level-pss/

[2022-06-22 20:57] etungsten commented on #2017
Upon deeper inspection, it seems like the culprit is this piece of code: https://github.com/bottlerocket-os/bottlerocket/blob/ed6451e079839082e9473ec450526b9bc9639314/sources/api/host-containers/src/main.rs#L440-L452

When we flip the `enabled` setting to `false` for a host-container, immediately after we disable the host-container's systemd service unit we try to kill the container task process a

[2022-06-22 21:27] bcressey opened #2234 "apply strict mount options where possible"
**What I'd like:**
Most of Bottlerocket's default mounts have `nosuid`, `nodev`, and `noexec` applied, but a few do not:
* `/lib/modules`
* `/media/cdrom`
* `/usr/share/licenses`
* `/usr/src/kernels`
* `/var/lib/bottlerocket`
* `/boot`

These are all either read-only or otherwise restricted to privileged users, but consistency is better.

**Any alternatives you've considered:**
Continue with the c

[2022-06-22 21:31] bcressey opened #2235 "disable kernel support for unused filesystems"
**What I'd like:**
All of the unused filesystems mentioned in the CIS Distribution Independent Linux Benchmark should be removed:
* `CONFIG_CRAMFS=n`
* `CONFIG_HFS_FS=n`
* `CONFIG_HFSPLUS_FS=n`
* `CONFIG_JFFS2_FS=n`
* `CONFIG_UDF_FS=n`

**Any alternatives you've considered:**
Keep the filesystems around, but that adds unnecessary surface area to the kernel.

[2022-06-22 21:33] bcressey opened #2236 "disable kernel support for uncommon network protocols"
**What I'd like:**
All of the uncommon network protocols mentioned in the CIS Distribution Independent Linux Benchmark should be removed:
* `CONFIG_IP_DCCP=n`
* `CONFIG_IP_SCTP=n`
* `CONFIG_RDS=n`
* `CONFIG_TIPC=n`

**Any alternatives you've considered:**
Keep the network protocols around, but that adds unnecessary surface area to the kernel.

[2022-06-22 21:44] bcressey commented on #1297
This issue has bounced between a few milestones, partly because it doesn't map cleanly to a particular Bottlerocket release. It's definitely still on the roadmap, though!

I've been working steadily on the CIS benchmark for Bottlerocket for the last month. There are a few supporting features coming in the 1.9.0 release (#2234, #2235, #2236) and I expect to have the draft published for community fe

[2022-06-22 21:48] misterek commented on #1297
This is fantastic.  Nice work @bcressey !

[2022-06-22 22:01] bcressey commented on #1667
FIPS compliance is our second most requested feature, behind CIS (which is in progress), and I'm planning to focus on it once the CIS benchmark is complete.

There are (at least) two interpretations of what this means, and different auditors may have different takes:
1. Bottlerocket's kernel uses compliant algorithms when `fips=1` is passed on the kernel command line, and its userspace tries to ar

[2022-06-23 11:36] stevehipwell commented on #812
@kennu do you mean running Firecracker VMs from a Bottlerocket instance?

[2022-06-23 11:41] kennu commented on #812
@stevehipwell No, I mean running Bottlerocket OS inside Firecracker VMs. Firecracker VM needs to run some OS to run Docker containers and it seems Bottlerocket would be well suited.

[2022-06-23 11:45] stevehipwell commented on #812
@kennu so in theory you could be running a Bottlerocket instance hosting a Firecracker VM running Bottlerocket?

I'm just observing this issue but I understood it to be for Bottlerocket to support running Firecracker VMs rather than as the VM OS? I may well be wrong, but that was what I'm here for; running an EKS cluster which supports Firecracker VMs for isolation of certain workloads.

[2022-06-23 11:58] kennu commented on #812
I guess the wording of the original issue is a bit unclear on which way round it is :-)

I can see the need for both. In my current use case, I'm running an EC2 bare metal instance => Amazon Linux (ECS optimized) => Firecracker => customized Ubuntu. I would like to replace the customized Ubuntu with a more supported and lightweight OS (Bottlerocket), but secondarily also replace the Amazon Linux.

[2022-06-24 00:26] arnaldo2792 commented on #2164
To some extent, that is potentially true. The customers that use the ECS updater will have to replace their hosts, just as k8s users will do in their clusters when they switch from one kubernetes version to the other.

I've been thinking about this too, and I thought that maybe we could use `ecs-2` disregarding the ECS agent's version, but it is still possible the ECS folks release a v2 ECS agent,

[2022-06-24 04:54] photoszzt commented on #812
I think the original issue mentioned both: using bottlerock as the os for the bare metal machine and bottlerock as the microVM OS("microVM kernel and userspace to also be Bottlerocket" in the original issue).

[2022-06-24 22:36] #2229 closed, assigned to etungsten

[2022-06-24 22:36] #2231 closed, assigned to etungsten

[2022-06-27 18:21] zmrow opened #2246 "Metal: Expand server hardware compatibility"
For our metal variants, we should greatly expand our hardware compatibility.  Ideally, we would support all main classes of server hardware.

[2022-06-28 09:43] igorantunes1984 commented on #811
@gregdek When do you plan to start to tackle this feature?

[2022-06-28 15:24] gregdek commented on #811
You'll have to ask @bcressey -- I'm no longer with the org. :) (Hi Ben!)

[2022-06-28 15:51] igorantunes1984 commented on #811
@gregdek thank you 👍
@bcressey same question as above. Is there a plan and timeline to tackle this issue?

[2022-06-28 22:24] cbgbt commented on #2206
One "annoying" thing that could happen is that default file sorting (at least on Linux with `ls`) will be a bit unfortunate once we hit `1.10`, since `.` sorts earlier than `0`, this would cause `1.10` to sort before `1.2` but after `1.0`.

[2022-06-28 22:35] stockholmux opened #2252 "K8s version deprecation guidance"
**What I'd like:**
In #2228, bottlerocket deprecates support for k8s 1.19. It isn't clear what triggers deprecation for a k8s version.

There should be a documented policy of what triggers a deprecation for a version of k8s as well as any timelines for support in bottlerocket.

**Any alternatives you've considered:**
We go without documenting the deprecation tiggers or timeline?

[2022-06-28 22:37] cbgbt opened #2253 "Investigate whether or not services enter a degraded state when dbus is restarted"
We're tracking `runc` re-registering itself as a service in dbus automatically if dbus is restarted in #2172.

This issue is cut to track whether or not other services enter a degraded state on dbus restarts (wicked is the most likely offender).

We can close this ticket when we are satisfied that we are aware of any other problems that arise on the system when dbus is restarted.

[2022-06-28 22:38] kdaula commented on #2057
Please reopen if this is still an issue.

[2022-06-28 22:38] #2057 closed, assigned to cbgbt

[2022-06-28 22:45] cbgbt commented on #2171
I ran out of time to complete this prior to the Bottlerocket 1.8.0 release. We've been discussing ways to use the Prometheus node-exporter to get more data than my simple automation was gathering, so I'll keep this issue open to track extracting metrics in that way.

[2022-06-28 23:27] bcressey commented on #811
@gregdek - Hi! 😀

@igorantunes1984 - this isn't being actively worked on right now, and isn't on the roadmap for the year. That said, we're happy to collaborate if you have any interest in contributing.

Any or all of these would be helpful:
* config file examples of integrating gVisor with containerd
* notes on the architecture support and binary size
* adding the package build file (might be blo

[2022-06-29 00:17] MiLk opened #2254 "Reduce the log level of wickedd-dhcp6"
All our bottlerocket nodes seem to be generating 34k~56k log entries per day for `wickedd-dhcp6`.
This is quite a sizable proportion of our total log volume.
I can't see what is wrong with our setup, so I was wondering if it would be possible to reduce the log level or at least make it configurable.
The current log level is configured with [`--log-level debug --debug most`](https://github.com/bott

[2022-06-29 00:44] bcressey commented on #2254
Agreed - the IPv6 logs in particular are very chatty because the lease is renewed so often.

The intent was to provide at least enough of a marker in the host logs to correlate a DHCP event with a hypothetical application level issue happening at the same time, but it's definitely excessive right now.

[2022-06-30 08:10] mattgresham opened #2256 "Add disk_used_percent metric"
By default the metrics that are reported to CloudWatch from an instance running Bottlerocket don't include `disk_used_percent`. Installing the CloudWatch Agent would normally be my course of action to do this outside of an instance running Bottlerocket, but that doesn't appear to be an option here.

For my specific use case it would be to setup a CloudWatch alarm that triggers when the data volume

[2022-06-30 19:14] mchaker opened #2257 "Unable to make custom Kubernetes Settings types with `inner` types other than `String`"
**Image I'm using:**

Any k8s variant

**What I expected to happen:**

Ability to use `inner: i32` or any other type besides `inner: String` in the Kubernetes Settings model (https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/models/src/modeled_types/kubernetes.rs).

**What actually happened:**

When trying to use any `inner` type besides `String`, compile errors result from mism

[2022-07-02 03:48] kschumy opened #2258 "Update EKS-D to v1.23-3"
**What I'd like:**
* EKS-D is going to release v1.23-3 by tomorrow (7/2/2022). There is a [new patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-23/patches/0009-EKS-PATCH-Make-kubelet-set-alpha.kubernetes.io-provi.patch) for kubelet, so we're guessing Bottlerocket would want this update.
* The Kubernetes patch version (v1.23.7) is not changing in this EKS-D versio

[2022-07-02 06:59] igorantunes1984 commented on #811
Hi @gregdek

Thank you for the information.
Can't promise that I will be help to contribute much but I will try :)

Regarding the experience and keeping in mind the reduced attack surface and that gVisor only implements part of the kernel in user space, I believe that when gVisor becomes available it should be off by default with settings to:
1. Enable gVisor and allow it to be chosen via k8s
2. E

[2022-07-04 13:39] foersleo commented on #2246
First need to split out the metal specific parts so we keep track of what went in for metal specifically (Issue https://github.com/bottlerocket-os/bottlerocket/issues/2211).

[2022-07-05 01:59] kschumy opened #2261 "Invalid EKS-D source in kubernetes-1.22.spec and kubernetes-1.23.spec?"
### Summary of Issue

The values for `Source0` in [packages/kubernetes-1.22/kubernetes-1.22.spec]( https://github.com/bottlerocket-os/bottlerocket/blob/978084a41bfdbc2da05085b0104bab4cbb4b4262/packages/kubernetes-1.22/kubernetes-1.22.spec#L27) and [packages/kubernetes-1.23/kubernetes-1.23.spec](https://github.com/bottlerocket-os/bottlerocket/blob/978084a41bfdbc2da05085b0104bab4cbb4b4262/packages/k

[2022-07-05 02:15] kschumy commented on #2261
I'll fix this for 1.23 when I open a PR for Issue https://github.com/bottlerocket-os/bottlerocket/issues/2258, which is about updating 1.23 to use the latest EKS-D version (1.23-3).

I'll open a separate PR for 1.22.

[2022-07-05 17:07] #2234 closed, assigned to bcressey

[2022-07-05 18:03] etungsten opened #2265 "Cisco UCS server support in baremetal variants"
**What I'd like:**
Bottlerocket baremetal variants to support Cisco UCS servers by having the necessary drivers to boot properly.

Specifically, we should be looking at enabling:
[CONFIG_NET_VENDOR_CISCO](https://cateee.net/lkddb/web-lkddb/NET_VENDOR_CISCO.html)
[Cisco VIC Ethernet NIC Support](https://cateee.net/lkddb/web-lkddb/ENIC.html)

[2022-07-05 21:10] #2258 closed, assigned to nobody

[2022-07-05 21:10] #2261 closed, assigned to nobody

[2022-07-06 09:58] markusboehme opened #2268 "Fix invalid kernel config options"
The kernel configs have some invalid keys (lowercase, e.g. ` CONFIG_E1000e_hwts=y`) and values (e.g `m` for bools). Fix those.

To avoid unnecessary churn, wait for the following PRs touching the config to be merged:

* #2264
* #2255
* #2226

[2022-07-06 13:45] foersleo commented on #2265
Checked current config status and that those two are the only Cisco networking settings that are interesting (in fact these two seem to be the only cisco specific options for wired networking).

Will add them to the metal specific config once we have merged the PR for that (https://github.com/bottlerocket-os/bottlerocket/pull/2264)

[2022-07-06 15:51] foersleo commented on #2211
I have been looking into how to split the builds.

Doing this the basic way of just adding some logic in the `kernel.spec` that determines when to merge the metal config and adding the `variant-sensitive` flag to the kernel package is straight forward and works in some testing I have done. However it also incurs some extra package rebuilds when switching variants within the `metal` platform or out

[2022-07-06 17:24] #2254 closed, assigned to bcressey

[2022-07-07 17:26] #2268 closed, assigned to markusboehme

[2022-07-08 08:55] foersleo commented on #2265
Looking at this some more there might be additional things we might need on the storage front for these boxes.

There is what Cisco calls `fNIC` which they use for virtual HBA via Fibre channel over ethernet (as far as I understand):

[FCOE_FNIC](https://cateee.net/lkddb/web-lkddb/FCOE_FNIC.html)
 -> (depends on [LIBFCOE](https://cateee.net/lkddb/web-lkddb/LIBFCOE.html) which we have as Module)

[2022-07-08 16:25] #2195 closed, assigned to mchaker

[2022-07-08 16:37] #2008 closed, assigned to arnaldo2792

[2022-07-08 16:45] ghost commented on #1649
+1 with some fluff text context! We use ECS Exec to perform a lot of tasks from debugging to maintenance across our containers. We have multiple types of Operating Systems we use and all but Bottlerocket supports this feature. I would love to finally switch all the remaining Operating Systems we use to Bottlerocket for all the lovely benefits it brings but I can't complete that migration until thi

[2022-07-12 20:11] cbgbt commented on #2256
Thanks for opening this issue, and sorry for the delayed response. I wonder if there are alternative solutions here?

I think generically I would suggest folks solve this by containerizing a metrics export solution. My first thoughts would be to use something like [Prometheus node exporter](https://github.com/prometheus/node_exporter). I think you could configure that to be shipped to Cloudwatch v

[2022-07-14 16:16] bcressey commented on #2218
I still need to work up an example of how to deal with "old" and "new" Bottlerocket approaches to mounting container storage in the same bootstrap container script.

[2022-07-14 16:22] #2147 closed, assigned to ecpullen

[2022-07-14 16:22] #2148 closed, assigned to ecpullen

[2022-07-14 16:58] bcressey commented on #2218
I've been mulling over the long term fix for a while. Right now the tentative design I have in mind is to extend the user-data / first-boot configuration interface to support "actions" as well as "settings".

[code]

Where the "action" would be constrained to one of the sub-commands offered by `apiclient`. Those commands would in turn be backed by the actions API, so `apiserver` would have new met

[2022-07-14 18:23] ghost opened #2275 "Can't load Falco kernel module after building with Kmod Kit"
I built the Falco kernel module using kmod kit as per this [discussion](https://github.com/bottlerocket-os/bottlerocket/discussions/1725). However, I can't seem to figure out how to install it. Here are the 2 approaches I tried:

- I tried installing it from a bootstrap container by running insmod, but quickly found out that won't work because the bootstrap container doesn't have root access.
- I

[2022-07-14 19:53] #2216 closed, assigned to mchaker

[2022-07-14 19:53] #2065 closed, assigned to mchaker

[2022-07-14 19:53] #2217 closed, assigned to mchaker

[2022-07-14 20:18] arnaldo2792 commented on #2275
Hello @youssufelshall , thanks for reporting this problem. Let me do some debugging first to understand what's happening :+1: .

[2022-07-14 20:35] arnaldo2792 commented on #2218
Is the idea to support both bootstrap-containers and API "actions"?

If we support the `ephemeral-storage` action, and subcommands (`format`, `mount`, `bind`), doesn't that mean that we need to support in the host more tools to let the customers format their disks however they want? Aren't we concerned about the implications that has in the OS footprint? With bootstrap containers that isn't a conc

[2022-07-14 21:09] cbgbt commented on #2256
I've done a bit more looking into this and mostly found that I'm not yet sure if I'm misconfiguring the containerized Cloudwatch agent or if it isn't working as I hoped it would :sweat_smile:.

I'm going to set aside some more time to look into this. Let me know if you happen to make any headway otherwise.

I'm realizing as well that I didn't say this in my initial response: The data currently pre

[2022-07-14 23:23] ghost commented on #2275
So, I made sure the kernel sources are being referenced correctly and copied Modules.symvers from the kernel sources to the Falco driver source, and for some reason after building the module it is emptied.

[2022-07-14 23:26] cbgbt commented on #2256
I was indeed misconfiguring the Cloudwatch agent :smile:.

I've just experimented with deploying the Cloudwatch agent as a daemonset to a Bottlerocket k8s cluster, and it seems that the metrics are being appropriately reported back to the Cloudwatch dashboard.

Here's a gist which shows the sample configuration I used to extract `disk_used_percent`: https://gist.github.com/cbgbt/8b49d898ab0a3c6540

[2022-07-14 23:26] #2256 closed, assigned to cbgbt

[2022-07-14 23:28] mattgresham commented on #2256
Amazing, thanks for your help! I'll give this a go.

[2022-07-15 07:17] foersleo commented on #2265
With merge of https://github.com/bottlerocket-os/bottlerocket/pull/2271 this is done.

[2022-07-15 07:17] #2265 closed, assigned to markusboehme, foersleo

[2022-07-15 23:17] diranged commented on #2218
So on the one hand, I think that this ultimately is simpler for users.. so that's good. On the other hand, I have some questions.

1. How do you order the actions?
2. Do actions happen before or after bootstrap containers? Or both?
3. This means that bottlerocket is defining what `ephemeral-storage format` means ...
    a. are you going to raid-0 the volumes with mdadm?
    b. what about using lvm

[2022-07-16 00:26] arnaldo2792 commented on #1703
If we want to support this, I believe we need to change how `shimpei` works and extends its functionality so that it updates the spec that is given by containerd. I don't think we can use a prestart hook for this since at the point when the hook is running, it is too late since the configurations for the container were already applied at that point.

I think we should extend `shimpei` even more, a

[2022-07-16 01:01] bcressey commented on #2218
@arnaldo2792 bootstrap containers would continue to be supported alongside actions. There'd need to be more host tools, like mdadm, lvm2, and devicemapper, but some of them might be required eventually anyhow in order to support scenarios like encrypting the local or private filesystems with a TPM-backed key.

@diranged --

Good question. One approach might be to remove the "key must be a valid su

[2022-07-16 01:08] bcressey commented on #2218
@diranged -

I have thought a lot about this. It's one of the top questions that I get 😀

The major pain point is that bootstrap containers only run once, but the kubelet config can be mutated at any time by modifying the underlying settings, which would clobber the changes from the bootstrap container.

I'm sort of bouncing between two ideas:
1. add a new container construct ("config containers")

[2022-07-16 04:10] bcressey commented on #2218
An alternative that would make "config containers" much easier to use would be to just mount all of `/etc` into the container and give them the `super_t` label to let them modify anything there:
[code]

This solves one of the API concerns I had - that configuration files might be refactored or renamed across updates, which would break any file-specific hooks. Potentially it'd need to be combined w

[2022-07-16 09:55] mchaker opened #2282 "Documentation: README needs linting"
**What I'd like:**

The `README.md` file contains a mix of list item characters (both `*` and `-`) and some paragraphs don't have newlines between them.

I would like the `README.md` file to go through a linter.

[2022-07-16 22:47] bcressey commented on #2275
@arnaldo2792 any luck with the debugging?

@youssufelshall it's not a fix for the kmod kit interaction, but for Falco specifically you can use the eBPF probe driver rather than the kmod, per https://github.com/bottlerocket-os/bottlerocket/issues/862#issuecomment-720122492.

The command has evolved a bit since that time, but this `helm` command should work with the current chart:
[code]

The SELinu

[2022-07-18 13:23] #2235 closed, assigned to bcressey

[2022-07-18 13:23] #2236 closed, assigned to bcressey

[2022-07-18 16:11] etungsten commented on #2017
Fixed as part of https://github.com/bottlerocket-os/bottlerocket/pull/2278/

[2022-07-18 16:11] #2017 closed, assigned to etungsten

[2022-07-18 19:03] arnaldo2792 commented on #2275
I did debug the problem (I was having a hard time understanding a permissions error, turns out I had `lockdown=integrity`). I confirmed that I can load the kernel module after I compiled it using what is proposed in #1725.

[code]

@youssufelshall, my gut feeling is that you are trying to load the kernel module in a kernel version different than what was used to build the kmod-kit. Could you pleas

[2022-07-19 06:54] foersleo commented on #2211
The functional parts of splitting the configs and building the kernel with the variant appropriate config are done. As discussed in https://github.com/bottlerocket-os/bottlerocket/pull/2279 the impact of re-building the kernel with each variant is less than expected as the variant specific build of the `os` package takes similar amounts of time as the kernel build.

I will either way have a look o

[2022-07-19 22:05] #2282 closed, assigned to mchaker

[2022-07-20 15:59] stockholmux commented on #1990
@kdaula To be clear, are you are talking about `versions of softwares` are you saying the software in `/packages`?

[2022-07-20 20:22] pat-s commented on #1128
@samuelkarp Thanks for the great tip, I used it just now and it works great!

I would also vote for the (documented) option to build a custom AMI with additional images backed in - this would simplify updating tasks. This is already possible in [amazon-eks-ami](https://github.com/awslabs/amazon-eks-ami), see also [this outdated PR](https://github.com/awslabs/amazon-eks-ami/pull/677) for inspiratio

[2022-07-21 10:03] L3n41c opened #2288 "Make the EC2 `instance-id` available via a file"
Hello,

In order to correlate data coming from the AWS EC2 APIs, we need some of our EKS pods to know the EC2 `instance-id` of the VM they are running on.
The most natural way to get the `instance-id` is to use the IMDS (`http://169.254.169.254/1.0/meta-data/instance-id`).
However, for security purpose, we’d like to keep the IMDSv2 hop limit set to 1 so that the metadata server is reachable from E

[2022-07-21 13:01] foersleo opened #2289 "kernel config: tidy up config fragments"
There is some things to tidy up for the parts we set for our kernel configs:

- [ ] Usage of `CONFIG_FOO=n` instead of `# CONFIG_FOO is not set` to deactivate a setting
- [ ] Check if there is any conflicts that merge-config brings up (e.g. intended to have something build in, but dependency options are build as module; merge-config will complain about those)

[2022-07-21 14:36] stockholmux opened #2291 "When launching on real hardware, Metal doesn't provide informative error messages"
**Image I'm using:**

Metal, 1.8.0, x86_64

**What I expected to happen:**
When booting, I would expect an attached display to show messages that inform me of status - did it boot? am I missing something?

**What actually happened:**

The attached display will give status messages from some boot processes but then it just hangs.

**How to reproduce the problem:**

Take an image, put it on a device

[2022-07-21 16:57] zmrow commented on #2291
Thanks for the report!

A few questions for my info:
* How was the Bottlerocket image provisioned?  Via EKS-A or by hand?
* Could you provide any output of what you do actually see on the screen?  There should be some output from the kernel at the very least.
* It sounds like the image was booted without a `net.toml` or Boot configuration data (`bootconfig.data`).  Is that correct?

Answers to the

[2022-07-21 17:03] zmrow commented on #2291
We currently pass [`systemd.log_target=journal-or-kmsg`](https://github.com/bottlerocket-os/bottlerocket/blob/4305c383d55917e8dd42892a51c2e1e6d534f4e1/tools/rpm2img#L284) on the kernel command line which according to the docs means "`log to the journal if available, and to kmsg otherwise`".  We're investigating if we get `journald` to forward it's output to the right place to get output on the con

[2022-07-21 18:42] rpkelly commented on #2288
Hello @L3n41c, thanks for the feedback!

Unfortunately, Bottlerocket does not run `cloud-init`, so `/var/lib/cloud/` not being populated is to be expected. A more Bottlerocket style approach would probably see us put this in [`settings`](https://github.com/bottlerocket-os/bottlerocket#settings), although the only AWS specific setting we currently populate is `settings.aws.region`.  More immediatel

[2022-07-21 20:22] zmrow commented on #2291
I would also be curious to see what `/proc/consoles` contains on the machine in question...  If it actually finished booting and a user could get to a configured admin container we could check.  But that's quite a few ifs...  :)

[2022-07-21 21:10] stockholmux commented on #1990
OK. I've got a shell script that generates the YAML (which we can use on the upcoming bottlerocket website) and a template that will make the github flavoured markdown.

Check it:
![Screen Shot 2022-07-21 at 3 10 21 PM](https://user-images.githubusercontent.com/1152927/180315807-36b73229-b8ea-43a1-ad8e-89a6507fed33.png)

(Source: https://gist.github.com/stockholmux/f5ac290516089e06e6de6a136ce2544b

[2022-07-21 21:12] stockholmux commented on #1990
Here is the script

[code]

I think this should live on the website repo.

[2022-07-21 22:18] zmrow commented on #2288
A bootstrap container could for sure set a node label!  There's an example here: https://github.com/bottlerocket-os/bottlerocket/issues/1647#issuecomment-887664346

(Note:  that is _very_ scrappy code for demonstration purposes :) )

[2022-07-22 05:52] rubroboletus opened #2292 "allow setting max_container_log_line_size for containerd"
**What I'd like:**

It will be really nice, when we will be able to set max_container_log_line_size value for containerd.

**Any alternatives you've considered:**

[2022-07-22 15:34] zmrow opened #2293 "`net.toml`: Support configuration using MAC instead of device name"
Currently the only way to configure a network device in `net.toml` is by device name:
[code]

It would be nice to be able to use MAC address as the key since many organizations already have the information and may not know how the device will be named.
[code]

[2022-07-22 16:12] stockholmux opened #2294 "`kmod-5.10-nvidia` rpm spec can't be parsed without SDK"
**Platform I'm building on:**
n/a (macos, but I'm not _really_ building, but it's build adjacent)

**What I expected to happen:**
I should be able to use [`rpmspec`](https://man7.org/linux/man-pages/man8/rpmspec.8.html) to parse any `.spec` file in `/packages` on any platform.

**What actually happened:**
When trying to parse the `kmod-5.10-nvidia` with `rpmspec` I get the following error:
[code]

[2022-07-22 16:28] rothgar commented on #2291
I provisioned from EKS-A without any customizations or added files. Here's the output I saw on screen.

I'm going to try again with the required config files, but this was my default experience.
![image](https://user-images.githubusercontent.com/371796/180483161-80b0e3fe-846d-4359-acda-178a88592236.png)

[2022-07-22 16:52] jpculp commented on #1990
Nice! When you're trying to get spacing or newlines created properly I highly recommend using `printf` instead of `echo` though. If someone edits or updates it in the future and accidentally deletes a space, the resulting YAML would probably be invalid.

[2022-07-22 16:56] stockholmux commented on #1990
@jpculp Thanks - yeah, `printf` is probably a better option. YAML validity is a beast.

[2022-07-22 21:37] bcressey commented on #2293
It feels oddly specific to know the MAC address but not know or care what network device is the "primary" one for the purposes of getting DHCP leases, setting the hostname, or registering the node with the Kubernetes cluster.

What's the larger architectural context here?

[2022-07-22 22:26] L3n41c commented on #2288
Thank you both for your advice and your suggestion to look at bootstrap containers.

I managed to achieve exactly what I needed with a bootstrap container with the following configuration:
[code]

where `<SOURCE>` is the location of an image with the following definition:
[code]

and `bootstrap-script` is the following script:
[code]

[2022-07-25 17:41] #2197 closed, assigned to etungsten

[2022-07-25 18:09] ecpullen opened #2297 "testsys: convert error from anyhow to snafu"
A little late to comment on this, but I just realized that in all the Bottlerocket repo, we don't use `anyhow` and instead we use `snafu`. I think we should be consistent and move at least this part of `testsys` to `snafu`. I'm not blocking on this though but an issue should be good.

_Originally posted by @arnaldo2792 in https://github.com/bottlerocket-os/bottlerocket/pull/2273#discussion_r924744

[2022-07-25 21:39] rpkelly commented on #2288
Awesome! Thanks for sharing this. If you run into any more problems please feel free to re-open this issue.

[2022-07-25 21:39] #2288 closed, assigned to nobody

[2022-07-25 22:19] etungsten commented on #2292
Hi @rubroboletus , thanks for opening this issue. We'll take a look into supporting that.

[2022-07-26 18:13] #2209 closed, assigned to arnaldo2792

[2022-07-26 20:22] stockholmux commented on #2056
@misterek Hey - sorry for the radio silence on this. I know there are folks working on this in the short term.

[2022-07-26 20:31] ghost commented on #2275
Turns out the issue was that the Module.symvers that was with the kernel source code was different from the one on the actual node, despite checking the version numbers and making sure everything is right. I just copied Module.symvers from one of the nodes and built the kernel module successfully.

[2022-07-26 20:31] #2275 closed, assigned to nobody

[2022-07-26 20:32] misterek commented on #2056
No worries at all!  Last I heard it was slated for 1.10 in August/September.   Thanks!

[2022-07-26 20:35] stockholmux commented on #2056
@misterek FWIW, it's not exactly aligned to a versioned release but I would expect it on that timeline-ish.

[2022-07-26 20:36] ghost opened #2301 "Cannot build Fluent-bit as a package"
I added a package Fluent-bit and I am trying to build it from scratch in the RPM spec file. However, it fails when running make after building sqlite3 target.

I added the debug flag to make to get some more information, and here's what I found:
[code]

Here is spec file:
[code]

I am building on an M1 mac and have had no issues before with building any packages. Also, I managed to build fluent-bi

[2022-07-26 20:48] misterek commented on #2056
Sounds good.  Just need to be able to answer the question "how do you know when there is a security patch available", which, admittedly, is an interesting question in and of itself with bottle rocket.   Right now we just watch the GitHub security advisories and releases, but having it in a tool we already use would be fantastic.

[2022-07-26 20:57] stockholmux commented on #2301
Do you need fluent bit as a package or [can you run it in a container](https://opensearch.org/blog/technical-post/2022/07/bottlerocket-k8s-fluent-bit/)?

[2022-07-26 21:05] ghost commented on #2301
I do need it as a package.

Also, I just found this separate (I think) issue after turning off Lua scripting support:
[code]

Seems to be an issue with turning -Werror on and I am unsure how to remove that.

[2022-07-26 21:31] etungsten opened #2302 "`cfsignal` should respect proxy environment variables"
**What I'd like:**
`cfsignal` to respect proxy environment variables when making API requests out to CloudFormation.

Reference https://github.com/bottlerocket-os/bottlerocket/pull/2227/commits/538de7a5529aeba719cd56ca16d6da58d1a6858e for the changes necessary to do this.

[2022-07-27 01:09] #2196 closed, assigned to mchaker

[2022-07-27 16:15] #2208 closed, assigned to arnaldo2792

[2022-07-27 16:47] etungsten opened #2304 "Replace use of `lazy_static!` with `once_cell`"
**What I'd like:**
Replace use of `lazy_static!` with `once_cell` in all our workspaces.
`once_cell` lets us avoid the use of macros, compiles faster, and allows for more ways to lazily initialize. It is also being considered for inclusion in std: https://github.com/rust-lang/rust/issues/74465.
We're already pulling in `once_cell` as a transitive dependency.

[2022-07-27 17:09] mchaker commented on #2135
Closing this issue as per https://github.com/bottlerocket-os/bottlerocket/pull/2287#issuecomment-1197039705

[2022-07-27 17:09] #2135 closed, assigned to mchaker

[2022-07-27 19:42] #834 closed

[2022-07-27 22:59] bcressey commented on #2218
I've updated #1991 with an example script for configuring ephemeral storage that works on 1.8.0 and the forthcoming 1.9.0. Obviously 1.8.0 will still have the problem with CSI drivers that led to this issue, but that should be fixed for 1.9.0.

[2022-07-28 00:40] junshun opened #2310 "Kubelet Credential Provider Support"
**What I'd like:**
Allow credential-provider settings to be passed into a credential helper. In this case I would like to use [IAM Roles Anywhere](https://docs.aws.amazon.com/rolesanywhere/latest/userguide/credential-helper.html) with [ecr-credential-provider](https://github.com/kubernetes/cloud-provider-aws/tree/master/cmd/ecr-credential-provider). For this particular case it would require an api

[2022-07-28 01:14] #2207 closed, assigned to cbgbt, arnaldo2792

[2022-07-28 04:58] bcressey commented on #2211
It might be worth expanding on the concepts in `bottlerocket-variant` and adding more fine-grained sensitivity in buildsys.

Today we have `variant-sensitive` but we could do one of these instead:
* add a `platform-sensitive` flag, so we can express that only changes from `metal` to `aws` or vice-versa should trigger a rebuild
* use a more complex deserialized type for `variant-sensitive`, where a

[2022-07-28 17:33] somnusfish commented on #2310
thanks for bringing this up, we'll take a look at it.

[2022-07-28 17:51] somnusfish commented on #2310
Previous related discussion #1702, #1227 .

[2022-07-28 21:12] ghost commented on #2301
I managed to fix these issues and reach to 100% of building I get this error when it is linking the executable:
[code]
I am unsure what this error means, since I've seen that this means that I am either using the incorrect linker (which I don't think is the case) or it is linking against the wrong libraries.

Moreover, here is my updated .spec file for reference:
[code]

[2022-08-01 14:19] duboisf commented on #1525
I've encountered an issue where the default value of `fs.inotify.max_user_instances` was too low (128 in my case).

To reproduce this in kubernetes, I created a `troubleshoot` [karpenter](https://karpenter.sh) provisioner that would only provision largish Bottlerocket nodes, something like:

[code]

Then I deployed a simple app in an istio-enabled namespace, with 100 replicas and a node selector `

[2022-08-03 12:06] chris-milsted opened #2317 "Trying to modprobe allowed true modules does not work"
**Image I'm using:**

$ cat /etc/bottlerocket-release
NAME=Bottlerocket
ID=bottlerocket
VERSION="1.9.0 (aws-k8s-1.22)"
PRETTY_NAME="Bottlerocket OS 1.9.0 (aws-k8s-1.22)"
VARIANT_ID=aws-k8s-1.22
VERSION_ID=1.9.0
BUILD_ID=159e4ced
HOME_URL="https://github.com/bottlerocket-os/bottlerocket"
SUPPORT_URL="https://github.com/bottlerocket-os/bottlerocket/discussions"
BUG_REPORT_URL="https://github.com/bot

[2022-08-03 14:00] Arau opened #2319 "Mkfs fails even from priviledged containers"
Hi,

we want to run [Ondat](https://ondat.io) using Bottlerocket as we have a customer requirement to support Bottlerocket.
Ondat is a CSI Driver for Kubernetes that among other things implements a storage engine. Ondat orchestrates data, volume attachments, PVC mounts, etc.
The Ondat storage engine runs on a Daemonset in Kubernetes. It mounts the host filesystem on /var/lib/storageos where the da

[2022-08-03 14:27] stmcginnis commented on #2319
Hello @Arau  - thanks for filing an issue. ~~Unfortunately, this will not work the way you are expecting.~~

~~Part of the security features of Bottlerocket is it has a read-only root filesystem. You can read more about the design here: https://aws.amazon.com/blogs/opensource/security-features-of-bottlerocket-an-open-source-linux-based-operating-system/~~

~~This means you will not be able to writ

[2022-08-03 14:42] bcressey commented on #2319
Can you check `dmesg` on an affected node for `avc` messages? Those correspond to SELinux denials and will help narrow down the issue.

Generally I'd expect - and want! - CSI drivers to work on Bottlerocket, and as you say the EBS CSI driver does, so it should be possible here.

[2022-08-03 14:54] bcressey commented on #2319
Also typically from the admin container you would never see SELinux denials - the processes run with a highly privileged label for break-glass troubleshooting - so it's possible or even likely you won't have any `avc` denials.

I'd guess it's something else like the device cgroup allowlist blocking these device nodes.

[2022-08-03 15:25] chris-milsted commented on #2319
Hi,

I am working with @Arau on this and have a single node cluster which is easier to gather dmesg entries from.

The only entries in dmesg are from tcmu:

[code]
If I run `mkfs -t ext4 -b 4096 -D -F -E lazy_journal_init=1,lazy_itable_init=1 /var/lib/storageos/volumes/v.00000000-0000-0000-0000-000000001000` in the Ondat container I do not see any more entries in dmesg from selinux.

As an experim

[2022-08-03 16:01] Arau commented on #2319
Hi @bcressey,

I think we have found why Ondat cannot write. The daemonset pod mounts with Bidirectional mount propagation from the container to the host fs at `/var/lib/storageos` then when a device needs to be created, Ondat creates it at `/var/lib/storageos/volumes` however the initial mount used `nodev`. As I understand it, the `nodev` flag in the mount would avoid the use of device files from

[2022-08-03 16:22] bcressey commented on #2319
If the `volumes` directory doesn't contain other state, just device nodes, it might work to mount an additional `emptyDir` volume with the `medium: Memory` option set, so that a new tmpfs without the `nodev` option is placed there.

Otherwise (with `CAP_SYS_ADMIN`) you should be able to remount the bind mount for the directory with the `dev` option:
[code]

[2022-08-03 17:04] bcressey commented on #2317
This looks like fallout from #2296 - what's happening is that `modprobe` in the admin container doesn't recognize zstd-compressed modules, and passes the compressed module directly to the kernel. If lockdown is enabled, this compressed blob is treated as an unsigned module and rejected; if it's disabled, validation of the ELF structure of the module will fail.

As a workaround you can use the host

[2022-08-03 18:42] voidlily commented on #1297
any updates on this benchmark?

[2022-08-04 05:18] bcressey commented on #1297
@voidlily the CIS benchmark is in the consensus review stage at the moment. It looks like you'd need to sign up at https://workbench.cisecurity.org/ to view the draft benchmark, but depending on feedback it should be public next week.

[2022-08-04 06:45] bcressey commented on #2301
Packages like `fluent-bit` that vendor other packages tend to be "hard mode" when it comes to cross-compiling, because there's a tendency for every package to support that (or not) in subtly different ways.

The main issue I see in your spec is the `-I` and `-L` flags - these are almost always a bad idea, since the cross-compilers are configured with their own "sysroot" paths for the include and l

[2022-08-04 08:56] chris-milsted commented on #2317
Hi Ben,

Just to confirm, the fix you are investigating will work from any container (suitably privileged) and not just need to use the admin container? i.e. to install components like CSI plugins, the node plugin daemon set may need to load whitelisted modules.

https://kubernetes-csi.github.io/docs/deploying.html

Thanks

Chris

[2022-08-04 14:34] bcressey commented on #2317
That fix is specific to the admin container. Whether other containers need a fix will depend on whether they are running a base distro where `kmod` is built with zstd support. I'm not sure how widespread that support is. Newer versions of Alpine, Fedora, and Ubuntu would have it.

There are a few workarounds that wouldn't require updating the container's base image - using an init container in the

[2022-08-04 16:01] chris-milsted commented on #2317
[code]
Using a RHEL8 UBI as base image.

[2022-08-04 17:11] jpculp commented on #1255
@arestuzi & @walkley, I'm happy to announce that with the release of [**1.9.0**](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.9.0), AMIs are available in `cn-north-1` and `cn-northwest-1`!

[2022-08-04 18:52] parth3sh opened #2321 "Appropriate Selinux Context for Writing Marker File"
**What I'd like:**
[In a package intended to support Autoscaling “warm pools” in K8S Bottlerocket variants](https://github.com/bottlerocket-os/bottlerocket/pull/2322), there is a helper program that requires selinux permissions to write a marker file after execution. This is in order to prevent unexpected rerunning if the host restarts.

The existing selinux contexts appear to provide more permiss

[2022-08-05 18:28] ghost commented on #2301
Thank you so much @bcressey! I added the `-I` and `-L` as quick fixes to issues I had earlier when it couldn't find openssl (I am pretty inexperienced with cross-compilation).

After adding openssl as a package fluent-bit builds fine!

[2022-08-05 18:28] #2301 closed, assigned to nobody

[2022-08-05 21:15] zmrow commented on #2291
Following up on this:

I found that EKS-A has [default console settings](https://github.com/aws/eks-anywhere/blob/44c2fc11a9b40a854cb2eb7a6f3a5e9bcabbfece/pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go#L27-L28): `console=tty0 console=ttyS0,115200n8`.  That means that when you provisioned with EKS-A without any customization all systemd output was going to `ttyS0`, not your local monitor.

I

[2022-08-08 10:32] RobertNorthard opened #2324 "Bottlerocket settings: Add data type / example for all configuration settings in Bottlerocket documentation (README)"
**What I'd like:**

Not all Bottlerocket settings in the readme provide examples. For example, for the following settings image-gc-low-threshold-percent, image-gc-high-threshold-percent it is not clear if the expected value is a string or integer, which can cause confusion during Bottlerocket configuration and result in time spent debugging. Please can this be made clearer for all settings values?

[2022-08-08 16:07] zmrow commented on #2324
Thanks @RobertNorthard !  This is a good idea - we'll look into making that happen.

[2022-08-08 17:40] jpmcb opened #2325 "Unable to build - `https://cache.bottlerocket.aws` unknown"
## Platform I'm building on:

OS: Fedora 34 (Cloud Edition) aarch64
Host: c6g.8xlarge
Kernel: 5.11.12-300.fc34.aarch64
Cargo: cargo 1.62.1 (a748cf5a3 2022-06-08)
Docker:
<details>
<summary>Docker client/engine</summary>
Docker:
Client: Docker Engine - Community
 Version:           20.10.17
 API version:       1.41
 Go version:        go1.17.11
 Git commit:        100c701
 Built:             Mon Ju

[2022-08-08 23:41] jonathan-innis commented on #1721
Following up on this thread as I'm picking up work for Karpenter to enable a `podsPerCore` feature which is currently something that is supported [directly by the kubelet](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/#:~:text=The%20kubelet%20is%20the%20primary,object%20that%20describes%20a%20pod.). Any reason that bottlerocket has chosen not to implement this feature a

[2022-08-09 03:37] bcressey commented on #1721
There's no specific reason; it's only that the implementation hasn't been picked up, not that there's been an intentional choice not to go the `pods-per-core` direction. The `max-pods` setting has been around since close to the beginning, and the `kube-reserved` settings are layered on top, so it's a bit of a tangle.

It sounds like the work here is:
* add `settings.kubernetes.pods-per-core` so th

[2022-08-09 03:41] bcressey commented on #2325
These commands (without `https://`) should work instead:
[code]

I'm not sure why `cache.bottlerocket.aws` would ever fail to resolve, though.

[2022-08-09 11:24] stevehipwell commented on #1721
@bcressey I think it's worth splitting out the actual behaviour requirements and then working back up from there to get the settings spec; I would list these as max-pods, kube-reserved memory and kube-reserved CPU. I think @bwagner5 might have some thoughts on this and has been testing some of the options.

#### Max Pods

The basic requirements for max pods are as follows, I would argue that a def

[2022-08-09 14:44] jpmcb commented on #2325
I'm not able to reproduce this now; went through a few `cargo make clean` and `cargo make` builds with no failures - i'm ok closing this since it seems like a flake

[2022-08-09 14:44] #2325 closed, assigned to nobody

[2022-08-09 17:13] jonathan-innis commented on #1721
I think in general this all makes sense based on the use cases. In terms of the API surface, is there a reason that `kube-reserved-memory-calc` and `kube-reserved-cpu-calc` are sitting inside of the `settings.kubernetes` rather than `settings.kubernetes.kube-reserved` since it is scoped to this anyway.  Otherwise I think your overall logic for `max-pods-mode`, `max-pods` and `pods-per-core` all ma

[2022-08-09 17:18] jpmcb opened #2327 "Docs: Missing requirements for AWS creds when publishing AMI"
### Platform I'm building on:

OS: Fedora 34 (Cloud Edition) aarch64
Host: c6g.8xlarge
Kernel: 5.11.12-300.fc34.aarch64
Cargo: cargo 1.62.1 (a748cf5a3 2022-06-08)

### What I expected to happen:

According to [the `BUILDING.md` quickstart docs](https://github.com/bottlerocket-os/bottlerocket/blob/develop/BUILDING.md#register-an-ami), the following should produce an AMI and print out it's ID:

[cod

[2022-08-09 17:19] stevehipwell commented on #1721
@jonathan-innis the API design was to illustrate my points with the expectation that the actual design would be different. I agree that if possible nesting the values would be better.

[2022-08-09 18:22] #2228 closed, assigned to etungsten

[2022-08-09 20:38] jonathan-innis commented on #1721
Sure, with that in mind, what you put sounds reasonable to me

[2022-08-11 16:48] misterek commented on #1297
@bcressey it looks like it's been Accepted but not Published quite yet?  That's exciting!

I was considering the best way to validate this.  Any thoughts on if having something like a bootstrap container validate these settings would be a reasonable approach?  I was considering maybe having a bootstrap container that published a json file with validation on every boot, or something like that.

[2022-08-11 18:09] cbgbt opened #2331 "Update tough and coldsnap"
**What I'd like:**
We should cut a release of tough/coldsnap with the latest changes and include these changes in Bottlerocket.

Tough should include *at least* the changes up to [this commit](https://github.com/awslabs/tough/commit/705b8d9a7b8f700846e07b3ea0739dc0999e9435).

Coldsnap should include *at least* the changes up to [this commit](https://github.com/awslabs/coldsnap/commit/502594e44c3cf

[2022-08-11 18:21] cbgbt opened #2332 "Include ECR registries for latest announced AWS regions in Schnauzer"
**What I'd like:**
We should update the ECR registry maps in Schnauzer to include announced AWS regions.

[2022-08-11 18:31] kdaula commented on #1255
Closing issue now that Bottlerocket AMIs are available in cn-north-1 and cn-northwest-1

[2022-08-11 18:31] #1255 closed, assigned to jpculp

[2022-08-11 18:32] kdaula commented on #1968
Moving to 1.10.0 for addressing Pubsys

[2022-08-11 18:42] cbgbt opened #2333 "Allow Buildsys to Check Signatures of Sources at Buildtime"
**What I'd like:**
In Fedora's build of [`xz`](https://src.fedoraproject.org/rpms/xz/blob/rawhide/f/xz.spec), the RPM automatically imports a GPG key and verifies that the sources are signed with a given key.

It would be awesome if we could specify a GPG key in `Cargo.toml` for packages and buildsys could automatically perform signature checking (or modify the RPM builds to do it).

One tricky bi

[2022-08-11 18:43] bcressey commented on #1297
@misterek the bootstrap container approach sounds reasonable.

I've also thought about adding support for the benchmark to https://github.com/google/localtoast and integrating that tool into the host, with a corresponding actions API and `apiclient ...` subcommand to trigger a scan. I haven't looked very closely at it yet, since the integration is blocked by #2053 (to make it easier to include Go

[2022-08-11 18:43] stmcginnis commented on #1702
Hey @samjo-nyang - As part of some other changes I am working on to enable credential providers, that will bring in the ability to enable the `KubeletCredentialProviders` feature gate.

I'm wondering if that change is enough to address this and close out this issue? Or is there a use case beyond that that you would still need addressed? There are some concerns about exposing this arbitrary set of

[2022-08-11 18:49] misterek commented on #1297
Oh, I hadn't seen that.  Maybe I'll try to use that in a bootstrap container.  Seems basically like what I was trying to do anyway.

[2022-08-11 19:59] zmrow commented on #2291
Closing this out as the EKS-A PR has been merged!

The next EKS-A release should have these changes included.

[2022-08-11 19:59] #2291 closed, assigned to zmrow

[2022-08-12 15:29] AhmadMasry commented on #2008
Hi @arnaldo2792 and @etungsten
I just upgraded to EKS 1.23 and updated my managed node group to 1.9.0 and the kernel is still 5.10.130.
Is there any bootstrap options needed to use the newer kernels?

[2022-08-12 17:38] etungsten commented on #2008
Hi @AhmadMasry,

I'm really sorry about this! The K8s 1.23 variants shipped in v1.8.0 with the 5.10 kernel, since the 5.15 kernel wasn't quite ready yet. The current plan is for all new variants from the 1.9.0 release onwards to use the 5.15 kernel. The first K8s variants to ship with the 5.15 kernel should be `*-k8s-1.24` variants hopefully sometime later this year.

[2022-08-12 19:33] cbgbt commented on #2332
`pause` container registries still need to be merged to mark this as completed.

[2022-08-13 00:06] cbgbt commented on #2331
Coldsnap v0.4.2 is live, though we haven't moved to coldnsap v0.4 yet, which is pending #1968 . Since the coldsnap update will occur at that time, we can close this issue in favor of that one.

[2022-08-13 00:06] #2331 closed, assigned to cbgbt

[2022-08-13 14:52] samjo-nyang commented on #1702
Hi, @stmcginnis
For now, it is enough to enable (or give ability to enable) `KubeletCredentialProviders`.
Thanks!

[2022-08-14 21:53] ehedei206 commented on #1525
Thanks @duboisf!

[2022-08-15 02:38] jbg opened #2342 "Support CPUManager policy options"
**What I'd like:**

I'm able to set the `static` CPU Manager policy with `settings.kubernetes.cpu-manager-policy`, but I can't set any options for it. I'd like to be able to set the `full-pcpus-only` policy option.

**Any alternatives you've considered:**

Not aware of any.

[2022-08-15 15:08] bcressey opened #2343 "come up with a design for config containers"
**What I'd like:**
Quite a few issues - #2218, #1702, and many others - would ideally have a way to be quickly unblocked by targeted config file edits until the requested functionality could be integrated in the settings API. Currently this is strongly discouraged, albeit possible in limited ways through containers with the `super_t` label.

There are a few major concerns that motivate this limita

[2022-08-15 15:21] bcressey commented on #2343
I sketched out a possible approach in https://github.com/bottlerocket-os/bottlerocket/issues/2218#issuecomment-1186045512 and https://github.com/bottlerocket-os/bottlerocket/issues/2218#issuecomment-1186084117.

The proposal is to add a new kind of host container - config containers - that will be run whenever config files are generated, and given a chance to modify the contents before they're cop

[2022-08-15 15:24] bcressey commented on #2218
Resolving this since the fix is out in 1.9.0. I've opened #2343 to track the design for the config containers feature. I'll leave the actions API design dormant for now, since it's less clear to me that it'd be worthwhile.

[2022-08-15 15:24] #2218 closed, assigned to bcressey

[2022-08-15 15:36] stmcginnis opened #2345 "CI jobs failing with "error: redundant closure""
**Platform I'm building on:**

All

**What I expected to happen:**

No error.

**What actually happened:**

Starting today, I just started noticing all builds failing on a couple of new PR's with the message:

[code]

The error looks legitimate, though it's surprising it just started happening since this code has been in place for almost a month.

**How to reproduce the problem:**

Build.

[2022-08-15 17:09] arnaldo2792 opened #2347 "Allow changes to the NVIDIA device plugin configurations"
**What I'd like:**
The NVIDIA device plugin allows a user to configure it through a configuration file. NVIDIA variants should allow users to change this configurations, as described in the [NVIDIA Device plugin](https://github.com/NVIDIA/k8s-device-plugin#configuring-the-nvidia-device-plugin-binary) documentation.

**Any alternatives you've considered:**
Keep status quo, but this should be suppor

[2022-08-15 18:47] #2345 closed, assigned to stmcginnis

[2022-08-15 19:10] stmcginnis commented on #1702
Thanks, let's track this with #2310 then. If there ends up being any other feature gates we would like, we can open specific issues for those use cases.

Thanks!

[2022-08-15 23:00] #2332 closed, assigned to cbgbt

[2022-08-16 12:12] michalschott opened #2352 "Occasional "exec format error""
**Image I'm using:**
AMI: `bottlerocket-aws-k8s-1.22-x86_64-v1.9.0-159e4ced`
EKS:

[code]

Occasionally containers are refusing to start, for example:

[code]

Happens randomly to various containers, like prometheus etc. No, I'm not trying to run amd64 compiled ones.

**How to reproduce the problem:**
Honestly can not figure this out, happens randomly. Thought it might be related to kubearmor or c

[2022-08-16 23:04] mchaker opened #2355 "eks variants: integrate ImagePullSecrets with Secrets Manager"
**What I'd like:**

In trying to enable a local caching registry, customers want to add `imagePullSecrets` to EKS node configurations.

Full context: #2351

**Any alternatives you've considered:**

n/a

[2022-08-17 11:33] #1525 closed, assigned to stmcginnis

[2022-08-17 16:10] cbgbt commented on #2352
Hi, thanks for opening this issue.

Is Bottlerocket 1.9.0 the first version you've used? I'm wondering if you've hit this problem in previous Bottlerocket releases. This could help us narrow down the issue.

Otherwise, I'm wondering if you could check `dmesg` or the hosts systemd journal to see if e.g. there are e.g. SELinux-related access denials or other indicators of an error on the Bottlerocke

[2022-08-17 22:12] cbgbt commented on #2342
Hi, thanks for the request. I can see that the additional options for `static` CPU Manager policies are currently feature gated ([docs](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy-options)).

Looking at the kubelet [configuration documentation](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/0), it seems like the policy options

[2022-08-18 18:38] parth3sh commented on #2321
After discussion we have decided to use the api_exec context for this situation. Hachiko.service works as expected once the label is applied.

[2022-08-18 18:38] #2321 closed, assigned to parth3sh

[2022-08-18 21:51] kyhau commented on #1297
From AWS What's New

https://aws.amazon.com/about-aws/whats-new/2022/08/center-for-internet-security-bottlerocket-available/

[2022-08-18 22:24] mhoppe-cedar commented on #1297
thanks @kyhau!

[2022-08-18 23:04] misterek commented on #1297
Awesome work @bcressey .

[2022-08-19 13:52] markusboehme opened #2359 "Prairiedog and the kernel may disagree about parsing boot config keys without values"
**Image I'm using:** Build of metal-dev variant fresh off develop

**What I expected to happen:**

When using the example user data from the boot settings section of the `README.md`, ...

[code]

...I expected those settings to always reflect what the kernel and systemd would see on boot.

**What actually happened:**

Prairiedog may generate the following boot config...:

[code]

...which on next

[2022-08-19 13:58] markusboehme commented on #2359
As for the semi-random occurrence of the issue: The value-less key must not be the last line in the configured boot config. The order in which prairiedog writes out these keys is determined by Rust's `HashMap.iter()` method, which is documented to produce an "arbitrary" order which in my tests mostly, but not always, happened to be one that put `splash` last.

Clearly there is disagreement about h

[2022-08-19 15:22] jpmcb opened #2360 "Metricdog unit tests fail on arm architecture"
### Platform I'm building on:

Fedora 34 (Cloud Edition) aarch64
Host: c6g.8xlarge
Kernel: 5.11.12-300.fc34.aarch64
Cargo version: cargo 1.62.1 (a748cf5a3 2022-06-08)
Rustc version: rustc 1.62.1 (e092d0b6b 2022-07-16)

### What I expected to happen:

When running `cargo make unit-tests`, I expect by default all tests to succeed

### What actually happened:

Instead, I get errors for _all_ of the `

[2022-08-19 15:40] zmrow opened #2361 "metal: Support the Intel X710 NIC"
We should support the Intel X710 NIC, which I believe should be covered by the `i40e` driver, i.e `CONFIG_I40E`

[2022-08-19 15:45] zmrow commented on #2361
https://cateee.net/lkddb/web-lkddb/I40E.html

[2022-08-19 16:33] mchaker commented on #2359
I've seen this issue and wasn't sure how to describe it in a bug report 😅 thanks for filing this!

[2022-08-19 16:44] mchaker commented on #2352
I'm going to try to reproduce this issue. How did you install Argo, Prometheus, etc? via Helm charts, or some other method?

[2022-08-21 15:41] michalschott commented on #2352
@cbgbt

I didn't see that in 1.8, at least for the month before 1.9 was released. Occasionally used older releases for POC just to present this flavour to wider group of techinical people.

No userdata provided at all, nor API - just vanilla AMI from AWS.

For dmesg, I'll need to reprovision nodes with a SSH key first then figure out how to run admin container in it (never had a need to run it bef

[2022-08-21 18:08] michalschott commented on #2352
@mchaker

I never do `helm install`, instead I do template some charts and apply overlays with kustomize. Anyway, manifests for both Argo and Prometheus available [here](https://gist.github.com/michalschott/fc27abb5988e6f8bc3214a94332aa433)

[2022-08-22 15:36] jpmcb opened #2362 "GitHub actions `build` should test on `aarch` self hosted runners"
### What I expected to happen:

When the `build` GitHub action runs, it has a matrix strategy that incorporates different architecture builds (i.e. `x86_64` and `aarch`)

https://github.com/bottlerocket-os/bottlerocket/blob/64708022dea79f6e7c21545d8cb016f45af304be/.github/workflows/build.yml#L28

Given the architecture is apart of the Action's strategy for testing Bottlerocket, I'd expect the test

[2022-08-22 22:00] #2360 closed, assigned to jpmcb

[2022-08-22 22:15] jpmcb opened #2366 "Updog unit tests broken on `aarch` - have hard coded `x86_64` values"
### Platform I'm building on:

OS: Fedora 34 (Cloud Edition) aarch64
Host: c6g.8xlarge
Kernel: 5.11.12-300.fc34.aarch64

### What I expected to happen:

Running `cargo make unit-tests` to succeed.

### What actually happened:

`updog` tests fail with the following error

[code]

Notice that `x86_64` is hard coded in a few spots, primiarily the stub JSON data:

https://github.com/bottlerocket-os/bo

[2022-08-23 11:34] Cajga commented on #2293
This initiative seems to be interesting. Let me add our use case:
EKS-A bare metal requires to define the MAC address at first place so, the built-in DHCP server will reply on the DHCP request from the new HW. The MAC is normally written on the HW/Server with a sticker.
In the next step, one needs to define the net.toml in a template file which will work for the node. But as hinted above, no one k

[2022-08-23 11:52] Cajga opened #2369 "Metal: support network bonding"
**What I'd like:**
We would like to use Bottlerocket for EKS-A Bare Metal. In our DC, we are using [network bonding](https://www.kernel.org/doc/Documentation/networking/bonding.txt) to avoid to have SPOF in the network stack (rack switches which have single power cable, network cables that can be loosened when touched etc. ).
In our case, we use mode 1 (active/backup) with miimon but of course bon

[2022-08-23 15:43] zmrow commented on #2369
Thanks for the issue @Cajga !  This is a great idea and something we'd like to support in the future.

Could you provide some additional detail about your setup?  Any configuration files (netplan or otherwise), etc. you're willing to share would be great!

[2022-08-23 16:07] #2366 closed, assigned to jpmcb

[2022-08-23 17:30] etungsten opened #2370 "Limit `pluto`'s EKS API request retries/timeout when describing the cluster"
**What I'd like:**
`pluto` to not block settings generation for 30 minutes when retrying requests to the EKS API when retrieving the cluster's network configuration.

Currently, a Bottlerocket host running in a network-isolated environment will hang during boot if `settings.kubernetes.cluster-dns-ip` is not already set in user-data on first boot. `sundog` will kick-off `pluto` to try and generate

[2022-08-23 21:23] stmcginnis opened #2373 "Be consistent with command line parsing by standardizing on `clap` or `argh`"
**What I'd like:**

Most of our CLIs use the `argh` crate for parsing command line input. But some are using `clap` instead.

It would be good to convert these over to `argh` so we are consistent across our code and avoid importing two different crates that provide the same functionality.

**Any alternatives you've considered:**

Could keep them as is since there is no conflict between using the m

[2022-08-23 22:51] etungsten opened #2374 "Kubernetes 1.24 support"
Kubernetes 1.24 was released in May 2022: https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/

[CHANGELOG since 1.23.0](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#changelog-since-v1230)

- [ ]  aws-k8s variant
- [ ]  vmware-k8s variant
- [ ]  metal-k8s
- [ ]  aws-k8s nvidia variant

[2022-08-24 15:22] foersleo commented on #2246
I have been working towards this and checked what we are currently missing, mostly in the storage and networking side.

We are currently mostly missing support for some 10G+ networking equipment by various vendors. (https://github.com/bottlerocket-os/bottlerocket/issues/2361 is referring to one of the missing device series we are missing).

There is some features that are supported by multiple dev

[2022-08-24 15:47] displague commented on #2369
@zmrow We have an Equinix Metal EKS-Anywhere on Baremetal project which is tracking related concerns: https://github.com/equinix-labs/terraform-equinix-metal-eks-anywhere/issues/30

Any insights into how to configure the networking would be helpful (an example cloud-config is provided in the issue comments).

[2022-08-24 20:24] michalschott commented on #2352
Do you think https://kubearmor.io might be the cause as well?

[2022-08-25 11:31] Cajga commented on #2369
@zmrow,
We are using RHEL in our DC. RHEL has it's own type of configuration files and ways to configure them. What could be relevant for you are the bonding options. We are using the following at the moment:
`BONDING_OPTS="mode=active-backup primary=ens8f0 miimon=100 use_carrier=1 updelay=40000"`

 [This](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/configuring_an

[2022-08-25 22:32] mchaker commented on #2352
I see. Would it be possible for you to try some things out in order to help me narrow down the issue?:

1. Run `kubectl describe pod FAILING_POD_NAME_HERE` from wherever you administer your kubernetes cluster
1. Find the `Container ID` for the failing container in that pod and copy/save that `Container ID` somewhere -- we'll need it soon. I'll call it `LONG_HEX_CONTAINER_ID_HERE` later in these st

[2022-08-25 22:47] jpmcb opened #2381 "Makefile: provide a unified `check` target that performs all `check-*` tasks"
### What I'd like:

Currently, as a developer of Bottlerocket, checking formatting and linters requires both `cargo make check-fmt` and `cargo make check-lints` which is a bit annoying and easy to miss one or the other.

To facilitate easier development and have fewer GitHub action failures, we should provide a `cargo make check` target that performs _all_ dev related checks.

### Any alternatives

[2022-08-26 01:05] bcressey commented on #2381
Sounds good!

[2022-08-26 16:07] markusboehme commented on #2317
Hi Chris,

The recently released Bottlerocket v1.9.1 switched to the xz format for kernel module compression which, at least for now, is more widely supported than zstd. Please give it a go and let me know if you hit any problems!

Thanks
Markus

[2022-08-26 16:07] #2317 closed, assigned to markusboehme

[2022-08-26 16:38] zmrow commented on #2369
Thanks for the additional details @displague and @Cajga !

Currently bonding is not supported by Bottlerocket, but we're going to begin work on it.

There are _lots_ of options for bonding in the kernel documentation.  @Cajga supplied the subset they are using. @displague I looked through the issue you mentioned and saw that you're using a different set of options, as well as using the bond in a V

[2022-08-26 21:35] stmcginnis commented on #2369
It would be great to get networking bonding support in Bottlerocket!

I think this would be a great topic to bring to one of the community meetings to spread awareness and see if anyone else has interest. The next community meeting is scheduled for September 7: https://www.meetup.com/bottlerocket-community/events/288085016/

If that doesn't work, these should be taking place every two weeks going

[2022-08-26 23:52] displague commented on #2369
Yes, @zmrow. I think it makes sense to track VLAN support separately. I'd be careful in implementing support for bonding without considering the VLAN support if only because the two will be frequently used together in mature network configurations.

Here's the link to how we would intend to use VLANs in Bottlerocket for EKS-A: https://github.com/equinix-labs/terraform-metal-hybrid-gateway/blob/mai

[2022-08-29 10:51] michalschott commented on #2352
FYI I've brought my cluster to the point where I could observe that error. Waiting for some failures, and I'll report back ASAP.

[2022-08-29 15:21] michalschott commented on #2352
So I have this happened again:
[code]

Container IDs:
[code]

But:

[code]

Assume since this container it not running, I can not have access to its filesystem with the patch pattern you have mentioned @mchaker

Thought it might be due to disk being full, but looks good:
[code]

Node events:

[code]

Pods:

[code]

Also bottlerocket-update-operator:

[code]

Guessing these reboots are related to o

[2022-08-30 00:45] etungsten opened #2389 "Stop boot sequence and warn in console when expected hardware is missing"
**What I'd like:**
When launching special bottlerocket variants that depends on special hardware, it's hard to debug if the host fail to boot properly.

It would be nice to have a better console output message that explains what hardware is expected on the host.

**Any alternatives you've considered:**
N/A

[2022-08-30 06:52] #2361 closed, assigned to foersleo

[2022-08-30 07:43] michalschott commented on #2352
Think I've got something. This is how it looks thanos:

[code]

For prometheus:

[code]

So indeed entrypoint is corrupted.

[2022-08-30 23:53] #2381 closed, assigned to jpmcb

[2022-08-31 15:27] #2150 closed, assigned to ecpullen

[2022-08-31 22:43] jpardo-skillz opened #2394 "datadog-agent; system-probe; RunContainerError; OCI Runtime Create Failed"
**Image I'm using:**
We are using the following:

Bottlerocket OS 1.9.2 (aws-k8s-1.21)

**What I expected to happen:**
I expected all containers in our datadog-agent pod to spin up correctly without errors.

**What actually happened:**
One of our containers in our datadog-agent pod daemonset (system-probe) is not spinning up correctly, with the following error, when this image is used.  1.9.1 appe

[2022-08-31 23:25] jpculp commented on #2394
@jpardo-skillz, thank you for bringing this to our attention so quickly! This is certainly a problem and we are actively evaluating our options. Can you please check `dmesg` for any SELinux denials?

[2022-08-31 23:44] jpardo-skillz commented on #2394
Thanks @jpculp for your reply here! Do you have any advice on where I should check this? The container itself won't start so I can't shell into it; none of the containers on this pod will permit this operation (Operation Not Permitted) for dmesg.

Should I check it on the bottlerocket node itself?

[2022-09-01 00:05] jpculp commented on #2394
I would start with the "superpowered" [admin container](https://github.com/bottlerocket-os/bottlerocket#admin-container) which you can enable to perform OS-level troubleshooting. Once inside the admin container you can run `sudo sheltie` from which you can access things like `dmesg`. You can also try `journalctl -D /.bottlerocket/rootfs/var/log/journal` outside of sheltie.

[2022-09-01 00:14] bcressey commented on #2394
https://github.com/opencontainers/runc/commit/d83a861d950b42b53406424468f8644551fa8980 added a potential syscall to `faccessat2()`, which would happen on Bottlerocket because nodes will run with a 5.10 kernel.

I don't have a fully working datadog agent setup, but I was able to reproduce this error with `datadog-agent-all-features.yaml`. When I modified it to add `faccessat2` to the list of syscal

[2022-09-01 00:52] jpmcb commented on #2163
Beginning the initial discovery work here - I'll first document what other operating systems might be doing to accomplish this with their uid/gid mappings. Then, like Ben laid out, we can start to look at implementing some first party code that mimics what `newuidmap` and `newgidmap` are doing (to avoid importing all of `shadowuitils`).

Pushing this out to v1.11.0 to give some breathing room for

[2022-09-01 06:44] kschumy opened #2395 "Update to EKS-D 1.22-10"
**What I'd like:**
* EKS-D 1.22-10 includes an upgrade from Kubernetes 1.22.10 to 1.22.12 and a [patch](https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-22/patches/0013-EKS-PATCH-Overlaid-OS-s-environment-variables-with-t.patch) requested by Bottlerocket

**Any alternatives you've considered:**

[2022-09-01 06:47] kschumy opened #2396 "Update to EKS-D 1.23-5"
**What I'd like:**
* EKS-D 1.23-5 includes an upgrade from Kubernetes 1.23.7 to 1.23.9

**Any alternatives you've considered:**

[2022-09-01 12:09] Arau commented on #2319
Hi,

I would like to give an update on the issue. We have been working on different ways to get the mount options set correctly. the idea of the memory medium is quite interesting but it opened a can of warms with other dependencies. We also tried with sym links to circumvent the mount inheritance, but since '/' is read only, that would work.
The emptyDir couldn't work because the bind mount that

[2022-09-05 20:17] markusboehme commented on #1968
One more thing that this migration will be helpful for: Running Pubsys on EC2 instances with IMDS v1 disabled. Unfortunately, Rusoto doesn't support the two-step process (fetch token, query IMDS) of IMDS v2.

[2022-09-06 13:40] michalschott commented on #2352
@mchaker any luck reproducing this issue? Or maybe an idea about corrupted entrypoints? Maybe it is worth to ping friends fron containerd project?

[2022-09-06 16:17] #2052 closed, assigned to jpmcb

[2022-09-06 17:19] etungsten opened #2400 "Deprecate K8s 1.20 variants by November 2022"
Kubernetes 1.20 went out of upstream support in December, 2021. AWS EKS is maintaining support for 1.20 until [November 1st, 2022](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our K8s 1.20 variants at that time.

While you’ll still be able to launch `*-k8s-1.20` nodes beyond November 1st, 2022, we’ll

[2022-09-06 22:16] jpmcb commented on #1297
Since #2053 has merged, I looked a bit at adding `localtoast` to the host: it has a buildtime dependency on `protoc` to generate it's gRPC protos and needs some work to get it's vendored dependencies in, but in theory, it should now be possible to bring that in if we want to begin exploring that!

[2022-09-06 23:25] jpmcb commented on #1776
Closing since this was accomplished earlier this year ✅

https://github.com/bottlerocket-os/bottlerocket/blob/4885e9a8502031d51f1215b51a775f738dc948ef/.github/workflows/build.yml#L118-L120

[2022-09-06 23:25] #1776 closed, assigned to nobody

[2022-09-06 23:35] jpmcb opened #2401 "Fail `cargo make build` if clippy / linter checks fail"
### What I'd like:

From a discussion in a previous community meeting, it would be nice to have builds fail if the lint checks fail - in theory, anything that is on the tip of `develop` should be a fully passing build and pass linters. Any changes that are being made which don't conform with the checks would fail, indicating it's not ready for review.

However, we don't want to make the buildtimes

[2022-09-07 16:06] samjo-nyang commented on #2347
+1, since I'd like to use the time-slicing feature.
https://developer.nvidia.com/blog/improving-gpu-utilization-in-kubernetes/

[2022-09-07 18:46] #2395 closed, assigned to nobody

[2022-09-07 18:46] #2396 closed, assigned to nobody

[2022-09-07 20:27] bwagner5 commented on #1721
Missed this thread, but this all sounds pretty reasonable to me as well. There is one more case for the VPC CNI "Custom Networking" configured via the ENIConfig CRD where you want nodes to have a different subnet/SG than pods which alters the ENI limited calcs since you lose a usable ENI for pods.

I'd also hope that overtime the ENI limited max pods definition would become less relevant and the m

[2022-09-07 21:33] #2211 closed, assigned to foersleo

[2022-09-07 21:37] stmcginnis opened #2402 "buildsys: external files `bundle-output-path` not being honored"
**Platform I'm building on:**

Any

**What I expected to happen:**

Package build `external-files` has an option to provide `bundle-output-path` for naming the tarball that gets generated by bundling the source package with all of its vendored in dependencies when packaging a Go project. This setting is being ignored, resulting in build failures when the specified name is different than the defaul

[2022-09-07 22:29] jonathan-innis commented on #1721
I think we can definitely decouple these two features:
1. GKE kube-reserved calculation
2. Adding `podsPerCore` to `settings.kubernetes`

In the case of `podsPerCore`, I would see this as the higher priority (and easier) item to implement. This brings parity with `kubelet` by surfacing more configuration parameters that are already available for users who have manually configured their AMIs to han

[2022-09-07 22:38] #2402 closed, assigned to nobody

[2022-09-07 22:46] ellistarn commented on #1721
@jonathan-innis , do you still think https://kubernetes.io/docs/concepts/containers/runtime-class/#pod-overhead may be a fruitful route?

[2022-09-07 23:41] arnaldo2792 commented on #1703
@mchaker is already working on allowing some overrides in the default OCI spec used by containerd :tada: !

@bcressey, I think there is already a way drop capabilities, and add them as required through [kubernetes configurations](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#securitycontext-v1-core):

[code]

Doesn't this fit the use case that you have in mind? Or do we want

[2022-09-08 05:13] jonathan-innis commented on #1721
I think from a `kube-reserved` perspective, `pod-overhead` may make sense through the use of [RuntimeClass](https://kubernetes.io/docs/concepts/containers/runtime-class/) but it does require additional configuration on the user side, including an addition Kyverno policy or mutating webhook for injecting the `runtimeClassName` into sets of pods.

The other consideration is that AL2 and Ubuntu still

[2022-09-08 14:56] bcressey commented on #1703
Yes, in particular I'd like a way to drop `CAP_NET_RAW` by default, without requiring every pod spec to do that.

[2022-09-08 16:26] arnaldo2792 opened #2404 "Allow overrides to the default OCI spec capabilities for k8s pods"
**What I'd like:**
With #1703, Bottlerocket will support overrides to RLIMITS in the OCI spec. A follow up feature will be to allow overrides to the OCI spec capabilities through the API.

**Any alternatives you've considered:**
Use k8s directives to override the default capabilities per pod, but this method requires the user to override the capabilities for each pod instead of all of them at once

[2022-09-08 21:44] #2149 closed, assigned to ecpullen

[2022-09-09 17:29] abhinavmpandey08 opened #2407 "Bottlerocket OS support for Nutanix"
**What I'd like:**
Support for running Bottlerocket OS on Nutanix.
Nutanix is a infrastructure provider similar to vSphere that allows you to run VMs on AHV hypervisor https://www.nutanixbible.com/5-book-of-ahv.html

**Any alternatives you've considered:**

[2022-09-09 18:37] zmrow commented on #2407
Thanks @abhinavmpandey08 !  We will look into this - it's an interesting use case!

[2022-09-09 20:28] ozahavi opened #2408 "Setting containerd configurations using userdata"
**What I'd like:**
To be able to set containerd configurations using userdata.
For example -
[code]

[2022-09-10 05:42] etungsten commented on #1726
Closing this issue since we have the kernel modules to support IPVS and we have confirmation that it works in a cluster.

[2022-09-10 05:42] #1726 closed, assigned to nobody

[2022-09-10 18:16] etungsten commented on #2408
Hi @ozahavi, thanks for the bringing this up. Is there a specific set of containerd configuration items you're most interested in? Inferring from your example, I'm guessing you'd like to use the stargz plugin with bottlerocket. We can take a closer look at supporting additional containerd plugins.

[2022-09-11 03:57] alok-sin commented on #2373
I would like to take this. Does this concern with the testsys repo as well? https://github.com/bottlerocket-os/bottlerocket-test-system/issues/535

[2022-09-11 04:10] diranged commented on #1726
@etungsten Not that it's part of this thread specifically - but it would be nice to add a few more of the reecommended IPVS modules like `ip_vs_sh`.

[2022-09-11 22:42] stmcginnis commented on #2373
Awesome, that would be great @alok-sin!

I'm not 100% on the `bottlerocket-test-system` changes yet. There has been some talk of removing some of that code, so I don't want to suggest you make changes there only to have it all be removed.

If you could start in this repo that would be ideal. Then we can hopefully have a little better understanding if anything should be updated in the other repo on

[2022-09-12 09:01] stevehipwell commented on #1721
@jonathan-innis `kube-reserved` should be decoupled from max pods by default, it's only the AWS implementation which couples them together (incorrectly in my opinion); so implementing the GKE `kube-reserved` calculation makes this a viable option.

I think @bwagner5 highlighted the reason why you need this with the VPC CNI custom networking mode.

I don't think these two features are linked in thi

[2022-09-12 15:34] jpmcb commented on #2163
Hi @a-username-1 - Would you be able to provide some yaml I can deploy to EKS to reproduce this issue? This will also be useful when deploying to non-bottlerocket nodes to see what the diff might be. Thanks much!

[2022-09-12 15:40] a-username-1 commented on #2163
Yeah, give me some time, should be able to come up with the config to reproduce this.

[2022-09-12 15:57] etungsten opened #2409 "Add additional IPVS modules like `ip_vs_lc`"
_Originally posted by @diranged in https://github.com/bottlerocket-os/bottlerocket/issues/1726#issuecomment-1242881788_

[2022-09-12 16:10] etungsten commented on #2409
Hi @diranged, I just checked our 5.10 kernel config and it does seem like we have most of the IPVS modules enabled (including `ip_vs_sh`):
[code]

Please feel free to re-open this issue if you see we're missing anything!

[2022-09-12 16:51] etungsten opened #2410 "Update to systemd 251/252/253"
https://github.com/systemd/systemd/blob/main/NEWS

Try updating systemd to 251/252/253.

252.6 is latest stable version https://github.com/systemd/systemd-stable/releases/tag/v252.6

[2022-09-12 16:54] etungsten opened #2411 "Update `packages` for 1.10.0"
We should update dependencies under packages prior to our next minor version update.

The previous time we did this for v1.9.0: https://github.com/bottlerocket-os/bottlerocket/pull/2309, there were a few packages we didn't have a chance to get to. We should try and get those updated this time around.

[2022-09-12 16:56] etungsten opened #2412 "Update rust dependencies for 1.10.0"
We should update dependencies of our Rust packages in Bottlerocket to prepare for 1.10.0.

We did this for 1.9.0 in https://github.com/bottlerocket-os/bottlerocket/pull/2303

---
**Update tasks:**
- [x] cargo update `sources` #2458
- [x] cargo update `tools` #2458
- [x] Update `tough` https://github.com/awslabs/tough/pull/514 https://github.com/awslabs/tough/pull/516 https://github.com/awslabs/tou

[2022-09-12 17:03] diranged opened #2413 "error creating Flexvolume plugin from directory nodeagent~uds, skipping. Error: unexpected end of JSON input""
While debugging some other issues, I found that our Bottlerocket nodes are spamming their journald logs like this:

[code]

We are using the Tigera Operator to install Calico on our nodes, and most of the features seem to work just fine. I don't know much about the UDS system, but I did find that some work was previously done (https://github.com/bottlerocket-os/bottlerocket/pull/1417) to help supp

[2022-09-12 17:17] diranged commented on #2413
(In fairness, FlexVolume is deprecated ... and I can turn it off... just pointing this out though).

[2022-09-12 22:15] stmcginnis commented on #1702
Sorry for the noise. Going to reopen this issue to track the work of adding credential provider support. Then use https://github.com/bottlerocket-os/bottlerocket/issues/2310 to track adding IAM Roles Anywhere to extend the work done here to support that additional use case.

[2022-09-13 00:18] diranged commented on #2409
@etungsten You're right ... the one that fails for me is `lc`:

[code]

[2022-09-13 05:04] jonathan-innis commented on #1721
I don't think this is a reason to have a `max-pods-mode`, this is just another thing that should be taken into consideration when discovering the max-pods on the cluster.

Can you explain how they aren't linked in this way? We are currently doing the calculation based on pods so we should continue to do the calculation based on the max pods based on the min of the max-pods and pods-per core as des

[2022-09-13 13:17] stevehipwell commented on #1721
@jonathan-innis I'm pretty sure I've heard this reason given for why the way AL2 currently works cannot be changed, if you can automate the discovery of the VPC CNI and it's specific mode (legacy, custom networking, IPv4 prefix, or IPv6) then I agree that this isn't needed.

Because the GKE calculation doesn't use max pods in it's algorithm, so adding the capability to set a max pods per core isn'

[2022-09-13 16:32] etungsten commented on #2413
Thanks for bringing this up!

Bottlerocket has SElinux set to enforcing mode. The AVC message indicates that SElinux has denied an action. In this case, it seems like SElinux denied `kubelet` from exec-ing the `uds` binary. We'll take a closer look at this!

[2022-09-14 14:28] rkt2spc opened #2417 "EKS PersistentVolume accessMode ReadWriteOnce doesn't function correctly"
**Image I'm using:**

[bottlerocket-aws-k8s-1.22-x86_64-v1.9.2-b8074d44](https://us-east-1.console.aws.amazon.com/ec2/home?region=us-east-1#Images:visibility=public-images;imageId=ami-04958b57e72e69fb0)

**What I expected to happen:**

According to [PersistentVolume access modes spec](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)

I expect multiple pods on the same

[2022-09-14 15:00] rkt2spc commented on #2417
Potentially related to https://github.com/bottlerocket-os/bottlerocket/discussions/1747

[2022-09-14 18:13] diranged commented on #2394
We're on 1.9.1 right now .. but noticing these warnings in our bottlerocket nodes:

[code]

I am guessing this is related?

[2022-09-14 20:00] #2060 closed, assigned to gthao313

[2022-09-14 21:02] etungsten opened #2418 "update glibc to 2.36"
glibc 2.36 is available: https://sourceware.org/pipermail/libc-alpha/2022-August/141193.html

We're also bumping glibc to 2.36 as part of the bottlerocket-sdk update: https://github.com/bottlerocket-os/bottlerocket-sdk/pull/82

[2022-09-14 21:05] etungsten opened #2419 "update binutils to 2.38"
`bottlerocket-sdk` is moving to `binutils` v2.38 in https://github.com/bottlerocket-os/bottlerocket-sdk/pull/82. We should match that version when the new SDK comes out.

[2022-09-14 21:14] etungsten opened #2420 "Update go dependencies for 1.10.0"
This would include dependencies for packages like host-ctr and hotdog. A previous example of this is https://github.com/bottlerocket-os/bottlerocket/pull/2299

[2022-09-14 23:20] bcressey commented on #2417
I expect you're correct that this is related to #1747. `dmesg` on the node would show a lot of AVC denials.

EBS volume mounts currently get labeled with the MCS pair for the first pod, and subsequent pods won't be able to write to them. There's not really a difference between "two unrelated, unprivileged pods on the host mount the same volume" and "one untrusted, unprivileged pod mounts the volum

[2022-09-15 17:23] bcressey opened #2422 "add build ID to test status output"
**What I'd like:**
Since `cargo make test` from different work trees or different hosts can result in a cluster with multiple testsys runs, it would be helpful to have a `BUILD` column to distinguish the version / commit ID being tested.

mock-up:
[code]

**Any alternatives you've considered:**
None.

[2022-09-15 17:31] bcressey opened #2423 "add a filter to only show test results"
**What I'd like:**
For reporting the results of a testsys run in a PR, it would be useful to limit the output to just the tests.

[code]

Bonus feature requests related to sharing the output:
- [ ] right justify numbers within their columns, so digits are in a consistent place
- [ ] add a date or timestamp showing when the most recent state transition happened

**Any alternatives you've considered

[2022-09-15 18:30] ecpullen opened #2426 "testsys: Support other kubeconfig locations"
**What I'd like:**

When using a kubeconfig not in `testsys.kubeconfig`, `cargo make test` will error. Instead it should check to see if the provided kubeconfig file path exists and if not, use the default kubeconfig.

**Any alternatives you've considered:**

[2022-09-15 18:35] rickymulder commented on #2204
Is there an opportunity to backport to the `1.9.x` branch?
I can file a new bug if needed, but to explain the short version is:

Attempting to spin up a version `1.21` eks cluster using bottlerocket without the ENI config using tunneling mode.  When creating pods on the host network, they inherit the hosts `/etc/resolv.conf` and therefore cannot do cluster dns resolution.  The routes already exist

[2022-09-15 19:16] plaisted opened #2427 "Mirroring a repository to private ECR results in image pull failure (401 unauthorized)"
**Image I'm using:**
eks 1.23
bottlerocket 1.9.2-b8074d44

**What I expected to happen:**
Adding a repository mirror pointing to private ECR registry should successfully pull images.

**What actually happened:**
Images fail to pull with 401 unauthorized.

**How to reproduce the problem:**

1. Add registry mirror to user data for bottlerocket instance template pointing an external registry to the a

[2022-09-15 21:34] jpculp commented on #2427
Hi @plaisted, thanks for reaching out. Do you still see the same behavior if endpoint is set to:
[code]
?

[2022-09-15 21:54] zmrow commented on #2204
Hi @rickymulder !  We won't be backporting the static addressing feature, but when it's ready we'll release new versions of Bottlerocket that include the feature.

Your example seems to reference DNS settings, which should be released at the same time as the static addressing feature!

^ Does this comment mean that the DNS settings _will not_ solve your issue?

[2022-09-15 22:00] plaisted commented on #2427
Updated to test but still same error.

From apiclient get, rebooted node for good measure as well:
[code]
Then `kubectl -n default run -it --image registry.external.com/example:TAG test-registry` and still seeing
[code]

[2022-09-16 03:43] bcressey opened #2429 "oci-add-hooks and hotdog are always rebuilt"
**Platform I'm building on:**
aarch64

**What I expected to happen:**
Re-running `cargo make` after a successful build should only rebuild the image, not any packages.

**What actually happened:**
`hotdog` and `oci-add-hooks` are always rebuilt.

**How to reproduce the problem:**
Run `cargo make` back to back and observe the spurious package rebuilds.

[2022-09-16 04:24] bcressey commented on #2429
`cargo` tells us why it's rebuilding with the right environment variable set:
[code]

The problem is that the bundle archive has a newer mtime than the file logging the build output, so `cargo` thinks it needs to rebuild:
[code]

Syncing the bundle archive's mtime with the input archive's mtime should solve this. @tjkirch fixed a similar problem in 65bca262c61a9c451826cbcb861e82fb02932be2 with the

[2022-09-16 18:34] t0ffel opened #2433 "Bottlerocket is not working with vsphere vvols"
**Image I'm using:**
Using bottlerocket-vmware-k8s-1.23-x86_64-v1.9.2.ova

**What I expected to happen:**

I expect the provisioned VM (disk not resized) to come up without any ext4 errors.

**What actually happened:**

VM comes up, but then it starts spamming ext4 errors.
![Screenshot (14)](https://user-images.githubusercontent.com/13840987/190708019-94640252-07fa-4993-a989-508015089c2a.png)
![Sc

[2022-09-16 19:23] zmrow commented on #2433
Thank for letting us know!

Just to confirm - you _do not_ see the issue when using VMFS?

[2022-09-16 20:32] jpculp commented on #2427
Since pulling from `AWSACCOUNTID.dkr.ecr.us-east-1.amazonaws.com/example.external.com/image:TAG` is working, but the mirrored `registry.external.com` is not, I wonder if some ECR-specific logic is being skipped when the registry is parsed. Credentials may need to be set manually as a result. We'll have to dig into this a bit more.

[2022-09-16 20:38] bcressey commented on #2394
It looks unrelated, but might need a fix somewhere.

Here `system-probe` is running with an unprivileged label (`system_u:system_r:container_t:s0:c503,c650`) trying to send a signal to some process with a privileged label (`system_u:system_r:control_t:s0-s0:c0.c1023`). It's sending `signull`, which tests for the existence of the target PID and whether the process has permissions to send it a signa

[2022-09-16 20:38] mlorenzo92 commented on #1225
Hello team, do you know if a solution to the problem came out?

[2022-09-16 21:39] dfoley84 opened #2434 "Out of the box "ECS Instance" Performance Monitoring for Container Insights"
**What I'd like:**
I would like to be able to have Cloudwatch Agent installed or pre-installed on an AWS Bottlerocket (ECS / EKS) AMI / Cloudwatch Agent running as a Daemon set within an ECS Cluster so that we can get instances-based metrics, into cloudwatch / Container Insights

**Any alternatives you've considered:**
I have a FluentBit Daemon Set configured within my ECS Cluster, pushing logs to

[2022-09-16 23:35] jpculp commented on #1225
@mlorenzo92, thanks for reaching out. Are you able to take advantage of the `aws-efs-csi-driver`?

[2022-09-16 23:57] t0ffel commented on #2433
@zmrow correct. VMFS works as expected.

[2022-09-17 05:17] #2429 closed, assigned to nobody

[2022-09-17 21:48] esiebert7625 commented on #2433
It looks like you are using NVMe storage, vVols does not currently support that. NVMe will be supported starting in vSphere 8.0.

[2022-09-18 05:29] ozahavi commented on #2408
The settings that I was looking for are the ones I stated above, specifically for configuring the stargz plugins.
ATM I am reconsidering stargz after learning about SOCI. Closing this issue until I have a clearer picture of the path I am going to choose.

[2022-09-18 05:29] #2408 closed, assigned to nobody

[2022-09-19 09:55] KevinCiz opened #2435 "NodeCreationFailure for Bottlerocket v1.9"
**Image I'm using: amazon/bottlerocket-aws-k8s-1.23-x86_64-v1.9.2-b8074d44**

**What I expected to happen: Node will join to nodegroup**

**What actually happened: Node failed to join to the eks node group but can be found and is healthy in ec2**

**How to reproduce the problem: Apply v1.9.x version of bottle rockets in the launch template and attach it to the node group
our Bottlerocket user data

[2022-09-19 15:35] zmrow commented on #2433
Thanks @esiebert7625 !

[2022-09-19 20:04] jpculp commented on #2435
@KevinCiz, thanks for reaching out! Can you try setting `kubernetes.io/cluster/my-cluster` to `owned` in the resource tags (instances) of your launch template and remove the following from your user-data:
[code]

If it still isn't connecting, I would try to see if you see any kubelet errors inside of the admin container (which will need to be superpowered).

[2022-09-19 20:36] jpculp commented on #2434
@dfoley84, thanks for reaching out! At the moment we don't have plans to add logging agents directly to the host. There has been a little bit of discussion on this in bottlerocket-os/project-website#29, although it looks like you're already trying FluentBit. Can you provide us with a little more information regarding which metrics you're after?

[2022-09-20 00:11] mchaker opened #2441 "Missing unit tests: storewolf/src/main.rs"
Storewolf's `main.rs` needs unit tests.

Original comment:

_Originally posted by @rpkelly in https://github.com/bottlerocket-os/bottlerocket/pull/2298#discussion_r974777281_

[2022-09-20 00:12] mchaker opened #2442 "Missing unit tests: bootstrap-containers/src/main.rs"
Bootstrap containers' `main.rs` needs unit tests.

Original comment:

_Originally posted by @rpkelly in https://github.com/bottlerocket-os/bottlerocket/pull/2298#discussion_r974777267_

[2022-09-20 10:27] dfoley84 commented on #2434
Hi @jpculp, I followed the Fluentbit blog, it appears that the input Syslog is not initializing on the amazon fluent bit docker container.

[2022-09-20 19:10] mchaker commented on #1061
Additional testing underway.

[2022-09-20 19:59] misterek commented on #2056
@stockholmux Very much apologize for continuing to harp on this, but just wanted to check in and see if Inspector support might be going well.

Also (i can open up a separate issue), how about aws inventory?  I have mixed feelings on this due to the nature of bottlerocket, but I feel like some day, someone will ask.

[2022-09-21 02:58] KevinCiz commented on #2435
@jpculp thanks for the reply, i've removed the `kubernetes.io/cluster/my-cluster` on my user data and add it into the resource tags in my launch template but im still getting the same error instances failed to join the kubernetes cluster.

Do u have any guide on how to check the kubelet errors from the admin container? i'm unable to find this path in my admin container `/var/lib/kubelet`
i tried t

[2022-09-21 03:17] bcressey commented on #2435
@KevinCiz - from the admin container you can run `sudo sheltie` to drop into a shell on the host and access those paths.

(This only works with `superpowered = true` since the `sheltie` wrapper relies on being in the host PID namespace.)

[2022-09-21 03:19] bcressey commented on #2435
`apiclient get` is another useful troubleshooting command that will dump all the configured settings, to see if something isn't being set on launch as expected.

[2022-09-21 03:46] bcressey commented on #2056
@misterek it looks like Inspector support will arrive by end of September, though that's gated on internal release processes that can be hard to predict.

You'd asked earlier about new vs. classic Inspector - only the "new" version will be supported.

Re: AWS Inventory - do you mean the inventory feature under AWS Systems Manager, or something else? (It looks like there are a few open source tools

[2022-09-21 13:06] mlorenzo92 commented on #1225
@jpculp  thank's.
it's working perfect.
Install the driver and kiss me a lot in this doc: https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

[2022-09-21 16:13] misterek commented on #2056
@bcressey Perfect. I did mean the SSM feature (and hadn't tried it quite yet on bottlerocket).  Sounds like you folks have covered all the things I was concerned about.  Thanks a ton, and thanks again for your wonderful work on this project.

[2022-09-21 20:37] jpmcb commented on #2163
Hi @a-username-1 - touching base here: any luck getting a working test case?

[2022-09-23 13:59] #2155 closed, assigned to markusboehme

[2022-09-23 19:57] zmrow opened #2449 "Switch to `systemd-networkd` as a replacement for `wicked`"
**What I'd like:**
I'd like to move to `systemd-networkd` to streamline dependencies and provide a more familiar networking stack for users.

Bottlerocket [switched to `wicked`](https://github.com/bottlerocket-os/bottlerocket/pull/150) in the early stages of the project.  A few things have changed since then and some aspects of that PR aren't applicable anymore.

**Any alternatives you've consider

[2022-09-23 22:47] jobcespedes opened #2453 "QUESTION: do workloads drain automatically if running in EKS and using SPOT instances?"
Do workloads drain automatically if running in EKS and using SPOT instances?
I found `settings.ecs.enable-spot-instance-draining` ( from https://github.com/bottlerocket-os/bottlerocket/pull/1100 by @mkulke) in the documentation but I am not sure it should be set for EKS or just ECS. In addition it made me wonder if draining is already done in EKS for spot instances. Thanks

[2022-09-26 15:01] michalschott commented on #2352
Think the issue might be too low disk attached to bottlerocket, since I've extended it this never happened 🤦

[2022-09-26 15:15] bcressey commented on #2352
If the container layer fails to unpack because the filesystem is out of space, I suppose that could leave zero-sized files around.

I'm surprised that this wouldn't bubble up as an error from containerd, relayed to kubelet via CRI. But perhaps the partially unpacked layer might not get cleaned up and would then be reused by a later attempt to run the same pod.

In any case this seems like a good d

[2022-09-26 21:04] arnaldo2792 commented on #2453
Hello there! Sorry for the late response.

Configurations within the `ecs` key will only work for ECS images. If you try to set it through user data your k8s hosts won't be able to boot since the configuration doesn't exist in the API model for k8s images. On the other hand, if you try to use `apiclient` you will get an error saying that the key `ecs` is an invalid key.

It seems like there is alr

[2022-09-26 21:19] jobcespedes commented on #2453
Thanks for your reply. It is now clear for me the option is only for ECS.

It was my understanding that draining is done out of the box with EKS + managed groups, since [managed node groups doc](https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html ) says so. I just wanted to make sure it remains the same when using Bottlerocket (EKS + managed groups + Bottlerocket). Seeing `se

[2022-09-26 21:31] arnaldo2792 commented on #2453
Yes! Bottlerocket does support the features offered by managed node groups :+1: (we try to keep feature parity with what the EKS optimized AMI)

[2022-09-26 21:45] #2453 closed, assigned to nobody

[2022-09-26 22:30] stmcginnis opened #2459 "`cargo make ami` should scream at me if it didn't create an ami due to the name already existing"
Edit: I changed the title to reflect the discussion that happened below. We don't EVER want to overwrite an AMI, but we want the tool to make it extremely apparent when it hasn't written an AMI. Currently the warning is too subtle.

**What I expected to happen:**

While doing local development I need to test the changes I am making. That is made very easy now by running something like:

[code]

Un

[2022-09-27 04:31] bcressey commented on #2459
There are a few elements at work here:
* I have a deep and abiding terror at the idea of accidentally deregistering a production AMI.
* `cargo make ami` is meant to be idempotent and safe to retry in the face of transient errors.
* `cargo make ami` will also implicitly copy the AMI to multiple regions, which can be a source of errors.

Which is to say that I'm not very excited about adding a dereg

[2022-09-27 04:35] #2418 closed, assigned to bcressey

[2022-09-27 04:35] #2419 closed, assigned to bcressey

[2022-09-27 04:35] #2175 closed, assigned to bcressey

[2022-09-28 05:30] avifreege opened #2462 "Injecting dynamic labels to userdata"
we are evaluating bottlerocket for our EKS clusters, the first thing we noticed since bottlerocket expects TOML format user-data we cannot run dynamic commands as EKS official ami's and was wondering if you have a solution for that, i.e:
injecting the lable of the node lifecycle:
```node.kubernetes.io/instance-life-cycle=$(curl http://169.254.169.254/latest/meta-data/instance-life-cycle```

[2022-09-28 13:14] shahaf600 commented on #2225
@zmrow we would love the same feature as you.

We are using PXE in order to load OS on bare metal nodes. It is not clear to me how to apply the docs of provisioning on metal.

[2022-09-28 20:04] #1931 closed, assigned to stmcginnis

[2022-09-28 20:10] #2327 closed, assigned to jpmcb

[2022-09-28 20:35] stmcginnis opened #2463 "Add validation for `settings.kubernetes.log-level` value"
**What I'd like:**

The `log-level` setting controls logging verbosity for kubelet. The only real valid values for this setting are 0 through 8, but since we can currently only use an unsigned integer type we aren't able to validate settings are within an expected range.

If/when we are able to implement a custom type (see https://github.com/bottlerocket-os/bottlerocket/issues/2257) for numeric se

[2022-09-28 21:01] kdaula commented on #2056
Bottlerocket is now supported by AWS inspector in commercial regions.

[2022-09-28 21:01] #2056 closed, assigned to arnaldo2792

[2022-09-28 21:01] kdaula commented on #848
Bottlerocket is now supported by AWS inspector in commercial regions.

[2022-09-28 21:01] #848 closed, assigned to arnaldo2792

[2022-09-28 21:06] mattlorimor commented on #848
YES!

I commented what I did almost two years ago. I think I might cry.

[2022-09-29 08:43] dusansusic commented on #2056
@kdaula is this supported now for BottlerocketOS 1.9.2 or 1.10.0 which isn't released yet? In Inspector console BottlerocketOS 1.9.2 is still listed as unsupported OS.

[2022-09-29 10:28] vflaux opened #2466 "Allow rootless containers to bind privileged ports and ping"
**What I'd like:**
Add config options to allow containers to bind privileged ports (<1024) and open icmp echo sockets without being root.  (This the defaults with dockerd)
It can be enabled within containerd config (/etc/containerd/config.toml).
For kubernetes:
[code]

**Any alternatives you've considered:**

This can be worked around with kubernetes (>1.22) with a SecurityContext on pods:
[code]

[2022-09-29 15:31] stmcginnis commented on #1702
Status update on this work... I think I have most things in place with #2377, but having some trouble validating things.

I've verified with the team that it looks like all the right configuration is in place, but things are not working as expected. The current theory is there is some conflict between our use of the in-tree AWS cloud provider and this newer functionality that may actually need the

[2022-09-29 15:32] stmcginnis commented on #2310
Status update on this work... I think I have most things in place with #2377, but having some trouble validating things.

I've verified with the team that it looks like all the right configuration is in place, but things are not working as expected. The current theory is there is some conflict between our use of the in-tree AWS cloud provider and this newer functionality that may actually need the

[2022-09-29 16:06] zmrow commented on #2462
Hi there!  This can be accomplished with bootstrap containers!  There's a good example of setting a node label here: https://github.com/bottlerocket-os/bottlerocket/issues/1647#issuecomment-887664346

(Note: that is very scrappy code for demonstration purposes :) )

[2022-09-29 16:55] zmrow commented on #2466
Thanks for the issue @vflaux !  There are a few related requests in #1703 and #2404.

Does the SecurityContext workaround mentioned unblock this for you?  Would the containerd settings mentioned be beneficial if so?

[2022-09-29 19:27] brycekahle commented on #2394
This behavior should be allowed by our seccomp profile since `v2.32.5` of the Helm chart: https://github.com/DataDog/helm-charts/blob/main/charts/datadog/templates/system-probe-configmap.yaml#L271-L286
https://github.com/DataDog/helm-charts/commit/76f1416871df57da834e420f7b933ac7d3aedbf1

[2022-09-29 19:47] arnaldo2792 commented on #2056
@dusansusic this should be supported in versions >= 1.7.0. It takes some time for Inspector to show up the vulnerabilities. I have an instance running a custom build of Bottlerocket, and it shows no findings for it since I built it from the tip of develop:

[code]

You also need to make sure that the control container is running and the SSM agent started correctly, otherwise Inspector won't scan t

[2022-09-30 00:59] myoung34 commented on #2394
I got hit by this on a fresh Ubuntu 22.04 LTS install with K8S 1.24

I was able to fix it by bumping the helm chart to `3.1.3` and adding:

[code]

with final annotations being:

[code]

[2022-09-30 11:46] vflaux commented on #2466
Hi,

The workaround works and we could also use a different port, but that means changing the manifests.

More context:
We are transitioning from dockerd to containerd with AL2 AMI and found some of our client apps that bind to the port 80. So we patched the containerd config with a bootstrap script which fix the issue.
We are also evaluating Bottelrocket AMI and noticed that we had the same probl

[2022-09-30 13:11] dusansusic commented on #2056
Understood. Control container is running and SSM agent is started, all instances have necessary roles. Still, instances are shown as ones with Unsupported OS. Running v1.9.2.

[2022-09-30 15:21] #2420 closed, assigned to jpmcb

[2022-09-30 15:21] #2204 closed, assigned to zmrow

[2022-09-30 15:26] mchaker commented on #1703
This feature is underway and now targeting the 1.11.0 release.

[2022-09-30 16:05] zmrow commented on #2466
Thanks for the extra context!  Another option here is to set these sysctls with [`settings.kernel.sysctl`](https://github.com/bottlerocket-os/bottlerocket#kernel-settings).

Based on your example above, it would look something like:
[code]

[2022-09-30 16:20] gthao313 commented on #1788
We're still working on this feature and now targeting the 1.11.0 release

[2022-09-30 17:34] blackliner opened #2468 "Update nvidia driver to latest"
**What I'd like:**

Update bottlerocket to version 515 of the nvidia driver. Currently used version 470 is outdated and does not support newer features like CC detection via nvidia-smi

See https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/kmod-5.10-nvidia/kmod-5.10-nvidia.spec#L1

**Any alternatives you've considered:**

No

[2022-09-30 17:38] arnaldo2792 commented on #2468
This is on its way! Should be ready as part of the newer k8s-1.24-nvidia variant! See #2455 and #2437

[2022-09-30 18:12] arnaldo2792 commented on #2056
Could you please share with us the AMI id you are using? I tested inspector in a few regions, with different AMIs and versions, and Inspector does detect the hosts. I also tested enabling inspector in a region with existing 1.9.2 hosts and it did detect them.

[2022-09-30 19:44] cprivitere opened #2469 "Improve Network Configuration"
**What I'd like:**
We're supporting using bottlerocket on bare metal as part of EKS Anywhere running on Equinix Metal.

One of the most limiting and difficult to configure aspects is the NIC configuration. This is due to bare metal servers (even those of a particular plan type like m3.large.x86 or c3.medium.x86) not always having identical configurations. Sometimes network cards aren't the same, s

[2022-09-30 20:46] zmrow commented on #2469
Thanks for the issue @cprivitere !  This is an area of Bottlerocket we're looking to continuously improve on, and these types of suggestions are really helpful.

A few quick thoughts as I read over these:

This "match" use case is compelling; I'm wondering how we determine which NIC becomes primary if we're bringing up anything matching `ens*`.

Currently the "config generation" is a separate step

[2022-10-01 00:30] blackliner commented on #2468
Amazing, thanks!

[2022-10-03 09:29] vflaux commented on #2466
`settings.kernel.sysctl` apply sysctls on the host but they are not propagated to the namespace of containers.

From the admin container:
[code]

From a pod:
[code]

[2022-10-03 15:15] dusansusic commented on #2056
@arnaldo2792 it seems it started to scan instances with more than 2 days of delay, ami id: `ami-0e9e6e36c48fb0e8a` (us-east-2 region). Just to be sure, on v1.9.2 there's no single vulnerability shown, is this correct information?

[2022-10-03 15:57] zmrow commented on #2462
I'll close this for now - feel free to re-open the issue if the above solution doesn't solve the issue.

[2022-10-03 15:57] #2462 closed, assigned to nobody

[2022-10-03 21:02] zmrow commented on #2466
Good point.

There is an [issue in the `containerd` repo](https://github.com/containerd/containerd/issues/6924) to enable these by default.  It seem that the only caveat is that it can't be done with really old kernels (at least 3.10), which we don't use anyway.

Perhaps we can look into enabling these by default.

[2022-10-03 21:10] zmrow commented on #2466
The comments on [the related `containerd` issue](https://github.com/containerd/containerd/pull/6170#issuecomment-973242980) suggests that enabling these "could break existing deployments", but [the comment](https://github.com/containerd/containerd/pull/6170#issuecomment-973226884) hasn't been expanded on.

[2022-10-03 21:49] cgbaker opened #2474 "Interest in variant for HashiCorp Nomad"
**What I'd like:**
I'd like to gauge interest in a variant for [HashiCorp Nomad](https://www.nomadproject.io/), and what features (consul-agent, etc) would folks be interested in seeing?

[2022-10-03 23:10] bludhemn opened #2475 "x509: certificate signed by unknown authority error while building image"
I'm trying to build the Bottlerocket AMI on a RHEL 7.9 EC2 instance. When I run `cargo make` it errors out at the `fetch-vendored` task.

[code]

I can curl the go-nvml URL:
[code]
We have a corporate proxy in the middle and the certificate for the proxy is issued by a private CA. The private CA root and issuing certs have been added in `/etc/pki/ca-trust/source/anchors` and ran `update-ca-trust`.

[2022-10-04 00:19] jpculp commented on #2434
Hi @dfoley84, sorry for the delay. I think you'll want to try the Systemd input to get the logs from Journald.

[2022-10-04 01:16] bcressey commented on #2056
1.9.2 is the most recent release as of today. 1.10.0 should be out soon, and will bring its own set of non-critical security fixes.

[2022-10-04 15:10] stmcginnis commented on #1702
Just an update, this is currently blocked on this upstream issue:

https://github.com/kubernetes/kubernetes/issues/112842

I will track that and follow up here as that progresses.

[2022-10-04 15:12] kdaula commented on #1702
I am taking the 1.11.0 release label from this issue since @stmcginnis  will be working with upstream kubernetes driving to resolve https://github.com/kubernetes/kubernetes/issues/112842. As soon as the upstream issue is fixed, we will work to getting this into a release.

[2022-10-04 16:19] zmrow commented on #2474
Nice idea @cgbaker !

Happy to provide some help/guidance once the feature set is nailed down.

[2022-10-04 17:28] #2412 closed, assigned to jpculp

[2022-10-04 17:46] arnaldo2792 commented on #2056
Can you check the `Schedule expression` field in your SSM association? For me that's 30 min, you can find it at AWS Systems manager -> State Manager -> <Association ID>

[2022-10-04 19:24] wingnut128 commented on #2474
✔️  for the consul agent

[2022-10-04 21:10] jpmcb commented on #2163
Hi all - I recently discovered that UID and GID mappings in `runc` only occur [when new user namespaces are created](https://github.com/opencontainers/runc/blob/bc13e3327071f67cf1b1cff6f0f9f9ff4c8a4893/libcontainer/container_linux.go#L2157-L2172). This tracks with additional background information I found on the topic. See this chunk from the Linux man pages for user namespaces:

[code]

Ref: http

[2022-10-04 23:57] mchaker commented on #2475
Hi @bludhemn , thanks for pointing this out. It seems like the containerized build system is not using the certificates you have added to your development environment. The build system should have a feature for utilizing the certificates that are installed in the development environment. If you don't mind, I'll close this issue and open a new one to track that feature.

[2022-10-04 23:57] #2475 closed, assigned to nobody

[2022-10-04 23:58] mchaker opened #2478 "buildsys: utilize certificates installed on the development host"
**What I'd like:**

Source: #2475

The containerized build system should have a feature for utilizing the certificates that are installed in the development environment.

This would allow the use of corporate proxies (as mentioned in #2475) or otherwise utilize custom certificates in the build system.

**Any alternatives you've considered:**

N/A - the build system currently does not use the devel

[2022-10-05 14:37] dusansusic commented on #2056
Disabled/Enabled inspector and it started to work as expected again. Thanks @bcressey @arnaldo2792

[2022-10-05 17:15] nkvetsinski opened #2481 "Configure kubelet parameters via BR API"
**What I'd like:**

Our team needs to change some of the kubelet parameters (in our case we change `-v --client-ca-file, --tls-cert-file, --tls-key-file`). We would like to have these parameters exposed to the API, ideally all of the [flags](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/) can be changed.

**Any alternatives you've considered:**

To unblock our usecase we h

[2022-10-05 17:34] stmcginnis commented on #2481
Thanks @nkvetsinski - this looks like good functionality to support. I don't have any timeframe yet, but I'll take a look and I should be able to get to this soon(ish!).

^^ That said, if any community members are interested in picking this up, just let me know. :)

[2022-10-05 22:20] #2411 closed, assigned to arnaldo2792

[2022-10-06 11:55] Cajga commented on #2469
As I wrote in #2293, we are running into the same issue (EKS-A Bare Metal + no one knows the interface name ahead).
I just wanted to add one more relevant problem:
When someone boots up a bottlerocker OS with wrong interface name in net.toml, there is not much useful information on the console:
https://imgur.com/a/SmMYG2v

Apart from the fact that there is no useful information on the screen, one

[2022-10-06 15:39] zmrow commented on #2469
@Cajga Thanks for the extra info.  I totally understand the pain.  As I mentioned above, the "interface config generation" is separate from bringing up the actual interfaces.  `netdog` generates the interface configuration based on `net.toml`, and doesn't (currently) do any hardware probing or understand what "should" be in the box.  `wicked` attempts to bring up the interfaces it has config for,

[2022-10-06 16:03] arnaldo2792 commented on #1960
Hi @samjo-nyang!, I think we will punt this to the following release (1.11)

[2022-10-06 17:39] yeazelm commented on #2369
I noticed that https://github.com/equinix-labs/terraform-metal-hybrid-gateway/blob/main/modules/backend/cloud-config.cfg calls out mode 4 (802.3ad) but @Cajga provided options for mode 1 (active-backup). I'm hoping to confirm if you plan to use both modes or one over the other. We likely will support more than just the minimum but I'm hoping to get a good idea of the most important configuration t

[2022-10-06 20:09] arnaldo2792 opened #2483 "Enable more ECS features"
**What I'd like:**

We should investigate the work required to enable these features in the ECS agent:

[code]

[2022-10-06 23:07] #1968 closed, assigned to rpkelly, jpculp

[2022-10-07 15:26] cprivitere commented on #2469
So I would challenge the following presumptions:

1) That netdog + wicked is the right solution for bottlerocket. This current setup seems to provide challenges for bare metal and should be questioned if the OS is meant to work elsewhere...which it is now.

2) That there's no way to get a shell. The docs indicate there's a way spawn a container with a shell if you provide the correct configuration

[2022-10-07 15:31] displague commented on #2469
The netplan solution (https://netplan.io/design) seems to be, leave it to the user. The network devices are grouped into `ethernets` and `wifis` and within those groups the user can specify the macaddresses, drivers, and device names to `match`.

[2022-10-07 16:08] #2374 closed, assigned to arnaldo2792, etungsten

[2022-10-08 16:12] bcressey commented on #2469
As you say, this is being challenged pretty actively by @zmrow at the moment. It's clear that a larger change is needed to keep up with the rate of feature requests for network configuration. However, netdog + wicked is what's in place at the moment, and for a lot of reasons (support, maintenance) I really want a consistent approach across all platforms. That means some sort of helper to handle ne

[2022-10-08 16:48] bcressey commented on #2469
Primary is currently used in two ways:
* to determine which interface's DHCP lease should be used to populate `/etc/resolv.conf`
* to determine which interface's reverse DNS lookup should be used to set /proc/sys/kernel/hostname`

These are both higher level concerns leaking down into the exposed settings. Hostname in particular gets this treatment because the "correct" hostname is needed for EC2

[2022-10-10 10:41] jboero commented on #2474
I actually experimented with this 2y ago.  50MB Linux image that boots in 2s and runs Nomad agent as init instead of systemd.
https://medium.com/hashicorp-engineering/nomad-vs-systemd-e0db80d34e8a
https://github.com/jboero/nomados

Have a look! Feedback welcome.

[2022-10-10 16:35] zmrow commented on #2469
This is fair.  At network config generation time, the API server isn't up yet and we haven't read user data so we don't know what has come in via provisioning.  We'll mull this over a bit more... :thinking:

To be clear, `netplan`'s frontend is Python; it has a decent amount of C as well.

I recently found that crate!  It's another option we can consider supporting for sure.

[2022-10-10 22:04] webern commented on #2373
How did you arrive at standardizing on argh instead of clap? I think clap is becoming the de-facto standard crate for this.

[2022-10-10 22:30] webern commented on #2459
Another possibility would be for pubsys to error out instead of overwriting and have an `--overwrite-ami` flag.

I have lost days of development time before because I couldn't figure out why my changes were not affecting Bottlerocket behavior because I didn't notice `already registered in us-east-2: ami-06dd1bdaa7e4f351c`
Now all of my scripts use uuidgen for the name of the ami

[2022-10-10 23:08] stmcginnis commented on #2373
@bcressey had expressed a desire to go with argh over clap. If clap is becoming the standard for this, then perhaps we should reevaluate that position. I am fine either way - I would just like to see us using one or the other.

[2022-10-11 14:33] bcressey commented on #2373
I don't feel as strongly about "only one" but I definitely don't want to add `clap` to the binaries shipped in the OS image, and would prefer that the mix of custom / `structopt` / `argh` that is currently shipped get trimmed down to just `argh`.

That's primarily for reasons of code size. It's not a huge factor for existing builds, but there are some use cases (like a microVM guest) where size is

[2022-10-11 17:19] webern commented on #2373
I also don't feel strongly about "only one" and would hate to see us go from clap -> argh in places where we are using clap now.

Have you checked the size of the compiled code of clap vs argh? Just curious if it's a big contributor to binary size.

[2022-10-12 11:13] jenademoodley opened #2485 "Send "Hostname" when creating a DHCP request"
**What I'd like:**
- When using Bottlerocket, hostname is not sent as part of the DHCP request.
- From within Bottlerocket, we can look at the DHCP request using tcpdump, and restart wickerd nanny process to force wickerd to renew the lease (restarting wickerd itself restarted the network as well which stopped the tcpdump, hence restarting nanny process instead). tcpdump can be run from admin cont

[2022-10-12 17:08] webern opened #2486 "Tooling to Alter a Built Bottlerocket Image and Re-sign it with DM Verity"
Consider the case when a developer is working on a change to Bottlerocket that requires a migration. In order to test the migration, you need to build TWO versions of Bottlerocket. One to migrate FROM and the one that you are working on (the migration destination).

You cannot use a production/published build of Bottlerocket as the FROM version because it is built with the production-keyed `root.j

[2022-10-12 17:13] webern commented on #1061
Have we fully vetted that this is the right thing to do?

In favor of TryFrom?
- https://internals.rust-lang.org/t/pre-rfc-deprecate-fromstr-in-favor-of-tryfrom-str/12331

In favor of FromStr?
- https://stackoverflow.com/a/71487402

Ambiguous?
- https://stackoverflow.com/a/67386103

[2022-10-12 21:43] webern commented on #2225
I created an issue to track this idea #2486

[2022-10-12 22:01] webern commented on #2401
Related to this #1776 which is marked as done.

[2022-10-12 22:23] webern commented on #2370
It might also be possible to wrap in tokio timeout (if the SDK mechanisms don't work out), e.g. how it was done here: https://github.com/bottlerocket-os/bottlerocket-test-system/blob/49ae24b59cb4a245352fe5e7078b859a83b76c5b/selftest/src/cluster.rs#L133

[2022-10-12 22:30] webern commented on #2362
There is a little bit of conflation going on here. One can cross compile an x86_64 build of Bottlerocket from an aarch64 machine and vice versa. I don't think there is any reason to expect the build matrix to compile aarch64 variants of Bottlerocket from an aarch64 build machine. However you are right to point out that our build matrix does not ensure that building Bottlerocket (any arch of Bottle

[2022-10-13 13:42] bcressey commented on #2362
It is fully supported and works to build the entire matrix - both aarch64 and x86_64 - on an aarch64 machine.

aarch64 as a build host is not exercised in CI today, though.

It's very important for me that CI exercise the cross-compiling capability - this is a frequent area of subtle regressions and issues with new packages. It's less important that it happen for both architectures, **on** both ar

[2022-10-13 22:58] stmcginnis commented on #2481
Small update, the `-v` parameter for adjusting logging level is included in the v1.10.0 release with #2460

[2022-10-14 01:02] kschumy opened #2487 "Update EKS to 1.23-6"
**What I'd like:**
There is a new version of EKS-D 1.23. It includes a newer version of Kubernetes (v1.23.12) and some patches.

**Any alternatives you've considered:**
None

[2022-10-14 01:07] kschumy opened #2489 "Update to EKS-D 1.22-11"
**What I'd like:**
There is a new version of EKS-D 1.22. It includes a newer version of Kubernetes (v1.22.15) and some patches.

**Any alternatives you've considered:**
None

[2022-10-14 06:15] jhonsamson47 opened #2491 "few images are not pulled in bottlerocket nodes"
We are testing on bottlerocket in our test environmnet

while pulling certain images we are getting below errors from kubelet.

`  Warning  Failed     8m37s (x4 over 10m)   kubelet            Failed to pull image "docker.io/calico/pod2daemon-flexvol:v3.20.0": rpc error: code = Unknown desc = failed to pull and unpack image "docker.io/calico/pod2daemon-flexvol:v3.20.0": failed to read expected numb

[2022-10-14 11:36] dusanu87 opened #2492 "Enabling kubelet client certificate rotation"
We have a running AWS EKS cluster version _1.22_ with Bottlerocket _v1.9.1_.
We would like to check is it safe/supported to enable kubelet certificate rotation by passing kubelet extra arg _--rotate-certificates_ ? This question is actually related to Bottlerocket _v1.10.0_ for EKS version _1.23_ since we are going to upgrade EKS cluster.
We are mainly asking because of the current setup and imple

[2022-10-14 15:22] bcressey commented on #2492
Client certificates are not used to authenticate an EC2 worker node to an EKS cluster; the instance IAM role is used along with the node identity.

The kubelet also has a server certificate (for serving `kubectl logs` and `kubectl exec`) and the default kubelet config enables the `RotateKubeletServerCertificate` feature gate so that this certificate is rotated.

Consequently you shouldn't need to

[2022-10-14 16:11] #2492 closed, assigned to nobody

[2022-10-14 18:11] arnaldo2792 commented on #2468
@blackliner, we added support for the newer drivers in the latest [Bottlerocket release] in the AWS k8s 1.24 images :tada: ! Please refer to the release notes and [this section] of the documentation for details.

[Bottlerocket release]: https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.10.0
[this section]: https://github.com/bottlerocket-os/bottlerocket#nvidia-gpus-support

I'll clos

[2022-10-14 18:11] #2468 closed, assigned to nobody

[2022-10-14 19:29] stmcginnis commented on #2292
Looking at this now.

Since we may some day want to switch out our runtime from containerd to something else, we should keep these settings somewhat runtime agnostic, even if the specific setting is only applicable to containerd.

I am looking at adding:

* `settings.container-runtime.max-container-log-line-size`: Controls how long container log messages can be.
  If the log output is longer than

[2022-10-14 21:06] zmrow commented on #2485
Thanks for the super detailed issue  @jenademoodley !  Really apprecaite it.

You’re correct, Bottlerocket doesn’t currently send the hostname along with it’s DHCP request, and doesn’t currently surface any way to change this behavior.  In the custom DHCP setup you mention, is the hostname sent along with the initial lease request?  Any additional details you're willing to share would be great!

M

[2022-10-14 21:51] nkvetsinski commented on #2481
Sweet!

[2022-10-15 04:30] bcressey commented on #2486
I have an ad hoc, informally-specified, bug-ridden, slow implementation of half of this already done.

[2022-10-15 12:40] #2292 closed, assigned to stmcginnis

[2022-10-15 12:40] #2466 closed, assigned to nobody

[2022-10-15 17:51] blackliner commented on #2468
Amazing, we already use it, thanks a lot!

[2022-10-17 17:48] rpkelly commented on #2491
Is your private registry working elsewhere? If you could provide more logs, they may be helpful. Some might be available in kubelet.

To answer your second question, you should be able to add additional `[[settings.container-registry.mirrors]]` and `[[settings.container-registry.credentials]]` to your user-data. These will be provided to containerd, and, I am unsure what would happen if you provid

[2022-10-17 18:16] #2487 closed, assigned to nobody

[2022-10-17 18:16] #2489 closed, assigned to nobody

[2022-10-17 18:33] joebowbeer commented on #1297
This stated goal was to create CIS Benchmark for Bottlerocket, and this has been done, right?

Does more work remain for this? Close this and open a new issue for localtoast?

[2022-10-17 22:12] bcressey opened #2501 "add support for Secure Boot"
**What I'd like:**
On platforms where Secure Boot is supported, I'd like strong cryptographic verification of all components from the bootloader to the running kernel.

**Any alternatives you've considered:**
None.

[2022-10-17 22:27] bcressey commented on #2501
This has been in-flight for a while [on a branch in my personal fork](https://github.com/bcressey/bottlerocket/commits/secureboot-shenanigans) but is now nearing the point where the full picture is visible and pieces can start to be merged. There's also some work related to bottlerocket-os/bottlerocket#2486 since I'd like to support the resigning workflow described there as a prerequisite.

Tasks

[2022-10-19 19:23] arnaldo2792 opened #2504 "Investigate what is required to support cgroups v2 in libnvidia-container"
`libnvidia-container` added support for cgroups v2 in versions >= [1.8.0]. In the 1.10.0 Bottlerocket release, we migrated to `libnvidia-container` 1.11.0 but we didn't compile the library with support for cgroups v2. We should investigate what it takes to enable cgroups v2 support in `libnvidia-container`.

[1.8.0]: https://github.com/NVIDIA/libnvidia-container/releases/tag/v1.8.0

[2022-10-19 22:02] arnaldo2792 commented on #2483
Here are a few findings on the research I did to support the new flags:

- `ECS_TASK_METADATA_RPS_LIMIT` is used to set up the metadata server's throttling configurations.
- `ECS_CONTAINER_STOP_TIMEOUT` is used as [a parameter] of the [`ContainerStop` API]; this value is used to determine when docker should issue a `SIGKILL` signal to the container's process if the container didn't exit successful

[2022-10-20 15:01] #2400 closed, assigned to jpmcb

[2022-10-21 16:06] arnaldo2792 opened #2509 "Clean up sid.cil in SELinux policy"
The SELinux policy has [this block] that could be removed now that the 5.4 kernel sources were removed from the repository. In order to test that this is actually something that can be removed, dmesg has to be monitored to check for any suspicious SELinux message, along with upgrade/downgrade testing to make sure the SELinux policy is valid between two versions of Bottlerocket.

[this block]: http

[2022-10-21 17:06] arnaldo2792 commented on #2504
I want to clarify a few things based on the research I've done.

In the 1.8.0 released linked above, the following projects were modified to support cgroups v2:

- `nvidia-container-toolkit`
- `nvidia-container-runtime`
- `libnvidia-container`
- `nvidia-docker`

In Bottlerocket, only `libnvidia-container` and `nvidia-container-toolkit` are used. The other two projects aren't required since we have

[2022-10-21 17:51] webern opened #2510 "Zero Config EKS Launches"
Currently, we need to provide the EKS cluster's `api-server` and `cluster-certificate` in Bottlerocket's `settings.kubernetes` or else a Bottlerocket instance will not know how to join the EKS cluster.

However, this information is discoverable. In https://github.com/bottlerocket-os/bottlerocket/pull/1547 we gave `pluto` the ability to call the EKS API to get the cluster's DNS setting.

https://gi

[2022-10-24 11:11] tobias-zeptio opened #2512 "kubelet service doesn't restart on failure"
We are running Bottlerocket managed nodes in EKS, and last week got a node failure where kubelet.service stopped with the following log. That node was running version 1.9.2 on k8s 1.22.

[code]

After this failure the kubectl node status became "NotReady" and the NodeGroup status "Unknown", which leads to a state where nothing happens. The EC2 doesn't get terminated since the kubelet status is ot

[2022-10-24 18:38] gthao313 commented on #2512
Thanks for opening this ticket!

Can you share with us more details about how to reproduce this issue? Did this happen frequently to you or just once?

We actually support kubelet [restart on failure ](https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/kubernetes-1.22/kubelet.service#L17). Can you provide more logs about kubelet?

[2022-10-24 22:29] webern opened #2515 "testsys: run nvidia smoke test with cargo make test"
Here we are going to create a test to make sure that Bottlerocket nvidia variants are working https://github.com/bottlerocket-os/bottlerocket-test-system/issues/318. We sometimes call this an "nvidia smoke test". Basically it will run a simple container that needs the nvidia gpu in order to pass.

We want to be able to run that test with `cargo make test` and using `Test.toml`.

[2022-10-24 22:43] webern opened #2516 "cargo make test for externally defined tests"
We have a test suite that we run internally for ECS variants that is closed source. This is a good opportunity to create an extension point for testsys. We need a way to define a test as a Kubernetes manifest and have `cargo make test` be able to run such an externally defined test. There may need to be some templating involved for values like `variant` and `arch`.

[2022-10-25 18:49] #2426 closed, assigned to ecpullen

[2022-10-26 05:57] tobias-zeptio commented on #2512
This has happened at least 3 times since moving to Bottlerocket from AWS AMI a couple weeks ago. I have no way to reproduce it, there is nothing special about the workload we are running. A mix of workloads and about 20 containers per node.

Now I see I as looking at the "Drop-in" line in the systemctl status. But why is the service not restarted then, these are the last logs before shutdown.

[co

[2022-10-26 10:54] stmcginnis opened #2522 "Incorrect migration type used for `container-runtime` settings"
**Issue:**

With the 1.10.1 release, we [added support for setting various `container-runtime` settings](https://github.com/bottlerocket-os/bottlerocket/blob/cc8d705c3858ad6fa881fb5d2dcbee4cf521bfb4/sources/api/migration/migrations/v1.10.1/container-runtime/src/main.rs#L9). With the migration added, `AddSettingsMigration` was used. That should actually be using `AddPrefixesMigration`. As it is, if

[2022-10-26 12:42] foersleo commented on #2246
There is some additional planning work that needs to happen here.
We so far have worked towards enabling what I'd call modern common server hardware  (standard RAID controllers and 10G+ Ethernet NICs). However, it is not quite clear if that is the actual boundaries where we want to stop at for the bare metal variant.

Some of the questions that need to be discussed:

- [ ] Where are the boundaries

[2022-10-26 14:36] bcressey commented on #2512
The `kubelet` service is configured with [Restart=on-failure](https://www.freedesktop.org/software/systemd/man/systemd.service.html#Restart=), which among other things will not restart if the exit code is zero (which seems like it might be the case from the logs).

It also appears that `containerd` is falling over given the pipe error on `dockershim.sock` (which is where the `containerd` socket wa

[2022-10-26 17:52] ecpullen opened #2525 "testsys: Enable downgrade upgrade testing"
**What I'd like:**

TestSys can currently run upgrade downgrade testing, but migrations should also be able to be tested the other way.

**Any alternatives you've considered:**

[2022-10-26 18:16] gmykhailiuta commented on #2468
AWS EKS still has only 1.23 to offer. Would it be possible to add 1.23 support to Bottlerocket as well?

[2022-10-26 18:37] ecpullen opened #2526 "testsys: `TESTSYS_STARTING_IMAGE_ID` cannot be used"
**Platform I'm building on:**

N/A

**What I expected to happen:**

Migration testing to be performed.

**What actually happened:**

[code]

**How to reproduce the problem:**

[code]

[2022-10-27 02:29] #2522 closed, assigned to stmcginnis

[2022-10-27 18:20] ecpullen opened #2530 "testsys: Use library version for image pulls"
**What I'd like:**

`testsys` should know about the latest agent images and automatically use the ones for the given library version.
Related to https://github.com/bottlerocket-os/bottlerocket-test-system/issues/542

**Any alternatives you've considered:**

[2022-10-27 19:28] #2526 closed, assigned to ecpullen

[2022-10-27 21:30] ecpullen opened #2531 "testsys: Enable multiple tests on a single cluster"
**What I'd like:**

The TestSys framework provides the ability to mark resources as conflicting. Resources will not start their creation if any conflicting resources exist. `testsys` should use this feature to allow 2 instance providers to use the same cluster provider without the instances being launched at the same time.

https://github.com/bottlerocket-os/bottlerocket-test-system/commit/cc49c94

[2022-10-28 16:59] #2531 closed, assigned to ecpullen

[2022-10-28 17:04] ecpullen opened #2533 "testsys: Refactor code base"
**What I'd like:**

The `testsys` code base could use a refactor. This issue can be used to track the places needing refactor.

- [x] Separate aws-k8s and aws-ecs logic in `aws_resources.rs`
- [x] Create a crd input type that can be passed into functions instead of a set of args
- [x] Reconsider the ways labels are created

**Any alternatives you've considered:**

[2022-10-28 17:49] webern commented on #2257
I would be interested in working on this. The key issue is that we support returning a `&str` of `inner` and the only way to do that is to store a `String` internally. So we would need to either forego some of the "stringyness" of these types, or we would need for them to have a way to store both the `String` representation *and* the actual desired inner type.

Edit:

Basically think of it like th

[2022-10-28 18:12] jpculp opened #2534 "Improve `docker-go` interface"
The only safe way to use `docker-go` is to pass a single argument to `--command`. Anything else would lead to unexpected behavior, for example `docker-go --command foo bar baz` is indistinguishable from `docker-go --command foo 'bar baz'` and `docker-go --command foo --module-path bar` will both pass `--module-path bar` to `foo`, and actually modify the script's `GO_MODULE_PATH` variable.

Is it f

[2022-10-28 18:33] KeenanLawrence opened #2535 "Bottlerocket unable to launch in fully private EKS cluster"
**Image I'm using:**
1.10.0

**What I expected to happen:**
EC2 instance starts up successfully

**What actually happened:**
EC2 instance does not start up successfully

**How to reproduce the problem:**
Hi there

I have a fully private EKS cluster, i.e the control plane and data plane subnets have no route to the internet. Technically, the default route is to a network firewall which drops intern

[2022-10-28 21:26] mchaker commented on #2257
@webern Excellent! This was a particularly frustrating issue to hit, so thank you so much for offering to help. :)

[2022-10-28 22:19] ecpullen commented on #2535
Thanks for reaching out. Bottlerocket should be able to run in a private VPC (without updates). You should be able to either set the cluster-dns-ip or add a PrivateLink for EKS to your VPC for the EKS calls.
[code]
The CloudFront call was likely the metrics endpoint, and disabling metrics ping should fix it.
[code]
Since there is no connection to the tuf repos in place updates will not work, but i

[2022-10-29 15:08] stmcginnis commented on #2481
Here are the equivalent Bottlerocket settings:

## Existing

| Kublet Arg | Bottlerocket Setting |
|------------|----------------------|
| `-v` | `settings.kubernetes.log-level` |
| `--client-ca-file` | `settings.kubernetes.cluster-certificate` |

## New in v1.11.0 (or whichever release after #2536 lands)

| Kublet Arg | Bottlerocket Setting |
|------------|----------------------|
| `--tls-cert-fi

[2022-10-31 18:35] webern commented on #2463
This is pseudo-blocked by #2257, I can take this one after 2257.

[2022-10-31 22:21] bcressey opened #2538 "increase API QPS limits for kubelet 1.24"
**What I'd like:**
kubelet 1.24 should have the same QPS limits as 1.22 and 1.23.

Need to apply the change from https://github.com/bottlerocket-os/bottlerocket/commit/2fb74d534 to the 1.24 config as well.

**Any alternatives you've considered:**
Nope!

[2022-11-01 00:13] #2538 closed, assigned to arnaldo2792

[2022-11-01 12:41] KeenanLawrence commented on #2535
Thanks for the response, Ethan.
There's no PrivateLink for EKS, so we've set the `cluster-dns-ip` explicitly. This removed the EC2 API calls.
We've also set `settings.metrics.send-metrics = false` and this removed the CloudFront call. Should this be a blocking call though? It seems a bit weird that the instance doesn't start because it can't send metrics. It should fail with messages in the log an

[2022-11-01 12:41] #2535 closed, assigned to nobody

[2022-11-01 17:33] webern commented on #2535
Perhaps it could be better documented, but the design is for the instance to start regardless of whether health metrics pings succeed or not. The error is reported, but the program exits zero and the systemd oneshot service succeeds. The code is here:

https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/metricdog/src/main.rs#L124..L126

[2022-11-01 23:06] WilboMo opened #2544 "Bottlreocket 1.10 nodes unable to join cluster with AWS CNI 1.11.4/1.9.1"
**Image I'm using:**

ami-0b02342c30845ae5a - EKS 1.21,  Bottlerocket 1.10

**What I expected to happen:**
When new nodes attempt to join the cluster they should successfully join and be schedulable.

**What actually happened:**
New nodes are stuck in a "not ready" state waiting on IPAMD/API Server.

container logs:
[code]

`/var/log/aws-routed-eni/ipamd.log`:
[code]

The issue is not present when

[2022-11-01 23:14] etungsten commented on #2544
Hi Will! Thanks for the issue. We'll take a closer look at this in a bit.

[2022-11-02 01:13] WilboMo commented on #2544
Hey Erikson! Thanks a ton, appreciate it. Send my regards to the team! :)

[2022-11-02 01:41] arnaldo2792 commented on #2544
:wave: :tada: Hi Will!

[2022-11-02 17:08] arnaldo2792 commented on #1583
We already mount the directories where the logs are stored, in all host containers:

https://github.com/bottlerocket-os/bottlerocket#logs

We just need a way to call `logdog` to generate the logs.

[2022-11-02 17:12] arnaldo2792 commented on #2199
We just need to update the commands that logdog runs, right?

[2022-11-02 17:17] stmcginnis commented on #1435
We have since moved past this kernel version and don't believe it is still an issue. Closing, but feel free to reopen a new issue if there is anything else related.

[2022-11-02 17:17] #1435 closed, assigned to nobody

[2022-11-02 17:24] stmcginnis commented on #293
Need to investigate if we can get rid of the shim now. Possibly using https://github.com/rustls/rustls-native-certs?

[2022-11-02 17:27] etungsten commented on #1594
According to https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-1275961318, this issue has been fixed in EKS v1.22.6-eksbuild.1. And the workaround with adding `--hostname-override=$(NODE_NAME)` the `kube-proxy` invocation still works if people are still running into this issue. Closing this issue for now.

[2022-11-02 17:27] #1594 closed, assigned to nobody

[2022-11-02 17:53] etungsten commented on #2544
I'm having a bit of trouble replicating this.
I created an EKS 1.21 cluster with `eksctl create cluster --version 1.21  --node-ami-family Bottlerocket` and all the `Bottlerocket OS 1.10.1 (aws-k8s-1.21)` nodes came up. The default `aws-vpc-cni-k8s` plugin version deployed was `v1.10.1-eksbuild.1`, so I bumped that up to `v1.11.4` with `kubectl apply -f https://raw.githubusercontent.com/aws/amazon-

[2022-11-02 18:24] WilboMo commented on #2544
We validated the SG and networking configuration and were able to rule that out when no changes were made and dropping the BR version to < 1.10 allowed the nodes to join the cluster. One thing that may be the missing variable here is we're using Cilium v1.12.1, do you encounter the issue if thats in play?

Apologies for not including that before, I believed we had ruled it down to BR + CNI version

[2022-11-02 18:25] WilboMo commented on #2544
@arnaldo2792 Howdy! 🎆 🥳

[2022-11-02 18:28] WilboMo commented on #2544
One other data point that may or may not be useful is this cluster was originally stood up around k8s v1.15.

[2022-11-02 19:15] webern commented on #2257
Oh hey, looks like I've been wanting to work on this for a while. Here's an issue I created and assigned to myself when I saw how wonky our enum pattern is in the model #1501

[2022-11-02 19:15] webern commented on #1501
This is blocked by #2257
Once the blocker is done I will make our enums less wonky.

[2022-11-03 00:25] etungsten commented on #2544
Hi @WilboMo, I was able to install cilium v1.21.3 (it seems like they removed v1.21.1) in CNI chaining mode to work with AWS VPC CNI following these instructions: https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-aws-cni/. I launched new nodes into the clusters and they're becoming `Ready` as expected:
[code]
[code]
[code]
[code]

Is your cilium set up similar to the instructions I link

[2022-11-03 00:38] bcressey opened #2546 "gratuitous package rebuilds after changing the variant manifest"
**Platform I'm building on:**
Linux

**What I expected to happen:**
When I modify `Cargo.toml` for a variant, any packages that make use of image feature flags should be rebuilt. Packages that aren't sensitive to variant changes should not be rebuilt.

**What actually happened:**
All the packages got rebuilt, as a result of the change in https://github.com/bottlerocket-os/bottlerocket/commit/eb44f

[2022-11-03 20:40] #2546 closed, assigned to bcressey

[2022-11-03 21:38] #2481 closed, assigned to stmcginnis

[2022-11-03 23:50] stefansundin commented on #1911
In my opinion this issue should probably stay open until there's a configuration option to set up swap (e.g. a list of `[[swap]]` configurations that let you configure multiple swap files each with a location and size). And the bootstrap container approach currently only works with ECS and not Kubernetes.

[2022-11-04 00:19] etungsten commented on #1639
@zmrow do you think this issue can be closed?

[2022-11-04 00:30] etungsten commented on #2510
The other approach is described in https://github.com/bottlerocket-os/bottlerocket/issues/1845. We should decide if we want to pursue that in which case would completely deprecate `pluto`

[2022-11-04 09:19] xinfeingxia85 opened #2552 "Bottlerocket v1.10.1 has no file `/usr/bin/stunnel5` using aws-efs-csi-driver"
**Image I'm using:**
Bottlerocket: v1.10.1

**What actually happened:**
The EFS works no well using EKS 1.23,  so that some pods can't mount EFS storage and are stuck in the CrontainerCreate phase all the time.

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/20057242/199936212-943c2f44-fb39-45e9-87a0-9ca48cec493f.png">

**What I expected to happen:**
The EFS works wel

[2022-11-04 11:57] foersleo commented on #2289
There is some differences in the 5.10 kernel between the configs for x86_64 and aarch64 configurations we include from our upstream.

[ ] `aarch64` includes a bunch of IR drivers we do not need that are not in `x86_64`, see chain `RC_CORE` -> `RC_DECODERS` -> `IR_*_DECODER`
[ ] `aarch64` has some USB host controller drivers built-in vs. built as module for `x86_64`, see `USB_*HCI*`

[2022-11-04 13:33] #1702 closed, assigned to stmcginnis

[2022-11-04 13:40] stmcginnis commented on #2481
Updated the previous comment with the final names of the settings. This should be in the v1.11.0 release.

[2022-11-04 13:42] bcressey commented on #2552
`/usr/bin/stunnel5` (and all other programs that a CSI driver needs) should be coming from the container.

So this is most likely an issue with the EFS CSI driver, though something about Bottlerocket in 1.10 might be triggering new behavior.

Can you confirm that you're using the same EFS CSI driver deployment across the two versions?

[2022-11-04 17:14] #2199 closed, assigned to etungsten

[2022-11-04 17:15] #2015 closed, assigned to nobody

[2022-11-04 17:15] #293 closed

[2022-11-04 23:37] #2483 closed, assigned to arnaldo2792

[2022-11-07 01:14] xinfeingxia85 commented on #2552
Yes, I used the EFS CSI driver v1.3.8 and Bottlerocket v1.9.2 / v1.10.1.

The EFS CSI driver v1.4.2 and Bottlerocket v1.9.2 are used in the production environment,  but it works fine. If Bottleroket is upgraded to v1.10.1,   it will make an error that the file `/usr/bin/stunnel5` is not found.

Maybe  one component using the file `/usr/bin/stunnel5` or `/usr/bin/stunnel`  in the EFS CSI driver has

[2022-11-07 09:04] baichinger opened #2556 "Kubelet volume relabel fails for Dynatrace OneAgent CSI volumes"
**Image I'm using:**
Bottlerocket OS 1.10.1 (aws-k8s-1.23)

**What I expected to happen:**
Dynatrace OneAgent CSI volumes work on Bottlerocket.

**What actually happened:**
1. Dynatrace OneAgent CSI driver successfully mounts the volume to the pod:
[code]
2. Kubelet tries to relabel the files and fails:
[code]
3. Pod is blocked from starting up with status `Init:CreateContainerError`.

**Additiona

[2022-11-07 18:48] etungsten commented on #2556
Thanks for the issue. We'll take a closer look. In the meantime, if you are able to reach the admin container on the host, can you try retrieving system logs and checking what AVC denial messages show up? Here is one of the ways to gather logs on Bottlerocket: https://github.com/bottlerocket-os/bottlerocket#logs.

[2022-11-07 19:34] joewilliams commented on #2469
I think I am running into similar problems as the OP. In our case we are migrating from AL2 and using `dhclient`. We are attempting to use the official Bottlerocket AMI with multiple ENI interfaces (both v4 and v6). Thus far I've only managed to get eth0 working as expected.

In the case of the other interfaces minimally it seems to require manually adding IPs via the admin container. Updating the

[2022-11-07 21:26] zmrow commented on #2469
@joewilliams You mentioned the official Bottlerocket AMI so I'm assuming you're using an AWS variant.  This issue isn't really applicable to AWS variants since the majority of network config is handled via CNI plugins, not via `net.toml`.  If you continue to see issues with your setup or need some additional help - let's open up a new issue or [start a discussion](https://github.com/bottlerocket-o

[2022-11-07 21:37] joewilliams commented on #2469
@zmrow Thanks! Right, the CNI network stuff is working great. We also have host-based networking config in addition to what the CNI is doing.

[2022-11-07 22:52] etungsten commented on #2552
Hi @xinfeingxia85, I found this issue https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/812 that seems relevant and it looks to be a widespread issue not limited to Bottlerocket. Bottlerocket itself does not package `efs-utils`. Reading the issue over there it seems like there was a regression in the `aws-efs-csi-driver` image in 1.4.3 that they're trying to fix. Can you check if your d

[2022-11-08 01:01] etungsten commented on #2552
It seems like they pushed out a new 1.4.4 release to address this issue. Can you please try that out and see if the issue still comes up? https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/CHANGELOG-1.x.md#v144

[2022-11-08 04:03] bcressey commented on #2501
I dropped the task related to a separate firmware build step, since @markusboehme has a patch that allows embedding the GPG public key into a section in the grub binary, which allows for "just in time" key modification without the need to rebuild `grub` from source.

[2022-11-08 07:29] baichinger commented on #2556
These are the messages logged repeatedly:
[code]
Do you need the archive from `logdog` as well?

[2022-11-08 09:07] xinfeingxia85 commented on #2552
OK, I am going to verify that.

Thank you!

[2022-11-08 16:43] bcressey commented on #2556
What is the backing storage for OneAgent CSI volumes like this?
[code]

Based on the logs, I would guess that it might be backed directly by a host directory bind-mounted into the CSI driver, which is then bind-mounted onto the pod's mount point. `kubelet` is (correctly) working out that the underlying filesystem supports SELinux, and marks the volume for relabeling, and then `containerd` can't ac

[2022-11-08 18:46] baichinger commented on #2556
Your analysis is correct. The details to this are:
* OneAgent CSI stores agent files in `/var/lib/kubelet/plugins/csi.oneagent.dynatrace.com/data` on the host.
* Volume consumers (monitored application pods) get an overlayfs compound of
  * agent files (binaries) - ro
  * per pod configuration - rw

This saves (a) network bandwidth as agents get downloaded only once per node, and (b) disk storage

[2022-11-08 23:06] bcressey commented on #2556
Ideally the configuration would work on Bottlerocket. AL2 doesn't enable or enforce SELinux by default, and might not have a policy that covers this specific interaction, so it's not a 1:1 comparison.

[code]

That seems like progress of sorts, since that relabel transition is something that it might make sense for the SELinux policy to permit. A privileged subject (`control_t:s0-s0:c0.c1023 `) is

[2022-11-08 23:51] munjalpatel commented on #2008
@etungsten any plans to move to kernel 5.18 instead of 5.15 now that it's out?

5.18 will allow us to start leveraging BBR congestion control for Pods
https://docs.cilium.io/en/v1.12/operations/performance/tuning/#bbr-congestion-control-for-pods

[2022-11-09 01:20] etungsten commented on #2008
Hi @munjalpatel, we currently don't have any immediate plans to add another kernel to the mix. It is possible a new LTS kernel will appear for newer variants towards the end of 2023.

[2022-11-09 17:30] #1960 closed, assigned to rpkelly

[2022-11-09 17:45] baichinger commented on #2556
Yes, you identified the right spot.

The switch to `emptyDir` has indeed effects which we need to assess. As soon as the CSI pod gets deleted (i.e. restarted), the backing store (data-dir) gets removed and therefore overlayfs loses its lowerdir. File access is possible to some extent if file names are known, walking the directory tree is not. To be honest, this seems not very promising to me.

Alt

[2022-11-09 19:56] #2214 closed, assigned to nobody

[2022-11-09 20:25] etungsten commented on #1639
EKS-A has a CAPV provider that lets users deploy Bottlerocket cluster nodes:
https://anywhere.eks.amazonaws.com/docs/getting-started/production-environment/vsphere-getstarted/

[2022-11-09 20:25] #1639 closed, assigned to nobody

[2022-11-09 20:44] vpnda opened #2567 "Cannot restart Kubelet when there is no network connection"
**Image I'm using:**
bottlerocket-aws-k8s-1.21-x86_64-v1.8.0-a6233c22

**What I expected to happen:**
When I reboot my machine when there is no network connection, I am expecting `kubelet` to come back online or to at least see the process failing to start. If there is no network connection, I should see the `kubelet` running on the cached container.

**What actually happened:**
The container in w

[2022-11-09 23:24] mchaker commented on #1703
The implementation and testing of this feature is taking longer than initially anticipated.
Unfortunately it is not going to make it into 1.11.

Apologies for the delay and thank you for your understanding.

[2022-11-10 17:07] bcressey commented on #2556
Ah, I had missed that overlayfs was in use. That explains one of the oddities - why even though `containerd` (which runs as `runtime_t`) is doing the relabel, the errors are for `control_t`. With overlayfs, a copy of the mounter's credentials is saved and also used for access checks. So we end up checking the `containerd` creds (which have permission to relabel) and the CSI plugin's (which don't).

[2022-11-10 20:36] #2370 closed, assigned to etungsten

[2022-11-11 00:06] jpculp commented on #2567
Hi @vpineda1996, can you expand a bit on your use case? Network access is required to pull ECR credentials, but also pulling a fresh container on reboot resets you back to an unmodified state (excluding the files under the persistent storage locations).

[2022-11-11 01:02] #2359 closed, assigned to markusboehme, etungsten

[2022-11-11 05:50] bcressey commented on #2567
@jpculp the attempt to pull the pause container via `host-ctr` doesn't complete before `systemd` gives up, which means that `kubelet` never gets started:
https://github.com/bottlerocket-os/bottlerocket/blob/64be2f25684d0c30b8b639f6280f2fbe733ba81c/packages/kubernetes-1.24/prestart-pull-pause-ctr.conf#L2

There should be a better way to deal with this in the detached network case, where there's alr

[2022-11-11 15:00] Cajga opened #2570 "Metal: Support iSCSI initiator and NFS client for EKS-A Bare Metal persistent storage"
**What I'd like:**
We would like to use Bottlerocket for EKS-A Bare Metal in our DC. For persistent storage, we are going to use NetApp and their [Astra Trident (formerly known as Trident)](https://docs.netapp.com/us-en/trident/) CSI driver solution.
When a PVC is created in EKS-A, Astra Trident will create iSCSI or NFSv4 volumes on our NetApps clusters (and respective PVs in EKS-A) and bind these

[2022-11-11 17:27] yeazelm commented on #2369
I have a working configuration and the code is soon to be in code review for this work. The config has ended up looking something like this:
[code]
For example, bond0 would look something like this on the actual box:
[code]

We will also be adding in support for vlan tagging in the PR so they should all work together:
[code]
I'll update the ticket with the PR when its out.

[2022-11-11 17:30] zmrow commented on #2570
HI @Cajga - thanks for the request!

We'll have to take a deeper look at this CSI driver and its requirements.  It's interesting that the packages are required host side vs. in the CSI daemonset.  Outside of the mentioned packages, we'll also need to figure out what other assumptions are made about the host that wouldn't be true for Bottlerocket, i.e. the existence of a shell, etc.

We don't curre

[2022-11-11 17:36] Cajga commented on #2369
@yeazelm This looks awesome. We will give it a try in our env once it is ready.

[2022-11-11 18:01] Cajga commented on #2570
Hi @zmrow,

Thanks for looking into this.

Well, we have use cases for both iSCSI and NFSv4 (we have been using NetAPP + Trident in EKS on Outpost). We have iSCSI as default storage class in our clusters (with xfs on top) which is used in about 95% of the cases. There are few cases when we need ReadWriteMany (RWX) volumes then we use the nfsv4 storage class. We would need to take a look if we coul

[2022-11-11 18:26] Cajga commented on #2570
Maybe relevant and could help a bit in planning (id is not generated at install time):
In RHEL9, the `/etc/iscsi/initiatorname.iscsi` file (which contains the id like InitiatorName=iqn.1994-05.com.redhat:a5a8dd56f673 ) gets created at the first start of the iscsid.service and not at install time.

[2022-11-11 18:45] ecpullen opened #2571 "testsys: Use `Test.toml` for controller image uri in `testsys install`"
**What I'd like:**

Currently `testsys` has a default image location for the controller, but won't use the registry provided in `Test.toml`. Instead, `Test.toml` should be used in `testsys install`.

**Any alternatives you've considered:**

[2022-11-11 18:48] ecpullen opened #2572 "testsys: Provide better filtering for `testsys status`"
**What I'd like:**

If many tests are being run, there will be many columns in `testsys status` and not all are visible when using `cargo make watch-test`. A set of filtering methods should be implemented for the `status` command to limit status results.

**Any alternatives you've considered:**

[2022-11-11 19:38] #2310 closed, assigned to stmcginnis

[2022-11-11 19:40] stmcginnis commented on #2310
This support has merged, but I wanted to point out the final implementation is slightly different than what was originally requested in this issue. Please take a look at the current settings in the `README` file for `settings.kubernetes.credential-providers`.

[2022-11-14 16:18] WilboMo commented on #2544
Sorry for the late reply on this, but we got the problem figured out. There was a label issue which slipped under our radar that was causing the node join issue. Appreciate you looking into this!

[2022-11-14 16:18] #2544 closed, assigned to nobody

[2022-11-14 17:36] vpnda commented on #2567
Hey @jpculp, I think @bcressey has an idea of what I want to achieve. I think I might have phrased my requirements incorrectly, making you believe that I wanted to use the same instantiation of the `pause` container after `kubelet` is restarted. This in fact NOT what I meant to say.

I want to reuse the cached `pause` image that was pulled and cached inside the host. That means that after the `kub

[2022-11-14 17:37] vpnda commented on #2567
I submitted a similar fix for the EKS AMI. https://github.com/awslabs/amazon-eks-ami/pull/1090

[2022-11-14 20:11] markapruett opened #2577 "Update Kubernetes to version 1.23.13"
**What I'd like:**
Current version is 1.23.7. Recently released version of EKS-D is 1.23.13

**Any alternatives you've considered:**

[2022-11-14 20:29] markapruett opened #2579 "Update Kubernetes 1.22 to latest patch version"
**What I'd like:**
Current version is 1.22.15. Recently released version of EKS-D is 1.22.15 but with additional patches.

**Any alternatives you've considered:**

[2022-11-14 20:39] markapruett opened #2581 "Update Kubernetes 1.24 to latest patch version"
**What I'd like:**
Current version is 1.24.6. Recently released version of EKS-D is 1.24.6 but with additional patches.

**Any alternatives you've considered:**

[2022-11-15 16:01] yaroslav-nakonechnikov commented on #2288
@L3n41c am i understand correct, that after `bootstrap container` collect data, you are able to get its content from another `host container` via `/.bottlerocket/rootfs/var/lib/cloud/data/instance-id`?
or path should be `/var/lib/cloud/data/instance-id`?

[2022-11-15 17:10] L3n41c commented on #2288
Hello,
After the bootstrap container has run, there is a `/var/lib/cloud/data/instance-id` file on the host. So, it is accessible to any container thanks to a `hostPath`.

[2022-11-15 19:23] stmcginnis commented on #2581
Resolved by https://github.com/bottlerocket-os/bottlerocket/pull/2582

[2022-11-15 19:23] #2581 closed, assigned to nobody

[2022-11-15 19:24] stmcginnis commented on #2579
Resolved by https://github.com/bottlerocket-os/bottlerocket/pull/2580

[2022-11-15 19:24] #2579 closed, assigned to nobody

[2022-11-15 19:24] stmcginnis commented on #2577
Resolved by https://github.com/bottlerocket-os/bottlerocket/pull/2578

[2022-11-15 19:24] #2577 closed, assigned to nobody

[2022-11-15 21:54] nkvetsinski opened #2585 "Hostname resolution"
**What I'd like:**
Have more robust mechanism when BR sets the hostname of the instance. Currently we have:

If the reverse lookup fails then the IP is used as hostname, maybe we can also check EC2 (DescribeInstance or maybe IMDS `http://169.254.169.254/latest/meta-data/hostname`)?

I would also want to know are there any retries to the initial DNS reverse lookup?

**Any alternatives you've consid

[2022-11-16 08:35] yaroslav-nakonechnikov commented on #2288
aha, i see. in that case it is clear, thanks.

[2022-11-16 18:49] webern commented on #2572
Looks like this should be linked https://github.com/bottlerocket-os/bottlerocket-test-system/issues/656

[2022-11-16 19:58] cbgbt commented on #2585
Thanks for cutting this issue!

Good idea, this seems like a good idea for `aws` variants. I'll do a bit more looking to see if there are any gotchas with that approach.

It seems like there aren't. We [don't perform retries on the Bottlerocket side](https://github.com/bottlerocket-os/bottlerocket/blob/b530f30850d58ad84a8b0ded2e08fa91d554c7a8/sources/api/netdog/src/cli/generate_hostname.rs#L22) an

[2022-11-16 20:17] webern opened #2586 "GitHub Actions should ensure generated readmes are in sync with lib.rs/main.rs files"
During GitHub actions runs, we should make sure the `README` files generated by various` build.rs` files are not changed. If we made a change to a `lib.rs` file's crate-level documentation without committing the resultant diff to the generated `README`, would our current GitHub actions CI catch this? If so, close this issue! If not, then we should consider adding that logic to our GitHub CI checks

[2022-11-17 07:11] baichinger commented on #2556
Making the mount read-only is be possible indeed. Would that be enough to stop kubelet from relabeling? What is necessary to stop kubelet from relabeling?

[2022-11-17 08:19] nkvetsinski commented on #2585
Thanks for picking up this!

[2022-11-17 18:31] bcressey commented on #2556
From a quick look at the code, it isn't clear to me that kubelet would skip marking the volume for relabeling if it was read-only, but it seems like it'd be a bug in the CRI implementation in containerd if it actually tries to relabel a read-only volume.

[2022-11-17 19:10] aktech commented on #2362
By the way, if you want a no-maintenance method to achieve that, you can use [cirun.io](https://cirun.io) for the same.

[2022-11-17 22:49] jpmcb opened #2589 "Bottlerocket migration eats all available disk space from old version"
**Image I'm using:**

- Bottlerocket 1.0.5 aws-ecs-1 x86: `ami-0fae9eeb7a17df155`
- m5.xlarge with the default 2GB boot disk and additional 20GB storage disk

**What I expected to happen:**

When attempting an upgrade, I expect upgrades in place to work (even when having to migrate through many versions of bottlerocket).

**What actually happened:**

However, when attempting to use an old AMI with

[2022-11-17 23:20] jpmcb commented on #2589
Hmmmmm I seem to get the same type of error on a m5.xlarge host with 50gb root volume and an additional 250gb disk volume. But looks like we are running [the migrations from memory](https://github.com/bottlerocket-os/bottlerocket/blob/67e5abfb0e1575fb6bcb7a710cdb3d422ef12283/sources/api/migration/migrator/src/main.rs#L268-L270). The m5.xlarge hosts I was using have 16GB memory.

Even on a host wit

[2022-11-17 23:28] etungsten opened #2591 "update wicked to 0.6.70+"
**What I'd like:**
Update wicked to [v0.6.70](https://github.com/openSUSE/wicked/releases/tag/version-0.6.70) or above.
We attempted the update in https://github.com/bottlerocket-os/bottlerocket/pull/2588 but ran into wicked service failures.

If https://github.com/bottlerocket-os/bottlerocket/issues/2449 lands, then we can close this issue.

[2022-11-17 23:52] etungsten commented on #2591
If we do bump to 0.6.70, we can remove `libiw` thanks to https://github.com/openSUSE/wicked/issues/910

[2022-11-18 17:46] jpmcb commented on #2589
### Experiment

##### Methodology

Start ECS variants starting at v1.0.6 using m5.2xlarge hosts (32gb memory), 20gb root volumes, and 200gb additional volume. Then, via an SSM session, apply an update manually via `apiclient update check` and `apiclient update apply`. Finally, reboot the instance and observe boot logs via EC2 serial console.

##### Results
Able to upgrade from `v1.0.8` to `v1.10.1

[2022-11-18 17:49] #2533 closed, assigned to ecpullen

[2022-11-18 18:10] etungsten commented on #2589
Can you check how many migrations there are we're running from `/var/lib/bottlerocket-migrations/`? I wonder if we're hitting some weird `memfd` limit with pentacle.

[2022-11-18 18:44] jpmcb commented on #2589
On a fresh host, before applying the update, here are the migrations it downloads:

[code]

---

[code]
so minus the first 3 lines, that would be 75 migrations from 1.0.8 to 1.10.1.

[2022-11-18 20:19] jpmcb commented on #2589
After some investigation off-line with the team, looks like we are creating additional datastores on the `/var/lib/bottlerocket` partition which has limited storage:

https://github.com/bottlerocket-os/bottlerocket/blob/67e5abfb0e1575fb6bcb7a710cdb3d422ef12283/sources/api/migration/migrator/src/main.rs#L279-L281

We'll want to consider what to do with this use case in the future and possibly dropp

[2022-11-21 19:38] dschaaff opened #2598 "support serialize image pulls kubelet setting"
**What I'd like:**
We'd like to be able to pass the [serializeImagePulls](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/) setting to the kubelet.

**Any alternatives you've considered:**

We could build a custom AMI but that is a lot of overhead for this 1 settings.

[2022-11-21 22:51] bcressey opened #2599 "image_id SSM parameters should use `aws:ec2:image` data type"
**What I'd like:**
I'd like for the `image_id` parameters to have the `aws:ec2:image` data type, so that they can be used directly by the EC2 RunInstances API.

[code]

The `image_version` parameters should continue to use the `text` data type.

Note that the data type can't be changed for existing parameters.

**Any alternatives you've considered:**
Alternatives for dealing with existing paramete

[2022-11-21 23:02] stmcginnis commented on #2598
Hey @dschaaff - thanks for filing this request.

I was wondering if you could share a little more about what your goals are. The default kubelet setting is for this to be `true`, but for historical reasons Bottlerocket has this hardcoded to be `false`. I'll have to see if there is still a strong reason why we override that default, but understanding what you are trying to accomplish might help to

[2022-11-21 23:03] zmrow opened #2600 "`sundog` should log stderr even if the generator process returns 0"
`sundog` [doesn't log anything](https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/api/sundog/src/main.rs#L350) in the case a setting generator returns 0.

This means that setting generators don't have any way to log errors/warnings to a user, even in the case they can continue and finish properly.

A good example of this is the generator for hostname: [`netdog generate-hostname`

[2022-11-22 14:49] samjo-nyang opened #2602 "Support env in `CredentialProviderConfig`"
**What I'd like:**
Hi, I'd like to add some custom environment variables to the credential provider config, such as
[code]
and it transforms into the following.
[code]

Also, I have a question of the following line - how does this work?
https://github.com/bottlerocket-os/bottlerocket/blame/develop/packages/kubernetes-1.24/credential-provider-config-yaml#L18

Since the line is in the "#each" contex

[2022-11-22 15:17] stmcginnis commented on #2602
Regarding this part:

~These don't end up being relative references, but are actually resolved to objects. So inside an `#each` block you can refer to the currently iterating item using `this`, but you can also refer to specific settings objects as is being done with the `settings.aws.profile` piece.~ Now I see what you were saying! Luckily that's been fixed.

Just to make sure I understand the ba

[2022-11-22 15:19] youwalther65 opened #2603 "resource-based host naming for Bottlerocket EKS managed node group shows wrong K8s host label"
**Image I'm using:** ami-04873d98593df42ef

**What I expected to happen:**
I did an clean installation of an EKS cluster with VPC subnets enabled for resouce-based host naming. I expect the K8s host name and K8s label kubernetes.io/hostname are nwo based on resource-based host naming.
AL2 works this way - example for node i-0c6ac84xxx - NAME and HOSTNAME uses host-based naming "i-0c6ac84xxx.eu-wes

[2022-11-22 16:50] dschaaff commented on #2598
🤦 Setting it to false is what I actually want. I read the setting wrong yesterday apparently. Apologies for the noise.

[2022-11-22 16:50] #2598 closed, assigned to stmcginnis

[2022-11-22 17:13] stmcginnis commented on #2598
Awesome - no worries. Glad it is actually what you need! 🎉

[2022-11-22 17:22] alegermer commented on #2585
Hello @cbgbt, thanks for looking at this, just checking if you already have any clearer feasibility and estimate info regarding this improvement to BR. We are seeing this issue manifesting more often than we expected so we are analyzing what are our short-term options.

[2022-11-22 18:10] jpmcb commented on #2603
I was able to reproduce

- Modified a subnet with:
[code]
- On a new EKS cluster with a new node group, i created 2 bottlerocket nodes to use that subnet. I see the `name` has been modified but the `kubernetes.io/hostname` label is different:
[code]
- On my host, attached via ssm, the hostname is _not_ correct:
[code]

Looks like the call to `os.Hostname` in Go (which `kubelet` is using behind the

[2022-11-23 06:52] youwalther65 commented on #2603
@jpmcb Thank you, good point. Because the subnet has "-enable-resource-name-dns-a-record-on-launch" I would expect the AWS cloud provider to derive the resource-based node name but let me check.
1. I just checked an AL2 instance in same subnets for hostname etc.
[code]

2. I installed bind-utils and checked DNS resolution.  I am confused because the VPC DNS resolver doesn't resolve the name even o

[2022-11-23 17:50] zmrow commented on #2570
@Cajga do you know if there are other host requirements besides the nfs/iscsi packages mentioned?

[2022-11-23 19:38] webern commented on #2585
related? #2603

[2022-11-23 22:51] cbgbt commented on #2585
@nkvetsinski and @alegermer could you possibly elaborate on what symptoms you are seeing that prompted this issue?

I'm curious if @webern is correct in that #2603 is related, in which case using IMDS would still get us the hostname based on the private IP address of the instance, rather than a resource-based one.

[2022-11-23 23:08] nkvetsinski commented on #2585
@cbgbt I'm not sure if the two issues are related but in our setup we use `IP Name` as hostname type and we don't have `Enable resource name DNS A record on launch` enabled. What we observed was that the private DNS name (observed from EC2) was something like: `ip-10-0-4-6.us-west-2.compute.internal` however, the local hostname on the machine was `10.0.4.6` which lead us to believe there was an in

[2022-11-24 07:58] Cajga commented on #2570
@zmrow well, let me collect what I am aware of:
* for iSCSI, when the daemonset starts, it tries to read the initiator ID from the /etc/iscsi/initiatorname.iscsi file. For each node, this ID must be persistent and unique. As such, it should not be included at image build time but rather generated during install of a node (note: as I mentioned above, depending on the OS, this file may get generated

[2022-11-24 12:45] wonderland commented on #2570
It might be worth noting that the Trident CSI driver is also used to integrate AWS FSx Ontap with EKS clusters: https://docs.aws.amazon.com/eks/latest/userguide/fsx-ontap.html

Same requirements apply.

Solving this will therefore not just be relevant for EKS-A bare metal, but also for EKS (with bottlerocket).

Storage access is always from the host. The CSI driver orchestrates it but does not sit

[2022-11-28 09:40] behradeslamifar commented on #2589
Same problem for 1.7.2 -> 1.11.0 in EKS
I'm using brupop to update my cluster. A node goes to an unknown state in the cluster with the same error.
Is there any solution?

[2022-11-28 14:11] #2516 closed, assigned to ecpullen

[2022-11-28 18:39] jpmcb commented on #2589
Hi @behradeslamifar - thanks for surfacing this!

A work around would be to upgrade to a "pivot" version and _then_ upgrade to `1.11.0`. You'll want to use [the `settings.updates.version-lock` setting](https://github.com/bottlerocket-os/bottlerocket/blob/develop/README.md#updates-settings) to "lock" to some intermittent version.

Maybe try setting the locked version to `1.9.0` and see if that'll u

[2022-11-28 21:57] webern commented on #2589
I mocked up a code change to migrator to prevent the problem (though there's no way to backport a fix into earlier versions of Bottlerocket, so the issue will only be fixed when migrating *into* or *between* versions that have the fix).

I can take this issue unless someone else wants it.

[2022-11-29 22:06] etungsten opened #2614 "pubsys, QUICKSTART: upload OVAs via vSphere's content library instead of directly to the inventory"
**What I'd like:**
To better support downstream users of the vmware variant of Bottlerocket, we should align with EKS-A's vSphere provisioning process as much as possible. Their process involves importing OVAs via vSphere's content library through `govc library.import` instead of directly to the inventory through `govc import.ova`.

The vSphere content library apparently does additional checks aga

[2022-11-29 23:46] zmrow opened #2615 "Network configuration: Provide an `accept-ra` option for IPv6 DHCP"
**What I'd like:**
I'd like to be able to configure the ability for an interface to accept Router Advertisements.  This is an important option, especially for ENI's in IPv6 enabled VPC's on AWS.

Ideally this would be a boolean option inside an interface's `dhcp6` section in `net.toml`:
[code]

**Any alternatives you've considered:**
* Setting sysctl's for an interface via settings: This doesn't w

[2022-11-29 23:47] zmrow commented on #2615
Related to: https://github.com/bottlerocket-os/bottlerocket/discussions/2561

[2022-11-30 21:46] nairb774 opened #2617 "SSM Parameter pointing at missing AMI?"
**Image I'm using:**

Trying to use the Kubernetes 1.22 x86_64 AMI but the SSM parameter seems to point at a missing image.

**What I expected to happen:**

The SSM parameter ` /aws/service/bottlerocket/aws-k8s-1.22/x86_64/latest/image_version` would point to a version (`1.11.1-104f8e0f` right now), which would allo looking up an SSM parameter (`/aws/service/bottlerocket/aws-k8s-1.22/x86_64/1.11.1

[2022-11-30 21:53] nairb774 commented on #2617
Looks like the 1.21 images are impacted as well:

[code]

[2022-11-30 22:20] stmcginnis commented on #2617
Thanks for raising this! Checking into how this happened yet, but it does look like there was an error marking the AMIs public. The SSM data is being rolled back to v1.11.0 for now and will be updated as soon as the AMIs can be verified as actually public.