[2020-09-11 00:58] chathsuom commented on #815
@samuelkarp Thanks. Yea I think we can use task definition level stopTimeout. We used do it global level, but that's ok.
For Ports, our real requirement is to use our own custom build SSH container. I am not sure I can use Admin controller to facilitate this

[2020-09-11 00:59] samuelkarp commented on #1116
If you want to replace the admin container and use yours instead, you can override the image used for the admin container through the [`settings.host-containers.admin.source` setting](https://github.com/bottlerocket-os/bottlerocket#host-containers-settings).  If you want to customize and extend the default admin container image, you can find the source for it [here](https://github.com/bottlerocket

[2020-09-11 01:07] chathsuom commented on #1116
Is there any requirement that a custom admin container should meet or any image can be used as an admin container?

[2020-09-11 01:22] samuelkarp commented on #1116
You can use any image you want, but our default one has some useful things you might want to include in your image.  You mentioned that you've got your own SSH config, but for reference we use [this script](https://github.com/bottlerocket-os/bottlerocket-admin-container/blob/develop/start_admin_sshd.sh) as the default command to start the container (which grabs the right public key and runs sshd)

[2020-09-11 22:33] etungsten opened #1117 "pubsys: commands to validate TUF repositories and refresh their metadata"
**What I'd like:**
I would like a simple way of validating a list of TUF repositories and/or refreshing their metadata.

**Proposal:**
Add new subcommands in pubsys:
- `validate-repo`
  - Loads the TUF repositories and tries to retrieve a specified percentage of the targets.
- `check-upcoming-expiration`
  - Checks for upcoming metadata expirations in all the listed TUF repositories
- `refresh-rep

[2020-09-14 04:52] DylanSale commented on #841
We'd love a way to remotely manage our edge device docker containers (which are raspberry pi CM3 based) via k8s/eks. We looked at kubeedge but it was a lot over overhead to set up. Greengrass was also an option but we were concerned at the amount of RAM it used. For now we are using systems manager and a custom docker-compose based deployment method.

[2020-09-14 22:02] tjkirch commented on #1095
Heheh... sadly, neither is "no such container" or "no such image", which just mean that the grub build failed and so there was no output, and "failed to run custom build command" just means we need to look for a real error above.  Sadly, it looks like the check logs were lost when they were rerun.

[2020-09-15 18:22] #1104 closed, assigned to nobody

[2020-09-17 01:13] chathsuom commented on #815
Does host-containers supports private docker registries?

[2020-09-18 21:40] bcressey commented on #1015
We're hitting SELinux denials because of two changes in v246.

https://github.com/systemd/systemd/commit/4f07ddfa9bc2242eaa6c288a15b8bce4e4383931 causes this kernel denial:
[code]

https://github.com/systemd/systemd/commit/77ee1783ebc8385013e95161427e1f945691ced0 causes this userspace denial:
[code]

(PID 286 is dbus-broker-launcher.)

[2020-09-21 17:58] bcressey commented on #862
As a start, we should document a way to build the Falco module on a Bottlerocket host, even if it's not fully automated.

[2020-09-21 20:02] ryphon opened #1123 "[ECS] Task ENI capability"
**What I'd like:**
For Bottlerocket to support enabling the ecs.capability.task-eni attribute.

**Any alternatives you've considered:**
My task requires an ENI for each individual task. This attribute capability is a hard requirement.

[2020-09-21 22:18] hendrikhalkow opened #1125 "Allow setting kernel parameters (sysctl) from instance user data"
**What I'd like:**

I'd like to to run [buildah](https://buildah.io) in non-privileged containers on Bottlerocket. For that, I have to set `/proc/sys/user/max_user_namespaces` to a value greater than zero. It would be great if I can do that from the instance user data.

**Any alternatives you've considered:**

Currently, I do that with a privileged DaemonSet. That DaemonSet has a privileged init c

[2020-09-22 00:37] samuelkarp commented on #1123
Hi @ryphon, we're tracking awsvpc support in https://github.com/bottlerocket-os/bottlerocket/issues/1077.  I'm going to close this issue in favor of that one.

[2020-09-22 00:37] #1123 closed, assigned to nobody

[2020-09-22 17:46] abhijitherekar opened #1126 "Container runtime: Kubelet says its running dockershim.sock but the runtime is containerd on `kubelet get nodes`"
**Image I'm using:**
[code]
Then when I check for kubelet I see this:
[code]

**What I expected to happen:**
I should see that the docker runtime should be present as the kubelet says its using the docker but the nodes says they are running containerd.

**What actually happened:**
Containerd was running instead of the docker-runtime.

**How to reproduce the problem:**
Create a BottleRocket EKS and

[2020-09-22 21:32] manniche opened #1128 "Providing default docker image with custom built AMI"
**Platform I'm building on:**
Linux 5.8.9-arch2-1 GNU/Linux

**What I expected to happen:**
Find information on how to provide a default image to package with Bottlerocket OS when doing a custom build

I would like to be able to include a default image with the Bottlerocket OS so that upon starting the OS, and subsequently trying to start a docker container, I would not have to wait for the image

[2020-09-22 23:08] chathsuom opened #1129 "sysctl settings"
Is there a way to set kernel parameters.
For e.g. to run elasticsearch docker, we need to set `vm.max_map_count`

[2020-09-23 22:31] etungsten commented on #1095
CI runner ran into a random segfault during unit tests:

[code]

Full log:
<details>

[code]

</details>

[2020-09-24 00:23] samuelkarp commented on #1106
We've merged https://github.com/bottlerocket-os/bottlerocket/pull/1107, so I'm going to close this issue.  Thanks for bringing it to our attention and contributing a fix!

[2020-09-24 00:23] #1106 closed, assigned to nobody

[2020-09-24 00:35] samuelkarp commented on #1114
Thanks for opening this issue! I'll echo what @jhaynes wrote on https://github.com/bottlerocket-os/bottlerocket/issues/968:

We’d love to get Bottlerocket working on Azure and are looking forward to expanding Bottlerocket's build targets. However, Azure support isn't next on our priority list. That said, we'd welcome contributions here if you have experience with Azure! We’re happy to provide guid

[2020-09-24 00:45] samuelkarp commented on #1126
Hi @abhijitherekar! The Kubelet is showing the correct output; we use containerd as the container runtime for our Kubernetes variants instead of Docker.  However, we do [override containerd's socket to be `dockershim.sock`](https://github.com/bottlerocket-os/bottlerocket/blob/0ee62e6b37bc9a1768943afdf280295f05af77ce/packages/containerd/containerd-config-toml_aws-k8s#L12-L13) because [the default a

[2020-09-24 00:45] #1126 closed, assigned to nobody

[2020-09-24 01:10] samuelkarp commented on #1128
Hi @manniche, thanks for opening this issue!  I don't believe we have an existing mechanism to facilitate this use-case today, but I can see how it would be useful to have support for cached container images.  Can you tell me a bit more about what you're looking for?  Are you using one of our Kubernetes variants, our ECS variant, or the `aws-dev` variant?

[2020-09-24 01:28] samuelkarp commented on #1125
Hi @hendrikhalkow, thanks for opening this issue!

Enabling a mechanism to customize kernel parameters at boot is something we've started to talk about a little bit, but I don't think we've come to any specific conclusions on what that should look like yet.  One of the challenges is trying to find the balance of what should be directly modeled in the Bottlerocket API versus what shouldn't.  `procf

[2020-09-24 01:42] samuelkarp commented on #1129
Hi @chathsuom! I'd like to use https://github.com/bottlerocket-os/bottlerocket/issues/1125 to track the general question of how we'd model kernel parameters in Bottlerocket, so I'm going to close this issue.  The work-around suggested by @hendrikhalkow in that issue (run a privileged container that writes the expected value to `/proc/sys/vm/max_map_count`) will likely work for you as well in the m

[2020-09-24 01:42] #1129 closed, assigned to nobody

[2020-09-24 01:48] hendrikhalkow commented on #1125
Hi @samuelkarp, sure – go ahead and change the title to something more general that covers the cases you mentioned. The only issue I have is that it's there, does nothing but using resources, but besides that, it works perfectly. Here is the DaemonSet that I use. Feed free to adopt it according to your needs.

[code]

[2020-09-24 01:54] samuelkarp commented on #1128
Here's an idea for a work-around that you could use today:  On EC2, the Bottlerocket AMIs are configured with two EBS volumes: one attached at `/dev/xvda` that contains the system software and a second attached at `/dev/xvdb` available for persistent storage (including container images).  If you launch an instance, pull images to that instance, and create a snapshot of the volume attached at `/dev

[2020-09-24 19:27] etungsten commented on #1095
Sometimes Github Actions fails to connect to CI runners
[code]
[code]

[2020-09-24 23:25] #1099 closed, assigned to nobody

[2020-09-25 00:23] zhouji3x opened #1131 "How to build image for bare metal"
I known from https://aws.amazon.com/cn/bottlerocket/ that bottlerocket support bare metal host:
"Bottlerocket is a Linux-based open-source operating system that is purpose-built by Amazon Web Services for running containers on virtual machines or bare metal hosts. "

How to build image for bare metal?

Thanks

[2020-09-25 03:20] chathsuom opened #1132 "Docker daemon settings"
**What I'd like:**
To be able to add docker daemon settings through userdata.

e.g.
[code]

[2020-09-25 16:22] samuelkarp commented on #1132
Thanks for opening this issue! Is "default-address-pools" the only setting that you're interested in using or are there other ones as well?

[2020-09-25 16:35] manniche commented on #1128
Thanks for the suggestion @samuelkarp. I'll try to test it out but would also like to have a fully automated process with not too many hacks to build out an AMI with cached images on them.

[2020-09-25 16:48] samuelkarp commented on #1128
Absolutely!  I'll re-open this issue and leave it open to track the request for a more complete design.  (If we do end up deciding that the approach I outlined is the one we want people to use, I'd like to have us document it somewhere other than an issue comment too :smile:.)

[2020-09-26 03:12] chathsuom commented on #1132
In addition we are using `"experimental" : true` flag. Thanks

[2020-09-28 04:30] chathsuom commented on #1080
Does EFS volume configuration works at all?
Tasks hangs in PROVISIONING state.

[2020-09-28 06:44] chathsuom opened #1134 "docker top not working"
**What I'd like:**
docker top to be working.

[code]

[2020-09-29 23:41] chathsuom commented on #1134
I think this is because, ps (procps) not running. Not sure if it can be added.

[2020-09-30 00:12] zlangbert opened #1136 "MySQL 5.7 container OOM kill / changing the NOFILE limit"
I am running a 1.17 EKS cluster that was we recently tried to switch to bottlerocket nodes. We ran into an issue where MySQL 5.7 containers were being OOM killed. This does not happen on the latest AL2 EKS AMI.

After some searching I came across these issues / PRs:
https://github.com/docker-library/mysql/issues/579
https://github.com/kubernetes-sigs/kind/pull/760
https://github.com/containerd/con

[2020-10-02 04:35] namiops opened #1139 "[ECS] Can't connect to instance via Aws Session Manager"
I'm follow QUICKSTART-ECS with the role setting for lauching EC2 instances, but I can't connect to any Bottlerocket instance with SSM (Session Manager).

But It work, until I attached additional Policy "AmazonEC2ContainerRegistryReadOnly" to the running EC2's role.

**Platform I'm building on:**
AWS ECS

**What I expected to happen:**
Connect to EC2 Instances with Session Manager

**What actually

[2020-10-02 16:42] itomaldonado opened #1140 "Pass additional arguments to the kubelet"
**What I'd like:**
Running on AWS + EKS, the bottlerocket worker nodes are in an ASG and currently start properly and become ready. BBut we would like to be able to pass in extra args to the kubelet (similar to what the eks images can do), for example:
[code]

**Any alternatives you've considered:**
Building our own image, although seems a bit cumbersome when all that is needed is to add one or on

[2020-10-02 17:37] tjkirch commented on #1139
Thanks for the input!  We do have a note in the [README](https://github.com/bottlerocket-os/bottlerocket/blob/17c1e29ec3fa5cade1ab631e899141267118fecc/README.md#exploration), but it probably also belongs in the QUICKSTART guides.

[2020-10-02 18:51] faarshad opened #1141 "Kernel Module Support: Publish kernel-devel & /proc/config.gz artifacts for each bottlerocket release"
**What I'd like:**
- For building out-of-tree kernel modules (e.g. [falco kernel module](https://github.com/falcosecurity/falco-website/blob/e10197ab6eb57939456c08c7fa121c476e3145ed/content/en/docs/source.md#build-kernel-module-driver)), it would benefit the community to have public access to `kernel-devel-*.rpm` and `/proc/config.gz` for each released bottlerocket-os version(e.g. `bottlerocket-aw

[2020-10-03 15:49] bcressey opened #1143 "pubsys-setup does not ignore partial Infra.toml"
**Platform I'm building on:**
I have an Infra.toml that looks like this, for use with `cargo make ami`:
[code]

**What I expected to happen:**
`cargo make` to build an image, since I am not going to publish repos.

**What actually happened:**

15:47:42 [INFO] Found infra config at path: /home/fedora/brdev/Infra.toml
Infra.toml is missing repo section
[cargo-make] ERROR - Error while executing comm

[2020-10-03 16:01] bcressey commented on #1141
The kernel config is included in the devel archive as `/usr/src/kernels/%{version}/.config`, so we probably don't need a separate `config.gz` artifact.

Retroactively publishing archives for the existing releases is a great idea.

Progress on getting a portable artifact out of the SDK can be tracked in bottlerocket-os/bottlerocket-sdk/issues/7. We might end up publishing a toolchain artifact here

[2020-10-03 16:12] bcressey commented on #1141
I have not tested it, but these toolchains from [toolchains.bootlin.com](https://toolchains.bootlin.com) should work in the interim:
* [x86_64](https://toolchains.bootlin.com/downloads/releases/toolchains/x86-64-core-i7/tarballs/x86-64-core-i7--glibc--stable-2020.08-1.tar.bz2)
* [aarch64](https://toolchains.bootlin.com/downloads/releases/toolchains/aarch64/tarballs/aarch64--glibc--stable-2020.08-1

[2020-10-05 08:18] improved-broccoli opened #1145 "[ECS] Instance store volumes support"
**What I'd like:**

After opening a ticket on AWS Support to find out how to mount an instance store volume on a container instance running Bottlerocket in an ECS cluster, the agent told me this was not supported for now, but something will be released for EKS in a near future and that I should create a ticket for the same feature on ECS to track the progress.

So my feature request is simple: pro

[2020-10-05 18:09] jahkeup commented on #1145
Hi @jbenoit2011, thanks for creating this issue! Instance storage is definitely on our radar - we'll use this issue to hold discussion and for any ECS-specifics that may come up.

I'm adding the appropriate label to keep track as we dig into ECS feature work & related storage issues (such as #1088).

[2020-10-06 18:33] #1143 closed, assigned to nobody

[2020-10-07 22:00] bcressey opened #1151 "SELinux policy prevents pods from watching the journal"
**Image I'm using:**
aws-k8s-1.17 v1.0.1

**What I expected to happen:**
To be able to collect journal logs from a pod.

**What actually happened:**

/usr/local/bin/ruby-Eascii-8bit:ascii-8bit/fluentd/vendor/bundle/ruby/2.6.0/bin/fluentd-c/fluentd/etc/fluent.conf-p/fluentd/plugins--gemfile/fluentd/Gemfile--under-supervisor

**How to reproduce the problem:**
Deploy the agent for Cloudwatch Containe

[2020-10-08 05:06] #1139 closed, assigned to nobody

[2020-10-08 07:23] abhijitherekar commented on #1078
@samuelkarp Was curious on this issue, I had few questions.

1. Is CNI supported on BottleRocket as of today?
2. If CNI is supported then will CNI chaining be supported. If yes then if I want to add a custom CNI plugin what is the best way to copy my custom CNI binary into the bottleRocket FS?
3. Will there be a API exposed for copying the custom CNI binary for CNI chaining support.

Thanks, Appre

[2020-10-09 20:06] zmrow opened #1153 "Rust 1.47.0 is causing CI to fail"
Related to https://github.com/bottlerocket-os/bottlerocket-sdk/issues/36

**Platform I'm building on:**
GitHub Actions

**What I expected to happen:**
Bottlerocket to build successfully in CI

**What actually happened:**
In CI, the build fails with errors similar to:
[code]

**How to reproduce the problem:**
Use Rust 1.47.0 and attempt to build Bottlerocket via `cargo make`

**I'm able to build Bo

[2020-10-09 21:49] bcressey commented on #1153
We're seeing concurrent invocations of build scripts for workspace crates that are dependencies of multiple crates. This doesn't always result in an error, but even in the best case it means duplicated work.

It's most obvious in a clean workspace where we can see multiple glibc builds kicked off right away:
[code]

It also happens with libmnl which many of the networking tools and libraries depen

[2020-10-09 21:51] bcressey commented on #1153
I bisected this back to https://github.com/rust-lang/cargo/commit/dc4b695f414913057dfcde30da73f88b620d216c which describes some possible workarounds.

[2020-10-12 15:59] #1153 closed, assigned to nobody

[2020-10-12 20:14] faarshad opened #1156 "Feature Request: Semver on settings.updates.version-lock"
**What I'd like:**
It would be useful for consumers to be able to control the version upgrades using semver e.g. `1.0.*` could imply to auto-upgrade minor versions.

**Any alternatives you've considered:**
Currently, there are no alternatives. You either set `version-lock` to `latest` implying always auto-upgrade or you lock to a specific version e.g. `1.0.1`

cc: @bcressey @jhaynes

[2020-10-12 21:07] mattlorimor commented on #848
@iliana

As a minor follow-up to the thoughts in my previous comment...

This is a stance I have an easy time sympathizing with.

It makes sense that the Bottlerocket team/project would be owners of the security advisory process and that the medium of choice for disclosure is via GitHub Security Advisory (GHSA), but that seems about as far as I would reasonably expect them to go. In this case, GHS

[2020-10-13 19:31] tjkirch opened #1157 "Switch from TermLogger to SimpleLogger"
In https://github.com/bottlerocket-os/bottlerocket/pull/1006#discussion_r501213958, @webern found that simplelog's SimpleLogger splits errors to stderr, which is the reason we were using TermLogger with TerminalMode::Mixed.  TermLogger also does color, which caused some issues like #576, #697, and #29, so we could be able to switch to SimpleLogger and fix them all.

[2020-10-13 20:47] faarshad commented on #862
Falco-0.26.1 is working on bottlerocket-1.0.1 via [`dkms install` at boot time of falco pod](https://github.com/falcosecurity/falco/blob/0a449afc3ed0efc7d6ddf66fe206d4081ee405ae/scripts/falco-driver-loader#L160)

#### My setup:
- Bottlerocket OS 1.0.1 on EKS
- Deployed [Falco chart ver 1.5.0](https://github.com/falcosecurity/charts/tree/falco-1.5.0/falco) via Helm Install
- `securityContext.privil

[2020-10-13 21:45] zmrow commented on #1131
Hi @zhouji3x!

Currently we support bare metal on EC2 and you can [build images via `cargo make`](https://github.com/bottlerocket-os/bottlerocket/blob/develop/BUILDING.md)!

Booting Bottlerocket on bare metal elsewhere will take some kernel work we that we haven't scoped or prioritized yet. Additional considerations for running Bottlerocket outside of EC2 are covered in: #968 , #1097, and #1114.

[2020-10-13 22:11] zmrow commented on #1156
Thanks for the request! Just to clarify your desired behavior: setting `version-lock` to `1.0.*` would upgrade to any patch version, but never upgrade to minor version `1.1.*` correct?

[2020-10-13 22:21] zmrow commented on #1140
Thanks for opening this issue! We don't currently have a good solution for arbitrary arguments like this, but it's something that's on our radar.

[2020-10-13 22:21] tjkirch commented on #1156
Cargo version requirements may make sense here :)

https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html

[2020-10-13 22:29] bcressey commented on #862
We don't plan to stop DKMS from working in general. Enabling solutions like that are why we provide the kernel development files in the host OS. We know there are use cases where out-of-tree modules are a popular solution.

In #813 we're looking at a feature to enable kernel lockdown. Lockdown would be set to "none" by default but could be configured through settings at launch. In "integrity" mode

[2020-10-14 09:49] faarshad commented on #1156
agree with @tjkirch comment on using cargo version requirements as they seem more sophisticated.

@zmrow yes, setting `version-lock` to `1.0.*` would upgrade to `>=1.0.0, < 1.1.0` (it should never upgrade to `1.1.*`)

more examples:
[code]

[2020-10-14 10:51] faarshad commented on #862
Thank you for mentioning the kernel LSM feature. not sure if that feature can enable whitelisting/blacklisting the out-of-tree modules by name instead of module signing.

[2020-10-15 08:22] ugurarpaci commented on #1140
This will be pretty useful! Adding these flags will satisfy the benchmark tools like [kube-bench](https://www.eksworkshop.com/intermediate/300_cis_eks_benchmark/run-as-job/)

[2020-10-15 15:59] zmrow commented on #1136
Thanks for putting in this issue! The AL2 EKS AMI sets `LimitNOFILE=1048576` which is why you’re not seeing the problem there.  The issue stems from cri-containerd not providing a mechanism to override the default containerd limit for a container. The default limit is inherited from the containerd process itself (which is configured in this case via our unit file).

Based on the comments in the [c

[2020-10-16 03:06] izaakschroeder opened #1159 "Add support for BPFFS mount."
**What I'd like:**

To be able to install Cilium on top of bottlerocket-based EKS clusters. Since the rootfs is immutable, CNI plugins that rely on bootstrapping to mount `bpffs` won't work (i.e. Cilium).

**Any alternatives you've considered:**

There aren't any really… the underlying FS can't be modified so there isn't really any way around this 😢

[2020-10-16 03:45] izaakschroeder opened #1162 "`cargo make ami` fails on macOS around `BUILDSYS_ARCH`."
`cargo make ami` doesn't work properly on macOS.

**Platform I'm building on:**

macOS

**What I expected to happen:**

`cargo make ami` to build without errors.

**What actually happened:**

[code]

**How to reproduce the problem:**

Run `cargo make ami` on macOS.

[2020-10-16 04:43] tjkirch commented on #1162
Hi @izaakschroeder - I'm afraid you caught us in an awkward time, since we just replaced the amiize.sh script and were about to remove it from the repo.  Would you be up for trying the replacement?  It's documented in our [PUBLISHING](https://github.com/bottlerocket-os/bottlerocket/blob/develop/PUBLISHING.md) guide.

[2020-10-16 04:45] izaakschroeder commented on #1162
Oh 😢 no worries! Sorry about that, I didn't realize. I can give it a whirl and see if it suffers from the same problem though!

[2020-10-16 05:43] izaakschroeder commented on #1162
This is where I'm at right now:

[code]

I'll continue to investigate!

[2020-10-16 05:56] izaakschroeder commented on #1162
Alright so patching

[code]

to

[code]

and adding a root `Infra.toml` with

[code]

is enough; it results in:

[code]

It feels like it would be nice if there was a way to avoid needing to make the `Infra.toml`… but at least it's working for the most part now! The one patch above might be handy for `macOS` folks though. 😄  I've updated this issue to reflect that!

I'll close https://github.com/b

[2020-10-16 15:53] zmrow commented on #1162
Thanks for the issue!

In regards to the parameter expansion `"${BUILDSYS_ARCH,,}"`: this should work in any version of bash since version 4.  I'm fairly certain that MacOS (unfortunately) ships an old version of bash by default. You can check with `bash --version`.  Is that the case?  If not, let us know.

In regards to the `cargo make ami` issues - do you mind pasting in your entire `Infra.toml`

[2020-10-16 16:57] tjkirch commented on #1162
You should be able to build an AMI with just `cargo make ami -e PUBLISH_REGIONS=my-region-1`, as you had, without an Infra.toml.  It seems we introduced a bug somewhere.  (The file can actually be empty, you don't need the repo section, which makes it even clearer that it's a bug.)  I'll take a look.

Regarding bash, that's... unfortunate.  I'd rather move toward compatible code in Rust than add h

[2020-10-16 18:41] tjkirch opened #1163 "API transaction status"
It could be useful to have a notion of the status of a given API transaction.  Currently they're deleted after being applied.  The issue is that thar-be-settings is forked off of apiserver after the API settings are verified and written, but thar-be-settings can fail to write configuration files or restart services, and that failure isn't reflected in the API, only in logs.  This means it can be h

[2020-10-16 18:58] tjkirch commented on #1163
(I'm worried about the complexity of the transaction APIs, and users having to know to check them, but @samuelkarp raised some ideas about apiclient and making our primary use cases easier.  For example, we could have a mode/subcommand that changes settings, commits the transaction, polls until status shows complete, then shows the result.)

[2020-10-16 19:03] mifisignal opened #1164 "apiclient should return distinct exit statuses for temporary and permanent failures"
Some API operations such as `GET /updates/status` return temporary failures such as `423 Unable to obtain shared lock for reading update status: Resource temporarily unavailable (os error 11)`. Yet `apiclient` does not distinguish between temporary failures such as these from permanent failures that are unlikely to succeed without some sort of intervention on the user's part. In both cases, the re

[2020-10-16 20:28] mifisignal opened #1165 "Provide some way to extract fields from apiclient output"
For scripting purposes, it would be useful to provide some way to extract fields from the JSON responses returned by `apiclient`. This will be particularly useful when running shell scripts via the SSM Agent. (The Bourne shell is the only higher level language that can be used there at this time and it doesn't have built-in JSON parsing capability.)

Some alternatives include:
1. Add some sort of

[2020-10-16 21:26] #1125 closed, assigned to nobody

[2020-10-16 21:29] tjkirch commented on #1163
This was partly because I was looking in the wrong place.  :(  sysctl errors do show up in the system console pretty clearly, as would anything from any other binary that thar-be-settings spawns, so long as it writes errors to stderr.  It could still be nice to have a mechanism in the API, to keep things together, but it may not be as urgent.

[2020-10-16 22:50] zmrow commented on #1165
Thanks for the issue!

Since the control container is [based on Amazon Linux 2](https://github.com/bottlerocket-os/bottlerocket-control-container/blob/c14ebe6ec28010cb9ce44586616e27930cf74a23/Dockerfile#L3), and `jq` should be available in the repos, you should be able to install it.  Others may have different opinions, but I think installing `jq` is preferable to building additional complexity in

[2020-10-16 22:54] zmrow commented on #1164
Good find! Would you expect a custom error code in the case of a "retry-able" failure?

I'm curious how the scripts are calling `apiclient` - do you mind sharing?

[2020-10-16 23:06] mifisignal commented on #1165
I’m trying to build a reasonably intelligent and idempotent Bottlerocket updater process via SSM automations. (It should do nothing, and exit cleanly, if there is nothing to do.) `updog` isn’t accessible from the control container, and `apiclient` invocations used to update the OS are not idempotent. This can lead to ambiguous situations if the only signal we can use is its exit status (see #1164)

[2020-10-16 23:14] mifisignal commented on #1164
Yes, please. Even 0 for success, 1 for hard failure, and 2 for soft failure would be sufficient.

Here's a brief example:

[code]

[2020-10-16 23:25] tjkirch commented on #1165
We're working on a design for a higher-level update client that interfaces with the API, making it usable from the control container without updog.  It's still early, but it should address concerns like these, and may address what you're aiming for in #1164 as well.

[2020-10-19 17:49] zlangbert commented on #1136
Hey @zmrow, thanks for the response! That makes sense, and what I suspected was going on. I agree with your position that changing the default in bottlerocket is not a good solution, though I wonder if providing it as a config option would at least make sense so people coming from the AL2 EKS AMI have a way to mitigate this issue?

It would be great to see this supported upstream, though seems lik

[2020-10-19 22:57] #1117 closed, assigned to etungsten

[2020-10-19 23:09] etungsten opened #1172 "pubsys: option to validate "newer" target files"
**What I'd like:**
I would like pubsys `validate-repo` to be able to validate target files that are recently published or related to the newest OS release.

We could either add additional metadata about release date to the targets in the repository, or we can try to infer recency from the version number in the target file names.

[2020-10-21 17:41] bcressey opened #1175 "update to dbus-broker 24"
[dbus-broker 24 is out!](https://github.com/bus1/dbus-broker/releases/tag/v24)

[2020-10-21 18:54] zmrow commented on #1136
I did a little digging in the upstream code and found what (I think) are the right spots to make the change.  A good option could be to provide a reasonable and configurable default to `containerd-cri` of 1048576.  The [`criService` type](https://github.com/containerd/containerd/blob/71ed61eef9a91ddaca7fe56cfc574f29884f5559/pkg/cri/server/service.go#L67) has a [`criconfig.Config`](https://github.c

[2020-10-21 21:51] bcressey commented on #1015
The userspace denial seems harmless. The `EBADFD` or bad file descriptor error happens only when starting dbus-broker,
apparently because systemd is trying to access the dbus socket before the server is ready.

[2020-10-22 07:47] macbash opened #1177 "Docker Container Base Image"
we have amazon base images for docker, it will be good, if you folk releasing BottleRocket images also.

[2020-10-22 15:26] zmrow commented on #1177
Hi @macbash !

Bottlerocket isn't built to be used inside a container, instead it is meant to be the OS where you run containers (an EC2 instance or VM). Bottlerocket releases are currently available as [AWS AMIs](https://github.com/bottlerocket-os/bottlerocket/blob/develop/QUICKSTART.md#finding-an-ami) that can be launched in EC2. If you have other use cases in mind, let us know!

Related to #940

[2020-10-22 15:54] yeolahm opened #1178 "Add support for HTTP_PROXY environment variable configuration into various services"
**What I'd like:**
I would like to add  HTTP_PROXY related environment variables to the various services (example - kubelet & containerd/docker) configuration files so that they can connect to the internet through the proxy server.

May be global configuration that allows HTTP_PROXY environment variables and parameter in each service to enable global config.

**Any alternatives you've considered:*

[2020-10-22 17:07] #1177 closed, assigned to nobody

[2020-10-22 17:37] #1015 closed, assigned to bcressey

[2020-10-22 17:37] #1175 closed, assigned to bcressey

[2020-10-23 15:51] zmrow commented on #1136
@zlangbert Just to follow up here - I created a local patch for `cri` to be evaluated by the team.  If accepted it should be in our next Bottlerocket release.  The intent is to upstream this patch, but as mentioned in the PR, there is some additional work to be done.

[2020-10-23 22:16] bcressey opened #1181 "support ephemeral storage on older instance types"
**What I'd like:**
In #1173 we added symlinks for ephemeral storage on the newer, Nitro-based instance types.

Older instance types where the xen-blkfront driver is used for both EBS and ephemeral disks are a problem, since there's no easy way to tell them apart.

We could query IMDS to find the block device mapping and then try to match devices that way. This is complicated because the devices sh

[2020-10-26 10:24] errm opened #1183 "node_timex_sync_status metric indicates that NTP is not syncing"
**Image I'm using:**

bottlerocket-aws-k8s-1.18-x86_64-v1.0.2-ddeb03c8 - ami-00e1ed6a3ebe06fd0

**What I expected to happen:**

We are running prometheus node exporter as a Kubernetes DemonSet.

We expected the `node_timex_sync_status` metric to be 1 if NTP is working properly.

**What actually happened:**

The `NodeClockNotSynchronising` alert on our prometheus instance fires: https://github.com/

[2020-10-26 14:12] errm commented on #1183
I discovered that chrony doesn't set the timex sync flag unless the rtcsync option is set.
See: https://github.com/prometheus/node_exporter/blob/v1.0.0-rc.0/docs/TIME.md#timex-collector

[2020-10-27 01:43] #1183 closed, assigned to nobody

[2020-10-28 15:30] zmrow commented on #1162
I believe we've fixed the problems in this issue! Please feel free to re-open if there's something we overlooked.

[2020-10-28 15:30] #1162 closed, assigned to nobody

[2020-10-28 18:21] bcressey commented on #1178
Notes to check my understanding:

Goal is only to enable proxy usage for host level components (containerd, kubelet, host-ctr). We do not need to worry about injecting the variables into pod enviroments.

kubelet may or may not need a proxy in an EC2 VPC if connecting to the private IP of the API server. May need to special case this somehow, e.g. a default value for NO_PROXY that includes the API

[2020-10-28 18:47] ryansch opened #1187 "Building an image with Buildkit is blocked by SELinux"
**Image I'm using:**
Image referenced in SSM:
[code]

**What I expected to happen:**
I expected to be able to use `export DOCKER_BUILDKIT=1`, and `export COMPOSE_DOCKER_CLI_BUILD=1` to build with buildkit.

**What actually happened:**
I started with a simple Dockerfile:
[code]

When trying to build the image on a bottlerocket instance, I received:
[code]

And I found the following error via `logdo

[2020-10-30 12:38] tomfotherby opened #1189 "How can I run docker build in a container running on Bottlerocket?"
We have a EKS cluster and are investigating whether we can move from _Amazon Linux 2_ to **Bottlerocket**. We are trying to figure out how to run a `docker build` from a container in our Bottlerocket node. I understand Bottlerocket uses a different container runtime than _Amazon Linux 2_ and I'd like some advice on how to use it in a similar way, at a Pod level.

This is a Pod that works in our _A

[2020-11-01 17:24] bcressey commented on #862
Once we have lockdown as an option, I'd recommend evaluating Falco's eBPF probe driver instead.

I've confirmed that this works with Bottlerocket v1.0.2 --

[code]

Since the BPF probe doesn't rely on kernel modules, you don't need to align with the toolchain used to build the host kernel, so it's likely to be more robust over time.

[2020-11-02 08:03] binchenX opened #1193 "build failed with multiple errors (including Fail to request https://cache.bottlerocks.aws)"
**Platform I'm building on:**
OS: Ubuntu 18.04
Arch: amd64 x86
Docker 19.03 with buildkit enabled

**What I expected to happen:**

Build successfully.

**What actually happened:**

Tried a few times, but was never be able to build successfully.
[code]

**How to reproduce the problem:**
cargo make

[2020-11-02 08:42] binchenX commented on #1193
seems to be transient error, after another try the build was successful.

[2020-11-02 08:42] #1193 closed, assigned to nobody

[2020-11-02 15:02] faarshad commented on #862
thank you @bcressey -  for folks migrating towards bottlerocket, they might need to run falco-ebpf on both AL2 and bottlerocket for easier migration. not sure about ebpf support on AL2 for falco today.

The second point is about performance difference of falco when moving from bottlerocket-kernel-module mode to bottlerocket-ebpf mode. any anecdotal evidence you know of?

[2020-11-02 21:01] itomaldonado commented on #1140
@zmrow that's fair, I would love to follow along an issue or something that tracks that functionality, if there is one (and could be linked here). If so you can also feel free to close this. If there isn't one, could this one track this functionality?

As @ugurarpaci mentioned there are quite a few things we could control in our clusters by just changing kubelet flags instead of having to build an

[2020-11-06 04:51] bcressey commented on #862
We're using essentially the same kernel as the one that's available in Amazon Linux 2 through the `kernel-ng` extra, so I'd recommend that for parity.

The only performance comparison I've seen is in the blog post that announced the feature:
https://sysdig.com/blog/sysdig-and-falco-now-powered-by-ebpf/

[2020-11-06 08:25] kniec commented on #1074
Hey, super interested in that issue as it related to a lot what the HPC community would want BottleRocket to use for. As I wrote in the (renamed) EKS issue #769: I would like the container to provide the userland driver and not do a bind-mount for that.
From my HPC PoV the extreme benefit of bottlerocket in this scenario would be that a customer can identify a reproducible OS host system (hash or

[2020-11-06 16:33] bcressey commented on #1140
We don't have plans to allow arbitrary arguments to kubelet, but we can and should model arguments like this as settings.

The reason we'd like to avoid arbitrary arguments is so that we can better test and predict kubelet behavior across upgrades and downgrades; otherwise removing the argument or changing how it's interpreted could break the system in ways that we can't anticipate.

This is espec

[2020-11-09 23:33] backjo opened #1197 "DNS Cluster IP determination inconsistent with EKS AL2 AMIs"
**Image I'm using:**
Latest BottleRocket EKS-optimized image (ami-01d975726ace73c6d in us-west-2)

**What I expected to happen:**
The DNS IP that BottleRocket determines should be consistent with the IP address that the EKS-optimized AL2 determines.

**What actually happened:**
The DNS IP is not consistent. The logic in the AL2 AMI here -> https://github.com/awslabs/amazon-eks-ami/commit/886482130

[2020-11-10 01:50] caoruidong commented on #1189
Containerd is used instead of docker in bottlerocket, so no docker server in it.

[2020-11-10 04:29] bcressey commented on #1189
If you're flexible with implementation choices, you might look into [kaniko](https://github.com/GoogleContainerTools/kaniko), which can build a Dockerfile without the Docker dependency.

[2020-11-10 12:14] tomfotherby commented on #1189
@caoruidong - Thank you for replying. You said "Bottlerocket has no docker _server_" . From this, what I understand is that even if we run `docker` as a container on a Bottlerocket host, we would only be running a docker client, not a server, so docker commands that need a server such as `$ docker images` and `$docker build ...` won't work, even if `docker run` commands do work. Did I understand t

[2020-11-10 18:26] bcressey commented on #1189
You're correct, `docker` is a client and ordinarily has the `dockerd` service to talk to, but that's not present on Bottlerocket.

Kaniko would need to push to a registry so the container could subsequently be pulled by a pod. I don't think it has a local export option, and if it did you'd need to interact with the containerd API to import the image. There's a debugging tool, `ctr` that provides s

[2020-11-10 18:59] tomfotherby commented on #1189
@bcressey , I appreciate your time and your insightful speculation on our options.

From what I have learnt, I think it's best we change our workflow to fit with Bottlerocket, rather that add complexity even if a workaround seems technically possible. It'll be fine to build all needed Docker images in the build phase, pre-deployment.

[2020-11-10 18:59] #1189 closed, assigned to nobody

[2020-11-10 22:12] etungsten opened #1200 "systemd-journald: journal logs produced is not readable by older versions of systemd-journald"
**Image I'm using:**
bottlerocket-aws-k8s-1.17-x86_64

**What I expected to happen:**
I expected the system journal log produced by systemd in bottlerocket to be readable on other hosts with older systemd versions.

**What actually happened:**
This new change in systemd v246: https://github.com/systemd/systemd/blob/a54bcb901677b297a8073b0cb92992a6fff8c954/NEWS#L964-L972 enables hardening of the ha

[2020-11-10 22:22] jahkeup commented on #1200
The changelog indicates we should be able to address this by setting an environment variable which will restore backwards compatibility:

          If the $SYSTEMD_JOURNAL_KEYED_HASH boolean
          environment variable for systemd-journald.service is set to 0 this
          new hardening functionality may be turned off, so that generated
          journal files remain compatible with older jour

[2020-11-11 07:40] dirknilius opened #1202 "Cluster autoscaler is not working with EKS because of missing certificate"
I tried to use Bottlerocket in my EKS node group(s) as shown here: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-eks-readme.html#bottlerocket

The worker nodes are just fine but I cannot get the cluster autoscaler working as is misses the certificate. I followed the official docs: https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html

The applied volumes expects a cert in

[2020-11-11 12:35] aclevername opened #1203 "Request for documentation on default volumes"
**Image I'm using:**
`bottlerocket-aws-k8s-1.17-x86_64-v1.0.2-ddeb03c8`
`ami-0666e6f3cd7b00794`

**question:**
- Why does bottlerocket AMI spec state that two volumes need to be attached? How are the two volumes used? I could not find any documentation on this 😄
[code]

Thanks,
Jake & @Callisto13

[2020-11-11 15:16] bcressey commented on #1202
The path on Bottlerocket is `/etc/pki/tls/certs/ca-bundle.crt`. Relative to that example, I'd expect it to change in the hostPath volume definition, rather than where the comment about Amazon Linux appears.

The `/usr/share/factory` path mentioned in the issue you linked is one place to find the file, but it's copied into `/etc` by `systemd-tmpfiles` at boot.

To avoid confusion, we can add a comp

[2020-11-11 15:29] dirknilius commented on #1202
I'd like that as it doesn't require any change and it would just work out of the box.

[2020-11-12 01:49] samuelkarp commented on #1203
Hello!  `/dev/xvda` is used to hold the operating system itself and contains the active & passive partitions, the bootloader, the dm-verity data, and the data store for the Bottlerocket API.  `/dev/xvdb` is used for all of the things you run on top of Bottlerocket: container images, storage for running containers, and persistent storage/volumes.

I'll leave this issue open to track making sure we

[2020-11-12 13:33] aclevername commented on #1203
Thanks!

[2020-11-12 19:10] bcressey opened #1208 "provide settings for creating paths on the host"
**What I'd like:**
I'd like the ability to create paths on the host, with specific permissions and an SELinux label. This will help scenarios where a single container needs to be able to write to a directory while many containers need to read from it.

**Any alternatives you've considered:**
This can be worked around in general with a daemonset pod that mounts host volumes, creates the required di

[2020-11-12 19:17] bcressey commented on #1208
Here's the design I have in mind for this.

Create `/local/host-paths/example1` with specific permissions and label:
[code]

Create `/local/host-paths/example2` with default permissions and specific label:
[code]

Create `/local/host-paths/example3` with default permissions and label:
[code]

The main constraint is that the parent path is fixed, and the directories can't be nested. This simplifies

[2020-11-12 20:30] bcressey opened #1209 "provide settings for managing ephemeral disks"
**What I'd like:**
I'd like the ability to opt-in to "managed" ephemeral disks, where the OS handles partitioning, formatting, and mounting the devices. I'd also like to be able to use this storage for the images pulled by the container runtime.

**Any alternatives you've considered:**
It's possible to handle some of this via orchestrated containers, since ephemerals now show up in `/dev/disk/ephe

[2020-11-12 21:03] bcressey commented on #1209
Here's one potential approach, where we would extend `ghostdog` to optionally manage devices that show up in `/dev/disk/ephemeral`.

[code]

On an EC2 instance with two ephemerals, this would create the following paths:
[code]

The index path would be a symlink to the UUID path. `ghostdog` would create the partition and filesystem if they didn't exist, and otherwise leave the device alone.

It wou

[2020-11-12 21:07] bcressey commented on #1209
This also could be extended to support persistent disks, such as EBS volumes, by replacing "ephemeral" with "persistent" in the above. The key question is whether that would be sufficiently flexible to use with platforms where CSI is not currently supported, such as ECS.

[2020-11-12 21:31] #1200 closed, assigned to bcressey

[2020-11-12 21:31] #1202 closed, assigned to bcressey

[2020-11-12 22:01] samuelkarp commented on #1209
For completeness: container storage should also influence the `/var/lib/docker` path on variants that use Docker (`aws-dev`, `aws-ecs-1`).

For the use-case where a path is specified in the ECS task definition, I think this plus https://github.com/bottlerocket-os/bottlerocket/issues/1208 is a good starting point.

[2020-11-13 01:40] samuelkarp commented on #1187
Hi! I was able to reproduce the behavior you described; it looks like we might need to adjust the labels on the directory that buildkit is using for building images (from initial looking, everything under `/var/lib/docker/buildkit` has `local_t`, but might need `cache_t` instead).

I'll mark this as a bug, because it's surprising behavior, but I'd really appreciate more information on the use-case

[2020-11-13 01:48] samuelkarp commented on #1159
Per https://github.com/bottlerocket-os/bottlerocket/pull/1160#issuecomment-725692670, the bpffs mount is already present at `/sys/fs/bpf` in our 1.0.2 release.  I'm going to go ahead and close this, but please feel free to re-open or open a new issue if you run into further issues.  Thanks for using Bottlerocket!

[2020-11-13 01:48] #1159 closed, assigned to nobody

[2020-11-13 02:11] samuelkarp commented on #1131
Closing as @zmrow answered the question and related questions are addressed by the issues linked above.

[2020-11-13 02:11] #1131 closed, assigned to nobody

[2020-11-13 04:39] samuelkarp commented on #1115
Fixed in [v1.0.2](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.0.2).

[2020-11-13 04:39] #1115 closed, assigned to nobody

[2020-11-14 01:11] #1134 closed, assigned to samuelkarp

[2020-11-14 04:40] tjkirch opened #1212 "`thar-be-updates refresh` hangs with async apiclient"
#1186 moved apiclient to async/await using tokio.  One thing that missed testing is `thar-be-updates refresh`, i.e. the command invoked by the `/actions/refresh-updates` API.

The [relevant function](https://github.com/bottlerocket-os/bottlerocket/blob/bf5915a5ccf7720c6bf15edce0f0f73317a3cede/sources/api/thar-be-updates/src/main.rs#L185) uses `fork_and_return`, runs updog to get information about

[2020-11-14 04:41] tjkirch commented on #1212
Similar issues:
* https://github.com/tokio-rs/tokio/issues/1541
* https://users.rust-lang.org/t/tokio-0-2-and-daemonize-process/42427

[2020-11-14 04:45] tjkirch commented on #1212
Some options we've discussed:
1. Just revert #1186.  This means async applications can't use the apiclient library, because it would spawn a runtime inside a runtime and panic.
2. Manage tokio runtimes more directly.  We could perhaps create a runtime in the `fork_and_return` macro that would be available to the block it's passed, perhaps wrapping the block in `tokio::spawn(async move {` or someth

[2020-11-14 23:17] tjkirch commented on #1212
I tried (3) and found that it's just not safe to use tokio::main if you're going to fork, even if your async calls are complete before the fork.  (The runtime hangs when shutting down; perhaps you could get around it by judicious use of `exit`, but eww.)  If you wanted to use tokio and fork, then you'd want to shut down the runtime before forking, which (as far as I know) means manual runtime mana

[2020-11-15 02:40] #1212 closed, assigned to nobody

[2020-11-17 23:10] zmrow opened #1218 "Platform-agnostic host metadata for early-boot-config and pluto"
## Problem

`early-boot-config` and `pluto` use IMDS directly.  In order to start testing Bottlerocket on other platforms, these services must retrieve metadata and user data from other sources.

## Proposed Solution

For the short term, we will extend `early-boot-config` for other platforms via the `PlatformDataProvider` trait provided in the program and conditionally compile it based on the vari

[2020-11-18 08:02] svedatbegar commented on #1140
As an addition to parameters mentioned above, we use kube-reserved parameters to reduce allocatable resources on nodes so there's always enough CPU, memory, ephemeral storage and pid for stability. So far I couldn't see a way to set them.

[2020-11-19 22:55] chathsuom commented on #1134
Thanks @samuelkarp now our whole infra including ci/cd is using bottlerocket 👍

[2020-11-19 23:41] Niksko opened #1221 "Datadog container fails to create pod sandbox with error 'failed to set /proc/self/attr/keycreate on procfs'"
**Image I'm using:**

[code]

**What I expected to happen:**

Pod should start

**What actually happened:**

Pod fails to start, with the following error:

[code]

**How to reproduce the problem:**

This is in an EKS cluster with the [Datadog Helm chart](https://github.com/DataDog/helm-charts/tree/master/charts/datadog), version 2.5.3, with the following values:

[code]

For reference, the PSP tha

[2020-11-20 02:35] Niksko commented on #1221
Just updated and tested on Bottlerocket 1.0.3, same error

[2020-11-20 04:52] Niksko commented on #1221
Figured out my own problem. Upon logging in to the admin container, I noticed that a bunch of processes under `/proc` had the `container_t` SELinux type. Setting the security context of the pod to use `container_t` as the type (and an associated change to the PSP) allowed the containers to run as expected.

Closing this. Not sure if it needs documenting, it's probably a little obscure, and also co

[2020-11-20 04:52] #1221 closed, assigned to nobody

[2020-11-20 17:28] ryansch commented on #1187
@samuelkarp We're currently using bottlerocket in an ECS cluster to run buildkite agents for our CI setup. As such, we need to be able to build images before running tests on them.

[2020-11-20 18:03] bcressey commented on #1221
Bottlerocket's closest equivalent to `spc_t` at the moment `super_t` - which is intended for break-glass troubleshooting via the admin container. It's mostly unrestricted, and grants powers that even privileged containers likely don't need, such as the ability to modify pristine container archives, directly edit the backing data for API settings, or alter state for NTP and DHCP daemons.

I'm curre

[2020-11-21 06:15] jackie-JD opened #1222 "How to install additional softwares in the Bottlerocket instance ?"
**What I'd like:**
1.
Currently, I refer to the portal https://github.com/bottlerocket-os/bottlerocket/blob/develop/QUICKSTART-EKS.md to create one my own cluster, and the cluster is based on bottlerocket os.
2. I have the following questions:
(1) I use "kubectl get nodes" command to get the bottlerocket nodes and I login to the bottlerocket, found that the filesystem is read-only except /tmp fold

[2020-11-21 14:31] caoruidong commented on #1222
1) You cannot write your data to nodes, all worload are containers
2) You can create your own bottlerocket image with these packages

[2020-11-22 01:41] jackie-JD commented on #1222
Thank you, Frank

1. You mentioned that I can create my own bottlerocket image, what does this mean ? And how can I do it ?
Do you have documents for it ?

2.
For storaging my data permanently, if I use the aws EFS CSI like the following style:
spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: linux
        image: amazonlinux:2
        command: ["/bin/sh"]
        args:

[2020-11-22 14:58] caoruidong commented on #1222
See https://github.com/bottlerocket-os/bottlerocket/blob/develop/BUILDING.md. I'm just a fan, not official. I guess the folders in the host is probably /var/kubernetes/pods/.../volumes/..., just like other kubernetes clusters.

[2020-11-22 15:04] jackie-JD commented on #1222
Thanks Frank

Do you mind to add you as a friend using QQ or WeChat ?

[2020-11-22 18:13] webern commented on #1222
@jackie-JD, thank you for trying out Bottlerocket. @caoruidong is correct that the intended use-case for Bottlerocket is to run containers, currently via EKS or ECS. As such, the software you want to run is in the container image that you run on Bottlerocket.

For breakglass debugging, you can use the Admin container, where yum is available. When you install software in the admin container, you do

[2020-11-23 02:59] caoruidong commented on #1222
OK. My wechat ID is crdfrank

[2020-11-23 15:04] jackie-JD commented on #1222
@caoruidong, I unable to fins the id crdfrank from the wechat client and my id is wxid_ghha1y0bvk6922. Could you add me from your side ?  Thank you.

[2020-11-23 15:16] jackie-JD commented on #1222
@webern Thanks for your replying.
We have one application and we build it into the docker image style.
Currently, we deploy the docker container to one EKS cluster which based on the Amazon Linux 2 OS. And for the storage we use the efs system. It can works well.
Since the bottlerocket comes, we plan to move the application from the Amazon Linux 2 to the Bottlerocket, I am trying to deploy the app

[2020-11-23 19:42] tjkirch opened #1224 "Update security documentation for kernel lockdown mode"
The [SECURITY_FEATURES](https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY_FEATURES.md) and/or [SECURITY_GUIDANCE](https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY_GUIDANCE.md) documents could probably use an update now that #1223 is merged and added lockdown capability.

[2020-11-23 21:38] webern commented on #1222
I tried reproducing the issue and found an avc denial. `Nov 23 21:12:27 ip-192-168-9-184.us-west-2.compute.internal kernel: audit: type=1400 audit(1606165947.053:6): avc:  denied  { write } for  pid=5762 comm="aws-efs-csi-dri" name="efs" dev="tmpfs" ino=21031 scontext=system_u:system_r:container_t:s0 tcontext=system_u:object_r:etc_t:s0 tclass=dir permissive=0`

As it turns out, this is another cas

[2020-11-24 06:06] Niksko commented on #1151
Using `control_t` lets the container watch, but presumably that's not ideal? Is there another type that's better suited or that we could create?

[2020-11-24 07:08] caoruidong commented on #1222
@jackie-JD I cannot find you too. You can try my id again, I open it just now.

[2020-11-24 10:20] jackie-JD commented on #1222
OK,  thanks. Hope to get you good news.

[2020-11-24 15:42] cwwarren opened #1225 "Support NFS on EKS"
We have an application from a third party vendor that we've been running in Kubernetes using a NFS volume to provide multiple-writer "local" storage. The NFS server is an AWS S3 File Gateway.

**Image I'm using:**

bottlerocket-aws-k8s-1.18-x86_64-v1.0.3-0c93e9a6 / ami-08f192e9c923b9f23 *(eksctl selected this for me)*

Attached to an EKS 1.18 (eks.2) cluster.

**What I expected to happen:**

NFS m

[2020-11-24 15:50] webern commented on #1225
Hello @cwwarren, thank you for opening this issue. Are you using the EFS CSI driver? If so, we have a known issue that we are working on which I can describe further.

[2020-11-24 15:53] webern commented on #1111
I'm going to re-open this issue and use it as the main issue, of which we are starting to see duplicates. This issue describes the problem crisply and links to the underlying cause, which we need to fix.

[2020-11-24 15:55] webern commented on #1222
I have re-opened #1111 and will mark this as a duplicate.

[2020-11-24 17:10] cwwarren commented on #1225
Thanks for the quick reply! We are not and this is not an EFS volume. It is an exposed volume on a S3 File Gateway instance.

[2020-11-24 18:51] webern commented on #1225
Oh I see, sorry about that. So we're probably looking at something like this: https://github.com/kubernetes-csi/csi-driver-nfs but I don't know if anyone has tried it on Bottlerocket yet though.

[2020-11-24 19:12] cwwarren commented on #1225
No worries, thanks for looking into it. We don't have that CSI driver running and I believe it requires a DaemonSet so it definitely would've been noticed if EKS installed it without our knowledge.

I believe the error is coming from the in tree mounting code, from an (incomplete) skim it appears to be constructing the command that caused an error and the error messages format match up.

https://g

[2020-11-24 19:19] cwwarren commented on #1225
Upon a little further investigation and google I believe (but haven't confirmed) the root cause of this issue is `/sbin/mount.nfs` is missing.

This might actually be a feature request instead of a bug, "add NFS common utilities for `/sbin/mount.nfs`".

[2020-11-25 03:47] webern commented on #1225
We tried on our side using the NFS CSI driver and found the same dependency at issue, `/sbin/mount.nfs`. I agree we can handle this as a feature request. I am going to label it as such. Do you mind if we rename if something like "Support NFS on EKS" so that it's easy to identify? Thank you for bringing this to our attention!

[2020-11-25 03:50] cwwarren commented on #1225
Yes please edit and categorize however makes it easiest for your team.

[2020-11-25 03:52] webern commented on #1222
I managed to get past the avc denial with a patched version of the csi driver and found that we have a missing dependency. I'm going to describe that on #1111 and use that to track a feature request for EFS support. I'm going to close this issue as a duplicate but feel free to re-open if you have additional (non-EFS) questions. For EFS-tracking let's use #1111. Thank you!

[2020-11-25 04:04] webern commented on #1111
I tried a patched version of the EFS CSI driver, basically like in this PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/247, but I was trying to use a 'konfiguration' as was discussed in that PR.

That got me past the avc denial, but then I found:

[code]

That error is opaque, I can't make out what the issue is. It's possible that my EFS/security-group setup is incorrect, or somethi

[2020-11-26 06:21] jackie-JD opened #1226 "The CPU usage is very high(almost %100) when app is running in the bottlerocket node"
I have two EKS clusters, one is based on bottlerocket and the other is based on Amazon Linux 2.

issues:
1.
I switch to the bottlerocket cluster, and run my deployment which used to run my docker image(my app is in it).
After deployment is created, I login to the scheduled worker nodes(**actually it is the admin container**)and use top command to see the CPU usage, it is very high and lasts about

[2020-11-26 23:12] Niksko opened #1227 "Configure image registry credentials in containerd"
**What I'd like:**

A way to configure image registry credentials in containerd, for pulling images from private registries (or in the case of Dockerhub, with authentication to avoid rate limiting).

This is a common alternative to defining image pull secrets on a per pod basis, and is [recommended by the Kubernetes docs](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-

[2020-11-27 18:45] #1222 closed, assigned to webern

[2020-11-28 02:42] jackie-JD commented on #1222
OK, got it. Thank you.

[2020-11-29 22:48] bcressey commented on #1226
There's a chance this is related to #1136, so if you're not on v1.0.3 yet, it might be worth upgrading to see if it helps. We've seen related issues with older versions of RPM, for example, where they'd spend an excessive amount of time closing a large number of file descriptors.

If that doesn't help, I'd try `perf top` during the period of high CPU utilization, to see if it's immediately obvious

[2020-11-30 01:25] jackie-JD commented on #1226
Thank you @bcressey. I update the bottlerocket to 1.0.3 and the issue is resolved.

[2020-11-30 01:25] #1226 closed, assigned to nobody

[2020-11-30 20:26] etungsten commented on #1225
Hi @cwwarren, it would seem that currently the [NFS CSI driver](https://github.com/kubernetes-csi/csi-driver-nfs) is in alpha and does not yet support pod inline volumes like the one you're trying to do here.

The workaround is to create a persistent volume backed by your NFS server and mount that for your pods. You can find the driver parameters [here](https://github.com/kubernetes-csi/csi-driver

[2020-11-30 20:48] cwwarren commented on #1225
Hey @etungsten thanks for looking into it. We're not (yet) using the NFS CSI driver, we're still using the in-tree plugin so I doubt in our specific case we're running into any limitations of the CSI driver here. In this case this is an existing `Deployment` that runs successfully on AWS EKS AmazonLinux2 nodes (and before that Ubuntu and Debian on a kops cluster).

Those steps are a good reference

[2020-12-01 01:07] tjkirch commented on #813
For those following this issue, we've added `settings.kernel.lockdown` which should be available in the next release.  It allows you to raise your Linux kernel lockdown level from `none` (the default) to `integrity` or `confidentiality`.  (#1224 tracks adding further guidance in our documentation.)

This issue will remain open to discuss changing the default value.

[2020-12-01 17:27] jahkeup commented on #1227
Hi @Niksko, thanks for the feature request and outlining your alternative approaches in contrast. We'll look into how to model and support registry credentials through our settings API.

[2020-12-01 23:26] bcressey commented on #1151
`control_t` is reasonable, though it's not least privilege since it also allows use of the host's API socket.

The primary reason watches are restricted is to prevent `fanotify` from being used to block the host's access to its own files by denying the permission check. It should be OK to relax the policy so it only blocks these `watch_with_perm` actions.

The other benefit of restricting watches

[2020-12-02 21:26] etungsten opened #1229 "host-containers get restarted when host-containerd restarts"
**Image I'm using:**
Bottlerocket v1.0.4 aws-k8s-1.17

**What I expected to happen:**
host-containers, like the admin container, to stay running when the host-containerd daemon restarts.

**What actually happened:**
The admin container task gets killed, terminating my SSH connection to the host.

**How to reproduce the problem:**
Restart `host-containerd.service` via the admin container.

`host-co

[2020-12-04 21:00] webern commented on #1111
Progress Update: the error shown above was likely due to some misconfiguration of security groups. When proceeding more meticulously and carefully, I have been able to prove that changing the directory location allows the EFS CSI driver to work on Bottlerocket.

We have a plan to change the directory location in the CSI driver's code and specs in a way that will be backward compatible with (non-Bo

[2020-12-04 21:39] faarshad commented on #1111
Fyi, I can confirm that when I deploy csi-driver with version tag [v1.0.0](https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/v1.0.0/deploy/kubernetes/overlays/stable), I encounter no errors on both AL2(amazon linux2) and Bottlerocket(version`1.0.4`). The single daemonset works across both type of VMs but when I use master(`c82831cc10a291af18b30e4ca4060b0f53db96eb`), the driver works fine

[2020-12-04 22:43] webern commented on #1111
@farshad-hobsons, yes my update might not have been clear. I can get it to work on Bottlerocket when I edit the pod-spec to use `/var/amazon/efs` on the host instead of `/etc/amazon/efs`.

We can't change the spec in this way though because pre-existing (non-Bottlerocket) mounts whose configs were already written to a certain directory would hang if we change the config directory out from under th

[2020-12-07 00:04] Niksko commented on #1227
I'm happy to submit a PR for this, it doesn't seem like a huge change. A few questions:

1. Is there a way to easily test my changes to the settings model locally, without baking an AMI?
2. Should this be a generic setting, or Kubernetes specific? Perhaps just a generic setting - I'm not really sure if there's as strong a use case for ECS, but it certainly wouldn't hurt to have it as an option.
3.

[2020-12-07 23:19] pabloxio commented on #1128
When I was using the AL2 AMI I added something like this at the end of the instance user_data:
[code]

@samuelkarp What about having an additional option like this:

[code]
And bottlerocket just pull those images at instance creation time?

[2020-12-08 06:24] bcressey commented on #1227
I like your approach, but you nailed the big concern: I'm not comfortable with handling secrets with the mechanisms we have today. Userdata is not encrypted; settings are in plaintext when they're stored on disk, returned by the API, and rendered into templates.

I expect we'd want containerd to support per-registry credential helpers or plugins first, as discussed in containerd/containerd#6637 -

[2020-12-08 15:54] zmrow commented on #1128
Thanks for the idea @pabloxio and I like where your head is at!  It's a cool idea and definitely something to consider.

Unfortunately, it doesn't solve the issue of bundling a container image with the OS.  A user would still need to wait for the initial pull at runtime.  I do think there's something to this "cache" idea, however we'd probably want it to be a bit more generic over container regist

[2020-12-09 00:08] bcressey opened #1234 "[Artifactory compatibility] add support for v2 schema 1 images"
**Image I'm using:**
v1.0.2

**What I expected to happen:**
Per customer bug report, kubelet should have pulled a v2 schema 1 image.

**What actually happened:**
Pod failed with an ImagePullBackOff error.

**How to reproduce the problem:**
Launch a pod that references a v2 schema 1 image.

[2020-12-09 00:09] bcressey commented on #1234
@samuelkarp suggested that there might be a flag in containerd-cri or a small code change needed.

[2020-12-09 00:20] samuelkarp commented on #1234
https://github.com/containerd/cri/blob/3a1c3b3b4b1ec10ab59723ba72ca2cbbc97ab6fe/pkg/server/image_pull.go#L110 already shows the schema 1 conversion functional option getting added to the Pull call in the containerd 1.3 branch.  Assuming that code is present in our release (I suspect it is), we'll need to reproduce this problem to debug what else is going on.

[2020-12-10 21:37] zmrow commented on #1102
Closing as PR was merged! Thanks!

[2020-12-10 21:37] #1102 closed, assigned to nobody

[2020-12-11 00:23] #1229 closed, assigned to etungsten

[2020-12-11 00:25] etungsten opened #1237 "host-ctr: don't try to create the container under the systemd unit's cgroup"
_Originally posted by @bcressey in https://github.com/bottlerocket-os/bottlerocket/pull/1230#discussion_r540597593_

We should remove https://github.com/bottlerocket-os/bottlerocket/blob/294f7af9e3e9992183e549759c8bd07a611e2c89/sources/host-ctr/cmd/host-ctr/main.go#L218-L219 since the container task doesn't end up in the systemd unit's cgroup anyway and fixing it would introduce problems. We're ha

[2020-12-11 17:23] bcressey commented on #999
We now have the `publish-setup` target, and this functionality is integrated into `repo` target.

[2020-12-11 17:23] #999 closed, assigned to nobody

[2020-12-11 17:40] bcressey commented on #1145
We're tracking this in #1209.

It won't quite be what you've asked for since "device to mount" is inherently somewhat ambiguous, and may be different across reboots or on different platforms.

It also doesn't offer flexibility on specifying the mount point for a similar reason - if devices can't be identified with precision, it's hard to be sure what will end up on the mount point.

Feedback on th

[2020-12-11 17:40] #1145 closed, assigned to nobody

[2020-12-11 19:20] tjkirch opened #1238 "Make it easier to change settings with apiclient"
#1219 added some helper methods to `apiclient` to make it easier to update the system by abstracting away the specific API calls needed.  It's also common to change settings using `apiclient`, and there's a similar overhead - you have to know the URI, the HTTP method, the JSON schema, and then commit and apply a transaction with a second call.  We should simplify this common workflow.

[2020-12-11 19:22] tjkirch commented on #1238
I'm working on an `apiclient set` mode that takes simple key=value pairs and handles the transaction for you.  It will also have a `--json` mode for handling repetitive settings deep in the tree, or more complex cases like keys with dots in the name, as sometimes used by k8s node labels.

[2020-12-14 09:58] GSvensk commented on #1075
Does this apply to EKS as well?

[2020-12-14 16:18] zlangbert commented on #1136
@zmrow We have switched back to bottlerocket and have had no trouble with 1.0.3. Thank you so much for your help!

[2020-12-14 16:48] gregdek opened #1239 "Kubernetes 1.19 support"
Kubernetes 1.19 was released in August 2020, so time to update soon.

[2020-12-14 17:07] zmrow opened #1240 "Upstream cri patch for default RLIMIT_NOFILE"
Bottlerocket carries [a patch to `cri`](https://github.com/bottlerocket-os/bottlerocket/pull/1180) that sets a default `RLIMIT_NOFILE`, introduced to help remediate [this OOM issue](https://github.com/bottlerocket-os/bottlerocket/issues/1136).

This configurable limit seems more generally useful, so we should upstream the patch.

[2020-12-14 17:08] zmrow commented on #1136
@zlangbert Awesome, glad to hear it.  I'll close this issue for now, but feel free to re-open or start a new issue should you see further problems.

I've opened #1240 to track the upstream-ing of our `cri` patch.

[2020-12-14 17:08] #1136 closed, assigned to zmrow

[2020-12-14 18:26] bcressey commented on #1165
#1219 addresses the underlying use case of making it easier to drive the updates API, and #1238 addresses the related problem of managing settings related to updates.

With that in place it should just be a matter of:
[code]

For other scenarios we'd prefer using a dedicated tool to parse the JSON output.

[2020-12-14 18:26] #1165 closed, assigned to bcressey

[2020-12-14 18:29] bcressey commented on #1164
We addressed this use case with the high-level update subcommands in #1219 - since we know user intent, we can drive the API ourselves, and paper over the distinction between hard and soft errors.

[2020-12-14 18:29] #1164 closed, assigned to bcressey

[2020-12-14 18:42] mikestef9 opened #1241 "Bottlerocket containerd runtime version has unknown string"
When pulling the containerd runtime from EKS 1.18 variant, an "unknown" string is appended to version that gets returned as shown below

Container runtime
containerd://1.3.7+unknown

**Image I'm using:**
Bottlerocket v1.18 EKS

**What I expected to happen:**
Should return containerd version without "unknown"

**How to reproduce the problem:**
View Bottlerocket node group in EKS console, or use kub

[2020-12-14 18:43] gregdek commented on #1241
Thanks @mikestef9. We'll take a look.

[2020-12-14 22:48] zmrow commented on #1075
This issue is to track support for the ECS variant.  I'm not sure if EKS would work the same way but we'd probably want to track them separately.

[2020-12-15 21:56] #1151 closed, assigned to bcressey

[2020-12-15 22:23] #1237 closed, assigned to etungsten

[2020-12-16 06:10] tjkirch opened #1243 "pubsys repo checks are performed on wrong path if updating repo"
Let's say you have an Infra.toml file with a "default" repo stored under a `bottlerocket-1.0.4-cef8dbd2` directory, because you want to update that existing repo.  If you then build a 1.0.5 image, with the intent to add it into that existing 1.0.4 repo, pubsys still checks whether a 1.0.5 directory exists, and hard-fails if it does, even though the 1.0.5 directory isn't going to be used.  It also

[2020-12-16 08:28] ugurarpaci commented on #882
Any update about a possible fix about it?

[2020-12-16 19:09] etungsten opened #1245 "api: improve restart-commands by passing the list of settings that have changed"
_Originally posted by @tjkirch in https://github.com/bottlerocket-os/bottlerocket/issues/1230#issuecomment-740107225_

[2020-12-17 17:32] ellistarn opened #1250 "Allow arg/env in userdata for host-containers"
**What I'd like:**
I'd like to be able to more easily parameterize `env` and `args` when running containers (similar to how I might w/ docker/k8s) using bottlerocket user data. I see there is a similar feature here: https://github.com/bottlerocket-os/bottlerocket/pull/1244, but IIUC, it doesn't quite go far enough to cover my use case.

[settings.host-containers.my-container]
enabled = true
env.MY

[2020-12-17 18:56] #1241 closed, assigned to samuelkarp

[2020-12-17 20:18] bcressey opened #1251 "add socket activation support for containerd"
**What I'd like:**
Pods and tasks may bind-mount the container runtime socket for various reasons, such as gathering metrics. If containerd is restarted, that socket will no longer be usable, as the underlying file descriptor has been removed and created.

With socket activation, systemd would create the socket and pass the file descriptor into containerd at startup. This decouples the socket's li

[2020-12-17 20:18] bcressey commented on #1251
Note that prior to #1204 we did not restart containerd when settings were changed, in part to avoid cases like this. This also conflicts with #801 since the socket path would be controlled by systemd and defined at build time in order to add the right dependencies to other services.

[2020-12-17 22:09] zmrow commented on #1218
After thinking about this a bit more, I had a few more thoughts about the conditional compilation piece of this puzzle.  I _do_ think that conditionally compiling `early-boot-config` is the correct path, but given the current state of variants and our build system, I don't think that _now_ is the right time to do so.

Here's why:
* our build system doesn't have the concept of "families"; meaning t

[2020-12-19 00:12] samuelkarp commented on #1234
I'm not able to reproduce this issue with Bottlerocket 1.0.4.  Here are the steps that I used to try and reproduce it:

1. Install a very old version of Docker that only supports v2 schema 1 (Docker 1.9 or older)
2. Pull an image from Docker Hub, which will down-convert to v2 schema 1 (I used the `busybox` library image)
3. Push the image to an ECR repository and verify that the media type is uplo

[2020-12-21 12:17] xuchunmei000 opened #1252 "Is it too heavy to update total image with one little point update ?"
About the update scheme, I wonder is it too heavy to update total image, while I just want to do a little update, such as update a binary or config file.
Since the bottlerocket rootfs is readonly and with dm-verity to check its hash, we could only update rootfs by update the total image of rootfs, there will be many many versions of update images, and this will cause complecated version management

[2020-12-22 02:48] caoruidong commented on #1252
It is tenet of atomic update. You can update some config if bottlerocket supports in control container, but no binary files.

[2020-12-24 21:48] mojoa opened #1253 "Time to build"
**Platform I'm building on:**
Fresh Fedora 33 VM 8g 2 cpu
Host - Windows 10 12 core Xeon 96gb mem dedicated ssd for VM.

**What I expected to happen:**
Did not know how long cargo make command would take to build.
13668 sec or 3.8 hours seems long. - Don't know.
Maybe mention approximate expected time in build doc?

**What actually happened:**

Compiling kubernetes-1_18 v0.1.0 (/root/aws/bottleroc

[2020-12-28 21:01] gregdek commented on #1253
Yep, I ran into this as well when I was first building -- I tried on a much smaller host, and it never built at all because of OOM issues. Definitely something to be clarified in the docs. Thanks for bringing it up!

[2020-12-29 02:19] terryares opened #1255 "Please make it available in cn-north-1 and cn-northwest-1"
Hi team,

Do you have a plan about when bottlerocket is supported in China region?

[2021-01-04 16:56] gregdek commented on #862
Given the conversation here, it seems that we expect this to work; changing this to a docs issue.

[2021-01-05 02:32] #1178 closed, assigned to etungsten

[2021-01-05 22:56] webern opened #1260 "Composable Variants (or Richer Variant Semantics)"
Variants are defined as if they were independent of any other variant. However we see a pattern emerging where variants share traits with other variants (Several Kubernetes variants that differ only in the version of Kubernetes, for example).

Looking to a future where many more variants may exist, we should consider whether the current mechanisms for defining variants are sufficient, or if some m

[2021-01-05 23:24] webern opened #1261 "Variant Crossgrades"
To upgrade from one version of Kubernetes to the next requires using a different variant of Bottlerocket. We should add first-class support for changing an instance's variant through the update system.

There are several issues to consider, here are some of them:
- How should an instance know that it is eligible for crossgrade?
- How should instances be prevented from crossgrading to an incompatib

[2021-01-07 04:21] webern commented on #1111
Update, the fix just merged https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/286, I still need to find out how/when the change will be released.

[2021-01-07 18:38] jhaynes commented on #1255
Thanks for asking about the China region. We're excited to bring Bottlerocket into the other AWS partitions, but I can't commit to a timeline right now.

[2021-01-07 18:42] jhaynes commented on #1252
Hi @xuchunmei000 Did @caoruidong answer your question? If not, what extra information can we add to help?

[2021-01-07 22:01] #1239 closed, assigned to etungsten

[2021-01-07 22:34] faarshad commented on #1234
@samuelkarp , after reading https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-manifest-formats.html and testing with ECR, I am thinking that ECR is smart enough to detect that the client(containerd-1.3.7) does not support v2schema1 images and thus ECR translates them to a supported format when containerd pulls the image.

We are able to reproduce this issue with Artifactory registry but

[2021-01-08 03:10] xuchunmei000 commented on #1252
ok, no other information needed, thanks.

[2021-01-08 03:10] #1252 closed, assigned to jhaynes

[2021-01-08 17:29] #1253 closed, assigned to tjkirch

[2021-01-08 21:29] ellistarn commented on #1250
Any word here?

[2021-01-08 21:34] bcressey commented on #882
We added a partial fix for this in https://github.com/bottlerocket-os/bottlerocket/commit/a28e1738c9982374de296c4b275c9a65a291fb7b. I can confirm that everything works on my Fedora 32 development system with SELinux enabled, and Docker installed via the moby-engine package.

I haven't tested podman, though.

[2021-01-08 21:48] webern opened #1268 "updog: upgrade signal-hook"
Signal hook is at `signal-hook = "0.1.13"`, but the current version is `0.3`. When I tried the upgrade some breaking change occurred which I think is out-of-scope for the more mechanical version bumps that I am currently applying.

Specifically:

[code]

This should probably be tackled in isolation to ensure nothing about the API breaks.

[2021-01-08 21:51] tjkirch commented on #1250
Thanks for the idea - it would definitely be nice for users, and we plan to work on it, but haven't started yet.

[2021-01-08 21:58] ellistarn commented on #1250
This might be somewhat heretical, but it would be *amazing* in my eyes if this supported a variant of the YAML representation of https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#podspec-v1-core. Perhaps a subset, like env, arg, cmd.

[2021-01-08 21:59] ellistarn commented on #1250
This would make bottlerocket an extremely attractive OS for running Kubernetes control planes.

[2021-01-09 00:28] webern opened #1269 "update to tough v0.11.0, tokio 1.0, rusoto 0.46, reqwest v0.11."
The rust packages listed in the title are intertwined in various ways.

Multiple major-versions of tokio can not be in use at a given time. rusoto 0.46, hyper 14 and reqwest v0.11 all bump to tokio v1.0.  Meanwhile, we cannot have multiple versions of reqwest in the sources workspace because of the way webpki-root-shim works. So, basically what needs to happen is this https://github.com/awslabs/to

[2021-01-10 22:43] gregdek commented on #882
@jdoss seems like it might be a Podman issue at this point. We don't explicitly support Podman, but if you can verify that it works with Docker but doesn't work with Podman, maybe we can clarify this issue.

[2021-01-11 13:39] juris opened #1270 "yum is missing in admin container"
**Image I'm using:**
AMI ID: ami-0c1942e28f6bfa4bd
bottlerocket-aws-k8s-1.18-x86_64-v1.0.4-cef8dbd2

**What I expected to happen:**
Wanted to install tcpdump via admin container

**What actually happened:**
[code]

**How to reproduce the problem:**
Login to instance with aws ssm agent
[code]
Enable admin container
[code]
ssh to instance
[code]
Try to run yum
[code]

[2021-01-11 13:43] juris commented on #1270
Turned out that sheltie is not the way to go.
Just used `sudo -s` to become root and installed tcpdump

[2021-01-11 13:43] #1270 closed, assigned to nobody

[2021-01-11 15:46] juris opened #1271 "node_exporter can not access persistent volume mounts"
**Image I'm using:**
AMI ID: ami-0c1942e28f6bfa4bd
bottlerocket-aws-k8s-1.18-x86_64-v1.0.4-cef8dbd2

**What I expected to happen:**
node_exporter should be able to access /local/var/lib/kubelet to get mountpoint stats

**What actually happened:**
Can not scrape metrics with node_exporter (version 1.0.1) due to:
[code]

Looks like due to strict permissions (drwxr-x---) on `/local/var/lib/kubelet` a

[2021-01-11 22:23] gregdek commented on #862
Putting this back into triage to answer the question "how do we document this properly?" We know that Bottlerocket supports the necessary eBPF functionality, but do we document Falco specifically?

[2021-01-11 22:31] bcressey commented on #1088
We landed the OS side of this feature in #1173; NVMe volumes will show up under `/dev/disk/ephemeral` and can be used as persistent volumes.

I've used Helm to install the local volume provisioner using these steps:
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/master/helm#install-with-helm-install-directly
[code]

Here's my `bottlerocket.yaml`:
[code]

Please try it

[2021-01-11 22:32] tjkirch opened #1275 "kmod kit availability"
#1220 added support for "kmod kits" that allow building out-of-tree kernel modules.  We want to build these as part of every release and make them easily available to users.

[2021-01-11 22:38] tjkirch commented on #1275
We discussed having them on a standard HTTP endpoint and providing a checksum file for verification, but decided that providing them in our TUF repo would provide better safety guarantees and be easier to integrate.

There are a few sub-tasks we thought of to make sure this is possible:
* ~Ensure `tuftool download`'s `--root` argument supports URLs, so we can point it to our online root file~
  *

[2021-01-11 22:42] bcressey commented on #1141
#1275 is our current plan to integrate this into the release process.

[2021-01-12 19:09] woodwoc opened #1277 "Support For Custom Certificates"
As a bottlerocket customer I would like the ability to install custom certificates within BottleRocket in order to access a private docker repository and pull down container images.  One potential solutions might include injecting the certificate as part of Userdata like what can be done with Amazon Linux optimized EKS images.

[2021-01-14 18:52] #1088 closed, assigned to bcressey

[2021-01-14 18:55] gregdek commented on #862
OK, there's nothing here to document from our perspective; we believe that the helm command documented above (https://github.com/bottlerocket-os/bottlerocket/issues/862#issuecomment-720122492) is sufficient to demonstrate that this issue is resolved.

Thanks @zmarouf and @farshad-hobsons for following along; please feel free to open a new issue or discussion if there are more questions.

[2021-01-14 18:55] #862 closed, assigned to bcressey

[2021-01-15 23:43] bcressey commented on #1208
This could intersect with #1209 by also allowing host-paths to indicate a storage device:

[code]

The above snippet would create the directory and a symlink:
[code]

[2021-01-18 10:37] fasaxc opened #1283 "Mount bpffs at /sys/fs/bpf"
**What I'd like:**

Please can you ensure that the bpffs is mounted at its "standard" mount point: `/sys/fs/bpf` (at present, it seems to be mounted at `/.bottlerocket/rootfs/sys/fs/bpf`.

I work on Project Calico, a popular Kubernetes networking/security plugin.  We've been enabling our eBPF mode on EKS and we noticed that the bpffs isn't mounted at the expected location when using bottlerocket.

[2021-01-18 16:13] fasaxc commented on #1283
On further investigation, looks like we are sharing that mount with the host _somehow_, maybe I just don't understand how bottlerocket is supposed to work here

[2021-01-19 05:24] bcressey commented on #1283
It looks like you've checked the mount list from the admin container, which has the root filesystem and other mounts bound into it at the `/.bottlerocket/rootfs` mount point.

If you run `sudo sheltie` you'll be in a shell on the host and can observe the mounts from there. You should see bpffs mounted at `/sys/fs/bpf`.

[2021-01-19 09:29] fasaxc commented on #1283
Yep, that looks like the problem :+1:

[2021-01-19 09:29] #1283 closed, assigned to nobody

[2021-01-19 18:05] #1238 closed, assigned to tjkirch

[2021-01-21 01:11] tjkirch commented on #1275
We decided to simplify this by not adding Makefile.toml targets for users to download the kit, since we expect that some (most?) won't have the Bottlerocket code repo checked out.  The BUILDING.md update included in #1287 just describes using tuftool directly.  (Can always add a target later if it's useful.)

[2021-01-21 19:37] arnaldo2792 commented on #1271
Hi @juris , thanks for the issue!

As you mentioned, the `/var/lib/kubelet` directory is protected. It contains sensitive information such as kubelet credentials and certificates. If a workload needs access to that sensitive material, it’s appropriate to raise its access level to reflect that.

If you don’t need to get filesystem metrics about that directory, you could use the `node_exporter`’s `c

[2021-01-22 05:41] #1275 closed, assigned to tjkirch

[2021-01-26 18:10] juris commented on #1271
In fact, I do not need fs metrics for exactly this this directory. I need to monitor PV usage, and all the persistent volumes are mounted under `/var/lib/kubelet`. So there are no other options until there is EBS CSI a release with this [PR](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/677).

[2021-01-26 18:10] #1271 closed, assigned to arnaldo2792

[2021-01-27 22:07] umairishaq opened #1293 "ECS - Custom Attributes not updated after version update"
**Image I'm using:**
Tried with a couple of versions; 1.0.2 and 1.0.3 with the following names:
bottlerocket-aws-ecs-1-x86_64-v1.0.2-ddeb03c8
bottlerocket-aws-ecs-1-x86_64-v1.0.3-0c93e9a6

**What I expected to happen:**
After the instance was updated, the ECS custom attribute, bottlerocket.version, should have reflected the new version, 1.0.5 in my case.

**What actually happened:**
The attribute

[2021-01-27 22:49] zmrow commented on #1293
Thanks for opening this!  We'll look into it.

[2021-01-28 00:05] sanu11 commented on #1095
Ran into this 4-5 times:

```failed to solve with frontend dockerfile.v0: failed to solve with frontend gateway.v0: rpc error: code = Unknown desc = failed to build LLB: failed to get dead record t05cy48cc55jkvvfbfanpd1qh: not found```

[2021-01-28 06:33] felipeac opened #1294 "EKS - Support kube-bench CIS scan"
## Expected Behavior

kube-bench report should return valid results when scanning Bottlerocket OS nodes.
[code]
## Actual Behavior

The kube-bench scan is throwing invalid results because Bottlerocket OS places the kubelet config files in a different location and Bottlerocket doesn't have some missing properties.

**Report before applying any change to either kube-bench or Bottlerocket:**

[code]

[2021-01-28 23:06] webern commented on #1111
Update, the fix is in the release process now https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/315

[2021-01-29 00:35] #1027 closed, assigned to bcressey

[2021-02-01 15:44] supasteev0 commented on #1140
Just wanted to share my experience in testing bottlerocket AMI:
We currently use the following kubelet args with the standard EKS AMI:
- allowedUnsafeSysctls: ["net.*"]
- cpuManagerPolicy: "static"

The later is a must have for us as we handle CPU pinning for some of our pods via a Guaranteed Qos class.
Would love to be able to do the same with the Bottlerocket AMI but for that we'd need to be abl

[2021-02-01 18:54] gregdek opened #1297 "CIS Hardening Benchmark for Bottlerocket"
To quote our friends at Microsoft: "CIS benchmarks are internationally recognized as security standards for defending IT systems and data against cyberattacks. Used by thousands of businesses, they offer prescriptive guidance for establishing a secure baseline configuration."

We intend to work with our friends at CIS to create a CIS Bottlerocket Community. Much of the work will likely happen at t

[2021-02-02 00:41] webern opened #1298 "metrics: respect proxy settings"
PR #1006 supports issue #1000

The PR was created before we had host proxy settings. Instead of overloading that existing PR, we will add support for proxy settings as a fast-follow. In the meantime, as a workaround, the metrics feature can be disabled.

**What I'd like:**

`metricdog` should respect `settings.network.https-proxy` and `settings.network.no-proxy`.

[2021-02-03 17:22] bcressey opened #1299 "update to containerd 1.4"
containerd 1.3 is approaching end-of-life, so we need to move to 1.4.

[2021-02-04 19:04] webern opened #1300 "updog: respect proxy settings"
Similar to #1298, but this time for `updog`. We should use the `settings.http-proxy` and `settings.no-proxy` values in `updog`. This likely requires adding a feature to `tough` to allow configuration of the `HttpTransport` with a proxy setting.

[2021-02-04 23:21] backjo opened #1301 "Support Kubelet Arguments for reserving resources"
**What I'd like:**
To be able to configure the Kubelet flags `eviction-hard`, `system-reserved` and `kube-reserved`. These flags allow cluster administrators to reserve resources for the Kubelet and any other running resources. We're currently dealing with a rogue pod eating up disk space - and since we can't reserve resources, we run into an issue where the Kubelet no longer operates normally due

[2021-02-05 00:07] tjkirch commented on #1301
Thanks for your suggestion!  Two of the three, `eviction-hard` and `kube-reserved`, have already been requested in #1140, where we're currently tracking requests for specific Kubelet configuration knobs.  Would you be OK with adding `system-reserved` to that thread?

[2021-02-05 00:13] backjo commented on #1301
Yep - will add a comment and close this as a dupe. Thx!

[2021-02-05 00:13] #1301 closed, assigned to nobody

[2021-02-05 00:14] backjo commented on #1140
We'd also like to see `system-reserved` added

[2021-02-05 19:52] bcressey commented on #1208
We decided not to allow creating host paths on ephemeral storage devices. It introduces a lot of complexity since we have to account for the device being added or removed out of sync with directory creation. It's also inherently ambiguous since we don't control enumeration order for devices, and can't guarantee where the path will be created.

[2021-02-05 20:41] diranged commented on #1140
Just adding support here - we have a number of settings around the eviction rules that we want to tweak. While I understand the argument that you want Bottlerocket to be testable and predictable, I would argue that it really isn't your place to dictate which Kubelet settings that we can implement or not. Sure, you can set defaults that are testable for your purposes, but the users should be able t

[2021-02-06 01:36] diranged opened #1302 "kubernetes: bottlerocket doesn't understand the "Exists" taint"
**Platform I'm building on:**
Bottlerocket 1.0.5 on EKS 1.18

**What I expected to happen:**
Kubernetes has an `Exists` taint that has no value key in it. So the CLI argument looks like this:

[code]

and a matching Toleration would look like this:

[code]

However, there is no way to put that into the `settings.kubernetes.node-taints` configuration because the pattern is hard-coded to expect an `

[2021-02-08 04:47] bcressey commented on #1187
Docker 19.03.15 and 20.10.3 have this release note:

I expect what's needed here is now just an update to the latest version.

[2021-02-08 04:59] bcressey opened #1304 "update to glibc 2.33"
[glibc 2.33 is out!](https://lwn.net/Articles/844831/)

[2021-02-08 05:02] bcressey opened #1305 "update to Docker 19.03.15"
[Docker 19.03.15 is out!](https://github.com/moby/moby/releases/tag/v19.03.15)

[2021-02-08 16:36] diranged commented on #1209
Just checking in - is this on the roadmap for completion?

[2021-02-08 17:22] diranged commented on #367
Perhaps I am missing something - why can't the SSM container be setup to allow the `sudo sheltie` command to run just like the admin container? I find it quite frustrating that we have to enable two different mechanisms for accessing our bottlerocket nodes. The `aws ssm start-session...` command is quite elegant, routes us around network/securitygroup issues, and gives us plenty of audit logging.

[2021-02-08 22:51] tjkirch commented on #367
Hi @diranged.  One big difference between the control container and the admin container is that only the admin container is “superpowered.”  This means that the admin container effectively has “root” access to the system.  (The full differences are listed [here](https://github.com/bottlerocket-os/bottlerocket/blob/b890eca1480c5aaabbeb9edd697285d814f75e75/sources/host-ctr/cmd/host-ctr/main.go#L548)

[2021-02-09 05:41] diranged opened #1307 "Support a separate ENI/Instance-Type Map list for Custom Networking modes"
**What I'd like:**
For users running the EKS AWS VPC CNI in "[Custom Networking](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html)" mode, the supplied [packages/os/eni-max-pods](https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/os/eni-max-pods) file does not work. The mappings are incorrect because you have to remove an ENI from the math.

Ideally either

[2021-02-09 14:20] diranged commented on #367
@tjkirch thanks for the fast response. I am glad to hear the only difference is the privileged-vs-unprivileged mode, because to me that can easily be a configurable flag. We fundamentally don't believe that SSH is actually "more" secure than using the SSM start-session code. The model in our mind is - whats the easiest thing to do securely every time? For us, that is to not store local credentials

[2021-02-09 14:21] diranged commented on #367
On a side note - we're thinking about developing our own custom admin container that uses an SSH Certificate Authority to grant access rather than the EC2 Metadata certificate. We use a custom in-house SSH CA for all of our Github and Bastion access today, so its not a big stretch .. but I would be able to avoid doing this entirely if we could improve the capabilities of the control container.

[2021-02-09 14:45] diranged opened #1310 "Running "cargo make --env-file <file>" doesn't work?"
**Platform I'm building on:**
We're using AWS CodeBuild to try to build our own customized versions of the BottleRocket OS image (see #1307). To try to provide consistent build flags, we created a `cargo.env` file and added in `BUILDSYS_VARIANT=...`, `BUILDSYS_ARCH=...`, `PUBLISH_DATA_VOLUME_SIZE=...` and `GRANT_TO_USERS=...`:

[code]

Then our cargo commands were all written like this (following

[2021-02-09 18:16] tjkirch commented on #367
I agree about the difference in method and use case for SSH vs. SSM.  I wasn't comparing their security levels or saying SSH is better, I was only comparing the security levels of superpowered vs. non-superpowered containers.  If we can allow access to the admin container through the control container (i.e. SSM) then we enable both use cases, based on user preference.  That's what this issue repre

[2021-02-09 18:43] bcressey commented on #1209
Yes it is; @arnaldo2792 is planning to pick this up after #1208.

[2021-02-09 18:59] bcressey commented on #1307
I suppose the way I'd approach this is by having one ASG or managed node group per instance type, and then just overriding `settings.kubernetes.max-pods` via user-data with the right value for that instance type within the launch template.

Is that unworkable for some reason?

[2021-02-09 19:04] diranged opened #1311 "The "cargo make" step creates invalid symlinks when the BUILDSYS_NAME variable is set"
**Platform I'm building on:**
AWS CodeBuild

**What I expected to happen:**
We set the `BUILDSYS_NAME` to a custom value (in this example, `nd-bottlerocket`). The build itself works fine, but it produces images that are named `bottlerocket-...` but symlinks that are pointing to files named `nd-bottlerocket...`.

**What actually happened:**
[code]

At this point, if we look for the image symlinks,

[2021-02-09 19:25] tjkirch commented on #1310
You're not doing anything wrong, but unfortunately we haven't gotten this to work.  So far we haven't found how to use cargo-make in any better way that allows clear usage of layered build variables.  We've hit a few things that seem like weaknesses.

We had to work around the way that cargo-make sets variables in Makefile.toml so that we could allow referencing variables that were overridden on t

[2021-02-09 19:44] tjkirch commented on #1311
Thanks for finding and reporting this!

It looks like [rpm2img](https://github.com/bottlerocket-os/bottlerocket/blob/16b868b1e84260507f37514d84beb3147e7c4733/tools/rpm2img#L27) is assuming the prefix, so I'll work on plumbing the real one through.

[2021-02-09 20:36] nmour77 opened #1313 "Include commands to copy ipamd and plugin logs in from the bottlerocket based EKS worker nodes"
**What I'd like:**
Currently EKS related logs are being collected from bottle rocket AMI based EKS worker nodes by running logdog command from root shell in the Bottlerocket host's root filesystem. However, the below logs are not included in the logs collected by the logdog command.

- ipamd.log
- plugin.log

These logs are present in /var/log/aws-routed-eni/ directory when you drop into root shel

[2021-02-09 20:52] diranged commented on #1307
@bcressey,
  So - if you operate with the Kubernetes cluster-autoscaler, they specifically encourage you to use ASGs exactly as you described. However, if you operate with a third party management tool like Spot.io, you are encouraged to have a wide range of instance types in your mix so that Spot.io's Ocean product can scale up the "right" sized hosts for the workloads. We operate in both - we us

[2021-02-09 22:24] #1311 closed, assigned to tjkirch

[2021-02-09 23:21] diranged commented on #367
Thanks for the detailed response - that's super helpful to have the context! Generally speaking, the only valid use-case I would have for getting into the orchestration container is to collect logs and gather information about the environment. If we could enable that through another container (or more ideally just through the "control" container) in a safe read-only fashion, I would be happy.

I a

[2021-02-09 23:44] diranged commented on #1310
Yikes - well thank you for the clear explanation at least! I think the BUILDING docs could use a blurb about this just so that people don't go down the wrong path trying to figure out how to make this work. I know that your examples in there are all correct, but I spent a while today trying to do it "better" and was surprised when it wasn't working. It would be interesting to get the cargo-make de

[2021-02-09 23:49] tjkirch commented on #367
We're hoping that's what [logdog](https://github.com/bottlerocket-os/bottlerocket/#logs) will solve as we continue to increase the data it gathers and improve how you can get access to it.  It currently needs the admin container so that it has access to the Bottlerocket filesystem, and also because retrieving the resulting file back out through SSH is easier than getting a file out through SSM.  (

[2021-02-10 03:23] diranged opened #1314 "Can we customize the "OS Image" name for our images?"
If we bake our own Bottlerocket images, it would be nice to be able to identify them in Kubernetes with the "OS Image" field. Is there a way for us to customize that string from the build process today?

[2021-02-10 05:13] bcressey commented on #1314
Looks like the OS Image field is coming from the `PRETTY_NAME` field in `/etc/os-release`, which is generated in `rpm2img`, which hard-codes "Bottlerocket OS" - a similar problem to #1311.

I could imagine a couple different approaches:
* something clever, where we split "my-bottlerocket" on hyphens, uppercase the first letter, and turn it into "My Bottlerocket"
* full control over the fixed "Bott

[2021-02-10 05:40] bcressey commented on #1307
Yeah, I agree. There's not really an argument for purity of implementation if we're already tying a default value so closely to a specific setup - running as a worker node under EKS using the VPC CNI plugin in its default configuration. In a perfect world there'd be a feedback mechanism from the CNI plugin itself that could put an upper bound on max pods, so all of this logic could be moved closer

[2021-02-11 02:15] samuelkarp commented on #367
The control container image that we build isn't meant for the same kinds of administrative access that the admin container image is, so we don't include the same tools.  Even if you ran the control container privileged, you'd still need a mechanism to escalate to root before you can transition between namespaces; that would require some sort of setuid binary like `su` or `sudo` to be present.  Bey

[2021-02-11 17:48] diranged commented on #367
@samuelkarp I like the idea of the individual containers doing their own thing, but at the same time I feel strongly about the ability to do deep troubleshooting through the SSM session. Is there a middleground - for example, some pre-generated SSH credentials between the control<->admin container?

[2021-02-11 17:51] samuelkarp commented on #367
@diranged Yep, figuring out that middle ground is exactly what this issue is about.  The top few comments on this issue have most of the discussion; we haven't landed anywhere specific yet in terms of implementation.

[2021-02-11 18:19] etungsten commented on #1095
Intermittent CI failure that seems to only happen for aws-k8s-1.16/aarch64. Potential race?
[code]
https://github.com/bottlerocket-os/bottlerocket/pull/1317/checks?check_run_id=1881507065

[2021-02-11 18:28] tjkirch commented on #1095
I don't think this is the same category of error as the others above.  It started happening with https://github.com/bottlerocket-os/bottlerocket/pull/1303 (see comments) and I'm tracking it down now.

[edit] I believe the fix is https://github.com/bottlerocket-os/bottlerocket/pull/1319.

[2021-02-11 18:53] #1224 closed, assigned to bcressey

[2021-02-12 16:52] bcressey opened #1320 "add support for gzip compressed user data to early-boot-config"
**What I'd like:**
`early-boot-config` should support gzip compressed user data, in addition to uncompressed TOML.

With #1244 and #1317 we could get enough input that we'd otherwise run into the [16 KiB limit](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-add-user-data.html) for EC2 instance user data. Compression will make this channel more useful.

**Any alternatives you've c

[2021-02-12 21:33] gregdek opened #1321 "Improvements to build documentation"
This will track the changes we want to make to add some clarity to our build documentation.

[2021-02-12 23:44] #1000 closed, assigned to webern

[2021-02-16 19:19] webern opened #1325 "metricdog: revise logger usage"
metricdog was merged before #1282, but should now follow the log initializing pattern established by that PR

[2021-02-16 19:23] springroll12 opened #1326 "AWS-independent ssh mechanism or documentation"
**What I'd like:**

With the understanding that connecting directly to a shell on the node is against the design philosophy of Bottlrocket, it would still be nice to have a way to ssh into Bottlerocket control or admin containers that doesn't involve SSM or custom setup. I realize this is a "feature", but I feel there is some DX that could be improved. It is very hard to sell Bottlerocket to a tea

[2021-02-16 19:35] #697 closed

[2021-02-16 19:35] #1157 closed, assigned to nobody

[2021-02-17 17:04] webern commented on #1325
Nevermind, it is already initialized the same way as in 1282, `SimpleLogger::init`

[2021-02-17 17:04] #1325 closed, assigned to webern

[2021-02-18 00:32] #1313 closed, assigned to webern

[2021-02-18 23:41] webern opened #1332 "metricdog and updog: remove reqwest proxy workaround"
In both metricdog and updog we have a workaround in place where we prepend `http://` to `https-proxy`.
This is no longer necessary in reqwest 0.11.1.
Once we have the updated version of reqwest in place in both tough and bottlerocket, we should remove these workarounds in metricdog and updog.

Here is the reqwest PR that we need: https://github.com/seanmonstar/reqwest/pull/1178
Here is the trackin

[2021-02-19 06:03] anguslees commented on #1140
My 2c (and I'm nothing to do with BR team, so this is a suggestion only):

`--eviction-hard=memory.available<560Mi` (or some similar value) should just be set by default in BR.  Whatever the right 'reserved' memory/cpu is, it's a fixed/known quantity (calculated using max-pods) for a fixed/known BR image.  Once we start using the 'right' value, there should be no reason to adjust it afaics?  (And

[2021-02-19 22:17] tjkirch commented on #1326
Hi @springroll12, thanks for your feedback!

You’re right, there are still some AWS dependencies at the moment.  The default admin (SSH) container is stored in AWS’s container registry, ECR.  However, if you’re running an aws-* variant of Bottlerocket, you shouldn’t need SSM or a custom setup to connect to it, just an SSH client and the SSH key you gave when launching the Bottlerocket instance.  (

[2021-02-20 01:07] #1314 closed, assigned to tjkirch

[2021-02-20 01:09] #1305 closed, assigned to webern

[2021-02-21 16:18] springroll12 commented on #1326
Thanks. After seeing the ssh example you linked it is more clear to me how to provide the userdata I need to enable the admin container by default (with eksctl). With nodes provisioned in a private subnet (recommended eks setup), I imagine I'll need to connect through a bastion host of some kind.

If I wanted to not have SSH enabled on my nodes by default, would the correct approach be to enable t

[2021-02-22 21:18] gregdek commented on #1310
It's pretty clear that there are some weird issues around cargo make generally, and I believe it's the team's intention to replace it as soon as is practical. Rather that going down the road of documenting edge cases, it seems like it's better to leave this be and focus on pullling cargo make out entirely. Thanks for reporting it!

[2021-02-22 22:06] #1310 closed, assigned to gregdek

[2021-02-23 01:46] #1299 closed, assigned to bcressey

[2021-02-23 02:06] mozinrat commented on #769
Just wanted to understand is there any formal approach decided for this? Its been quiet some time since any updates.

[2021-02-23 18:24] tjkirch commented on #1326
Yeah, we have an `enable-admin-container` helper script in the control container to try to make that easy.  (The control container is enabled by default.)  We also have an [issue](https://github.com/bottlerocket-os/bottlerocket/issues/367) to figure out easier access to the admin container from the control container, without having to jump outside of the host.

Yeah, given that you're in a private

[2021-02-23 19:41] tjkirch opened #1345 "Update tokio-related dependencies"
In `sources/` and `tools/` we have a number of crates that need updates to tokio-related dependencies, now that tokio 1.0 is out and other crates have updated to use it.  This includes updating tokio itself, plus hyper, hyper-unix-connector, and reqwest.

[2021-02-23 20:10] webern commented on #1345
This is the same as #1269

[2021-02-23 20:14] bcressey opened #1346 "inconsistent handling of invalid user data"
**Image I'm using:**
aws-k8s-1.18 v1.05

**What I expected to happen:**
I expected the same failure mode for "invalid TOML" as for "unrecognized settings" from `early-boot-config` - in both cases, the desired settings are not usable in the provided form, so the system should respond in the same way.

**What actually happened:**
Invalid TOML triggers a cascading series of service startup failures:

[2021-02-23 20:40] webern commented on #1345
Basically tough is the blocker, we should release to ensure we're unblocked: https://github.com/awslabs/tough/pull/350

[2021-02-23 21:28] tjkirch commented on #1346
_Should_ dependencies still try to start with default values?  What if your user data was trying to set custom host containers, because you _don't want_ to run the default AWS-based ones?  I don't think it's safe to assume.  To debug, you're going to be looking at journal output, which you can see on the console in any case, without having to access the node.  In the error you pasted it's pretty c

[2021-02-23 21:30] #1345 closed, assigned to nobody

[2021-02-24 01:28] bcressey commented on #1346
I've updated the title with what I consider the real issue, which is that the behavior is inconsistent. The failure mode should be the same.

[2021-02-24 01:33] bcressey commented on #1346
I agree. It's definitely surprising that the default host containers are used when custom host containers are specified along with an invalid setting. It's not a huge leap from "surprising" to a serious misconfiguration with security or operational implications.

The "invalid TOML" path is what we intend.

[2021-02-24 16:24] bcressey opened #1349 "update default sysctls for 5.10 kernel"
@sam-aws gave us a heads-up that some of the sysctl defaults that are currently set in the kernel will need to be added by userspace for 5.10, if we want to keep them.

[code]

[2021-02-24 17:27] JacobGabrielson opened #1350 "Setting to dump output of "systemd-analyze blame" to console"
**What I'd like:**

A setting like this:

[code]

Which would dump the output of `systemd-analyze blame` to the console (so you could see it in the EC2 console output). (Maybe other features could be added over time).

**Any alternatives you've considered:**

The alternative is rather laborious - make sure the instance launched with an ssh Key, then SSM into the server, enable the admin container,

[2021-02-24 17:35] JacobGabrielson opened #1351 "Booting EKS image in a VPC w/o IPv6 support takes additional ~30s"
**Image I'm using:**

`/aws/service/bottlerocket/aws-k8s-1.18/x86_64/latest/image_id` in us-west-2, presently:

- ami-09030b5be1adb0be1
- bottlerocket-aws-k8s-1.18-x86_64-v1.0.5-f306b954

**What I expected to happen:**

I expected the kubelet to be ready in (from initial boot) somewhere in the 10-20s range

**What actually happened:**

It ended up being somewhere in the 50-60s range

**How to repr

[2021-02-24 17:59] bcressey commented on #1351
This is inconsistent for me with launches into the same subnet without IPv6 auto-assign enabled.

Node 1:
[code]

Node 2:
[code]

Node 3:
[code]

We're meant to be capping the wait time for IPv6 addresses at one second, per [eth0.xml](../blob/develop/packages/release/eth0.xml).

[2021-02-24 18:58] tjkirch commented on #1269
inotify is another dependency that updated because of tokio.

[2021-02-24 20:08] tjkirch commented on #1269
Also httptest.

[2021-02-24 22:08] tjkirch commented on #1269
Also coldsnap, which needs to do a new release that includes the change it made to use tokio 1.

[2021-02-25 02:29] gregdek commented on #1321
The only change we decided to make was merged in #1339.

[2021-02-25 02:29] #1321 closed, assigned to gregdek

[2021-02-25 02:41] samuelkarp commented on #769
Hi @mozinrat! The last update provided by @jhaynes is still accurate; we're still planning to look at this but we haven't yet determined a particular approach.

[2021-02-25 15:23] fasaxc opened #1354 "Way to install kubelet plugins?"
**What I'd like:**

I'm trying to get Calico to install onto an EKS Bottlerocket system.  By default, Calico tries to install a flexvol driver by mounting `/usr/libexec/kubernetes` in from the host and dropping the binary in there.  However, on Bottlerocket systems, that directory is read-only.  I was wondering if the path is different on Bottlerocket or if kubelet plugins simply are not supported

[2021-02-25 18:06] samuelkarp commented on #1234
Hi @farshad-hobsons! My apologies for the lengthy delay in responding to you.

The page https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-manifest-formats.html describes the format conversions that ECR will perform.  The scenario I tested falls into the column labeled "Pushed to ECR as V2, schema 1" and "No translation available" for all of the rows.  I was able to validate that contain

[2021-02-25 18:51] webern commented on #1269
Good catch, opened this PR to get it done https://github.com/awslabs/coldsnap/pull/46

[2021-02-26 19:32] faarshad commented on #1234
@samuelkarp

Unfortunately, our Artifactory registry is tied to internal compliance restrictions. Btw, we have eliminated all the places where we had older docker clients pushing to artifactory registry, so this issue is not really a blocker for us.

Yes, i was able to reproduce outside of the Bottlerocket using the following steps:

1. Build an image on an older version of docker

`docker run --p

[2021-03-01 18:22] samuelkarp commented on #1234
Is this something that you can report either upstream to the [containerd project](https://github.com/containerd/containerd) or to JFrog about their Artifactory product?  Unfortunately without a way to replicate the failure there's not much that I can do to debug.

I'm glad to hear this!  Please let us know if you have any other blockers in the future.

[2021-03-01 18:36] samuelkarp commented on #1187
@bcressey I'm still able to reproduce this bug with a build of Bottlerocket from the latest sources (which includes Docker 19.03.15).

[2021-03-01 18:57] bcressey commented on #938
Fixed upstream in https://github.com/opencontainers/runc/pull/2558.

[2021-03-01 18:57] #938 closed, assigned to nobody

[2021-03-01 22:09] webern commented on #1304
Done, looks like we don't have auto issue closing...

[2021-03-01 22:09] #1304 closed, assigned to webern

[2021-03-01 22:09] webern commented on #1300
Done

[2021-03-01 22:09] #1300 closed, assigned to webern

[2021-03-01 22:09] webern commented on #1298
Done

[2021-03-01 22:09] #1298 closed, assigned to webern

[2021-03-01 22:10] webern commented on #1111
This is almost certainly released and done, but I haven't had a chance to re-test yet.

[2021-03-01 22:47] zmrow commented on #1346
I think there is a misunderstanding.

For AWS instances, `early-boot-config` fetches the IID (for region) and user-data from IMDS, and if fetching and parsing both is successful, sends them to the API.

@bcressey In this specific case, `settings.aws.region` doesn't get set because `early-boot-config` bombs out early because of invalid TOML.  The system attempts to start the host containers but can

[2021-03-01 23:09] webern opened #1361 "only build the packages needed for the current variant"
**What I'd like:**

We have a build-packages phase that builds all packages, even those that aren't needed for the variant currently being built. See if we can build only the packages that we need for the current variant.

**Any alternatives you've considered:**

Leaving it the way it is... but this becomes more problematic as we have more large packages (multiple kubernetes versions, or kernels,

[2021-03-02 03:11] bcressey commented on #1346
I expect the same behavior from these two cases. I'm aware that the behavior is different, but that's not a misunderstanding, it's a bug.

[2021-03-02 05:38] bcressey commented on #1361
One difficulty here is that the "packages" we include in a variant definition can be sub-packages at the RPM spec level. For example, the k8s variants now include "static-pods" which is a sub-package of `packages/os/os.spec`.

This property is useful at image construction time, since we can easily create a list of specific RPM packages to install. However, for the purposes of limiting the build to

[2021-03-03 04:55] webern commented on #1361
Yeah, and I think the other problem is release.spec which expects all of it's RPMs to be exist? For a proof of concept I'm thinking of hacking Cargo.toml`[dependencies]` to invoke cargo build on all prerequisites before arriving at the 'cumulative' specs.

[2021-03-03 22:20] webern commented on #1269
OK, `coldsnap` and `tough` dependencies are published so this should be unblocked.

[2021-03-04 04:25] bcressey opened #1364 "avc denial for dbus-broker"
More recent builds have this AVC denial in the journal:

This is likely related to the new `dbus-broker`. Note that we no longer see the denials from #1015.

[2021-03-05 15:24] domgoodwin opened #1367 "Cilium Cluster Scope Support"
**Image I'm using:**
ami-059c8b27104178e42

**What I expected to happen:**
Deploying Cilium onto Bottlerocket nodes in an EKS cluster should allow Cluster Pool networking where it's in an overlay node and outbound requests go via SNAT.

**What actually happened:**
Egress from pods did not work with no errors found in selinux audit logs or otherwise

**How to reproduce the problem:**
1. Have unmana

[2021-03-06 00:20] jhaynes commented on #1367
Thanks for the report @domgoodwin. We've run Cilium on Bottlerocket successfully, but haven't tried to run in this configuration. We'll dive in soon, but do you know if this configuration works on the AL2 based EKS optimized AMI?

[2021-03-06 05:53] domgoodwin commented on #1367
Yes, so the exact configuration and networking setup works with AL2.

One thing suggested was this note around a systemd flag:

[code]

I wasn't able to see how I'd change that from my initial look but did see systemd is above version 245

I'm going to test out again setting this:
[code]

[2021-03-08 11:47] domgoodwin commented on #1367
Setting this in the config file didn't seem to fix it
[code]

Unsure what else I can try, the reccomended value `net.ipv4.conf.lxc*.rp_filter = 0` didn't work due to the * not being accepted as valid

[2021-03-08 18:52] zmrow opened #1369 "early-boot-config: Add "guestinfo" datasource (host-guest protocol) for VMware variants"
In the process of researching [ClusterAPI](https://cluster-api.sigs.k8s.io/), and more specifically the [vSphere data provider](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere), we discovered that CAPV [uses the VMWare host-guest protocol](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/7a529442e2102159b1d51314c9b3dffba6ed0280/pkg/services/govmomi/vcenter/clone

[2021-03-08 19:03] zmrow commented on #1218
Closing this in favor of more specific issues.  I opened #1369 to track some additional work for VMware for `early-boot-config`.

In regards to `pluto` we also have the option to write a new settings generator rather than extending `pluto`.  Once we have a better idea of the settings we'll need, a separate issue will be opened.

[2021-03-08 19:03] #1218 closed, assigned to zmrow

[2021-03-09 00:10] izaakschroeder commented on #1367
This may be related: https://github.com/cilium/cilium/issues/14459 😄

[2021-03-09 18:39] #1038 closed, assigned to etungsten

[2021-03-10 19:25] webern opened #1377 "update_metadata: remove tough dependency"
https://github.com/bottlerocket-os/bottlerocket/pull/1370#discussion_r591802467

Remove the `tough` dependency from `update_metadata`.
- Update_metadata is a cross workspace dependency, pubsys needs it, and removing `tough` makes this cross-workspace dependency cleaner.
- There is only one function that uses `tough` and it is small, we should paste that function into the two crates that use it `up

[2021-03-10 19:42] #1320 closed, assigned to tjkirch

[2021-03-10 20:29] derekwlmscfa opened #1378 "Support fluentd log collection"
**What I'd like:**

Support fluentd log collection on Bottlerocket nodes. Provide configs/manifests, examples, and/or documentation.

Ideally, support both Bottlerocket and standard (Amazon Linux 2) AMIs from the same manifests, including a shared fluentd ConfigMap.

**Background**

We use fluentd (with the cloudwatch_logs plugin) to forward logs to AWS CloudWatch Logs. We have clusters with mixed

[2021-03-10 23:04] webern commented on #1269
`tools` has been updated to use tokio v1. Bottlerocket (i.e. `sources`) has not because we need `actix-web 4.0`.

[2021-03-11 00:23] PenguinToast opened #1379 "Pods stuck in creating state due to mount failure"
**Image I'm using:**
amazon/bottlerocket-aws-k8s-1.18-x86_64-v1.0.6-ee56d1fc

**What I expected to happen:**
Pods should not fail to start

**What actually happened:**
On some nodes, after some point in time, all pods start failing to start with error messages similar to the following:
[code]
Most of our nodes still operate fine, and there do appear to be pods that started before the node reached

[2021-03-11 00:34] bcressey commented on #1379
Might also be worth checking `df -hi` to verify that the `/local` filesystem is not out of inodes.

[2021-03-11 01:10] PenguinToast commented on #1379
Good point, just checked but unfortunately I also see ~75% inode usage there

[2021-03-11 03:45] arnaldo2792 opened #1380 "Zombie child process started from apiserver"
**Image I'm using:**
bottlerocket <= 1.0.6

**What I expected to happen:**
Whenever a settings transaction is committed, `apiserver` make a call to `thar-be-settings` ([here](https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/api/apiserver/src/server/controller.rs#L333)). The expected behavior is that the child process for `thar-be-settings` ends completely after the updates are

[2021-03-11 17:13] bcressey commented on #1379
Is there anything following "Output" or it's actually empty?

[2021-03-11 18:00] #1268 closed, assigned to webern

[2021-03-11 19:19] webern opened #1383 "Update the default variant used in builds/documentation"
**What I'd like:**

When building Bottlerocket, if you don't specify a variant, it will currently use aws-k8s-1.17.  aws-k8s-1.17 is also referenced in some places in the documentation as an example.  Now that aws-k8s-1.18 and aws-k8s-1.19 variants are available, and we want new users to go with newer versions unless they have a preference, we should update the default variant to a later one.

[2021-03-11 22:52] backjo commented on #1378
I wonder if this just needs a CRI parser enabled on the FluentD configuration to work. We had the same issue with FluentBit not picking up logs until we enabled the CRI parser for BottleRocket nodes.

[2021-03-11 23:05] samuelkarp opened #1385 "host-containers fails when any expected field is missing"
**Image I'm using:**
[code]

**What I expected to happen:**
When I reboot a working Bottlerocket instance in a non-degraded state, it comes back up in non-degraded state.

**What actually happened:**
Bottlerocket booted in a degraded state where the `settings-applier.service` unit failed, causing `configured.target` to fail and any other units depending on it to fail.

**How to reproduce the probl

[2021-03-11 23:38] webern commented on #1385
I think that's a typo.

[2021-03-11 23:47] tjkirch commented on #1385
I think we probably want to take all 3 approaches, to some degree.

For (1) we should be able to delete settings from a map, yeah.  We need to figure out what happens when that's done in "bad" situations, like trying to delete just _one_ of the settings needed for a host container, i.e. this issue ;)

For (2) we should probably have some ability to link or verify settings together somehow, though

[2021-03-12 00:02] mhoppe-cedar commented on #1297
This is great new @gregdek ! I am new to bottlerocket and trying to figure out how to build it in a fips-compliant way. I have found procedures for working with AL2 ([al2 hardening](https://github.com/aws-samples/amazon-eks-custom-amis/blob/1799f3838f153408b853f1d6b953845714229897/scripts/al2/hardening.sh#L13)), but not familiar with working in systems without a package manager really. Would you b

[2021-03-12 14:09] fasaxc opened #1386 "Setting for local_port_range overlaps with very common listen ports"
**Image I'm using:**

Bottlerocket appears to set the local port range to
[code]
In this file:
https://github.com/bottlerocket-os/bottlerocket/blob/v1.0.5/packages/release/release-sysctl.conf#L23

**What I expected to happen:**

Ports in the 8000-10000 range should be available for services to listen on (e.g. HTTP servers on 8081, common healthcheck ports etc).

**What actually happened:**

Outbou

[2021-03-12 16:37] gregdek commented on #1297
Part of the issue here is that Bottlerocket is essentially "hardened by default". It's not intended to be rebuilt in most cases.

Unlike most operating systems, which are potentially insecure and require specific configuration to secure them, Bottlerocket is already highly secure, and if you want to open up ssh or allow containers to run in a more highly privileged way, you have to make conscious

[2021-03-12 16:56] mhoppe-cedar commented on #1297
Thank you for the thoughtful reply. I completely get it and appreciate the work you and your team are doing in this space. We're sold on bottlerocket being the future :).

[2021-03-12 21:01] bcressey commented on #1354
CSI drivers would be supported.

I'll check whether it will be sufficient to add a compatibility symlink from `/usr/libexec/kubernetes/kubelet-plugins` to `/var/lib/kubelet/plugins`, which is where our `kubelet` is configured to look.

[2021-03-12 21:28] #1380 closed, assigned to tjkirch

[2021-03-12 22:25] etungsten opened #1389 "Improve restart-commands: pass list of changed settings that's triggering the restart"
_Originally posted by @tjkirch in https://github.com/bottlerocket-os/bottlerocket/issues/1230#issuecomment-740107225_

**What I'd like:**
For restart-command helpers like[ `host-containers`](https://github.com/bottlerocket-os/bottlerocket/tree/develop/sources/api/host-containers) to know which settings are being changed so it can determine which host-containers needs to be restarted.
Currently hos

[2021-03-12 23:12] webern commented on #1111
@bcressey has verified this. Closing.

[2021-03-12 23:12] #1111 closed, assigned to webern

[2021-03-13 00:17] webern commented on #1332
Note: this is blocked by #1269.

[2021-03-13 00:27] webern commented on #1383
Here's an example from when we updated from 1.15 to 1.17: #1002.

[2021-03-15 16:52] bcressey opened #1392 "add a mechanism for containers to configure the host on first boot"
**What I'd like:**
I'd like a way to extend first boot setup by bringing my own custom logic in a container.

Some use cases:
* creating paths on the host before any orchestrated container starts (#1208)
* generating a setting on boot based on the running environment (#1307)
* applying settings in bulk from a remote source (#1391)

**Any alternatives you've considered:**
In #1208 we looked at exte

[2021-03-15 16:53] bcressey commented on #1392
Tracking the implementation in #1387.

[2021-03-16 01:55] bcressey opened #1396 "concurrent creation of static pods is error prone"
**Image I'm using:**
aws-k8s-1.19

**What I expected to happen:**
When setting static pods in a loop, I expected them all to come up independently and not interfere with other pods.

**What actually happened:**

**How to reproduce the problem:**
Set static pods in a loop like this.
[code]

[2021-03-16 01:58] bcressey commented on #1396
It looks like we need to create the file elsewhere and move it into the directory; otherwise `kubelet` will see the manifest replaced by an empty file.

[2021-03-16 15:06] derekwlmscfa commented on #1378
Thanks, @backjo, that does look promising. I finally got a chance to check the node logs (I had to create a new cluster on my own account to ssh into the admin container and run sheltie). The formats I'm seeing look like CRI:
[code]
Which fluentbit parser are you using? Is it [this](https://github.com/fluent/fluent-bit/blob/master/conf/parsers.conf#L105), [this](https://github.com/microsoft/fluent

[2021-03-16 18:33] jpculp opened #1398 "Add tests to imdsclient"
**What I'd like:**
#1372 adds a shared IMDS client to be used by several critical processes in Bottlerocket. @webern and I would like to add testing to `imdsclient`. Tests could potentially be written with a mock server and a constructor, while the real clients would use an implemented `Default`.

**Any alternatives you've considered:**

`imdsclient` could simply not have automated testing, but th

[2021-03-16 20:54] #1377 closed, assigned to webern

[2021-03-16 23:23] jpculp commented on #1293
Thanks @umairishaq for pointing this out. Due to some limitations in the ECS API we've decided to remove this attribute. We'll leave the issue open for now so that we can explore other options at a later date.

[2021-03-16 23:41] bcressey commented on #1379
We suspected this might be the known issue upstream where systemd can get bogged down when managing a large number of mounts, exacerbated by a [Bottlerocket-specific patch](https://github.com/bottlerocket-os/bottlerocket/commit/4781e3a5) that lowers default timeouts, resulting in `systemd-run` taking too long to complete.

However it seems like it's systemd becoming unresponsive at much lower numb

[2021-03-16 23:43] arnaldo2792 commented on #1386
Hello @fasaxc , thanks for the issue!

As you mentioned, Bottlerocket uses a wide port range for net.ipv4.ip_local_port_range, the reason being that applications and services running in the host could create many outbound connections.

You can override this value through the API as a workaround for now, either using user data or API calls from the control/admin containers:

[code]

[code]

We will

[2021-03-17 09:55] fasaxc commented on #1386
Thanks, I'll let the user who raised it know how to configure that.

Clearly, there's a trade-off here but we certainly found it surprising that there were no guaranteed-available server ports > 1024.

[2021-03-17 16:26] bcressey commented on #1379
We're pretty sure this is the end state after systemd segfaults and ends up frozen, per https://github.com/systemd/systemd/issues/17768.

[2021-03-18 20:51] zmrow opened #1404 "buildsys: Add ability for variants to support specific architectures"
**What I'd like:**
Authors of variants should be able to choose whether or not they will support an architecture.  The variant should only build for architectures specified.  Ideally, this would be something that could be specified in the variant's `Cargo.toml`, similar to the `image-format`.

[code]

**Any alternatives you've considered:**
We could add additional logic into `Makefile.toml` to out

[2021-03-19 03:19] mmochan opened #1405 "cilium-node-init CrashLoopBackOff when running on Bottlerocket OS"
**Platform I'm building on:**

- AWS EKS
[code]

- Cilium version
[code]

- Kernel version
[code]

**What I expected to happen:**
I expected the cilium-node-init pod to start successfully

**What actually happened:**
cilium-node-init fails with
[code]

**How to reproduce the problem:**

1. Deployed Cilium 1.9.5 with the following configuration
[code]
2. Added a worker node ( Autoscaling group / La

[2021-03-19 20:10] bcressey commented on #1386
Current thinking is that we'll align this with [the ECS values](../blob/develop/packages/ecs-agent/ecs-sysctl.conf) in the variants for Kubernetes 1.20 onward.

[2021-03-19 21:27] snstanton opened #1594 "nodes fail to come all the way up after restart"
The upgrader automatically upgraded our nodes this morning, which is great.  Unfortunately we're still seeing the behavior where there is a startup race with aws-node, so one of our nodes didn't properly restart.  I had to manually kill the aws-node pod on that node to get it to finish the upgrade.  We see this pretty much every time an upgrade happens.

There seems to be a race condition where aw

[2021-03-19 21:31] etungsten commented on #1302
Hi @diranged,

The `--register-with-taints` argument to kubelet takes a list of taints of the form ` <key1>=<value1>:<effect1>,<key2>=<value2>:<effect2>`. The equal sign is a necessary part of the separators. (See documentation for this argument [here](https://kubernetes.io/docs/concepts/architecture/nodes/#self-registration-of-nodes) and [here](https://kubernetes.io/docs/reference/command-line-to

[2021-03-22 16:13] WilboMo commented on #1405
Thank you for bringing the issue to our attention. The problem you’re experiencing is a result of the cilium-node-init container attempting to use the host’s Bash. As Bottlerocket does not have a shell available, accessing Bash in this manner is not possible. However, we don’t believe that cilium-init-nodes are required to run Cilium on Bottlerocket successfully. Can you try that out and see if th

[2021-03-22 18:54] jahkeup commented on #1594
Hey @snstanton, thanks for creating this issue to help nail this down.

I suspect that the race condition exists elsewhere and I'm not sure we'll be able to address in the update operator itself. That said, I do want to figure out what's going on here and see if this can't be addressed another way in Bottlerocket, if appropriate.

When we were chatting last week on the AWS Developer Slack I found

[2021-03-23 02:02] mmochan commented on #1405
Thanks I've tried that and that does work. However, it only works when ```cni.chainingMode``` is not set

I need chaining mode enabled ```cni.chainingMode=aws-cni```

With it enabled Cilium doesn't start
[code]
and ```coredns``` terminates and restarts continuously

[2021-03-23 15:23] springroll12 commented on #1378
@backjo Can you elaborate on what you needed to do to get fluent-bit working?

[2021-03-23 17:58] #1383 closed, assigned to webern

[2021-03-23 18:53] snstanton commented on #1594
The cluster was initially 1.14 but has been upgraded to 1.19 at this point.  We manage our nodes with terraform and the update operator.  Typically the nodes are updated to the latest ami by terraform when we re-run that script, but are upgraded by the operator in between invocations.  We have seen the hangs on both terraform and operator initiated upgrades.

[ds-aws-node.yaml](https://github.com/

[2021-03-23 18:54] snstanton commented on #1594
Since upgrading to bottlerocket 1.0.7 and eks 1.19 I haven't been able to reproduce the hangs.  I'll add the additional info when/if it reproduces.

[2021-03-23 22:06] #1302 closed, assigned to etungsten

[2021-03-23 23:32] backjo commented on #1378
@springroll12 we use the following for collecting container logs. It uses the default CRI parser:
[code]

[2021-03-24 02:55] gregdek opened #1410 "Trim VMWare kernel config"
"Need to restrict support to just NVME for storage and VMXNET3 for network"

[2021-03-24 03:18] gregdek opened #1411 "Wire up Control container and SSM to register off of AWS via token from userdata/api"
* init token sent through user data
* have control container see that data and set up as self-registered

[2021-03-24 03:22] gregdek opened #1412 "Write VMWare variant documentation"
This is a tracking task to finalize a quickstart and give all docs a once over. As components are built, they will be documented along the way.

[2021-03-24 03:27] gregdek opened #1413 "Add kdump support"
Need the ability to collect a core dump after a kernel crash

[2021-03-24 18:05] bcressey opened #1414 "include grep in the host OS"
**What I'd like:**
I'd like to have `grep` available in the host OS to help inspect logs.

**Any alternatives you've considered:**
Either running `grep` from the admin container or using other tools to find output. This can be inconvenient, especially if interrupts a troubleshooting session inside a host shell.

[2021-03-24 19:17] gregdek opened #1415 "Add support for building OVA"
We can build vmdks today, but we'd like to be able to build OVA packages for publishing.

[2021-03-24 19:35] swade1987 commented on #1414
This would've been extremely useful when needing to run the following command to remove old calico IP tables rules

[code]

[2021-03-24 22:34] #1396 closed, assigned to etungsten

[2021-03-25 03:03] #1354 closed, assigned to bcressey

[2021-03-25 20:41] webern commented on #1197
Also linking this commit https://github.com/awslabs/amazon-eks-ami/commit/4353bbf1e

[2021-03-25 21:20] gregdek opened #1419 "cargo make test"
@webern wrote in April 2022:

We have created a system for testing Bottlerocket images over at https://github.com/bottlerocket-os/bottlerocket-test-system/
We want to integrate that system here. The ultimate goal is to run `cargo make test` after `cargo make build`, `cargo make ami`, and `cargo make repo` (and I guess we need something for pushing the repo), end then the `bottlerocket-test-system`

[2021-03-25 21:22] gregdek opened #1420 "Create capsys for launching Bottlerocket test instances"
As a companion to testsys (https://github.com/bottlerocket-os/bottlerocket/issues/1419), we imagine a system named capsys for launching Bottlerocket instances to be used by testsys tests. Capsys would be responsible for launching the Bottlerocket instance with appropriate userdata to facilitate the tests. Remaining neutral with respect to platform and container orchestrator will be among the chall

[2021-03-25 22:32] webern commented on #1197
I have started looking at this. It seems the big difference is here:

https://github.com/awslabs/amazon-eks-ami/blob/732b6b2f4bee5b92297c416de1f8cba30a70b364/files/bootstrap.sh#L301..L309

The `aws eks` CLI is being used to describe the cluster and obtain the CIDR. In the event that the CIDR is not-customized, then Bottlerocket's fallback logic appears to be the same.

To replicate this, we would

[2021-03-25 23:02] tjkirch commented on #1420
Closing this as it was based on an earlier design for testing that we're moving on from.  (Not to say that we won't need something similar, but it will, at a minimum, fit in differently.)

[2021-03-25 23:02] #1420 closed, assigned to nobody

[2021-03-26 11:06] springroll12 commented on #1405
@mmochan Did you find a workaround for this? We're seeing the exact same issue unfortunately.

[2021-03-26 17:51] jhaynes commented on #1379
@PenguinToast we expect that our [1.0.7 release](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.0.7) has fixed this bug. I'm going resolve this issue for now, but if you're still running into this, please re-open and we'll keep digging!

[2021-03-26 17:51] #1379 closed, assigned to arnaldo2792

[2021-03-26 20:29] PenguinToast commented on #1379
Yep, I haven't seen this behavior re-occur since 1.0.7 was deployed -- thanks for the help here!

[2021-03-26 22:33] mmochan commented on #1405
@springroll12 Unfortunately not yet.

[2021-03-27 03:28] bcressey opened #1424 "set proxy variables in host container environment"
**What I'd like:**
Host containers should receive the same `HTTPS_PROXY` and `NO_PROXY` variables we set for various services on the host.

This is particularly important for bootstrap containers (#1392) but would be generally useful. For orchestrated containers, we expect the correct values to be supplied by the orchestrator agent, but for these containers we're effectively taking on that role.

[2021-03-29 14:32] derekwlmscfa commented on #1378
Thanks for the suggestions, @backjo and others! I was able to get good results with `fluentd` using:
- The [cri parser](https://github.com/fluent/fluent-plugin-parser-cri), when using only Bottlerocket nodes (containerd runtime only), with `source` containing:
[code]
- The [multi-format parser](https://github.com/repeatedly/fluent-plugin-multi-format-parser) when using mixed nodes (Bottlerocket an

[2021-03-29 18:17] bcressey commented on #1385
We should probably have reasonable defaults for host containers - "enabled: false" and "superpowered: false" both seem sensible.

[2021-03-29 18:45] webern commented on #1269
Here are a few useful tracking links
https://github.com/actix/actix-web/milestone/6
https://github.com/actix/actix-web/blob/web-v3.3.2/actix-http/Cargo.toml#L47
https://github.com/actix/actix-net/blob/1.0/actix-rt/Cargo.toml#L23

[2021-03-30 00:34] webern commented on #1197
Sadly, I have to mark this as blocked for the moment. The field we need to replicate the EKS AL2 script is `cluster.kubernetesNetworkConfig.serviceIpv4Cidr`.

This field does not exist in rusoto v0.45 https://github.com/rusoto/rusoto/blob/rusoto-v0.45.0/rusoto/services/eks/src/generated.rs#L51

It was added in this commit:
https://github.com/rusoto/rusoto/commit/4ca2e90b307e03ec857d98a794866b316a0

[2021-03-30 16:48] zmrow opened #1427 "`media-cdrom.mount` fails if the device exists but no media is present"
**Image I'm using:**
vmware-dev

**What I expected to happen:**
A system with a CD-ROM drive attached _but with no media present_ shouldn't cause any systemd units to fail.  The `media-cdrom.mount` unit should only attempt to mount if there is an ISO present.

**What actually happened:**
The `media-cdrom.mount` unit fails attempting to mount an ISO (that doesn't exist).
[code]

**How to reproduce

[2021-03-30 21:09] etungsten opened #1429 "Kubernetes 1.20 support"
Kubernetes 1.20 was released a while ago: https://kubernetes.io/blog/2020/12/08/kubernetes-1-20-release-announcement/

[2021-03-30 22:27] jpculp opened #1430 "Restrict or delay retries for launching failed host containers"
I've noticed that when a host-container exits, it appears to re-launch shortly after. In some cases, like when the control container is registering with SSM, this can cause a situation where the control container attempts to register with SSM, fails to register and exits, restarts, and tries again, in an infinite loop. Depending on what the container does before the exit, it could cause issues.

*

[2021-03-31 17:52] jhaynes commented on #1378
Glad you were able to get this resolved. @backjo Thanks for the help! I'll close this for now, but feel free to re-open or cut a new issue if you're still running into problems.

[2021-03-31 17:52] #1378 closed, assigned to jhaynes

[2021-03-31 18:58] jpculp commented on #1430
After some further discussion, we decided to keep the current behavior of retrying indefinitely. There is about ~45 seconds between each retry, which should be enough to prevent any issues.

There is also no concern of exhausting a customer's available hybrid activations since the control container will contain a check for a registration file before it attempts to register.

[2021-03-31 18:58] #1430 closed, assigned to etungsten

[2021-03-31 23:10] diranged opened #1435 "5.4 kernel warning: general protection fault with `bpf_probe_read`"
@etung Edit: all variants with the 5.4 kernel are affected.

**Image I'm using:**

In our forked repo (with just a change to the CNI networking/instance-type map text file), we built the v1.0.7 tag to try to deal with a possible issue we're seeing with Systemd. The images are not booting though. We booted 3 servers, and all failed with a nearly identical failure:

Git Sha Built: https://github.com

[2021-03-31 23:16] diranged commented on #1435
Here's the actual boot log, sorry it wasn't available when I first made the bug report. Also, while the panic happens, the host actually keeps working.. its possible that our other nodes do this, and we just hadn't noticed.

[code]

[2021-04-01 18:19] bcressey commented on #1435
I've shared this report with our kernel team.

Are you using one of the BPF CNI providers like Calico or Cilium?

Regarding the `trace_printk()` warning - did you make any changes to the kernel or its configuration? You didn't mention that, so I'm guessing not, but want to confirm.

[2021-04-01 19:53] #1415 closed, assigned to zmrow

[2021-04-01 21:11] #1364 closed, assigned to bcressey

[2021-04-01 21:33] jpculp opened #1438 "Remove `RUN chmod +x` lines from host container Dockerfiles"
The Dockerfiles for both the control and admin containers have several `RUN chmod +x` lines. Since each `RUN` is a layer, our containers could be further optimized by removing the need for the extra `RUN`s.

**What I'd like:**

From Docker 20.10 ([moby/buildkit#1492](https://github.com/moby/buildkit/pull/1492)), `--chmod` was added to the `COPY`/`ADD` functions. It does require `DOCKER_BUILDKIT=1`

[2021-04-01 21:57] diranged commented on #1435
We are using the Calico CNI in eBPF mode along with the AWS VPC CNI networking setup..

We did not add anything that I knw of that would cause this..

[2021-04-01 22:34] bcressey commented on #1435
Thanks, that should help us repro & verify a fix once we understand the issue.

[2021-04-02 15:16] #1404 closed, assigned to zmrow

[2021-04-02 17:31] jpculp commented on #1398
Added @webern so we can work together on an optimal solution.

[2021-04-02 18:40] l1x opened #1442 "Error: Os { code: 2, kind: NotFound, message: "No such file or directory" }"
**Platform I'm building on:**

ARM64 / Raspberry Pi

**What I expected to happen:**

Build succeed.

**What actually happened:**

[code]

**How to reproduce the problem:**

Git clone repo and try to build.

I am just trying to understand how to debug this. I was trying to look for the error but I could not identify where it is coming from.

[2021-04-02 18:54] sanu11 commented on #1442
Hello @l1x

Thanks for reaching out! The error means the variant you're specifying with `BUILDSYS_VARIANT`  ("parami-dev" in this case)  does not exist. You can look for the valid variants [here](https://github.com/bottlerocket-os/bottlerocket#variants). If you are looking to create your own variant, you can follow the instruction [here](https://github.com/bottlerocket-os/bottlerocket/blob/develop

[2021-04-02 20:50] #649 closed

[2021-04-02 20:57] gregdek commented on #576
Switched from TermLogger to SimpleLogger, closed by #1282

[2021-04-02 20:57] #576 closed

[2021-04-02 21:03] #436 closed

[2021-04-02 21:04] #36 closed

[2021-04-03 13:55] l1x commented on #1442
Makes sense, the  cargo make command has to be executed from the project root and it works. Thank you!

[2021-04-03 13:55] #1442 closed, assigned to nobody

[2021-04-03 21:31] sanu11 commented on #1442
Great! Glad it worked for you.

[2021-04-05 17:42] sanu11 commented on #599
The output of command - ``` journalctl -u --no-hostname -u host-containers@control``` is shown below for x86-64 arch bottlerocket instance

[code]

We don't see the `serial port` errors anymore.  Verified from @etungsten, he doesn't see those errors for aarch64 as well.
Thus, closing the issue.

[2021-04-05 17:42] #599 closed

[2021-04-05 17:46] gthao313 opened #1445 "Pass all arguments related to soft eviction to the kubelet"
_This is awesome - we've built an AMI with this patch and its working wonderfully. In a followup PR, we'd like to see the `evictionSoft` settings exposed, as well as the `eviction-max-pod-grace-period` setting. Overall though, this is great!_

_Originally posted by @diranged in https://github.com/bottlerocket-os/bottlerocket/pull/1388#discussion_r606458121_

What I'd like:
Support customer to pass

[2021-04-05 18:01] webern opened #1446 "documentation: explain settings.metrics.send-metrics"
I forgot to document metricdog settings in the main Bottlerocket README.

particularly `settings.metrics.send-metrics`

Fix it!

[2021-04-05 18:45] gthao313 opened #1447 "Pass `system-reserved` argument to kubelet"
We'd also like to see `system-reserved` added

_Originally posted by @backjo in https://github.com/bottlerocket-os/bottlerocket/issues/1140#issuecomment-773689101_

What I'd like:
Support customer to pass `system-reserved` argument to kubelet.

[2021-04-05 19:17] arnaldo2792 opened #1448 "Add documentation for systemd units architecture"
**What I'd like:**
In #1423 we did a major refactor of the systemd units' architecture, and it will be great to have documentation explaining the new architecture and why is it so different compared to what other distros do.

[2021-04-05 19:49] jhaynes commented on #1140
We've added `kube-reserved`, `eviction-hard`, `cpu-manager-policy` and `allow-unsafe-sysctls` and they'll be available in our next release. The only remaining item is `system-reserved` which is being tracked in #1447 . I'm going to resolve this and we can cut new issues for individual (or related groups) of kubelet settings.

[2021-04-05 19:49] #1140 closed, assigned to gthao313

[2021-04-05 20:37] zmrow opened #1450 "Revert global systemd unit timeout defaults"
In [this commit](https://github.com/bottlerocket-os/bottlerocket/commit/4781e3a5ad495552b722c4f6d8749053a44d51c9) we created a default start/stop timeout for systemd units of 10 seconds.  In the process of testing VMWare, we have found that `kubelet` requires more time to start.  We have also observed `journald` crash looping as it needs more than 10 seconds to restart and recover a corrupted jour

[2021-04-05 20:41] tjkirch commented on #1450
How confident are we that moving to 90s (the default) is better for most of our services?  Services taking longer than 10s are rare in Bottlerocket.  It seems like to do the correct thing without that default, we'd be adding much lower timeouts for many services.  It seems simpler and safer to me to keep a lower default that's reasonable for most things and raise it in exceptional cases.

[2021-04-05 20:43] zmrow opened #1451 "Add a `vmware-k8s-1.x` variant"
Create a "real" or non-dev `vmware` Kubernetes variant.  This will require at the least:

* a new model for this variant
* a new variant definition
* containerd config
* adding metrics to the variant (metricdog settings)
* logdog config

[2021-04-05 20:48] zmrow opened #1452 "Add metrics to VMWare variants"
Currently VMWare variants don't include metrics as the `metricdog` config file depends on `settings.aws.region`.  Since we will not have `aws.region` in VMWare, let's default to having "`global`" as the region for now.

[2021-04-05 21:49] zmrow opened #1453 "`settings.kubernetes.cluster-dns-ip` should be optional"
Outside of EKS, we cannot compute a value for this, and there's not a reasonable default.  We also need to account for it being optional for kubelet in standalone mode.

We will need to:
* Make it an `Option<>` in the model
* Add an `{{#if ... }}` statement to the `kubelet-config` files for that setting

[2021-04-05 21:52] webern opened #1454 "build: support kmod kits for kernel 5.10"
**What I'd like:**

Currently our build assumes that all the variants all use the same version of the linux kernel. As part of kernel 5.10 support, we need to make sure that the Makefile.toml archive and build-kmod kits targets do the right thing based on which kernel a variant is using.

This is related to #1361

[2021-04-05 21:53] tjkirch commented on #1453
Everything in the model is made `Option` by `#[model]`, so we should just need the conditional.

[2021-04-05 22:14] bcressey commented on #1450
We are partly addressing this with the default reservations for kubelet, but under heavy enough load pretty much any service could take a long time to start. We also want to avoid a death spiral where services are repeatedly started and killed because they're just over the limit, which adds additional resource pressure.

[2021-04-05 22:25] bcressey opened #1455 "build: update to the latest SDK release"
SDK changes are tracked in the [v0.20.0](https://github.com/bottlerocket-os/bottlerocket-sdk/milestone/4) milestone.

- [ ] pull the SDK from ECR public
- [ ] pull the toolchain container from ECR public
- [ ] run `cargo deny` from the SDK
- [ ] build kmod kits using the toolchain container

[2021-04-05 22:26] bcressey commented on #1455
The SDK side of the change is tracked in https://github.com/bottlerocket-os/bottlerocket-sdk/issues/44.

[2021-04-05 22:27] #1369 closed, assigned to zmrow

[2021-04-05 22:33] zmrow opened #1456 "Variant documentation: Document the ordering of user data sources"
In #1393 , we added an additional source of user data for VMWare variants (guestinfo).  In that PR, we opted to look at both sources of user data (CD-ROM and guestinfo), overriding settings found via CD-ROM with settings found in guestinfo.

If multiple sources are probed for user data, and their order determines which settings will be final, we need to document it.  I propose we document this in

[2021-04-05 22:50] zmrow opened #1457 "`early-boot-config`: Use local file in sequence with other user data retrieval methods"
Currently, using a local file (`/etc/early-boot-config/user-data`) for user data is supported in `aws-dev`.  It is an implementer of the `PlatformDataProvider` trait.  In `main()`, we decide to use either local file _or_ another provider because we expect a `PlatformDataProvider` trait object.

We should be able to use local file _and_ another provider's methods.  In order to do this, I think we s

[2021-04-06 13:01] diranged commented on #1435
For what its worth - turning off eBPF does not disable this warning message. I am not sure why.

[2021-04-06 16:42] #1446 closed, assigned to webern

[2021-04-06 17:36] jpculp commented on #1411
Primary PR:
- [x] https://github.com/bottlerocket-os/bottlerocket-control-container/pull/12

Associated PRs:
- [x] https://github.com/bottlerocket-os/bottlerocket/pull/1416
- [x] https://github.com/bottlerocket-os/bottlerocket/pull/1441

[2021-04-06 18:32] zmrow opened #1458 "VMWare: figure out where to get `settings.kubernetes.node-ip`"
Related to #1451

For AWS variants we depend on IMDS to retrieve the node's static IP address.  We'll need to figure out the best way of determining this IP in VMWare.

This will require a little bit of investigation, but some options:
* Potentially use the VMWare backdoor interface?
  * If this is possible, we'll write a small settings generator (`charon`) to retrieve this information at runtime

[2021-04-06 19:45] zmrow opened #1459 "All variants: update `cloud-provider` argument for `kubelet`"
### Problem
For our existing AWS Kubernetes variants we hard-code `--cloud-provider "aws"` in the `kubelet` args.

Clusters provisioned by ClusterAPI Provider for vSphere must use `--cloud-provider "external"`.  At the time of writing, clusters provisioned by Cluster API Provider for AWS don't default to `--cloud-provider "external"` yet, [but might later](https://github.com/kubernetes-sigs/cluste

[2021-04-06 20:26] tjkirch commented on #1459
Something like `{{#if settings.aws}}aws{{else}}external{{/if}}`, perhaps, to remove the need for a setting?

Can you expand on this a bit?  Is the issue that it would be detected as AWS because of IMDS, but we _wouldn't_ want to use `--cloud-provider aws`?  (Why?)

[2021-04-07 20:47] #1424 closed, assigned to etungsten

[2021-04-07 21:30] #1411 closed, assigned to jpculp

[2021-04-07 23:39] #1392 closed, assigned to arnaldo2792

[2021-04-08 00:00] arnaldo2792 commented on #1346
We fixed this in #1387

[2021-04-08 00:00] #1346 closed, assigned to nobody

[2021-04-08 16:31] bcressey commented on #1459
Some people will want to use the [external AWS cloud provider](https://github.com/kubernetes/cloud-provider-aws) - I'd expect more interest here as the date for deleting the in-tree provider code looms closer.

[2021-04-08 16:40] jpculp commented on #1411
Additional PR to set as default.
- [x] https://github.com/bottlerocket-os/bottlerocket/pull/1466

[2021-04-08 19:20] bcressey opened #1467 "add setting for kubelet server TLS bootstrap"
**What I'd like:**
Today we unconditionally set `serverTLSBootstrap: true` in the kubelet config. This causes issues with Cluster API provisioning, at least with the CAPA provider, since the CSRs that the kubelet submits are not automatically signed.

If we exposed a setting for this, we could turn off this behavior in cases where we knew it would not cause problems.

**Any alternatives you've con

[2021-04-08 21:56] tjkirch opened #1470 "early-boot-config: handle empty user data"
We started with k8s variants that required user data to be able to connect to a cluster.  Later variants don't necessarily require user data - for example, the ECS variant can use the default cluster.  The -dev variants may not need any settings in some use cases.

Today, empty user data is considered an error, for example with an aws-k8s variant you can see early-boot-config fail like this, follo

[2021-04-08 22:07] webern opened #1471 "Build does not work with hyper versions >= 0.14.3"
We build most Bottlerocket binaries with `RUSTFLAGS=-Cprefer-dynamic` so that we can dynamically link to the Rust std library and reduce the size of our binaries.

Hyper 0.14.3 adds this line to its Cargo.toml to emit a c interface in a dynamic library:
https://github.com/hyperium/hyper/blob/48d4594930da4e227039cfa254411b85c98b63c5/Cargo.toml#L23

This, in conjunction with `reqwest` and `prefer-dy

[2021-04-09 16:49] jhaynes opened #1474 "Make Bottlerocket available in the Osaka region (ap-northeast-3)"
**What I'd like:**
To launch Bottlerocket AMIs in the Osaka region (ap-northeast-3)

[2021-04-09 19:16] jhaynes opened #1478 "Deprecate aws-k8s-1.15 variant by May 3, 2021"
Kubernetes 1.15 went out of upstream support on June 19, 2019. AWS EKS is maintaining support for 1.15 until [May 3, 2021](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our `aws-k8s-1.15` variant by that date.

While you’ll still be able to launch `aws-k8s-1.15` nodes beyond May 3rd, 2021, we’ll no lon

[2021-04-12 22:22] samuelkarp opened #1481 "logdog should collect all available log files for ECS CNI plugins"
**What I'd like:**
As part of enabling the ECS `awsvpc` networking mode for Bottlerocket (https://github.com/bottlerocket-os/bottlerocket/pull/1246), several new ECS-related components (CNI plugins) are added to Bottlerocket.  As independent components, they do not share the log file that is used by the ECS agent itself.  These components do their own log file rotation by writing files with hourly

[2021-04-12 23:18] tjkirch commented on #1481
I think we can use the glob crate and get a syntax that's widely understood, since it mimics shell wildcards.  It's strictly more powerful, and easier to implement, too.

[2021-04-13 19:00] jpculp opened #1484 "vmware-dev (x86_64) variant can't be cross-compiled on aarch64 host"
I've noticed that cross-compiling doesn't work when building the `vmware-dev` variant on an aarch64 host.

When I run `cargo make -e BUILDSYS_ARCH=x86_64 -e BUILDSYS_VARIANT=vmware-dev` the build dies at the `os` build with `early-boot-config` failing to compile.

**Platform I'm building on:**
| InstanceType | Arch | Kernel | Distribution | Docker
| --- | --- | --- | --- | --- |
| c6g.8xlarge | aa

[2021-04-13 22:22] zmrow commented on #1458
The static IP address isn't provided via the VMWare backdoor.  We will probably move forward with querying the DHCP lease info via a new subcommand of `netdog`.  This subcommand will be used as the settings generator.

[2021-04-14 14:25] diranged commented on #1351
It seems reasonable that enabling or disabling IPv6 should be allowed in the Bottlerocket image.. as plenty of people probably do not run IPv6 in their VPCs yet. Thoughts on providing that as an option for now?

[2021-04-14 18:50] arnaldo2792 opened #1488 "Not essential bootstrap containers shouldn't be started more than once if they fail"
**Image I'm using:**
Bottlerocket 1.0.8

**What I expected to happen:**
With this bootstrap containers configurations:

[code]
Systemd should only try to start the bootstrap container during the `configured.target`, and not when transitioning to `multi-user.target`

**What actually happened:**

Systemd tries to start failed bootstrap containers with configurations similar to the one above, in `mul

[2021-04-14 21:10] zmrow opened #1489 "vmware-dev: No systemd output to console"
**Image I'm using:**
`vmware-dev`

**What I expected to happen:**
Using the vSphere web console to view boot output, I expected to see all kernel and systemd messages.

**What actually happened:**
I see all kernel output, but nothing from systemd and all of the Bottlerocket boot services.  The following is the last message before a login prompt:
[code]

**How to reproduce the problem:**
Boot the `

[2021-04-14 21:49] bcressey commented on #1489
We'll need to add the ability to specify custom kernel command-line arguments in the variant definition, rather than using a fixed `console=ttyS0` value everywhere.

[2021-04-14 22:22] tjkirch opened #1490 "Variant-specific kernel parameters"
To fix issue #1489 we'll need to be able to specify different kernel parameters for different variants; for that issue, `console`, but also possibly to change the systemd cgroup hierarchy in future variants.

[2021-04-14 22:22] tjkirch commented on #1489
I made #1490 to track this, which I plan to do soon.  Then, this issue would hopefully just be adding the `console` line to the vmware-dev variant definition.

[2021-04-14 22:25] tjkirch commented on #1490
My plan is to add an optional key to the variant manifests that would be read by buildsys' `build_variant`  (where it already reads included packages and image format), pass that to `build()`, and pass that to `rpm2img` through an environment variable.  The field would likely be a list of strings, to make it easier to modify and diff in the future, joined together with spaces by buildsys.

[2021-04-14 23:32] jpculp commented on #1452
Merged #1486.

[2021-04-14 23:32] #1452 closed, assigned to zmrow, jpculp

[2021-04-14 23:58] #1450 closed, assigned to arnaldo2792

[2021-04-15 15:05] zmrow commented on #1489
After doing a little research, it seems like once we get the correct `console` device figured out, we should be able to forward all of `systemd`/`journald`'s output to it via:
[code]

The kernel _should_ output to all console devices present.

Resources:
1.  https://www.kernel.org/doc/html/v4.14/admin-guide/serial-console.html
2. https://freedesktop.org/wiki/Software/systemd/Debugging/

[2021-04-15 15:15] zmrow commented on #1453
Fixed via #1482

[2021-04-15 15:15] #1453 closed, assigned to gthao313

[2021-04-15 17:16] tjkirch commented on #1489
I think we can get away with just fixing `console` since we already get the desired behavior on other platforms that have correct `console`, but it's good to have backup experiments.

[2021-04-15 18:10] #1467 closed, assigned to etungsten

[2021-04-15 23:48] arnaldo2792 opened #1493 "Journal is recreated with a different machine ID after reboot on ARM"
**Image I'm using:**
Bottlerocket 1.0.8 aarch64

**What I expected to happen:**
I expect that logs for every reboot are appended to the existing journalctl log file, so when I run `journalctl --list-boots`, the command should show entries for previous boots.

**What actually happened:**
`journalctl --list-boots` only shows one single entry after reboots and `ls -latr /var/log/journal` shows:

[cod

[2021-04-16 00:41] bcressey commented on #1493
We're meant to get the machine ID from KVM on arm64 instances, but [we're not detecting KVM](https://github.com/systemd/systemd-stable/blob/v247-stable/src/core/machine-id-setup.c#L63).

x86 likely works because it can use [detect_vm_cpuid](https://github.com/systemd/systemd-stable/blob/937118a5b2f27a7913c421ad76893cdda01c5566/src/basic/virt.c#L42).

One approach would be to apply EC2-specific kno

[2021-04-16 09:15] Jell opened #1495 "Pass `registry-burst` and `registry-qps` argument to kubelet"
We hit an issue when having bursts of traffic launching pods on a new node and hit a pull limit error due to the default registry-qps of 5, leading to us not being able to handle our production load.

**What I'd like:**
Being able to bump the registry-qps limit to fit our needs

**Any alternatives you've considered:**
Really not much we can do, our registry can handle the load but kubelet won't le

[2021-04-16 16:10] jhaynes commented on #1495
Hi @Jell and thanks for filing this issue. Do you have any sense for how high you'd like to set this? I'm wondering if a higher default makes sense or if we should just expose this as a setting.

[2021-04-16 17:22] Jell commented on #1495
I'm not exactly sure how high we would want it, we'd have to experiment.

But I would suspect probably at least a factor of 10, so something like 50 QPS to begin with. I think it's the kind of setting we'd probably appreciate being able to tweak though given it depends on the kind of registry and workload being deployed?

Ideally I would be able to set that setting myself, then trigger a heavy loa

[2021-04-16 17:24] Jell commented on #1495
thanks for the quick reply and for looking into it btw! :) @jhaynes

[2021-04-16 19:25] snstanton commented on #1594
Ok, the hang just happened again for the bottlerocket 1.0.8 upgrade on eks 1.19.   I have attached the requested resource info and logs:

[Archive.zip](https://github.com/bottlerocket-os/bottlerocket-update-operator/files/6327462/Archive.zip)

[2021-04-16 20:41] gthao313 commented on #1495
Hi @Jell. Thanks for your reply. Now I take responsibility on this issue. If you have updates or thoughts please leave comments. Thanks :)

[2021-04-16 21:44] #1490 closed, assigned to tjkirch

[2021-04-17 07:42] Jell commented on #1495
alright, will do thanks @gthao313 !

[2021-04-19 15:47] AhmadMS1988 opened #1499 "Replicaset does not create put with unsafe sysctls even with allowed-unsafe-sysctls = ["net.core.somaxconn"]"
**Image I'm using:**
aws-k8s-1.19, AMI: ami-04269f2e9be10beeb
The cluster is a mix of amazon linux 2 and bottlerocket, but the pod has node selector with a lable that only on bottlerocket nodegroup

**What I expected to happen:**
When configuring with allowed-unsafe-sysctls = ["net.core.somaxconn"] in the userdata,
The scheduling of a podspec with this configs should work:
securityContext:

[2021-04-19 18:44] srgothi92 opened #1500 "Allow lock on the current version in `updates.version-lock` setting"
**What I'd like:**
`settings.updates.version-lock` allows users to lock on the Bottlerocket version. It also, supports a label **latest** allowing `updog` to  detect latest version. Similarly, users would like to have a label (**current** maybe ?) allowing them to lock on current version. This new label can be very useful for all the update coordinators (ECS Updater, Bottlerocket Update Operator)

[2021-04-19 18:50] #1077 closed, assigned to samuelkarp

[2021-04-19 18:59] webern opened #1501 "models: make enums better"
**What I'd like:**

In #1388 we added some enum types to the model. And, in general, settings can often be enumerations. However the `string_impls_for!` macro led us to express these enum types as structs with an inner string.

For example, this struct https://github.com/bottlerocket-os/bottlerocket/blob/0912ca54432088a12e054b293325409dd5962ede/sources/models/src/modeled_types/kubernetes.rs#L460 e

[2021-04-19 19:02] jhaynes commented on #1594
@snstanton Thanks for the report. We'll dig in a bit more!

[2021-04-19 20:54] zmrow commented on #1484
@jpculp re-tested this on an `aarch64` machine and was able to build `vmware-dev`! :tada:

[2021-04-19 20:54] #1484 closed, assigned to bcressey

[2021-04-19 21:40] #1361 closed, assigned to webern

[2021-04-19 21:40] #1459 closed, assigned to jpculp

[2021-04-20 15:35] jhaynes commented on #1499
@AhmadMS1988 Thanks for opening this issue. We're looking into it!

[2021-04-20 22:57] srgothi92 commented on #1499
Thanks for opening the issue ! I got the same "**forbidden... "net.core.somaxconn" is not allowed "** error when I tried below sample deployment with `allowed-unsafe-sysctls = ["net.core.somaxconn"]` in the `userdata`.
[code]
However, according the docs [here](https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#podsecuritypolicy), you’ll need to also add the sysctl parameter in a c

[2021-04-21 14:54] zmrow commented on #1458
Implemented in #1502

[2021-04-21 14:54] #1458 closed, assigned to zmrow

[2021-04-21 16:11] #1493 closed, assigned to arnaldo2792

[2021-04-21 22:01] zmrow opened #1510 "VMWare: Run `open-vm-tools` to report guest information to vSphere"
## Problem
While testing for the upcoming VMWare Kubernetes variant (#1451), we noticed that Bottlerocket VMs do not report their DNS name or IP addresses to vSphere.  This is because we don't currently package or run VMWare tools in our images.

When attempting to join these images to a cluster previously provisioned via CAPV, Bottlerocket nodes were able to join the cluster but could never have

[2021-04-21 22:10] tjkirch commented on #1510
I lean toward the host process, if this is mandatory for VMware use, but a quick look at Fedora's packaging of open-vm-tools shows a *lot* of dependencies we wouldn't want; hopefully they're optional for our basic use case.  If not, we may want to consider writing our own...

[2021-04-22 03:51] webern opened #1512 "packages readme needs another edit"
I missed a spot in the packages readme:

https://github.com/bottlerocket-os/bottlerocket/tree/develop/packages#next-steps

This says to add the package to the packages workspace, but I removed the packages workspace in #1408

[2021-04-22 07:54] Jell commented on #1495
aright so we ended up testing with a custom build of bottlerocket, and those are the parameters we would want to be able to set ourselves and that worked for our use case (we managed to reach our needed throughput with those):

[code]

[2021-04-22 17:09] #1488 closed, assigned to etungsten

[2021-04-23 00:38] jpculp commented on #1489
Merged.

[2021-04-23 00:38] #1489 closed, assigned to jpculp

[2021-04-23 04:03] gthao313 commented on #1495
Hi @Jell . Thanks for your update. After investigating on those two arguments `--registry-burst` and `--registry-qps`,  we plan to expose these arguments as settings that you can specify according to your use case. In addition, we would not provide default values for those two arguments since `Kubelet` has already default ` --registry-qps` to 10 and `--registry-burst` to 5. Do you have any feedbac

[2021-04-23 06:42] Jell commented on #1495
@gthao313 thanks! We would actually like to be able to set all the arguments I listed above, so in the CLI that would correspond to the following arguments:

[code]

[2021-04-23 06:46] Jell commented on #1495
also yes I think it's a good idea to keep the default for those 7 arguments, but just provide the means of tweaking them for improved performance. Although with regards to serialize-image-pulls, this could potentially be changed to false, as the documentation seem to indicate that it's only an issue with older docker versions and AUFS, which in bottlerocket's case should not be an issue?

[2021-04-23 13:42] atheiman opened #1517 "Availability in AWS GovCloud partition"
**What I'd like:** Bottlerocket AMIs available in AWS GovCloud regions in addition to the Commercial regions it's currently available to.

**Any alternatives you've considered:** I _think_ the AMI could be copied to GovCloud by a customer using this new feature https://aws.amazon.com/about-aws/whats-new/2021/04/amazon-ec2-allows-copy-amazon-machine-images-across-aws-govcloud-aws-china-other-region

[2021-04-23 15:15] samjo-nyang opened #1518 "Cannot resize EBS pvc on bottlerocket nodes - resize2fs not found in $PATH"
**Image I'm using:**
v1.0.4, k8s-1.18 variants

**What I expected to happen:**
[code]

**What actually happened:**
[code]

**How to reproduce the problem:**
1. provision an ebs volume using ebs csi driver
2. try to extend the volume

I made and tested a simple patch that resolve this issue - just add enable-resizer and resize2fs binary on `packages/e2fsprogs/e2fsprogs.spec`; can I make a PR?

[2021-04-23 16:29] #1427 closed, assigned to etungsten

[2021-04-23 16:43] gthao313 commented on #1495
Sure thing! We'll support these arguments that you mentioned above. If you have any questions or updates, please let me know.

[2021-04-23 16:49] Jell commented on #1495
awesome! thank you so much @gthao313 :heart:

[2021-04-23 16:57] bcressey commented on #1518
Sure, a PR would be great! Thanks for digging into this.

[2021-04-23 17:26] #1386 closed, assigned to etungsten

[2021-04-23 17:26] #1429 closed, assigned to etungsten

[2021-04-23 20:41] zmrow commented on #1517
Thanks for the request!  We'd like to do this and will take it into consideration when we prioritize our upcoming work.

[2021-04-23 20:48] #1518 closed, assigned to nobody

[2021-04-23 23:31] webern opened #1522 "pubsys: don't thread bomb in validate-repo"
in #1521 we did a quick fix of `pubsys validate-repo` where we spawn a new thread for every target in the Bottlerocket artifacts repo. Instead we should have a pool or otherwise limit the number of threads spawned.

Background: we were using `tokio::spawn` before (which has its own thread management), but we found that multiple tokio runtimes were being created which caused the program to hang. Th

[2021-04-24 00:21] srgothi92 commented on #1481
Fixed in [PR-1509](https://github.com/bottlerocket-os/bottlerocket/pull/1509)

[2021-04-24 00:21] #1481 closed, assigned to srgothi92

[2021-04-25 14:41] #1512 closed, assigned to webern

[2021-04-25 14:53] webern commented on #1522
Maybe `futures::executer`

[2021-04-25 20:48] bcressey commented on #1510
Looks like the minimum package set we'll need is:
* open-vm-tools
* glib2 for open-vm-tools
* zlib and libffi for glib2

That's not *too* bad, and we're in the process of adding zlib already (for #1413).

[2021-04-26 17:06] #582 closed

[2021-04-26 17:06] #1455 closed, assigned to bcressey

[2021-04-26 21:36] arnaldo2792 commented on #813
- We now use `settings.kernel.lockdown = integrity` as the default value for new variants as k8s 1.20 (introduced in #1437)
- #1224 is already closed, and we already have documentation for the setting

[2021-04-26 21:59] joebaro opened #1524 "Some CSI drivers write to /etc/kubernetes/secrets-store-csi-providers"
**Image I'm using:**
EKS 1.17 with Bottlerocket OS 1.0.8 (ami-04f83bfb1bb568e28)

**What I expected to happen:**
Install and run the [Secret Store CSI driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) and the  AWS provider plugin by following the setup instructions in the [secrets-store-csi-driver-provider-aws](https://github.com/aws/secrets-store-csi-driver-provider-aws) README

[2021-04-26 23:51] backjo opened #1525 "Change default inotify settings"
**What I'd like:**

In #371, there was discussion about adopting the learning from  [From 30 to 230 docker containers per host](http://sven.stormbind.net/blog/posts/docker_from_30_to_230/) . As part of this discussion, it looks like the inotify limits were discussed, but the default settings seemed to have been interpreted as what the settings should have been changed to ( see discrepancy in the s

[2021-04-27 00:42] arnaldo2792 commented on #813
After some discussion with @bcressey and @samuelkarp, we decided to keep this open until we change the default settings for the ecs variant

[2021-04-27 14:30] zmrow commented on #1524
Thanks for opening this - we'll look into it!

[2021-04-27 14:37] zmrow commented on #1525
Hi @backjo !  Thanks for bringing this to our attention; I barely remember discussing those things in the very early days of Bottlerocket. :)

Are you running into these limits or having to tweak them on your end?  Can you provide some additional details about your use case?

[2021-04-27 17:15] backjo commented on #1525
Our use case is more or less described by this post -> http://blog.travisgosselin.com/configured-user-limit-inotify-instances/.

Basically, we've got a bunch of .NET Core pods running across various K8S namespaces on our EKS cluster. Each of those pods shares a base container image and leverages the same user ('app'). If enough of these pods end up running on the same node, we start seeing failure

[2021-04-27 19:20] zmrow opened #1528 "VMware: include a "friendly" named OVA in the TUF repo"
We already have the capability to build OVAs and include them in our TUF repos so they will be signed.

These OVAs aren't named in a predictable way since they include the git commit (similar to all our other artifacts).  For example: `bottlerocket-vmware-dev-x86_64-1.0.8-70f14929.ova`

We should continue to name them this way so they are precise and trackable locally, but perhaps when we symlink

[2021-04-28 18:31] #1349 closed, assigned to bcressey

[2021-04-28 18:31] #1454 closed, assigned to bcressey

[2021-04-28 19:06] tjkirch opened #1531 "Restart modified host containers"
If a host container is running, and its settings have changed, we should restart it so the settings take effect.

Currently, we make sure the enabled/disabled state is correct, but if a host container was enabled and is still enabled, we don't restart the service, so other changes don't take effect, for example if you change the image URI or superpowered status.

Issue #1389 is related in that we

[2021-04-29 00:11] arnaldo2792 opened #1536 "Journal is recreated with a different machine ID after reboot on VMWare"
**Image I'm using:**
Bottlerocket vmware-dev

**What I expected to happen:**
Systemd shouldn't use the random machine id generator for the journal file

**What actually happened:**
Systemd is using the random machine id generator for the journal file

**How to reproduce the problem:**
- Launch a vmware-dev host
- Reboot
- Run `journalctl --list-boots` from `sheltie`, and only the last boot's logs

[2021-04-29 15:49] #1528 closed, assigned to bcressey

[2021-04-29 17:45] webern opened #1539 "document webpki-roots-shim dependency and version behavior"
Ensuring that our webpki-roots-shim package is used requires some special knowledge and handling. In particular, when updating anything that uses webpki-roots (currently I think this is only reqwest), we need to make sure that we update the version of webpki-roots-shim to match. If we do not, then it will be pulled from crates.io.

Maybe here is the best place to document this further?
https://git

[2021-04-29 17:51] tjkirch commented on #1539
sources/Cargo.toml seems like a good spot, but also somewhere in the webpki-roots-shim directory, even if it's a pointer to look at that other file.  That's probably the first place I'd look if I was doing general package updates.

The other tricky bit is that we can (currently) only have one shim, so if we wound up with dependencies that used different versions of webpki-roots, we'd be in trouble

[2021-04-29 17:54] webern commented on #1539
Not sure the exact solution we would need to implement, but you're right that it would become tricky. I briefly looked at this one time and got the impression that something a little hacky would be required.

[2021-04-29 19:09] #1269 closed, assigned to webern

[2021-04-29 23:15] #1536 closed, assigned to nobody

[2021-04-30 13:28] bcressey commented on #1389
@sanu11 is this done, or if not what's left to do?

[2021-04-30 14:43] webern commented on #1197
This is now unblocked and I will open a PR soon.

[2021-04-30 20:10] #1524 closed, assigned to bcressey

[2021-05-03 16:49] #1510 closed, assigned to bcressey

[2021-05-03 19:52] jhaynes commented on #1499
Hi @AhmadMS1988 Did @srgothi92's response fix the issue you were running into? It sounds like it did, so I'm going to resolve this issue. However, if you're still running into this, feel free to re-open or create a new issue as you see fit.

[2021-05-03 19:52] #1499 closed, assigned to srgothi92

[2021-05-03 21:38] #1451 closed, assigned to zmrow

[2021-05-03 22:03] #1495 closed, assigned to gthao313

[2021-05-03 23:11] tjkirch opened #1552 "Deprecate aws-k8s-1.16 variant by July, 2021"
Kubernetes 1.16 went out of upstream support on June 18, 2020. AWS EKS is maintaining support for 1.16 until [July, 2021](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our `aws-k8s-1.16` variant by that date.

While you’ll still be able to launch `aws-k8s-1.16` nodes beyond July, 2021, we’ll no longer

[2021-05-03 23:57] gthao313 commented on #1495
Hi @Jell . Thanks for your patience. we have already exposed `event-burst event-qps kube-api-burst kube-api-qps registry-burst registry-qps`  as settings. You will see those new features in next release of Bottlerocket `v1.1.0`. For argument `serialize-image-pulls`, we decide not to expose it at setting but Bottlerocket had already defaulted it to `false`.You can see that default in [kube-config](

[2021-05-04 07:30] Jell commented on #1495
awesome sauce! Looking forward to the next release! :) Thanks a lot and for the very quick handling of the issue!

[2021-05-04 22:55] etungsten commented on #1389
I believe this issue has been resolved. Restart command helpers now have access to the list of changed settings via environment variables. The additional work for handling host container restarts when settings change is being tracked in https://github.com/bottlerocket-os/bottlerocket/issues/1531.

[2021-05-04 22:55] #1389 closed, assigned to sanu11

[2021-05-04 23:32] #1197 closed, assigned to webern

[2021-05-05 00:48] rverma-dev commented on #1524
Can we cherry pick this fix in 1.0.8, its a blocker for us.

[2021-05-05 08:26] AhmadMS1988 commented on #1499
@srgothi92 and @jhaynes thank you for your help, indeed changing the psp as suggested by @srgothi92 has worked successfully for me.
Thank you

[2021-05-05 14:44] jhaynes commented on #1524
@rverma-nsl You're welcome to do the cherry-pick for a custom build if you'd like. However, we're slated to release `1.1.0` [shortly ](https://github.com/bottlerocket-os/bottlerocket/pull/1553) which will have this fix in it. Hopefully you can upgrade to this `1.1.0` release and pick it up that way.

[2021-05-05 22:37] etungsten commented on #1435
Hi @diranged, I have a quick update to share. We're still working on this internally with our kernel team. In the meantime, we're releasing a Kubernetes 1.20 variant with our v1.1.0 release that uses the 5.10 kernel, where we believe this issue is fixed. If you're able to upgrade, we'd recommend that as the best option.

If you wish to continue using your current variant, you can also create a cus

[2021-05-05 22:59] arnaldo2792 commented on #1414
I already built it in my branch, I'm working in the PR :+1:

[2021-05-05 23:26] etungsten commented on #1594
Hi @snstanton, just a quick update. There has been several new workarounds posted in https://github.com/aws/amazon-vpc-cni-k8s/issues/1078. Specifically https://github.com/aws/amazon-vpc-cni-k8s/issues/1078#issuecomment-804655593 talks about adding `--bind-address 127.0.0.1` to `kube-proxy`'s list of command-line arguments (apparently terraform already incorporated this as a fix https://github.com

[2021-05-06 05:54] vikas027 opened #1563 "Provide options for format and use external disks"
**What I'd like:**
The official bottlerocket AMI on AWS comes with a 20 GB volume. Even if bump up the volume size in the launch template, the allocatable storage is still around 20 GB.

In this example, a 200 GB disk is used which is seen by the OS but can't be allocated.

[code]

**Any alternatives you've considered:**
None as of now.

[2021-05-06 18:11] snstanton commented on #1594
Do you think we would need both changes (--bind-address and --hostname-override)?

[2021-05-06 21:05] #1412 closed, assigned to zmrow, jpculp

[2021-05-06 21:24] etungsten commented on #1563
Hi @vikas027, thanks for reaching out! Can you check if you’re bumping the 20GB volume in your launch template or the 2 GB root volume (`/dev/xvda`)? Bumping the 20GB volume in your launch template should work as Bottlerocket would expand the partition to fill the entire volume. Bumping the 2GB volume would not do anything since that’s used to store Bottlerocket images and we don’t allocate any mo

[2021-05-06 22:06] etungsten commented on #1594
I think trying out `--bind-address` by itself first is probably best. That seems the most hopeful.

[2021-05-07 01:04] vikas027 commented on #1563
Thanks, @etungsten . That helped, I didn't noticed that bottlerocket AMI comes with two disks.

[2021-05-07 01:04] #1563 closed, assigned to nobody

[2021-05-07 01:36] vikas027 commented on #813
Hey @arnaldo2792 ,

Sorry, a bit confused in the TOML usage.

The setting can be defined in any of these format, right?
[code]

or
[code]

[2021-05-07 18:19] etungsten commented on #813
~~Hi @vikas027, that's correct. Both of those are valid ways of defining that setting in your userdata.~~

Edit: The above is incorrect.

The latter is what you should use for userdata.
[code]

[2021-05-07 18:35] etungsten commented on #813
Sorry, I gave a bad answer! I've edited the comment above to correct myself. We recommend using the structured format when specifying settings in userdata.

[2021-05-07 19:06] zmrow opened #1567 "VMware: Download OVAs without `tuftool`"
**What I'd like:**
I'd like to be able to download OVAs without using `tuftool`, ideally via simple and deterministic URLs.  It would also be great to download `sha256sum`s of the OVAs to verify them.

Potentially these could be made available via the existing `https://updates.bottlerocket.aws/` location with an `images` or `ovas` path.  It would be great to structure the paths so a `vmware-k8s-1.

[2021-05-07 20:12] #1539 closed, assigned to webern

[2021-05-07 21:56] #1522 closed, assigned to webern

[2021-05-07 23:29] #1474 closed, assigned to tjkirch

[2021-05-10 16:08] jhaynes commented on #1478
https://github.com/bottlerocket-os/bottlerocket/pull/1487 and https://github.com/bottlerocket-os/bottlerocket/pull/1492 remove `k8s-1.15` from the tree and with our `1.1.0` release, we no longer build AMIs or updates for the `aws-k8s-1.15` variant.

[2021-05-10 16:08] #1478 closed, assigned to nobody

[2021-05-10 17:05] bcressey commented on #1410
Here are the VMware modules we have enabled:
[code]

vmci and vmsock are used for the guestinfo mechanism. vmxnet3 is used for networking, and the PVSCSI driver is used by the vSphere CSI provider.

[2021-05-10 17:05] #1410 closed, assigned to bcressey

[2021-05-11 14:36] diranged commented on #1435
I saw the 1.1.0 release.. looks like we need to wait for EKS 1.20 (coming soon it seems) right? We have to upgrade the cluster before we can upgrade our nodes, I believe.

[2021-05-12 14:45] bcressey opened #1568 "add recommended device filters to vmtoolsd configuration"
We should add the [device filters recommended by CAPV](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/known_issues.md) to our [vmtoolsd configuration](https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/open-vm-tools/tools.conf):
[code]

[2021-05-12 17:52] backjo opened #1569 "Unexpected AVC Denial when running pip install during a docker build on Docker-in-Docker"
Apologies if this is expected behavior - I'm fairly new to working with SELinux.

**Platform I'm running on:**
BottleRocket 1.1.0 - EKS 1.19
[code]

[code]

**What I expected to happen:**
When running a docker build of the above Dockerfile on a privileged pod using DinD (Docker in Docker), I'd expect the build to complete successfully.

**What actually happened:**
The docker build failed with perm

[2021-05-12 18:14] gabegorelick commented on #1227
Would bootstrap containers work?

[2021-05-12 18:17] peteristhegreat opened #1570 "Early Boot Config, apiclient route for elastic load balancer"
**What I'd like:**

A route in the early boot config and apiclient for the elastic load balancer api.

(Similar to Amazon EC2 - IMDSv1 HTTP API, but for the elastic load balancer api.)
https://github.com/bottlerocket-os/bottlerocket/blob/develop/README.md#amazon-ecs-settings

Here is a snippet from a user-data bash script coming from CloudFormation for another linux box that we are porting to bott

[2021-05-12 18:51] webern commented on #1570
Thank you for opening your first Bottlerocket issue and providing links and context.

The way we expect users to interact with things like the AWS CLI (or SDKs) would be via a container. In this case, it sounds like something that should happen early in the boot so we'd suggest using a [bootstrap container](https://github.com/bottlerocket-os/bottlerocket/blob/develop/README.md#bootstrap-containers

[2021-05-12 18:57] gabegorelick commented on #1250
This is really needed for bootstrap containers. Currently, it seems like you have to build custom images to do anything useful. Even with user-data support, I'm not aware of any public images that handle user-data at `/.bottlerocket/host-containers/current/user-data`. So you have to end up having to build a generic host image that execs whatever's in `/.bottlerocket/host-containers/current/user-da

[2021-05-12 21:02] appdchrisb commented on #1517
We'd like this, too.  We need this available in the next few quarters for us to adopt Bottlerocket for a very large k8s workload (which is our preference).

[2021-05-12 21:15] bcressey commented on #1569
The issue is that `privileged: true` and seLinuxOptions are mutually exclusive. That's specifically because of [how containerd handles it](https://github.com/containerd/cri/blob/aa2d5a97c/pkg/server/container_create.go#L164), but also because traditionally privileged means "all the privileges".

That's not the case on Bottlerocket because we want to reserve some actions - modifying the API setting

[2021-05-12 22:06] jhaynes commented on #1208
Bootstrap containers can be used to accomplish this as of Bottlerocket version `1.0.8`. We've documented an example in the discussions [here](https://github.com/bottlerocket-os/bottlerocket/discussions/1571).

[2021-05-12 22:06] #1208 closed, assigned to arnaldo2792

[2021-05-12 22:21] backjo commented on #1569
Thanks for the assist @bcressey - I assumed there was at least some level of user error here :)

I wonder if it might be useful to have some sort of F.A.Q/documentation/example around the specific Docker in Docker use case - I imagine issues like #1187 are probably similar in nature. I imagine other folks who are trying to use BottleRocket as a general purpose node on EKS and also run build infras

[2021-05-13 01:47] Niksko commented on #1227
@gabegorelick yes, they probably would, good suggestion!

[2021-05-13 16:33] bcressey commented on #1569
That's a good idea. We'd like to use our [Q&A](/bottlerocket-os/bottlerocket/discussions/categories/q-a) for content like that.

I want to keep this issue around for tracking a fix in containerd, but we can add your question and my answer there.

[2021-05-13 19:19] gabegorelick commented on #850
I think the particulars about remote logging are less important than documenting what to log. In other words, it would be useful to have a reference of where notable log files live. Something that says "the journal is available at `/var/log/journal`, `/var/log/messages` doesn't exist, container logs are available at `/var/log/containers/*.log`, etc."

Especially with host containers, it can be har

[2021-05-13 21:04] #1414 closed, assigned to arnaldo2792

[2021-05-14 19:52] etungsten opened #1577 "Support image registry mirrors/pull-through caches"
**What I'd like:**
A way to configure image pull-through caches/registry mirrors for the container runtimes.

A generic setting of the following form would probably work:
[code]

Note that docker only supports mirroring/caching with DockerHub. So we might need to special case the template for `daemon.json` like so:
[code]

For cri-containerd, we'd configure it [here](https://github.com/containerd/

[2021-05-14 19:59] etungsten opened #1578 "New github actions workflow for `pubsys`-related `cargo-make` tasks"
**What I'd like:**

A separate GitHub actions CI workflow that checks cargo-make tasks that depends on pubsys.

- `cargo make repo`
- `cargo make ami` (might be hard or insecure due to needing AWS creds)
- `cargo make ssm` (might be hard or insecure due to needing AWS creds)
- `cargo make check-repo-expirations`
- `cargo make validate-repo`
- `cargo make refresh-repo`

All of these tasks should be

[2021-05-17 20:14] peteristhegreat commented on #1570
So we made progress on a workaround with a awscli+alpine image and using the `bootstrap-containers` setting.  Here goes:

In ECR we saved a new alpine image with the following:

[code]

Our new CloudFormation portion now looks like this:

[code]

Getting the `Fn::Sub` in the right place with the doubley nested `Fn::Base64` was interesting.

The documentation in the comments at the top of this file

[2021-05-17 20:55] #1570 closed, assigned to jhaynes

[2021-05-18 01:28] bcressey commented on #1227
Bootstrap containers would be blocked by the SELinux policy from modifying configuration files directly, but they would help work around the security problems of passing secrets in user data.

For EC2, the instance could have role credentials that allowed pulling a bootstrap container and reading secrets from SSM or Secrets Manager, then apply them to the API using `apiclient`.

Settings are no lo

[2021-05-18 19:35] gabegorelick opened #1581 "CloudFormation signaling"
**What I'd like:**
It would be nice if there was an easy way to call CloudFormation's [`SignalResource`](https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_SignalResource.html) when booting a Bottlerocket instance. This is typically considered a best practice when creating an ASG in CloudFormation so that it can roll back to an earlier LaunchTemplate or LaunchConfig if the insta

[2021-05-18 20:44] gabegorelick commented on #1227
Yeah I kind of assumed that when mentioning bootstrap containers. But this leads to another issue: how would it work if you wanted to pull these containers from a registry that can't be accessed via instance role? E.g. if your bootstrap container is in Docker Hub you can't expect it to set your Docker Hub credentials.

[2021-05-19 17:57] webern opened #1583 "Debugging Logs and Host Container Status using Control Container"
This issue is catalyzed by this experience: https://github.com/bottlerocket-os/bottlerocket/discussions/1573

In the case that the admin container is not starting or unusable, there are no good facilities for
- Knowing the state of the admin container (or any host container)
- Debugging the cause of host container failure
- Debugging Bottlerocket, in general, without using sudo sheltie in the admi

[2021-05-19 20:07] etungsten commented on #1385
I believe #1580 addresses (3).
I'll go ahead and create separate issues for 1) and 2).

[2021-05-19 20:40] etungsten opened #1584 "Be able to delete settings key/values from the datastore via the API"
**What I'd like:**

A way to delete unwanted settings from the Bottlerocket datastore via the API.
For example, if I no longer have a need for a host-container or static-pod or bootstrap-container, there is currently no way to purge the settings for them from the datastore.

Originally posted in https://github.com/bottlerocket-os/bottlerocket/issues/1385#issuecomment-797126417:

**Any alternatives

[2021-05-19 20:46] etungsten opened #1585 "Link or verify settings together"
**What I'd like:**
Originally posted in https://github.com/bottlerocket-os/bottlerocket/issues/1385#issuecomment-797126417:

It'd be nice to be able to specify dependencies between settings. For example, maybe a setting can't be a certain value if another setting has a specific value, or if a setting can only be set if another setting is unset, etc.

**Any alternatives you've considered:**
None

[2021-05-19 20:47] #1385 closed, assigned to etungsten

[2021-05-19 21:43] tjkirch commented on #1435
EKS has now released 1.20 support!  :tada:

[2021-05-19 21:48] tjkirch opened #1586 "Ability to change release start time and waves"
When building a Bottlerocket repo, you call `cargo make repo`.  If you don't want to use the [default wave schedule](https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/updater/waves/default-waves.toml), you also pass `-e PUBLISH_WAVE_POLICY_PATH=path`.  If you want the wave schedule to start at a defined point in the future, you pass `-e RELEASE_START_TIME=RFC3339-or-offset`.

Th

[2021-05-19 21:50] tjkirch commented on #1586
Currently, pubsys only references the wave schedule in [update_manifest](https://github.com/bottlerocket-os/bottlerocket/blob/develop/tools/pubsys/src/repo.rs#L103), where it also adds a new release.  We may want to split that apart.  We'd probably want a new Makefile.toml target that can call pubsys to _only_ modify an existing manifest.json target, not add a new release or new targets.  (Presuma

[2021-05-19 22:18] tjkirch opened #1587 "Simplify rollback of repo updates"
When performing a Bottlerocket release, pubsys provides convenient tools for many steps, like creating repos, and creating and copying AMIs and SSM parameters.  AMIs and SSM parameters are easy to roll back if there's an issue, via `promote-ssm` from a previous release, and `publish-ami` with `--revoke`.

However, rolling back a repo is more complicated.  You probably don't want to blindly copy a

[2021-05-19 23:38] diranged commented on #1435
:+1: we're in the upgrade process now.. and i've tested the 1.1.1 release w/ eks 1.20 and no longer see the kernel issue on-startup! yay!

[2021-05-20 23:05] #1203 closed, assigned to etungsten

[2021-05-20 23:40] jpculp opened #1590 "Conditionalize `shibaken` to not build for non-AWS variants"
We should conditionalize shibaken in `os.spec`, like we do for pluto, since we don't want to run it on non-AWS platforms.

_Originally posted by @bcressey in https://github.com/bottlerocket-os/bottlerocket/pull/1372#discussion_r636450893_