[2021-05-21 20:54] jpculp opened #1595 "Release updated admin container"
The admin container has had several new commits and needs to be updated.

Closer to our next Bottlerocket release, this needs a version bump, release, and migration.

[2021-05-22 10:55] samjo-nyang opened #1597 "Add kubelet options - topologyManagerPolicy and topologyManagerScope"
**What I'd like:**
https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/
I want to use topologyManagerPolicy (default as none) and topologyManagerScope (default as container) options on kubelet.
Since these fields should not be updated without a full reboot, I think it is safe to add these options as their default values.

**Any alternatives you've considered:**
None; I created a p

[2021-05-24 17:25] webern commented on #1398
This was done in #1372

[2021-05-24 17:25] #1398 closed, assigned to jpculp, webern

[2021-05-24 17:54] #1590 closed, assigned to jpculp

[2021-05-24 20:02] etungsten commented on #1435
Hi @diranged, I'm glad to hear that you're no longer running into the issue.

Although this is fixed in variants with the 5.10 kernel, other variants with the 5.4 kernel will still have the issue. So I would like to edit this issue to track the fix for our other 5.4 kernel variants.

Feel free to unsubscribe from the issue notification if it gets too noisy.

[2021-05-25 23:32] jpculp commented on #1597
Hi @samjo-nyang! Thank you for opening up this feature request. We are looking into it, but I suspect this is fine.

[2021-05-26 17:53] #1457 closed, assigned to nobody

[2021-05-26 21:21] #1332 closed, assigned to webern

[2021-05-27 06:50] bmonteiro commented on #1225
hi guys, any plans to get this one implemented anytime soon ? I'm using AWS EKS v1.19 + Bottlerocket  amazon-eks-gpu-node-1.19-v20210504 and when trying to use a PVC from AWS EFS (NFS) I have got the below error:

[code]

@webern @gregdek

[2021-05-27 18:59] webern commented on #1225
I think this is different then the OP who is trying to mount S3 as an NFS.

The EFS CSI driver was known to be working fairly recently when I fixed this incompatibility:
 - https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/286
 - https://github.com/bottlerocket-os/bottlerocket/issues/1111

When working on it, the instructions I followed to deploy an EFS PVC were these: https://docs.aws.am

[2021-05-28 13:34] bmonteiro commented on #1225
@webern  yes, in my case the efs csi driver is also installed but still the same error.

[code]

[code]

In case it is not related maybe there is already an issue open on that topic ?

[2021-05-28 16:21] webern commented on #1225
There was, but it was fixed. Do you mind opening a new one? I suggest a title like "Unable to mount EFS volume with the aws-efs-csi-driver". We'll try to figure out what's going on there and leave this issue for the more general-purpose NFS issue, such as supporting csi-driver-nfs.

[2021-05-28 19:17] bmonteiro opened #1599 "Unable to mount EFS volume with the aws-efs-csi-driver"
@webern, as requested

Bellow error when mounting EFS in AWS EKS running Bottlerocket OS 1.0.8.

[code]

EFS CSI installed and running
[code]

[code]

[2021-05-28 19:18] bmonteiro commented on #1225
@webern sure thing, pls refer to  #1599

[2021-05-28 21:00] webern commented on #1599
I've been trying to deploy an EFS filesystem and mount it with the driver but the setup is very complicated. I haven't had success as of yet but I'm not at all confident that I have done everything correctly. In any event, can you check this?

Find controller pod:

[code]

Check logs

[code]

In my case I'm seeing things like "File System does not exist: Resource was not found" which sounds like c

[2021-05-28 22:56] webern commented on #1599
With a little more elbow grease, I was able to show the efs-csi-driver working on Bottlerocket (v1.1.1). I had missed a step regarding the ServiceRole. Once that was fixed I got an EFS volume mounted:

[code]

And the example application from [the documentation](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) was writing to the EFS volume.

[2021-05-29 06:04] bmonteiro commented on #1599
I was using v1.0.8 maybe I can try v1.1.1 like u did. I will check that.

[2021-05-29 18:02] webern commented on #1599
You can try that, but I would recommend looking at the logs of the efs controller first. I find it highly unlikely that the Bottlerocket version made a difference here.  The most likely scenario is that something (permissions, a security group, etc) is not configured correctly. The controller logs should give us something to go on.

[code]

[code]

[2021-05-29 19:21] bmonteiro commented on #1599
@webern

Interesting, I'm tailing -f both pods (efs csi controllers) not even 1 entry in the logs (2 last tabs)

<img width="1792" alt="Screenshot 2021-05-29 at 21 19 11" src="https://user-images.githubusercontent.com/908425/120082462-8d7f0680-c0c3-11eb-974e-f6350be89e22.png">

[2021-05-30 01:31] webern commented on #1599
It seems like the PV is not being provisioned by the EFS CSI.

Are you using a storage class and dynamic PV provisioning? My storage class looks like this:

[code]

My pod created a PVC (and thus a dynamically created PV) like this:

[code]

These came from the [EFS CSI documentation](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html).

[2021-05-30 07:27] bmonteiro commented on #1599
@webern

I have both also, this is indeed interesting. I will need to anyway build a new cluster will keep the issue updated. Let's see. Thx so far ;)

[2021-06-02 23:47] etungsten commented on #1351
I have two hosts, one that experienced the bootup delay due to wicked and another that didn't:

### Delayed host:

[code]
Logs from `wicked` :
<details>

[code]
</details>

Logs from `wickedd`, master daemon:
<details>

[code]
</details>

Logs from `wickedd-dhcp6`, the supplicant service for leasing ipv6 addresses:
<details>

[code]

</details>

### Host that didn't experience any delay at boot:
[

[2021-06-03 18:45] etungsten commented on #1351
`wicked` isn't sourcing the configuration file for some reason. It's still waiting 30 seconds for interfaces to come up even with WAIT_FOR_INTERFACES set to 1. I suspect it has something do with wicked being installed with redhat compatibility so it's not reading configuration files from `/etc/sysconfig/network/`. Looking at workarounds.

[2021-06-04 14:10] st33v opened #1604 "Need a way to deploy Bottlerocket nodes with a larger data volume"
I'm deploying bottlerocket using terraform, not eksctl, by using [this module](https://github.com/terraform-aws-modules/terraform-aws-eks/tree/master/examples/bottlerocket). The AMI comes with a very small data volume-- 20Gb on xvdb.

I realize this project doesn't support terraform modules but this team is probably the best source for advice on this matter. And all terraform aside, it seems like

[2021-06-04 18:14] tjkirch commented on #1604
Hi @st33v!  I recently did this using CloudFormation to create a launch template that changes the block device size.  Launch templates are nice in that you can specify just the properties you want to override, without having to reiterate all the details.  (If you're using launch configs, it's worth switching to launch templates.)

Here's what I did, with the application-specific stuff snipped out:

[2021-06-04 23:01] jpculp commented on #1405
After some trial and error, I was able to get Cilium v1.9.x to work after [upgrading the AWS-CNI to v1.7.9](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.7.9) _(v1.7.5 seems to be the current default)_. On the [amazon-vpc-cni-k8s](https://github.com/aws/amazon-vpc-cni-k8s) repo you can read more about [the issue](https://github.com/aws/amazon-vpc-cni-k8s/issues/1323) and [the fix](http

[2021-06-05 01:29] st33v commented on #1604
wow... thanks @tjkirch I think I can work with that. it looks like the newer versions of the EKS module do use LaunchTemplates.

[2021-06-05 01:29] #1604 closed, assigned to nobody

[2021-06-07 16:02] zmrow opened #1605 "VMware: Provide a `cargo make` target for OVA upload/template"
**Feature**
OVAs are already automatically built for VMware variants.  It would be nice to provide a friendly `cargo make` target to upload OVAs to one or more vSphere datacenters, optionally making them into VM templates.

**`cargo make` interface**
We will provide two new make targets `cargo make upload-ova` and `cargo make vmware-template`.  Providing the `upload-ova` target means that one can

[2021-06-07 20:06] #1568 closed, assigned to etungsten

[2021-06-07 20:08] #1351 closed, assigned to etungsten

[2021-06-07 21:42] tjkirch commented on #367
Just a quick update.  For anyone looking to connect to the admin container without needing open ports or public IPs, you can now [SSH through SSM](https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-getting-started-enable-ssh-connections.html) and it works well - just `ssh i-012345abcdef` and have a normal SSH session, just proxied through SSM.

I plan to document that, bu

[2021-06-08 21:26] jpculp opened #1607 "Release updated control container"
The base OS for the control container should probably be updated.

Closer to our next Bottlerocket release, this needs a version bump, release, and migration.

[2021-06-09 03:31] walkley commented on #1255
Hey, any updates to make Bottlerocket available in AWS China regions?

[2021-06-10 19:44] jaxesn opened #1608 "Allow hostname to be set via user-data"
**What I'd like:**
When using bottlerocket with CAPV the `hostname` resolves as the IP of the node.  It is unknown if this causes any real issues, but it has the unfortunate side-effect of naming the kubernetes nodes based on this IP instead of the CAPV set hostname.  This creates an inconsistency when working with CAPV based clusters between bottlerocket and other OSs as well as the node names no

[2021-06-14 21:27] etungsten opened #1611 "Kubernetes 1.21 support"
Kubernetes 1.21 was released in April 2021: https://kubernetes.io/blog/2021/04/08/kubernetes-1-21-release-announcement/

[CHANGELOG since 1.20.0](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1200)

[2021-06-14 22:20] jpculp commented on #1367
@domgoodwin, thank you for your patience in all of this. We've done some testing on our end and confirmed that you were on the right track with `rp_filter`. At the moment it is not possible to remedy this via userdata, but there are two manual approaches you can take:

**Approach 1: Patch nodes directly**
- Enable and connect to a node's admin container.
- Run `sudo sheltie`.
- Patch sysctl config

[2021-06-14 22:24] #1413 closed, assigned to arnaldo2792

[2021-06-15 20:19] tjkirch opened #1613 "Update bash to 5.1"
It's only used in the -dev variants for console login, so it's low priority, but would be nice.

The last time I tried to do this, I ran into a sporadic build failure, so we have to figure out what's changed with builtext and make sure it's reliable: https://github.com/bottlerocket-os/bottlerocket/pull/1460#issuecomment-815105938

[2021-06-15 20:56] bcressey opened #1614 "add support for zstd compressed kernel and modules"
**What I'd like:**
We should use zstd to compress our x86_64 kernel (instead of gzip) and our modules (instead of nothing).

For backwards compatibility reasons, we won't be able to compress the aarch64 kernel until we work out a path to delivering grub updates; otherwise new launches will work, but in-place updates would fail.

We'd need to backport the patch from 5.13, but this should be straigh

[2021-06-16 20:49] bcressey commented on #1294
Done.

[2021-06-16 21:56] arnaldo2792 opened #1617 "Provide settings to change containerd's persistent storage"
**What I'd like:**

Originally posted in #1209

Containerd will store container images in the persistent data storage which is setup with the `Root` property in `/etc/containerd/config.toml`. We need to provide a mechanism to allow users to use ephemeral disks as containerd's persistent data storage.

**Any alternatives you've considered:**
With #1601, users can set up and mount the ephemeral disk

[2021-06-16 23:01] arnaldo2792 commented on #1209
With #1601, we added the ability to partition, format and mount ephemeral disks using bootstrap containers. #1618 is a github discussion that shows an example on how to partition, format and mount an ephemeral disk.

We still have to work on a mechanism to allow users to change the storage that containerd uses to store persistent data (like container images), this last part will be tracked in #161

[2021-06-16 23:01] #1209 closed, assigned to arnaldo2792

[2021-06-17 21:32] tjkirch opened #1620 "Update gptman dependency"
There have been some big updates to gptman.  It's a critical dependency for us in a few places, so we should carefully evaluate the changes.

[2021-06-18 17:02] #1607 closed, assigned to jpculp

[2021-06-18 17:02] jpculp commented on #1607
All code merged.

[2021-06-18 17:03] jpculp commented on #1595
Merged in.

[2021-06-18 17:03] #1595 closed, assigned to jpculp

[2021-06-19 23:05] nairb774 opened #1624 "kubelet: Support running under a separate role."
**What I'd like:**

To be able to run the kubelet with a different role than the role attached to the node. Through a few small changes, we have been able to remove all permissions[1] directly attached to the instance role of our EKS nodes. I'll try to give an overview of the changes that we've done, and hopefully this is something that can be supported. I will note that we have this working with

[2021-06-21 17:00] #1294 closed, assigned to bcressey

[2021-06-21 22:22] #1611 closed, assigned to etungsten

[2021-06-22 16:30] netjordan opened #1627 "Adding trusted certificate authorities"
**What I'd like:**
To be able to add additional certificate authorities to be trusted.  We have two reasons for this:
 - We run our own docker image repository, with a TLS certificate issued by our internal certificate authority.
 - We have an enterprise network TLS proxy which presents certificates issued by it's own internal CA when visiting websites.

**Any alternatives you've considered:**
I'v

[2021-06-22 16:33] webern commented on #1627
I think this is a duplicate of #1277.

[2021-06-22 16:43] netjordan commented on #1627
Agreed, closing this.

[2021-06-22 16:43] #1627 closed, assigned to nobody

[2021-06-23 15:47] gthao313 opened #1628 "Unexpected connection refused when running fluent-bit on 1.20 cluster"
**Image I'm using:**
ami-00e7ac29da78d893c

**What I expected to happen:**
Successfully connect to port and fluent-bit starts to work
Example:
[code]

**What actually happened:**
[code]

**How to reproduce the problem:**
1. Setting up a 1.20 cluster in eu-central-1
2. Launching bottlerocket instance
3. ```kubectl run --image public.ecr.aws/aws-observability/aws-for-fluent-bit:2.16.0 --command -- s

[2021-06-24 16:03] snstanton commented on #1628
Do you have any idea what might be going on?  This is blocking our cluster rollout on 1.20.  Any suggestions for a workaround would be great.  Otherwise, we're looking at having to roll back the cluster to 1.19.

[2021-06-24 22:58] jhaynes commented on #1628
We don't have a root cause yet but our on-call @gthao313 is working on figuring out the cause and a work around.

[2021-06-25 00:48] snstanton commented on #1628
FYI, what I'm doing at the moment is disabling the lifecycle checks.  The pod appears to function normally except for the http port that handles the readiness/liveness check.

[2021-06-25 01:13] gthao313 commented on #1628
Hey @snstanton. Thanks for your information. We are still investigating on this issue. but I can give you some updates. To target what caused this issue, I was running different variant bottlerocket images and connect to 1.20 cluster, and experiment results tell me that bottlerocket-aws-k8s-1.20 would return the same error `connection refused` as you got, and rest variants worked as expected. Ther

[2021-06-26 00:53] jpculp commented on #1605
https://github.com/bottlerocket-os/bottlerocket-sdk/pull/54 is merged, but `govc` won't be available to build with until a new SDK is released.

[2021-06-27 02:10] rverma-dev opened #1633 "The latest ami '1.20.8' has break the support of gcr repos."
Image: ami-090c21e95115589cc

Not able to pull docker images

[code]

[2021-06-28 17:43] snstanton commented on #1628
Do you have any idea what is triggering the issue?  I'm trying to decide if this is going to affect any other pods aside from fluent-bit.

[2021-06-28 19:45] jhaynes commented on #1633
Hi @rverma-nsl. Sorry you're running into this. We haven't been able to reproduce this error. Can you share more details of your environment and configuration? Specifically, what region was this working on? Did it work on a prior Bottlerocket version (and if so, which)?

If you'd rather not do that here, feel free to open a support case through AWS Support or email me directly (jushay at amazon do

[2021-06-28 20:04] gthao313 commented on #1628
Hey @snstanton.  After comparing 1.19 variant kubeconfigs to 1.20 variant kubeconfigs, we found he root cause was `cpuManagerPolicy: "static"`. We still investigate on how it affects fluent-bit. Unfortunately, we did not expose `cpuManagerPolicy` as a setting, so currently we suggest you to rollback or pause your 1.20 deployment.  If we have any updates, we will let you know. Thanks : )

[2021-06-28 22:06] nairb774 commented on #1624
I can understand if implementing something like this would be a lower priority. _If_ I get time, I would be happy to poke at this as an excuse to learn the system, but I would really only start in on this if there is an indication that such a change/PR would be inline with the larger goals of the project. Any input if this is a feature that would be accepted were a PR to show up?

[2021-06-28 23:23] jhaynes commented on #1624
Hi @nairb774 and thanks for the follow-up and for opening this issue. You’re describing an interesting use-case that we haven’t considered before.  Can you tell us a bit more about what permissions you’re assigning to the instance role and what issues you’ve had restricting access to IMDS? Our expectation is that most folks configure the instance role to be fairly locked down (e.g. the policy show

[2021-06-29 00:10] nairb774 commented on #1624
You can lock it down more. For example, this is _all_ of the policies attached to our instance role:

<img width="1583" alt="worker" src="https://user-images.githubusercontent.com/128795/123716521-9f250c80-d82f-11eb-95e9-c6fbf6c23b95.png">

As you can see, none of the policies you listed above are on the instance role. This role will have an empty set of policies once we have https://github.com/Da

[2021-06-29 15:05] bcressey commented on #1628
What's happening is that the epoll loop in the embedded web server (monkey) is getting an EINTR that it doesn't handle properly:
[code]

While looking at the k8s source code I noticed that there's another value, cpuManagerReconcilePeriod, which is set by default to 10s. On a hunch I put `cpuManagerReconcilePeriod: 10m` into the kubelet config, and the web server was up for 9 minutes and 40 seconds

[2021-06-30 15:51] zmrow opened #1639 "VMWare: CAPV integration"
**What I'd like:**
I'd like to be able to use [Cluster API Provider vSphere](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere) to provision and manage Bottlerocket nodes.

Currently there are a few issues (potentially more) with CAPV that need to be fixed:
* CAPV only [supports one disk](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1166) per VM (Bottlerocke

[2021-06-30 15:54] zmrow commented on #1639
Related to the discussion in #1635.

[2021-06-30 16:33] gabegorelick commented on #1628
Title should probably be edited. I see similar behavior in us-east-1. It sounds like the consensus is that `cpuManagerPolicy` is the issue and eu-central-1 isn't salient.

Happy to provide more info if needed.

[2021-06-30 18:49] gabegorelick commented on #1628
I think this issue is larger than just Fluent Bit's embedded HTTP server not working. I'm seeing Fluent Bit stop processing logs completely after a few minutes (similar to https://github.com/fluent/fluent-bit/issues/3014 or https://github.com/fluent/fluent-bit/issues/3518). Downgrading to Bottlerocket 1.19 fixes it.

[2021-07-01 07:25] willthames opened #1641 "Allow ssh using EC2InstanceConnect"
**What I'd like:**

I would like to be able to use EC2InstanceConnect to ssh into the admin container

We use EC2InstanceConnect to connect to our amazon linux instances and it works really well - no need to have a shared key pair that then needs rotating, and no need to include a public key for every possible user of the instance.

I don't know that EC2InstanceConnect will necessarily work with b

[2021-07-01 07:40] willthames opened #1642 "bootstrap containers using ECR don't meet regex"
**Platform I'm building on:**

EKS

[code]

**What I expected to happen:**

If I reference an ECR hosted image for bootstrap container, with a valid container reference, the bootstrap container runs

[code]

The source is correct on the host (from /etc/bootstrap-containers/lifecyclehook.env )
[code]

**What actually happened:**

The conversion to ARN seems to happen before the validation:
[code]

[2021-07-01 16:45] tjkirch commented on #1641
Thanks for your request!  I believe this is a duplicate of https://github.com/bottlerocket-os/bottlerocket-admin-container/issues/38, which has a PR in progress - we created it in the admin container repo because that's where Instance Connect would reach.

[2021-07-01 18:15] arnaldo2792 commented on #1642
Hi @willthames, thanks for bringing this to our attention. It looks like the exception is coming from the [Amazon ECR Containerd Resolver](https://github.com/awslabs/amazon-ecr-containerd-resolver/blob/ec50b15a323d701f8285baf808a18475a4c95404/ecr/resolver.go#L165). Apparently, the repository that you are referencing has a valid name, but it seems like the ECR client in the ECR resolver doesn't lik

[2021-07-02 02:33] willthames commented on #1642
Oh wait - I accidentally capitalized the repository namespace (which I then redacted while writing the bug report) - sorry about that!

Thanks @arnaldo2792 - probably not really a bug.

[2021-07-02 02:33] #1642 closed, assigned to nobody

[2021-07-02 02:43] willthames commented on #1641
Thanks @tjkirch - I did search in this repository but hadn't thought to look there - I'll close this one as a duplicate then

[2021-07-02 02:43] #1641 closed, assigned to nobody

[2021-07-02 13:59] hypnoce opened #1645 "resolv.conf search invalid"
**Image I'm using:**
eks-1.20-1.1.2 in AWS

**What I expected to happen:**
I expect the search domains in resolv.conf to be space separated.

**What actually happened:**
The search domains are comma separated which makes them invalid.

In the code that parses the lease file from wicked, each value is being edited to remove spaces.
https://github.com/bottlerocket-os/bottlerocket/blob/036ced8e6a67d7

[2021-07-02 16:00] zmrow commented on #1608
Update:  I have an implementation of this over on [my fork](https://github.com/zmrow/bottlerocket/pull/2).  It took a little bit of thinking and is a bit different than the addition of most other settings.  For details on the implementation, see the PR link above.

**Issues with setting hostname**

At first blush, setting hostname seems fairly harmless.  But because hostname is closely tied to the

[2021-07-02 17:02] tjkirch commented on #1645
Thanks for the well-researched issue and PR!  I'm taking a look now so I can review the PR.

[2021-07-06 18:18] #1645 closed, assigned to nobody

[2021-07-06 23:12] arnaldo2792 commented on #1277
We have been brainstorming different ways to implement this feature, and we have a design candidate that we wanted to share.

The proposed API shape will be as follows:

[code]

[code]

In this solution, users can name the single cert/certificates bundle that the data field represents, which helps them keep the store organized. With this API shape, users can add more bundles in subsequent calls to

[2021-07-06 23:13] arnaldo2792 commented on #1277
An alternative we considered was for the API to accept separate lists to trust and distrust certificates bundles, as follows:

[code]

[code]

Both `trusted-certificates` and `distrusted-certificates` would accept a string with N certificates, so the user will be responsible of creating the bundle and properly passing it to the user data. By using this shape, the users could effectively remove und

[2021-07-07 09:26] stevehipwell commented on #1227
This is a blocker to the adoption of Bottlerocket as this can currently be easily done via userdata. An alternative view on this is that the credentials being provided here should only be R/O so the MVP would be to be able to specify these as plaintext with warnings and then to iterate on a "better" solution.

[2021-07-07 09:51] stevehipwell opened #1647 "Add a primary subnet ID label to the node"
**What I'd like:**
The Kubernetes node to be given a label containing the primary ENI subnet ID.

When using the aws-vpc-cni in custom networking mode in a VPC with the AWS recommended public/private subnet split there is no suitable default node label to support using a different secondary subnet per public/private split (the docs have a manual action here). If the node is labelled with the prima

[2021-07-07 16:10] Smana commented on #1405
I have exactly the same problem, I've installed cilium successfully on Amazon Linux but I got the same error using bottleneck.
k8s_version = 1.20
cilium = 1.10.2

I tried the steps described by @jpculp but that didn't work on my side.

[2021-07-07 16:29] jpculp commented on #1405
Hi @Smana. I'm sorry to hear you're running into issues. We also saw them on our end with 1.10.x and are continuing to investigate. The fix above only applies to cilium 1.9.x.

[2021-07-07 16:34] Smana commented on #1405
Let me know if you want me to tests on my side whenever a fix is ready to be tested.

[2021-07-08 00:06] mifisignal opened #1649 "Add support for ECS Exec"
ECS Exec is an important feature of ECS. It allows customers to obtain a shell in the context of a running container (à la `kubectl exec`), without requiring admin access to the host.

Currently, ECS Exec is supported on the Amazon Linux 2-based ECS optimized AMI and similar variants, but is not supported on Bottlerocket. Given ECS Exec's popularity, it makes sense to add support for it in Bottler

[2021-07-08 18:16] etungsten opened #1650 "apiserver, sundog: random failures after reboot"
**Image I'm using:**
Bottlerocket v1.1.2
Seen this in both aarch64 aws-k8s-1.17 and aarch64 aws-k8s-1.20 so far

**What I expected to happen:**
Host to start-up successfully after a reboot

**What actually happened:**
2/400ish hosts failed to reboot due to the following error:
[code]
sundog fails to commit settings to the apiserver due to the socket somehow missing.

apiserver logs:
[code]
It seem

[2021-07-09 04:44] bdwyertech opened #1651 "GitLab Runner - SELinux Issue"
**Image I'm using:**
Latest v1.1.2 on EKS 1.20
Also tried going back to EKS 1.19 back to v1.0.x

**What I expected to happen:**
GitLab Runner should be able to create pods in my cluster.

**What actually happened:**
GitLab Runner was not able to create pods within my cluster.

**How to reproduce the problem:**
Deploy the gitlab/gitlab-runner helm chart to test.

It seems like there is an SELinux i

[2021-07-09 20:01] bdwyertech commented on #1651
It appears this is an issue with the `gitlab/gitlab-runner-helper` image -- when I swapped to the `alpinelinux/gitlab-runner-helper` the problem went away -- very strange.

[2021-07-12 19:37] etungsten commented on #1650
I'm having trouble reproducing this issue. It might be rarer than expected or maybe there are some other factors I haven't considered. In any case, I'm gonna put this aside for now and come back to it once it happens again or resolve this if it hasn't happened again after a while.

[2021-07-14 18:40] gthao313 commented on #1628
All, we have just released Bottlerocket 1.1.3. In this version the default of `cpu-manager-policy` was set back to “none”, which can solve the problem that unexpected connection refused when running fluent-bit on 1.20 cluster.

[2021-07-14 18:42] gabegorelick commented on #1628
I can confirm that upgrading to 1.1.3 fixed the issues with Fluent Bit that I was seeing.

[2021-07-17 00:43] nuvanti commented on #911
Any updates? Would really love to see bottlerocket on EKS managed groups natively supported.

[2021-07-19 13:57] mello7tre commented on #1581
Problem is even bigger if you use ASG CreationPolicy:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-creationpolicy.html

Having no way to signal CF (usually you did this using cfn-signal), you need to either remove policy or set MinSuccessfulInstancesPercent to zero.

[2021-07-19 14:56] jhaynes commented on #911
We're actively working on MNG support and hoping to have support soon. Out of curiosity, @nuvanti are you interested in MNG support via node replacement or via Bottlerocket's in-place update strategy? I ask because we're excited to deliver both, but expect the former to be supported prior to the latter.

[2021-07-19 15:29] nuvanti opened #1657 "Standalone EC2 support"
Bottlerocket has a lot of benefits that are completely independent of containers such as low footprint, improved security, and easier and safer updating.

I would love to use Bottlerocket on EC2 without any containers, i.e. just as a web server (Rust tokio/hyper). Is this possible today? If so, how? If not, can this be added in the future?

If not, and if I need to use containers, is it possible t

[2021-07-19 15:42] nuvanti commented on #1657
Mostly answered in FAQ

[2021-07-19 15:42] #1657 closed, assigned to nobody

[2021-07-20 15:47] zmrow commented on #1608
After some additional discussion with the team, we've decided to move forward without any extra guards for this setting in the api server.  We will document the fact that changing the hostname at runtime (after first boot), can cause issues with kubelet.

[2021-07-20 16:16] vennemp commented on #1297
When you say third-party certifications are you including research into configurations to ensure containers hosted in bottlerocket are FIPS 140-2 compliant?  Obviously this will require the containers themself to use the proper crypto modules but some of the compliance depends on using a kernel in some sort of "FIPS mode"

[2021-07-20 16:50] jhaynes commented on #1651
Thanks for this report @bdwyertech. Happy to keep this open to track this issue but I'm inclined to close it if you're happy with the workaround. If I don't hear back from you, I'll plan on closing in a few days.

[2021-07-21 14:58] zmrow commented on #1297
@vennemp Do you mind clarifying a bit?  Are you asking if we will be validating the containers customers intend to run on Bottlerocket?

[2021-07-21 16:59] gregdek commented on #1297
I am no longer an employee of AWS, so this is just friendly advice.

First, re: CIS -- there is not yet a CIS standard for the "container optimized OS" (at least, there wasn't as of a few months ago), and the CIS benchmarks for full-blown OSes are wildly inaccurate for a container optimized OS. There is, however, a CIS standard for nodes that run under Kubernetes, and Bottlerocket should fit well

[2021-07-21 18:54] ManuelMueller1st commented on #1297
Quote
_Additionally, this benchmark is not applicable to nodes’ operating system level security configuration as this is outside the scope for the CIS Kubernetes Benchmark. You may want to refer to the CIS Amazon Linux 2 Benchmark for further reference on applicable security controls for Amazon Linux 2 images._

https://aws.amazon.com/de/blogs/containers/introducing-cis-amazon-eks-benchmark/

[2021-07-21 20:57] zmrow opened #1663 "API server: "write once, read many" functionality for settings"
**What I'd like:**
I'd like a setting type that can only be set **once**, but read freely.

This would come in handy for things like `settings.network.hostname`, where we wouldn't want users to be able to change it after it is set, which can cause issues with kubelet.

Related to #1608

[2021-07-22 11:08] Niksko commented on #1227
Seems like the [alpha Kubelet credential provider plugins](https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/) feature may help us solve this.

The kubelet arguments and configuration seem like they would be straightforward to implement, but how would we facilitate providing the binaries? Perhaps via a bootstrap container?

[2021-07-22 15:34] zmrow commented on #1633
@rverma-nsl we haven't heard back on this issue in a few weeks so we'll go ahead and close this.  Please feel free to re-open if you continue to see the problem! :)

[2021-07-22 15:34] #1633 closed, assigned to nobody

[2021-07-22 15:44] zmrow commented on #1628
Since 1.1.3 appears to fix the issue I'll close this.  Feel free to re-open if this continue to be a problem!

[2021-07-22 15:44] #1628 closed, assigned to gthao313

[2021-07-22 15:58] springroll12 commented on #873
Any progress on this operator? It would be fantastic to be able to control settings from a central location.

[2021-07-22 16:01] zmrow commented on #1624
Thanks for the additional details!  We'll look into this.

[2021-07-22 16:07] zmrow commented on #1651
I'll close this.  As mentioned, @bdwyertech feel free to re-open if you're not ok with using the `alpine` image!

[2021-07-22 16:21] zmrow commented on #1649
Thanks for the request - we'll look into it!

[2021-07-22 16:34] zmrow commented on #873
@springroll12 We don't have anything new to report on this, but will update the issue and it's tags if and when we prioritize it!

[2021-07-22 16:46] zmrow commented on #1227
@Niksko I hadn't seen that feature - it looks pretty neat and seems like it could help, at least at first glance.

You hit the nail on the head though, making sure the correct credential provider binaries are provided is indeed part of the problem with it.

We'll look into this feature more as it matures - hopefully it can help!

[2021-07-22 17:46] webern commented on #1663
We should consider also that a hostname may be writeable without consequence in some variants but in other variants we might want it to be 'write-once'.

[2021-07-23 02:33] vennemp opened #1667 "FIPS Support / Validation"
This is related to my comment in #1297

Will you adding support for FIPS 140-2 standards? Please note: I am NOT asking about FIPS validation with regards to the containers themselves - I understand that is handled, at least technically speaking, during the build phase of the container image.  FIPS 140-2 compliance for other OSes (Amazon Linux 2, RHEL) configures the crypto module to operate in com

[2021-07-23 02:34] vennemp commented on #1297
Thanks for your comments.  I opened a new issue as recommended. #1667

[2021-07-23 15:53] zmrow commented on #1647
:thinking: I'm thinking this could be accomplished via bootstrap container using very similar (if not the same) code you have above, but I haven't been able to try it yet.

If you beat me to it, check out the [bootstrap container docs](https://github.com/bottlerocket-os/bottlerocket/tree/328b50aa489bd6c7d386ea7ad0790ec39d2a9ca9/sources/api/bootstrap-containers) for more info on how to use them.

[2021-07-23 15:59] stevehipwell commented on #1647
Thanks @zmrow that's good point, can the bootstrap container modify the TOML config or would you be expecting to set an environment variable? I've also opened an [issue](https://github.com/aws/amazon-vpc-cni-k8s/issues/1528) on the aws-vpc-cni as native support for this pattern would be the best solution.

[2021-07-23 16:11] zmrow commented on #1667
Thanks for opening this!  We'll look into it.

[2021-07-23 18:54] zmrow commented on #1647
My thought is that the bootstrap container could use `apiclient` directly to set node labels.  See the [settings.kubernetes.node-labels](https://github.com/bottlerocket-os/bottlerocket#kubernetes-settings) section of the docs.

In the bootstrap container, the `apiclient` call would look something like:
[code]

[2021-07-26 22:03] #1552 closed, assigned to tjkirch

[2021-07-27 16:39] zmrow commented on #1647
@stevehipwell I had a little bit of extra time to poke at this and I'm able to set a node label with a bootstrap container.

**Disclaimer: this is _very_ scrappy code, it's probably best to just use this as an example :)**

Given a bootstrap container called `node-label` with the following configuration:
[code]

`SOURCE` is the location (in ECR in my case) of an image with the following definition

[2021-07-28 17:57] tjkirch opened #1670 "Update to containerd 1.5.x series"

[2021-07-28 18:04] tjkirch opened #1671 "Update systemd"
In the [last package update](https://github.com/bottlerocket-os/bottlerocket/pull/1619) I was unable to update systemd beyond 247.x because 248.2+ have [this change](https://github.com/systemd/systemd/commit/c2c331056a7c331a5478124b3cd6a34c9f539839) which breaks dbus-broker startup unless you disable private mount namespaces for the service unit.  systemd 249.2 still has this change, so we'll have

[2021-07-28 19:14] webern commented on #1471
I want to link this to the underlying issue, which is this: https://github.com/rust-lang/rust/issues/82151

And specifically this comment explains it well:
https://github.com/rust-lang/rust/issues/82151#issuecomment-779368017

[2021-07-28 19:15] webern commented on #1471
Trying again because the backlink was not created
https://github.com/rust-lang/rust/issues/82151

[2021-07-28 20:18] tjkirch opened #1674 "Update to runc 1.0+"
The 1.0.0 and 1.0.1 release notes indicate changes that we should carefully review and test.

[2021-07-29 18:07] zmrow commented on #1605
Implemented in #1622

[2021-07-29 18:07] #1605 closed, assigned to zmrow

[2021-07-29 20:29] tjkirch commented on #1650
Note: we've still seen this after #1655, but it's seemingly become even more rare.

[2021-07-29 21:08] tjkirch opened #1675 "Update libglib to 2.69.0+"
Before 2.69.0, libglib used a bundled copy of libpcre.  We had a dependency on libpcre2, but it [only supports libpcre (v1, i.e. 8.x)](https://gitlab.gnome.org/GNOME/glib/-/issues/1085) so it was building and using its own bundled version.

In 2.69.0, they removed the bundled libpcre and instead use a meson wrapdb build of libpcre.

To update, it seems like we'll need to either (1) package libpcre

[2021-07-29 22:06] #1608 closed, assigned to zmrow

[2021-07-30 17:46] webern opened #1681 "Use runtime.slice and system.slice cgroup settings in k8s variants"
Per the discussion, investigate and possibly implement the recommended cgroup settings "runtime.slice" and "system.slice".

### Discussed in https://github.com/bottlerocket-os/bottlerocket/discussions/1679

<div type='discussions-op-text'>

<sup>Originally posted by **cyrus-mc** July 29, 2021</sup>
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/node-allocata

[2021-07-30 18:30] cyrus-mc commented on #1681
@webern I am actually taking a stab at implementing this. Not sure if AWS is open to public contributions but I can open a PR once complete.

[2021-07-30 19:12] webern commented on #1681
@cyrus-mc that's great! We are open to and enthused about public contributions! Here is our [contributing](https://github.com/bottlerocket-os/bottlerocket/blob/develop/CONTRIBUTING.md) guide for reference. Let us know if you need any help or input. If you have design choices to make we can discuss that here as well. 🚀

[2021-07-30 20:32] #1277 closed, assigned to arnaldo2792

[2021-07-30 20:33] #1614 closed, assigned to arnaldo2792

[2021-07-31 01:13] cyrus-mc commented on #1681
@webern Great. I am doing some experimental builds just to get the build process down. The changes are actually quite trivial as I build a Fedora CoreOS AMI that we currently use as our worker node in EKS and setup the cgroups as outlined in the link above.

Running into an early issue on creating my own build. Followed instructions and created an AMI. When I boot that AMI I get `Kernel is locked

[2021-07-31 19:17] webern commented on #1681
I just tried booting an instance with this in my userdata

[code]

And I saw `Kernel is locked down from securityfs; see man kernel_lockdown.7` but the instance fully booted and is fine. So I don't think that log line represents the cause of error. Often when an instance fails to boot it is because the userdata is incorrect in some way.

Do you see this in your logs `Started Bottlerocket API serve

[2021-07-31 19:20] webern commented on #1681
P.S. You are trying to boot a build that has no changes, i.e. from `develop` right? Or does the build that fails to boot have your cgroup changes in it?

[2021-08-01 17:17] mello7tre commented on #1581
Just one implementation idea:

- create a rust program for signaling CF (need to wait that rust sdk implement instance role credential, awslabs/smithy-rs/issues/466)
  -  program should be configurable by Env variables
- create a new settings section, like:
[code]
- Create a service, `cf-signal.service`:
[code]
- environment file, `cf-signal.env`,  should look like:
[code]
- change `release.spec`

[2021-08-02 03:39] cyrus-mc commented on #1681
I just rebuilt and it worked. I must have done something stupid.

Anyway I pretty much have the PR for this issue done and will open tomorrow after a few additional changes.

[2021-08-02 17:55] #1367 closed, assigned to bcressey, jpculp

[2021-08-02 18:11] #1577 closed, assigned to etungsten

[2021-08-02 20:44] jhaynes commented on #1597
This will land in our next release (`v1.2`).

[2021-08-02 20:44] #1597 closed, assigned to gthao313

[2021-08-02 22:58] webern commented on #1581
Thank you @gabegorelick for bringing this use case to our attention and @mello7tre for providing a design! We are taking a look at this (both the use case and proposal).

[2021-08-03 13:24] mello7tre commented on #1581
Just one note:
regarding @gabegorelick specific issue related to the case of a malformed `user-data`, proposed solution cannot work; and probably there is no solution at all. It's an chicken egg problem.

To signal CloudFormation we need to read `user-data` to know `StackName` and `LogicalResourceId`.

We can acquire those information by looking at instance tags:
- aws:cloudformation:logical-id
-

[2021-08-03 17:21] webern commented on #1599
Hi @bmonteiro, did you manage to get EFS volumes working? I will close this issue but please re-open if you are still having a problem. Thanks!

[2021-08-03 17:21] #1599 closed, assigned to webern

[2021-08-04 20:38] etungsten opened #1696 "aws-k8s variants: support IPv6"
**What I'd like:**
IPv6 support for Bottlerocket aws-k8s-* nodes.

Once EKS fully supports IPv6 (being tracked in https://github.com/aws/containers-roadmap/issues/835), Bottlerocket (specifically, `pluto`) needs to be able to determine whether the cluster's IP address family is IPv6 or IPv4 and dynamically set `settings.kubernetes.node-ip` and `settings.kubernetes.cluster-dns-ip` accordingly.

**A

[2021-08-04 21:16] arnaldo2792 commented on #1681
@cyrus-mc you did not do something wrong :+1: , we merged #1668, which introduced some runtime problems if you were running a pod that loads a kernel module, most likely `kube-proxy`,that's why we reverted the kernel modules compression in #1689.

[2021-08-05 04:37] bcressey opened #1697 "update grub to 2.06"
We should update to the latest GRUB from Amazon Linux, which in turn is based on newer Fedora builds.

This includes fixes for console handling in EC2, especially for metal instances, as well as improvements in the way Secure Boot is managed.

[2021-08-05 14:57] gabegorelick commented on #1581
Sure, but in practice what tends to happen is that if you messed up your instance configuration such that it can't call the CFN API (bad IAM permissions, not passing the correct parameters to SignalResource, etc), you'll just timeout and it will consider it failed. That seems like acceptable behavior for the malformed user data case.

AFAIK, no Amazon Linux instances do this. They all expect you t

[2021-08-05 15:26] mello7tre commented on #1581
Totally agree with you, maybe i explained bad, but my final words regarding needed permissions:

where just saying: we cannot used this solution because it need extra permissions.

Reading AWS documentation seems that `MinSuccessfulInstancesPercent` is used only for an `Auto Scaling replacement update` when a WillReplace policy is used.
And not for the first creation of an ASG.
But it's not clear

[2021-08-06 20:21] zmrow opened #1700 "Populate `/etc/hosts` with an entry for `settings.network.hostname`"
Currently [we populate](https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/release/hosts)`/etc/hosts` with entries for `127.0.0.1` and `::1` that alias to `localhost`.

We need to populate it with an entry to alias `127.0.0.1` to the hostname.

One example:  For other distros (Ubuntu) CAPI populates this entry in `/etc/hosts` and `kube-vip` appears to use `/etc/hosts` to resolve

[2021-08-06 20:24] zmrow commented on #1700
We'll definitely need to double check that this doesn't break anything on EC2, but it doesn't seem like it would.

Here's an example of the CAPI code that runs during provisioning:
[code]

[2021-08-08 07:47] mello7tre commented on #1581
Made some tests, mine assumptions where wrong, but..
AWS documentation is misleading and partially wrong too.

Whole `Creation Policy` is used for both: ASG new creation and ASG update using `Replacement Update` (that after all is just a new ASG creation followed by the deletion of the old one).

But:
`Count` represent the number of signal that need to be received **both success or failure** (and

[2021-08-09 03:01] samjo-nyang opened #1702 "kubelet: add credential provider feature-gate"
**What I'd like:**
Allow arbitrary kubelet feature-gates settings to the kubelet configuration file, such as
[code]

**Any alternatives you've considered:** (nothing)

FYI: I'd like to try https://kubernetes.io/docs/tasks/kubelet-credential-provider/kubelet-credential-provider/ , but it requires to enable feature-gates on kubelet. I have internal patch, but there are no equivalent features on the

[2021-08-09 03:07] samjo-nyang opened #1703 "containerd: set process_rlimit_no_file_soft/hard"
**What I'd like:**
I'd like to set the maximum number of open file descriptors on containers dynamically, such as set
[code]
on https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/containerd/containerd-config-toml_k8s

(from https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/containerd/1002-cri-set-default-RLIMIT_NOFILE.patch)

**Any alternatives you've conside

[2021-08-09 23:51] #1681 closed, assigned to nobody

[2021-08-10 17:52] samuelkarp commented on #1703
Hi @samjo-nyang, thanks for opening this issue.  Can you tell us a bit more about the challenges (if any) you are experiencing with the hard-coded rlimit values?  More information would help us to prioritize this feature request.

[2021-08-10 21:05] samuelkarp commented on #1702
Hi @samjo-nyang, thanks for opening this issue.  Is the Kubelet credential provider the only feature gate you're looking to enable or are there others that you're interested in as well?

[2021-08-10 23:58] samuelkarp commented on #1581
Thank you @gabegorelick for opening this issue and @mello7tre for providing a design!  We’re really glad to see so much excitement around this enhancement.

@mello7tre’s design looks fairly straightforward to me. I can understand concern around failing quickly rather than waiting for a timeout, especially in the case of configuration applied via bootstrap containers rather than settings. One possi

[2021-08-11 06:12] samjo-nyang commented on #1702
currently, i am only interested in the credential provider feature

[2021-08-11 06:17] samjo-nyang commented on #1703
1. `ProcessRLimitNoFileSoft: 65536` is not enough for some microservices.
2. I have an unknown issue for akka clusters on the bottlerocket nodes. I contacted to the bottlerocket team, and I've got the following answer: `Akka uses select() so potentially it's failing because of Bottlerocket's higher default soft limit for open file descriptors. Can the customer try building a custom bottlerocket va

[2021-08-11 13:17] anthr76 commented on #1651
The alpine image didn't work for me though a year old tag `"gitlab/gitlab-runner-helper:x86_64-448c28a9"` did resolve the issue. Hope to have this resolved soon.

[2021-08-11 21:33] bcressey commented on #1651
Re-opening since it's still an issue for you, @anthr76 - I'm doing some work on the SELinux policy now and will investigate before our next release.

[2021-08-12 07:46] mello7tre commented on #1581
Thanks @samuelkarp for the offer.
But at the moment i have some personal family problems that take on all my spare time.

Before begin to apply mine implementation ideas i need to build a vanilla bottlerocket and this is on my todo list from some time, but i had no time to do it.

Second, as i said, i think the best approach should be to write a little rust program for signaling, we need just few

[2021-08-12 12:44] anthr76 commented on #1651
Thanks @bcressey . The linked gitlab issue has some good context as well. Sadly this seems to mostly boil down to GitLab not exposing the Selinux portion of the pod spec to users.

[2021-08-12 23:02] samuelkarp commented on #1581
Thanks for letting us know!  We'll update this issue when we're able to start work on it, but in the meantime if anyone is interested in contributing here please let us know.

[2021-08-14 00:32] bcressey opened #1711 "eliminate use of `systemctl try-restart`"
Today we use `systemctl try-restart` to attempt a service restart after applying settings. Partly this is because we process settings early in the boot, when the affected services haven't been started yet and aren't intended to start.

However, this causes trouble when changing settings at runtime, because if the service isn't running, the command will do nothing.

Services might not be running fo

[2021-08-17 20:32] bcressey commented on #1674
Looks like we'll want 1.0.2 if possible for the cgroup v1 fix: https://github.com/opencontainers/runc/issues/3149.

[2021-08-17 23:04] jpculp commented on #1405
Hi @Smana, sorry for the delay. Cilium 1.10.3 seems to initialize successfully with the steps detailed above, but with a slight modification to step 4.

Please give the follow install configuration a shot and let us know how it goes!

[code]
 ---

If you aren't interested in AWS CNI chaining, these steps are also valid:

[code]
[code]

[2021-08-18 05:05] #1697 closed, assigned to bcressey

[2021-08-18 17:44] bcressey opened #1712 "enable MCS isolation in the SELinux policy"
Currently we allocate random MCS pairs to unprivileged containers, thanks to support in `containerd` and the update to 1.4 in #1336. However, our SELinux policy lacks the constraints required to enforce an isolation boundary.

That means that a process running with the level `s0:c1,c2` can read and write files with the level `s0:c3,c4`, even though those files are nominally owned by a process in a

[2021-08-18 20:27] #123 closed

[2021-08-18 22:46] WilboMo commented on #1517
Hey there! I wanted to let you know that we're currently beginning the process of expanding into GovCloud. We don't have any specifics outside of that for you at this time but we'll be sure to keep you updated as much as possible.

[2021-08-19 01:12] vikas027 opened #1714 "Question - Can I use docker.sock?"
**What I'd like:**
I am using Bottlerocket on my EKS clusters and using GitHub Actions runners. Everything works fine, but the problem occurs when I use a GitHub action task, which tries to build a Docker image using the Docker socket.

_Sample GitHub Action Task_
[code]

_Error Logs_
[code]

I know this is not a Bottlerocket issue, but I am keen to understand if there is a workaround I can use in

[2021-08-19 16:29] bcressey commented on #1187
With this Dockerfile, it's more clear what the problem is:
[code]

The container is running with its expected process label and some of the mounts have the "context=" option that's needed, but `/` does not.

[code]

[2021-08-19 16:36] jaxesn opened #1715 "Add Cilium to list of excluded nics"
**What I'd like:**
We recently updated CAPI's image-builder to exclude cilium nics from the vsphere UI for Ubuntu and other OSs supported by the imager builder.  Without this exclude it can be confusing to users to see seemingly "random" IPs attached to their VMs.  Adding the exclude ensures users only see actual IPs on their VMs in the UI.

ref: https://github.com/kubernetes-sigs/image-builder/pu

[2021-08-19 16:50] bcressey commented on #1715
Let's try to add these excludes to the CAPV [known issues](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/known_issues.md) as well.

[2021-08-19 18:31] arnaldo2792 commented on #1714
Hello @vikas027! thanks for opening this issue we will start looking at it :+1:

[2021-08-19 20:02] appdchrisb commented on #1517
Great news!

From: Will Moore ***@***.***>
Reply-To: bottlerocket-os/bottlerocket ***@***.***>
Date: Wednesday, August 18, 2021 at 6:46 PM
To: bottlerocket-os/bottlerocket ***@***.***>
Cc: "Chris Brannon (cbrannon)" ***@***.***>, Comment ***@***.***>
Subject: Re: [bottlerocket-os/bottlerocket] Availability in AWS GovCloud partition (#1517)

Hey there! I wanted to let you know that we're currently

[2021-08-19 20:13] tjkirch commented on #367
Another quick update - I've been working on a prototype of this idea, and have so far found ways to get the major points of it to work.  I have a local prototype, not integrated with the API system, that allows processes to run over a websocket on the apiclient socket.  I'm still working through some terminal-related issues, and need to make sure that there aren't any blockers with integration int

[2021-08-19 21:24] bcressey opened #1717 "update to glibc 2.34"
[glibc 2.34 is out!](https://lwn.net/Articles/864920/)

We'll also want the fix for [CVE-2021-38604](https://sourceware.org/git/?p=glibc.git;a=commit;h=b805aebd42364fe696e417808a700fdb9800c9e8).

[2021-08-20 16:22] jpculp commented on #1715
Code merged and CAPV known issues were updated by the author of the reference commit.

[2021-08-20 16:22] #1715 closed, assigned to jpculp

[2021-08-20 17:34] jhaynes opened #1720 "Add new instance types to max pods calculation."
**What I'd like:**

AWS launched support for m6i instances. They should be added to the max pods calculations [here](https://github.com/bottlerocket-os/bottlerocket/blob/328b50aa489bd6c7d386ea7ad0790ec39d2a9ca9/packages/os/eni-max-pods). More details about m6i can be found [here](https://aws.amazon.com/ec2/instance-types/m6i/) and the corresponding PR for the AL2 based EKS AMI is [here](https://gi

[2021-08-20 18:41] arnaldo2792 commented on #1714
Hello @vikas027, I did some research about what you are experiencing, and I have a few pointers that might help you. First I just want to clarify that, as you already mention in the Github issues in the description, the AWS k8s variants don’t ship with docker in them. Second, I found that the Github action that you are trying to use [depends on docker](https://github.com/aevea/commitsar/blob/maste

[2021-08-21 08:55] vikas027 commented on #1714
Hey @arnaldo2792 ,

Thanks a lot for looking into this.

I would like to make a small correction here. The docker socket is not only used by this GitHub action but any GitHub action (`aevea/commitsar` was just an example), see my github action [repo](https://github.com/vikas027/github-action-echo-md5sum) as an example.

No, I am not using a custom bottle rocket build, I am using an official AMI `a

[2021-08-22 00:39] ellistarn opened #1721 "Decouple MaxPods from CNI Logic"
**What I'd like:**

I ran into am issue when using https://github.com/awslabs/karpenter and Bottlerocket with the new c6i instance types (see: https://github.com/bottlerocket-os/bottlerocket/issues/1720). Karpenter simulates pod scheduling and provisions instances by discovering instance types from EC2 and binpacking pods onto the node. It uses a formula (14 * AttachableENICount) to compute the ma

[2021-08-23 17:18] #1670 closed, assigned to bcressey

[2021-08-23 17:39] jhaynes commented on #1721
In the short term, we are planning to [add these new instances](https://github.com/bottlerocket-os/bottlerocket/issues/1720) to our existing list so the correct `max_pods` is determined by default. In the longer term, this is something that we and the EKS team have been trying to sort out.

This definitely helps and is something we support, but because the node cannot determine CNI type/version, w

[2021-08-23 17:57] ellistarn commented on #1721
The main challenge of specifying `max_pods` is that it must be done in a launch template's user data. In Karpenter, we launch *many* different instance types, which means we'd be forced to create an equal number of launch templates. Using a relative value rather than an absolute value (e.g. max_pods -> max_pods_per_core) allows us to reason generally using these launch templates and reduce the num

[2021-08-24 00:20] arnaldo2792 commented on #98
I think this was resolved in #1423. With the new systemd boot sequence, kubelet, docker, and the ecs agent won't start if any of the required dependencies (early-boot-config, apiserver, containerd, etc) fails to start. We still use Wants instead of Requires to prevent unwanted reloads, when by some reason either the configured or preconfigured target are restarted. We added `RefuseManualStart` and

[2021-08-24 00:20] #98 closed

[2021-08-24 21:52] WilboMo commented on #882
Hello there! It has been a little while since we've heard from you. I wanted to check in and see if you were still encountering problems with this? If so, please let us know how it worked out with Docker so we can continue investigating.

[2021-08-25 18:26] WilboMo commented on #921
Hello! I wanted to check in and see if having DNS cache in containers was sufficient for you or if having DNS cache on the host ended up being a requirement?

[2021-08-26 06:44] danmx commented on #921
In the end I moved to solutions like Istio's DNS sidecar or Cilium's DNS Proxy

[2021-08-27 00:30] arnaldo2792 commented on #1141
Hello @faarshad, as @bcressey pointed out, it is now possible to use the [kmod-kit](https://github.com/bottlerocket-os/bottlerocket/blob/develop/BUILDING.md#building-out-of-tree-kernel-modules) to build out-of-tree kernel modules. We have this [Github discussion](https://github.com/bottlerocket-os/bottlerocket/discussions/1725) that explains how to compile and load out-of-tree kernel modules, usin

[2021-08-27 17:09] WilboMo commented on #921
Thanks for the update, I'm glad to hear you found a solution that works for you. We'll keep this issue open for consideration in future releases.

[2021-08-27 17:35] WilboMo commented on #1063
Hello danmx. Since our last correspondence on this issue, the features you’re looking for have been added in newer [variants](https://github.com/bottlerocket-os/bottlerocket/tree/develop/variants#bottlerocket-variants) of Bottlerocket like aws-k8s-1.20 and aws-k8s-1.21 through use of the 5.10 kernel. You can find AMIs for these variants through the web console [here](https://docs.aws.amazon.com/ek

[2021-08-30 12:16] AhmadMS1988 opened #1726 "IPVS support"
Hi;
I just wanted to ask if I can use kube-proxy with IPVS mode enabled?
Thanks

[2021-08-30 17:58] jdoss commented on #882
Hey there, sorry for the radio silence on my end. I haven't had any more time to hack on this on my end recently so I am going to close this issue for now.

[2021-08-30 17:58] #882 closed, assigned to nobody

[2021-08-31 12:11] mello7tre opened #1727 "prairiedog build fail caused by updated argh_derive version"
**Platform I'm building on:**

any

**What I expected to happen:**
cargo make should complete successfully

**What actually happened:**
build fail
[code]

**How to reproduce the problem:**

cargo make

**Solution**
To solve problem without changing prairiedog src code just make the following change to prairiedog Cargo.toml:
add `argh_derive = "=0.1.4"` line
[code]

this way you enforce using previ

[2021-08-31 15:08] mello7tre commented on #1581
just an update:
I had some time to build bottlerocket and begin experimenting.
Looking at `metricdog`, i have seen that you already execute systemctl commands, so best approach is to call `systemctl --wait is-system-running` directly inside cfsignal program.
I removed the systemd.unit environment file too and use a cfsignal.toml configured by reading the user-data.

But i am not a rust programmer,

[2021-08-31 15:13] tjkirch commented on #1727
Hi @mello7tre, thanks for the report!

Can I ask how you're building prairiedog?  It's part of the sources workspaces, which has a Cargo.lock enforcing argh 0.1.4.  (We use argh in other places as well, so it wouldn't just be prairiedog failing, but maybe that hit first...)  If you're trying to do a cargo update in the workspace, then you'd definitely run into this issue, but we didn't think other

[2021-08-31 15:22] mello7tre commented on #1727
Hi, i am building bottlerocket to include a new program `cfsignal` for https://github.com/bottlerocket-os/bottlerocket/issues/1581

First time when i built a vanilla bottlerocket i had no problem, but when i updated the Cargo.lock (cargo generate-lockfile) after having included the new program it gave me that error.
(added program do not use argh).

cargo tree showed that prairiedog was using argh

[2021-08-31 16:06] tjkirch commented on #1727
Ah, that makes sense. I think generate-lockfile updates dependencies from crates.io as well. It's silly, but when cargo complains about needing a lockfile update, I usually use cargo check, and just stop it when it starts building. That way it doesn't update the dependencies in the lockfile. We wouldn't want to update other programs' dependencies just to add a new one, so would you mind trying tha

[2021-08-31 16:10] WilboMo commented on #1726
Hello AhmadMS1988. Thank you for reach out. To answer your question, IPVS is not supported at this time. However I will add this issue to our tracking so we can consider adding IPVS support in the future.

[2021-08-31 17:04] mello7tre commented on #1727
sure, tomorrow i will try and let you know the result

[2021-09-01 08:37] mello7tre commented on #1727
I can confirm you that it works.
But i have find out an even simpler method, just use:
`cargo tree`

this way you do not even need to stop it.

[2021-09-01 12:16] mello7tre commented on #1581
cfsignal need configured toml file, so it depends on settings-applier.service.
It cannot send a signal for a failure happening before `settings-applier.service` and `network-online.target` are started.

It is able to send a failure signal for any other service starting from (included):
`
activate-multi-user.service
`

i am ready to open a RP.

[2021-09-03 10:28] #1727 closed, assigned to nobody

[2021-09-07 13:24] technotaff-nbs commented on #1667
A lack of compliance statement for CIS is preventing our company (and i'm sure many others) from adopting Bottlerocket.

[2021-09-07 22:06] jpculp commented on #1405
Hey @Smana, hopefully the updated instructions above are working for your use case. If you run into anything else, don't hesitate to open another issue and let us know.

[2021-09-07 22:06] #1405 closed, assigned to jpculp

[2021-09-08 15:10] zmrow commented on #1720
This was added in #1724

[2021-09-08 15:10] #1720 closed, assigned to zmrow

[2021-09-08 22:32] samuelkarp commented on #1702
Hey @samjo-nyang, thanks for clarifying!  We've discussed this and at this time we're not planning to add arbitrary feature-gates; Bottlerocket's validated settings API is one of the mechanisms we believe helps with both security and predictability of configuration at scale.  However, we are happy to consider adding individual feature gates such as the credential provider feature.  I've re-titled

[2021-09-09 15:45] #1700 closed, assigned to zmrow

[2021-09-09 17:12] gthao313 commented on #1714
Hey @vikas027. Thanks for your comments!  We are working on using Bottlerocket for running self-hosted github action runners via actions-runner-controller. We'll let you know once we have any updates. Thanks!

[2021-09-10 01:50] rverma-dev commented on #1136
@zmrow we are also facing issues with rlimit on our elasticsearch clusters, and the current openfiles are shown as (-n) 65536. Is there a way to use the increased limit, the clusters are bootstrapped using eksct.

[2021-09-10 01:51] rverma-dev commented on #1240
@zmrow we are also facing issues with rlimit on our elasticsearch clusters, and the current openfiles are shown as (-n) 65536. Is there a way to use the increased limit, the clusters are bootstrapped using eksct.

[2021-09-10 01:55] rverma-dev commented on #1703
hi @samuelkarp even we are facing same issues with our microservices. It would be nice if we can push it further to 1048576 as mentioned here https://github.com/bottlerocket-os/bottlerocket/blob/084fc3b30ea7662029976ce8205fbadd6dadd91f/packages/containerd/1001-cri-set-default-RLIMIT_NOFILE.patch#L46. But couldn't find any doc on how to put this.

[2021-09-10 02:40] samjo-nyang commented on #1702
Yes, I have a private oci image registry and I want to implement a custom credential provider for the registry.

[2021-09-10 17:09] zmrow commented on #1240
Thanks for letting us know - we'll take this into consideration when planning and considering if or how we can make this more configurable.

[2021-09-10 17:10] zmrow commented on #1703
Thanks!  We'll take look at if / how we can make this more configurable.

[2021-09-10 22:00] #1674 closed, assigned to bcressey

[2021-09-10 23:35] aashnasheth opened #1735 "infrasys: add cross account support"
**What I'd like:**
To resources in different accounts.

**Current Ideas:**
Everywhere we are changing the region, we can change the account.
We can use account switching code, we just need to figure out where we want to put account information in Infra.toml.

[2021-09-10 23:37] aashnasheth opened #1736 "infrasys: support creating file / ssm key types"
**What I'd like:**
Currently infrasys only generates and updates root.json with KMS keys. We can add support for creating the other 2/3 key types that pubsys supports.

[2021-09-10 23:39] aashnasheth opened #1737 "infrasys/pubsys: replace tuftool use with tough"
**What I'd like:**
infrasys and pubsys have a similar tuftool! macro. Everywhere tuftool! is being used, we can try to use tough. This might require some extra additions to tough.

[2021-09-11 00:01] aashnasheth opened #1738 "infrasys: accommodate new existing resources"
**What I'd like:**
Currently infrasys accommodates pre-existing KMS Keys, but it would also be nice to accommodate pre-existing S3 buckets and CloudFront/Route53 setups.

**Current Thoughts:**
- S3: This will allow users to setup repos within the same bucket on subsequent runs (they can create a bucket on their first run, then use that bucket for their next run)
- Helpful for spinning up infra in

[2021-09-11 00:06] aashnasheth opened #1739 "infrasys: automatic resource cleanup"
**What I'd like:**
Upon fail infrasys, can clean up resources that were created. This can be achieved by:
1. Storing stackarn : region in a global map as stacks are created
2. Creating a delete method that calls Rusoto CloudFormation's delete_stack and goes through the global map
3. Call the delete method before fail like:
[code]

[2021-09-11 11:33] basert commented on #911
We are also looking forward to replace our current managed node groups with Bottlerocket. We are currently deploying the node groups using terraform [aws_eks_node_group](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/eks_node_group) with a custom launch template to add MAP tags to the EC2 machines. Is this going to be supported? Currently AWS API rejects launch templat

[2021-09-11 19:11] yuvalk opened #1740 "QUICKSTART-VMWARE.md download doesnt work"
while trying to use the process described here https://github.com/bottlerocket-os/bottlerocket/blob/develop/QUICKSTART-VMWARE.md

following this:
[code]

produces:
[code]

Instead of getting an ova

[2021-09-11 19:13] yuvalk commented on #1740
changing `VERSION="v1.2.0"`
works better!

[2021-09-11 19:13] #1740 closed, assigned to nobody

[2021-09-13 10:28] przemolb commented on #911
@jhaynes from the application point of view there is no difference between node replacement and Bottlerocket's in-place update - both require apps restart, am I right or not ?

[2021-09-13 13:58] MartinEmrich commented on #911
Apparently eksctl supports Bottlerocket for some time... I just tried it and it seems to work well. It even supports custom settings, like:
[code]
As this issue is still open: Where's the trap I missed so far? ;)

[2021-09-13 15:05] zmrow commented on #911
Just for reference, [this is is the open issue](https://github.com/aws/containers-roadmap/issues/950) for Bottlerocket MNG support.  Follow that issue for the the latest status!  As mentioned Bottlerocket can be used for MNG today using custom launch templates.  Native support for MNG will be available roughly end of September.

@przemolb Re: node replacement vs. update:  Under the hood there's a

[2021-09-13 15:15] zmrow commented on #1703
There's an [open Kubernetes issue](https://github.com/kubernetes/kubernetes/issues/3595) requesting the ability to make these limits configurable.  At first blush, making the limits configurable via Kubernetes (per pod or something) may be a bit more desirable than setting the limits for the entire host.

[2021-09-13 22:02] tjkirch opened #1743 "Update x509-parser / der-parser"
x509-parser updated its dependency on der-parser to 5.1.2, but we lock to 5.1.0 because of breaking changes in 5.1.1.  (See #1687.)  We need to investigate whether/how we can update x509-parser and/or der-parser.

[2021-09-13 22:49] tjkirch opened #1744 "Update release-tmpfiles for new /etc/hosts source"
`packages/release/release-tmpfiles.conf` has an entry to copy `/etc/hosts` from factorydir, but that source was removed in #1713, so now on startup you see a warning like this:
[code]

We should remove the entry from `release-tmpfiles.conf`.

[2021-09-13 23:08] tjkirch opened #1745 "Update CNI to 1.0+"
Update [CNI](https://github.com/containernetworking/cni/releases) and [cni-plugins](https://github.com/containernetworking/plugins/releases) to 1.0+.

A couple spots to be careful about:
* cni-plugins removed [flannel](https://github.com/flannel-io/cni-plugin), which we ship today - should we (a) stop shipping it, (b) build flannel from separate sources in the same cni-plugins package, or (c) buil

[2021-09-14 04:27] samuelkarp commented on #1745
These don't use the `cni` and `cni-plugins` packages in our packages folder.  The plugins used by the ECS agent consume the related CNI bits as libraries (and vendored Go dependencies).

[2021-09-14 08:09] przemolb commented on #911
@zmrow Thanks for explanation. Just thinking that from the stability point of view (all in k8s) it might be more safe to go for node replacement: force migration to the new node pool, if there is something wrong move them back to the previous. In case of in-place upgrades (Bottlerocket ?) I've heard there is a way to roll it back but does it work with EKS ?

[2021-09-14 15:01] zmrow commented on #1647
Since we've come up with a good solution, I'll go ahead and close this.  Let us know if you have any other questions!

[2021-09-14 15:01] #1647 closed, assigned to nobody

[2021-09-14 19:48] #1744 closed, assigned to nobody

[2021-09-14 21:00] cbgbt commented on #911
In the case of the update operator, you’d need to intervene using the instructions in the [Bottlerocket README](https://github.com/bottlerocket-os/bottlerocket#update-rollback) to rollback individual nodes. You’d also need to apply a setting locking the Bottlerocket instance to the known-working version (or disable the update operator) to prevent another update.

We’re currently working on [an ite

[2021-09-15 22:09] przemolb commented on #911
Let me ask this way: let's say I have two alternative options (versions below invented by me for explanation purposes):
1. migrate off old node group (bottlerocket ver 2.0) by creating a new node group (bottlerocket ver 3.0) and enforcing pods restart onto the new node group
2. upgrade existing node group in-place (bottlerocket 2.0 -> 3.0)

Is there any advantage of 2 over 1 ?

[2021-09-15 22:55] tjkirch opened #1752 "Update grub"
The grub builds past 2.06-2.amzn2.0.1 have some changes related to arm64 kernel loading and conditional use of 32-bit entry on x86.

[2021-09-16 18:04] bcressey commented on #1569
This also breaks `podman` inside a container, which like `pip` tries to set the same extended attributes for the files it copies, leading to these denials when setting `security.selinux`.

I've confirmed that the changes in #1733 fix this for a `dind` or `podman` container with `privileged: true`, which eliminates the need for the above workaround - it won't be necessary to craft a privileged-like

[2021-09-20 08:13] cPu1 commented on #911
@MartinEmrich, eksctl supports it today by supplying a launch template with a custom bootstrap script to the Managed Nodegroups API. Unlike EKS AL2, the MNG API does not recognise Bottlerocket as an AMI type. We have opened an [issue](https://github.com/weaveworks/eksctl/issues/4211) to track native support for Bottlerocket in MNG. As noted in that issue, this would just be a behind-the-scenes imp

[2021-09-20 16:49] springroll12 opened #1756 "Provide docker registry credentials to custom host container source"
**What I'd like:**
A way to SSH into the "control" container. Current approach is to build a custom host container and store it in a private (non-ECR) registry. Is there a secure way to pass registry credentials to the bottlerocket userdata? Is there any documentation of the format of the "SOURCE" parameter for custom host containers?

See #1326 for details.

**Any alternatives you've considered:*

[2021-09-21 21:45] gthao313 commented on #1714
Hello @vikas027, Thanks for your patience.  I was able to use Bottlerocket for running self-hosted github action runners via actions-runner-controller. I tried to set up a [GitHub action](https://github.com/gthao313/bottlerocket-runner/blob/main/.github/workflows/blank.yml) (aevea/commitsar) on my test repository and use Bottlerocket to host self-hosted GitHub action runners to execute the commits

[2021-09-21 22:02] vikas027 commented on #1714
Hey @gthao313 ,

As you know, Bottlerocket AMI does not uses a docker or docker socket, it uses `containerd`. The same was also confirmed on a call with the AWS Bottlerocket team.

Also, I am not sure how `dind` (docker in docker) will help here (when there is no docker installed on the instance) unless there is some _magic_ happening on the controller.

For now, I have pointed my runners to an Am

[2021-09-22 21:50] #1531 closed, assigned to gthao313

[2021-09-23 02:02] faarshad commented on #813
@bcressey, Is there any way to use kernel lockdown integrity mode but white-list(maybe somehow sign it to make it legit etc) a particular out-of-tree kernel module?

[kernel_lockdown man page says](https://man7.org/linux/man-pages/man7/kernel_lockdown.7.html):

         file being loaded is vouched for by IMA appraisal).

I tried installing falco with `lockdown = "integrity"` set and as expected(p

[2021-09-23 14:48] rcoh commented on #1581
Quick update from the SDK: this will go out in v0.0.19-alpha either late this week or early next.

[2021-09-23 15:10] mello7tre commented on #1581
Thanks, i think you are talking about point 1 of:
1. aws-rust-sdk do not still support getting credentials from instance role (metadata endpoint).
2. aws-rust-sdk need hyper versions >= 0.14.3 and this conflict with bottlerocket issue https://github.com/bottlerocket-os/bottlerocket/issues/1471

unfortunately issue reported in point 2 have not been fixed and looking at the comment https://github.co

[2021-09-23 16:04] webern commented on #1471
Note, this PR attempts to fix the underlying issue, but appears to be stuck https://github.com/rust-lang/rust/pull/88101

[2021-09-24 03:08] bcressey commented on #813
Lockdown in "integrity" mode and external kernel modules are mutually exclusive for now.

This is complicating our plans for other features - nvidia drivers, Secure Boot - so it's something we're thinking about, but don't have any concrete solution or plans to share.

It's just a hard problem to make a private key available on the host for signing "good" modules, but keep it inaccessible so untrus

[2021-09-24 23:17] etungsten commented on #1756
Hi @springroll12, thanks for the request!

I’d like to understand your use case a bit better. Do you want to make Bottlerocket API calls, and so the particular host container doesn’t matter much, or are you trying to use other tools on the system?  Are there particular tools you want from the control container that aren't in the admin container, or do you want SSH access without there being a supe

[2021-09-28 13:00] springroll12 commented on #1756
@etungsten Thanks for clarifying!

Essentially I'm trying to enable SSH access to Bottlerocket nodes through a bastion host in a public network. The recommended EKS deployment pattern is to put all worker nodes in a private subnet bridged to a public subnet via NAT gateway, so a bastion host would have access to the nodes, but needs an SSH daemon to connect to. This can be either from the admin or

[2021-09-28 18:16] #1696 closed, assigned to etungsten

[2021-09-28 18:20] #1712 closed, assigned to bcressey

[2021-09-28 21:27] zmrow commented on #1240
Upstream issue: https://github.com/containerd/containerd/issues/6063

[2021-09-28 21:41] zmrow commented on #1240
PR: https://github.com/containerd/containerd/pull/6064

[2021-09-29 16:49] etungsten commented on #1650
This hasn't happened for a while now (two weeks+). Not sure what fixed it, maybe the rust package upgrades. I'll go ahead and close the issue for now and re-open it if it ever resurfaces again.

[2021-09-29 16:49] #1650 closed, assigned to etungsten

[2021-10-01 19:57] #1717 closed, assigned to nobody

[2021-10-01 19:57] #1675 closed, assigned to bcressey

[2021-10-04 21:48] tjkirch opened #1772 "Deprecate aws-k8s-1.17 variant by November, 2021"
Kubernetes 1.17 went out of upstream support in November, 2020. AWS EKS is maintaining support for 1.17 until [November, 2021](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our `aws-k8s-1.17` variant by then.

While you’ll still be able to launch `aws-k8s-1.17` nodes beyond November, 2021, we’ll no lon

[2021-10-08 20:04] faarshad commented on #813
Thank you @bcressey - Falco(0.29.1) eBPF mode is functional with kernel lockdown in integrity mode for us on bottlerocket (1.2.1 & 1.1.4) on k8s 1.19.12. Appreciate the help!

[2021-10-13 15:16] basert commented on #1225
Hey,

is there any update when NFS support is added for Bottlerocket? We try to migrate from Amazon Linux 2 to Bottlerocket, but some of our pods require NFS server access.

We are currently using them via the `nfs` server type in volumes:
[code]

[2021-10-13 17:14] webern opened #1776 "build: check clippy and cargo fmt during github actions checks"
**What I'd like:**

During GitHub actions CI, the build should fail (preferably early) if the code is not fmt'ed with cargo fmt and if it has cargo clippy warnings.

We probably wouldn't want this to happen as part of the RPM build process. Instead this would probably be more like what we do now with `cargo test`. The downside is that a mismatch between the version of cargo in the build runners an

[2021-10-13 17:19] jpculp commented on #1225
@basert, thanks for reaching out! If you're running on AWS, our understanding is you should be able to mount the volumes with the aws-efs-csi-driver detailed above. If not, can you elaborate on your use-case?

[2021-10-13 17:37] webern commented on #1776
The simplest solution might be to add these under the existing target `cargo make test`. (Note that `cargo make test` only runs `sources` tests currently. We should probably expand the `cargo make test` target to encompass both `sources` and `tools`)

[2021-10-13 18:56] basert commented on #1225
In our usecase, multiple legacy deployments are using the same EFS share to access files. We tried getting this working with the efs-csi driver, but failed, because we need to mount the pre-existing EFS volume to multiple deployments.

The EFS driver either needs pre-created persistent volumes (which can't be claimed by multiple deployments in different namespaces) or a storage class, which requir

[2021-10-13 19:27] basert commented on #1225
Now that I think about this a bit, I'm not sure we did everything correct when trying to migrate to the efs-csi driver. Logic wise it should work just fine. I will test again and check if I can come up with a reproducible case :)

[2021-10-15 06:23] astronaut1712 opened #1778 "Build AMI: Error when run `cargo make ami` with Administrator user"
**Platform I'm building on:**

EC2 Instance, Using Administrator user with full permission.

After build success, when I register AMI with `cargo make ami`, it got the error:

[code]

[2021-10-15 20:50] ajski1701 opened #1780 "Wildcard Container Registry Mirrors"
**Image I'm using:**
`bottlerocket-aws-k8s-1.21-x86_64-v1.2.1-02e4faf1`

**What I expected to happen:**
Bottlerocket starts cleanly and joins an EKS cluster. Is also able to pull unqualified images from either https://registry-0.acme.com or https://registry-1.acme.com.

**What actually happened:**
Bottlerocket fails to join the EKS cluster

**How to reproduce the problem:**
Configure Bottlerocket'

[2021-10-15 20:55] jpculp commented on #1778
@astronaut1712, I'm not sure I've come across that one before. Have you successfully registered AMIs with this user before? Are you running the latest version of AWS CLI?

[2021-10-15 22:11] etungsten commented on #1447
Implemented by https://github.com/bottlerocket-os/bottlerocket/pull/1606

[2021-10-15 22:11] #1447 closed, assigned to gthao313

[2021-10-15 22:58] etungsten commented on #801
Closing this in favor of https://github.com/bottlerocket-os/bottlerocket/issues/1251

[2021-10-15 22:58] #801 closed, assigned to nobody

[2021-10-15 23:02] etungsten commented on #10
The usecase for passing changed settings to restart-commands has been addressed by https://github.com/bottlerocket-os/bottlerocket/pull/1480. There are no other clear use-case for templating service restart-commands right now. Let's re-open this if we ever identify another use-case.

[2021-10-15 23:02] #10 closed

[2021-10-15 23:03] etungsten commented on #1245
Duplicate of https://github.com/bottlerocket-os/bottlerocket/issues/1389 which has already been addressed by https://github.com/bottlerocket-os/bottlerocket/pull/1480

[2021-10-15 23:03] #1245 closed, assigned to nobody

[2021-10-15 23:11] etungsten commented on #1095
This issue has mostly been fixed by the merged PRs linked above. Let's re-open this when CI ever starts failing again.

[2021-10-15 23:11] #1095 closed, assigned to nobody

[2021-10-15 23:24] jpculp commented on #1594
Hi @snstanton, just wanted to touch base. Are you still needing to do the `--bind-address` workaround?

[2021-10-15 23:37] jpculp commented on #1780
@ajski1701, thanks for reaching out. We'll give it a look!

[2021-10-16 00:01] etungsten commented on #326
A lot of the concerns here have been remediated by the update API and the `apiclient`.

[2021-10-16 00:01] #326 closed, assigned to nobody

[2021-10-16 00:19] snstanton commented on #1594
We aren't currently adding that arg.  I do still see `--hostname-override=$(NODE_NAME)` in the args list, though.  I don't know if that's needed or not.

[2021-10-16 22:12] ajski1701 commented on #1780
I was able to write up a workaround to get the expected functionality to be able to pull container images via unqualified image names by setting both acme.com registries as mirrors of docker.io:
[code]

Neither acme.com registry is actually any sort of mirror of docker.io but this seems to support my use case until the usage of wildcards is supported/fixed in Bottlerocket.

[2021-10-19 21:06] etungsten commented on #1500
`current` as a term for versions is quite vague and can lead to misinterpretations by users or external system if they ever depend on it.
In essence, this would be akin to having a settings flag that disables update all together for a host. If customers wishes to do so, the recommended way would be to achieve this through configuration of the update operator or labelling/tagging of the hosts.

[2021-10-19 21:06] #1500 closed, assigned to nobody

[2021-10-19 21:27] etungsten commented on #418
We're considering this as part of larger efforts to improve documentation of the model, reduce duplication of information, etc. There will be a lot of work necessary in the Bottlerocket API system to integrate those improvements.

[2021-10-23 12:59] astronaut1712 commented on #1778
yes. I found problem in the permission of service control policy.

[2021-10-23 13:00] #1778 closed, assigned to nobody

[2021-10-27 10:48] samjo-nyang opened #1788 "Support Warm Pool for EC2 Auto Scaling!"
**What I'd like:**
It is good to Bottlerocket support warm pool.

For now, kubelets that in warm pools instances are started so they are registered in the control plane. And then, the instances are stopped so the nodes are falling into "NotReady" state.

Therefore, I think the Bottlerocket instances should (optionally) read their current status, and postpone the kubelet up. (such as https://github

[2021-10-27 17:08] arnaldo2792 commented on #1788
Hi @samjo-nyang thanks for sharing this! It is an interesting feature, we will check how to support this down the road!

[2021-10-27 21:02] tjkirch opened #1789 "Update to Rust 2021 edition"
https://blog.rust-lang.org/2021/10/21/Rust-1.56.0.html :tada:

(Now available in the SDK.  https://github.com/bottlerocket-os/bottlerocket/pull/1779)

We should be able to change edition=2018 to 2021 everywhere and reap the benefits.

[2021-10-29 20:14] ryansch commented on #1187
I just hit this again when I rolled out an image using docker compose v2. This may force us to move away from bottlerocket unless we can figure out a workaround.

[2021-10-29 21:16] throwanexception opened #1792 "Support for Graceful Node Shutdown in the Kubelet Configuration"
**What I'd like:**
Graceful Node Shutdown is enabled by default in Kubernetes 1.21, but it requires that you configure ShutdownGracePeriod and ShutdownGracePeriodCriticalPods within the Kubelet configuration.

It'd be excellent if we could get support for configuring it via user-data settings.

Relevant KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2000-graceful-node-sh

[2021-10-31 10:36] erlangparasu opened #1794 "Add tag Rust"
**What I'd like:**
Add topics/tag `rust` on about repo. So other rustacean can easily search & contribute :)

[2021-11-01 17:46] samuelkarp commented on #1794
I've added the `rust` topic, thanks for the suggestion!

[2021-11-01 17:46] #1794 closed, assigned to nobody

[2021-11-01 23:37] jpculp opened #1796 "Failed to build AMI: Infra.toml is missing aws.regions"
**Platform I'm building on:**

**OS:** Linux 5.14.13-100.fc33.x86_64
**Rust:** 1.56.1
**cargo-make:** 0.35.6

**What I expected to happen:**

When I run `cargo make ami -e PUBLISH_REGIONS=us-west-2` an AMI should skip checking `Infra.toml` and honor `PUBLISH_REGIONS`.

**What actually happened:**

Build failed as it could not parse `aws.regions` from my non-existent `Infra.toml`.

[code]

**How to

[2021-11-01 23:40] jpculp commented on #1796
I didn't have this issue before running with `cargo-make` 0.35.0, only after updating to 0.35.6.

Thanks to a heads up from @bcressey, this is due to a change in the 0.35.3 release detailed in the [release notes](https://github.com/sagiegurari/cargo-make/releases/tag/0.35.3).

The solution is simply move the ami task **after** the `-e PUBLISH_REGIONS` argument (or any other arguments you are passi

[2021-11-02 16:29] WilboMo commented on #1792
Thank you for this issue @throwanexception, we'll take a look at this.

[2021-11-02 18:49] jpculp commented on #1796
Various docs and tomls have been updated to reflect the change via #1797.

[2021-11-02 18:49] #1796 closed, assigned to nobody

[2021-11-03 14:48] stevehipwell opened #1803 "Provide setting to disable updates"
**What I'd like:**
I'd like to be able to disable updates (or equivalent) so that all nodes started from a launch template version are identical and can't be modified. This means that either the AMI ID or a combination of the AMI ID and a configuration value need to define the state. We use immutable infrastructure so will replace the node rather than updating it in place so it doesn't make sense

[2021-11-03 22:35] #1803 closed, assigned to nobody

[2021-11-09 15:31] paulpas commented on #1726
Without IPVS support, what mechanisms exist for kube-proxy to support a true round-robin?

[2021-11-09 17:12] #1772 closed, assigned to nobody

[2021-11-09 22:02] cbgbt opened #1812 "Update ecs-agent package (1.57.0+)"
Attempts to update the version of `ecs-agent` have resulted in a build failure while running the go compiler, with little indication as to the root cause. `ecs-agent 1.55.5` update the golang version to 1.17.2, whereas the bottlerocket SDK uses 1.16. Could be related to the inability to build.

[2021-11-09 22:03] cbgbt commented on #1812
The following patch was applied to fixup `0002-bottlerocket-remove-unsupported-capabilities.patch`, which doesn't cleanly apply to ecs-agent 1.57.0.

[code]

[2021-11-09 22:05] samuelkarp commented on #1812
Do you have logs from the build failure?

[2021-11-09 23:15] tjkirch opened #1813 "Update ncurses to 6.4"
There was a large change to `misc/ncurses-config.in` that makes our patch `ncurses-config.patch` not apply, so it needs some investigation.

[2021-11-09 23:43] tjkirch opened #1814 "Update libpcre to 10.39+"
Version 10.38 changed the build system a fair bit, so we'll need to investigate that and be careful to get the same results.

[2021-11-10 00:04] tjkirch opened #1815 "Update libseccomp to 2.53+"
There's a conflict with systemd we'll have to figure out; this is what happens when trying to build systemd 247.10 after updating to libseccomp 2.53:

[code]

[2021-11-10 00:08] #367 closed

[2021-11-10 17:58] #1780 closed, assigned to nobody

[2021-11-11 05:44] bcressey commented on #1651
This should be fixed as of the 1.3.0 release.

[2021-11-11 05:44] #1651 closed, assigned to bcressey

[2021-11-11 05:45] bcressey commented on #1569
This should be fixed as of the 1.3.0 release.

[2021-11-11 05:45] #1569 closed, assigned to bcressey

[2021-11-12 18:12] arnaldo2792 opened #1821 "Alternate image layout in rpm2img"
**What I'd like:**
As part of #1799, we will add support for NVIDIA GPUS. However, additional libraries provided by the `.run` script are required for all GPU workloads to work. The space required for the libraries is around ~432M, which causes build errors because the image size isn't sufficient. Since we don't want to increase the size of the image for all variants, we need to change `rpm2img` s

[2021-11-12 18:15] arnaldo2792 opened #1822 "Add additional NVIDIA libraries to aws-k8s-1.21-nvidia variant"
**What I'd like:**
Due to size constraints, we didn't add the libraries required for all GPU workloads to work in the aws-k8s-1.21-nvidia variant. Once  #1821 is implemented, we should add the additional libraries to the variant.

**Any alternatives you've considered:**
N / A

[2021-11-17 04:01] #1620 closed, assigned to bcressey

[2021-11-18 23:35] zmrow commented on #1517
Good news!  Bottlerocket is now available in GovCloud regions! See the [What's New](https://aws.amazon.com/about-aws/whats-new/2021/11/bottlerocket-now-available-aws-govcloud-us-regions/) post. :tada:

In GovCloud you can find AMIs using SSM in the same manner as the main partition.  See the QUICKSTART guides for [EKS](https://github.com/bottlerocket-os/bottlerocket/blob/develop/QUICKSTART-EKS.md)

[2021-11-18 23:35] #1517 closed, assigned to zmrow, WilboMo

[2021-11-18 23:49] #1821 closed, assigned to bcressey

[2021-11-19 12:02] stevehipwell commented on #1726
IPVS is currently being worked on for EKS (https://github.com/aws/containers-roadmap/issues/142), is Bottlerocket going to align with this?

[2021-11-19 20:43] zmrow commented on #1726
Thanks for reaching out to us! Bottlerocket supports kernel 5.10 in the Kubernetes 1.21 variant (`aws-k8s-1.21`). This includes the required kernel modules to support IPVS. You should be able to leverage this once EKS enables IPVS support.

[2021-11-20 18:39] vezaynk opened #1837 "Is ftp.pcre.org dead?"
Hi!

I'm not a user of bottlerocket. I was brought here by searching for projects depending on `https://ftp.pcre.org/pub/pcre`. The reason being that that website seems to be down, and not just for me, and not just now.

![image](https://user-images.githubusercontent.com/10255546/142737406-005c7ea1-be1a-4d95-8f31-04d9165a4cda.png)

Further evidence is that the [PCRE website](https://webcache.googl

[2021-11-20 20:07] tjkirch commented on #1837
Thanks for the tip!  It looks like we'll have to update our package to reference the new location.

https://github.com/bottlerocket-os/bottlerocket/blob/328b50aa489bd6c7d386ea7ad0790ec39d2a9ca9/tools/buildsys/src/cache.rs#L23

When actually building Bottlerocket, we fetch sources from a cache we host at the bottlerocket domain.  That helps prevent scenarios exactly like this, and reduces the load

[2021-11-21 04:31] vezaynk commented on #1837
@tjkirch Interesting, thanks for your reply.

I'm trying to get to the bottom of this because it making some of my local builds (Once again, completely unrelated to bottlerocket) fail because seemingly thousands of programs on Github seem to depend upon the non-existant FTP server.

It makes me feel insane because seemingly nobody else is reporting issues related to it. I found (and since lost) ev

[2021-11-21 05:33] tjkirch commented on #1837
I don't have an exact history of commands, but I can almost guarantee that when I updated pcre 5 months ago, I downloaded the archive using the ftp.pcre.org URL in the file you saw, just because that's my workflow and I've been doing it that way for a while.  So, I'm equally almost positive that the URL worked at that time.  I'm not sure why it would have been any different for others.  I can only

[2021-11-21 05:52] bcressey commented on #1837
Based on the Wayback Machine's results, the `ftp.pcre.org` URL was removed from the main site between [August 21, 2021](https://web.archive.org/web/20210821201522/https://pcre.org/) and [August 25, 2021](https://web.archive.org/web/20210825214354/https://pcre.org/), with the deprecation notice added.

Someone seems to have run into the issue in Buildroot [yesterday](https://lore.kernel.org/all/47a

[2021-11-21 06:01] vezaynk commented on #1837
Good find! I wrote an email to the pcre.org webmaster to see if they would be willing to add a redirect from their ftp.pcre.org to ftp.exim.org to mitigate the breakage.

![image](https://user-images.githubusercontent.com/10255546/142751532-e019df12-8619-4d5d-8082-224c9a32c870.png)

Thanks for your insights.

[2021-11-21 06:13] tjkirch commented on #1837
I'm going to reopen this so we can update our links :)

[2021-11-22 22:01] #1837 closed, assigned to nobody

[2021-11-25 15:24] szucsitg opened #1842 "Set rotate-server-certificates to true for kubelet"
**What I'd like:**
I'd like to run metrics-server with secure settings, and that would require to issue certificate signed by cluster CA for kubelet. This is triggered by the `rotate-server-certificates=true` argument passed. As Bottlerocket do not support setting such flags, currently this is impossible as far as I understand.

**Any alternatives you've considered:**
Metrics server can be run in

[2021-11-26 17:27] tjkirch commented on #1842
Thanks for the request!  We'll look into this feature.

[2021-11-29 08:43] szucsitg commented on #1842
thanks, @tjkirch for looking into this. testing this further I can close this, as it's already implemented, my bad for erroneously opening the issue.
Ref: https://github.com/bottlerocket-os/bottlerocket/blob/63f7ac69dc7036a1536e8e0d349f7e6a83250c78/packages/kubernetes-1.21/kubelet-config#L96

What I did not expect is that EKS control plane automatically approves the CSR to issue them.

[2021-11-29 08:43] #1842 closed, assigned to nobody

[2021-11-30 13:23] matheusmonte commented on #1061
Can I try to start this change?

[2021-11-30 17:31] tjkirch commented on #1061
@matheusmonte Sure, thanks!  Let us know if you have any questions or troubles.

[2021-11-30 18:16] tjkirch opened #1843 "Allow multiple prefix queries in API"
In #1835 we added support for the `prefix` query parameter to the normal GET APIs.  In some cases it would be nice to allow multiple `prefix` parameters and have the API return all of them in one merged object.

For example, this was done in #1836 to allow users to specify multiple settings to `apiclient get`.  Settings are merged, with ones coming from later prefixes replacing those from earlier

[2021-11-30 19:11] tjkirch opened #1844 "Update docs for enter-admin-container"
When control container v0.5.3 ships (https://github.com/bottlerocket-os/bottlerocket-control-container/pull/17), we should update the Bottlerocket docs to refer to enter-admin-container (https://github.com/bottlerocket-os/bottlerocket-control-container/pull/18) where appropriate, since you won't need to separately enable the container before accessing it.

[2021-11-30 19:31] tjkirch opened #1845 "Schnauzer templates instead of pluto"
We [migrated](https://github.com/bottlerocket-os/bottlerocket/blob/47640f7b9088f7bbe9161c1d1b66eda6dbcd87e5/sources/api/migration/migrations/archived/v1.1.0/schnauzer-paws/src/main.rs) from pluto to schnauzer to generate pod-infra-container-image:
[code]
The same may well be true of other uses of pluto.  In addition, it would be nice to have one less tool and to standardize on templated settings t

[2021-11-30 20:03] tjkirch commented on #1845
Note: this may benefit from #1585 (dependencies between settings).

[2021-11-30 20:09] tjkirch opened #1846 "Console access for debugging"
EC2 [added](https://aws.amazon.com/about-aws/whats-new/2021/03/introducing-ec2-serial-console/) the ability for authorized users to connect to the serial port of an instance, and other platforms could have similar features.

It'd be nice if we could use this as a connection mechanism when SSH/SSM aren't available or have failed.

[2021-11-30 20:11] tjkirch commented on #1846
Since we don't have a shell in Bottlerocket, the best idea we've had so far is to add a new admin container that would run a getty and have apiclient and the API socket available so you could `apiclient exec` into another host container, like the admin container for debugging.

[2021-12-01 17:47] zmrow commented on #1845
I'm wondering about the "debug-ability" of having these types of things in template helpers.  A service like pluto has the advantage of its output going directly to the journal.  Template helpers don't have this luxury.

[2021-12-01 19:11] tjkirch commented on #1845
If we fix: https://github.com/bottlerocket-os/bottlerocket/blob/452482ad73405b537909732ce170f4f63309ccad/sources/api/apiserver/src/server/controller.rs#L477 we should be able to get their logs.

[2021-12-01 23:48] #1743 closed, assigned to nobody

[2021-12-03 12:38] stevehipwell commented on #1227
Has there been any progress on this?

With an AL2 node we write the credentials out to `/var/lib/kubelet/config.json` from the userdata, would this pattern still work correctly with a bootstrap container?

Could the API not be updated to support this as @Niksko suggested which would allow the end user to decide if they want to add credentials to userdata or to use a bootstrap container to fetch th

[2021-12-06 23:51] tjkirch commented on #783
If we build a more general cleanup system, it would probably be worth deleting uncommitted API transactions older than some age.

[2021-12-07 18:24] tjkirch opened #1856 "Could use apiclient apply for default settings"
(This is more an idea than a bug.)

We added `apiclient apply` in #1391 for applying settings from a file or URL.  We could use this to apply our default settings from files rather than baking them into storewolf with `include_str`.  This would mean a bit more dynamic behavior, but adds flexibility in that we could have multiple files and potentially support different configurations based on some

[2021-12-07 19:16] tjkirch commented on #1251
We have the same issue with apiserver, such that restarting apiserver means API sockets mapped into containers would no longer work.

(I don't think we really have a reason to restart apiserver today, but if someone does it for testing, or :astonished: it crashes and restarts, they may be surprised.)

If we come up with a general solution, we could do the same for both, otherwise we should make a

[2021-12-13 15:14] bryantbiggs opened #1866 "Support cluster service IPV4 (and IPV6) similar to the EKS Optimized AMI"
**What I'd like:**
The AWS EKS Optimized AMI allows users to specify the cluster service IPV4 CIDR block which is used to derive the cluster DNS IP (looks like its the .10 address of whatever CIDR is provided) - https://github.com/awslabs/amazon-eks-ami/blob/master/files/bootstrap.sh#L391-L406

However, currently Bottlerocket is currently using a MAC address check to flip between one of two values

[2021-12-13 17:43] etungsten commented on #1866
Hi @bryantbiggs , Bottlerocket currently tries to discover the cluster's service IP CIDR via an EKS describe cluster call with the provided cluster-name. Then it derives the cluster DNS IP just like the EKS optimized AMI. See here:
https://github.com/bottlerocket-os/bottlerocket/blob/3a2e65fde1f16d56d0d0e681231f7d7f0a8acb05/sources/api/pluto/src/main.rs#L166-L172

If the EKS API is unreachable, th

[2021-12-13 17:44] webern commented on #1866
For reference #1197 and #1547

[2021-12-13 21:04] bryantbiggs commented on #1866
ah perfect, thanks so much @etungsten / @webern  - apologies, for overlooking this!

[2021-12-13 21:04] #1866 closed, assigned to nobody

[2021-12-18 21:12] trebonian opened #1879 "Failure on First boot of VMWARE k8s v1.21 built from source commit 78331de8496350ee6a8573ea3938cd10f1a065e4"
This appears to fail on First boot of a k8s worker node (on variant vmware-k8s-1.21) very early when running Sundog. It appears some default metadata keys are not initialized. It could be a build issue - but I don't know how to inspect the image for where the default metadata keys are stored. This build is a very late commit 1.5.0. It's not easy to get any more details this early in the boot proce

[2021-12-19 18:35] bcressey commented on #1879
Some background on what's happening here, in case it sheds any light.

On initial boot, Bottlerocket has two phases for bootstrapping into the initial settings. The first phase is to retrieve them from the platform-specific metadata source - IMDS on EC2, guestinfo on ESXi. The second phase is to run "setting generators" to generate settings where a default can be worked out from runtime values. `s

[2021-12-19 18:58] trebonian commented on #1879
Thanks for the prompt reply.

You have confirmed what I had analyzed, and was trying to figure out how to install a shell and look at the settings  repo loaded by the userdata.

You helpfully provided my a patch to do so.

Thanks. I will confirm if the error is on my side or if it is a bug. I did have a setting for hostname, but none others.

I checked the strings in storewolf for the settings tha

[2021-12-19 21:38] trebonian commented on #1879
I think the issue is on my side. I built a version with the console, and without changing anything else, it got past the sundog problem. Perhaps I had a stale RPM from an older build..

I do have a an issue with the console patch - it opens two shells pointing to /dev/console, and /dev/tty1 - and it eats characters from both processes.

How do I configure the console to only use 1 console device?

[2021-12-19 22:48] #1879 closed, assigned to nobody

[2021-12-28 07:13] Eslam-mohammed-anwar opened #1887 "Access to the path '/proc/7/map_files' is denied. ---> System.IO.IOException: Permission denied"
**Image I'm using:**
 we just updated AMI from ami-091acde69d56082b9 (1.3) to ami-003c8cac51a7c66fe (1.5.1) and some of the containers started to report this logs

Unhandled Exception: System.UnauthorizedAccessException: Access to the path '/proc/7/map_files' is denied. ---> System.IO.IOException: Permission denied

This is .net core containers and we enabled the OCI hooks to mitigate the log4j vu

[2021-12-28 20:21] arnaldo2792 commented on #1887
Hi! Thanks for bringing this to our attention. Could you please check if the error appears when you disable the log4j hot patch?, this will help us narrow down the problem to the OCI hook itself, instead of a permissions problem related to the SELinux Policy. Also, are you running any monitoring tool inside your workload pod? It looks like the process logging out the error tried to read a memory m

[2021-12-31 20:19] jhuntwork commented on #1581
Really nice work on this, good to see some forward momentum! Just curious what's left before this is usable?

[2022-01-01 12:54] Vlaaaaaaad commented on #857
Helpful info for folks running EKS on AWS and finding this issue: the requested information can, as of right now, be found in [`sources/api/schnauzer/src/helpers.rs`](https://github.com/bottlerocket-os/bottlerocket/blob/develop/sources/api/schnauzer/src/helpers.rs).
There may also be a need for the pause container repositories (see [this related issue for the EKS location](https://github.com/aws/c

[2022-01-03 20:26] backjo opened #1888 "Support passthrough of override_path field for containerd mirrors"
**What I'd like:**
ContainerD allows specifying the override_path field for mirrors that do not have a '/v2' path after the provided endpoint. This would be useful for folks using JFrog Artifactory or Harbor as a mirror, as these do not fully support this v2 path. https://github.com/containerd/containerd/blob/main/docs/hosts.md#override_path-field
**Any alternatives you've considered:**

[2022-01-04 18:38] cbgbt opened #1890 "hotdog: Remove need for vendored libcap"
Bottlerocket's hotdog package currently builds using a [vendored `libcap` library](https://github.com/bottlerocket-os/bottlerocket/blob/d2214bd9b25ade557b1417de1c438bbdce41611a/packages/hotdog/hotdog.spec#L32). We should modify our top level [libcap package](https://github.com/bottlerocket-os/bottlerocket/tree/d2214bd9b25ade557b1417de1c438bbdce41611a/packages/libcap) to place its Go modules in a c

[2022-01-11 19:39] etungsten opened #1897 "kubernetes variants: node taints with same key and multiple effects."
It's currently not possible to create taints for Bottlerocket nodes that uses the same key but with different effects. You can find examples here in [K8S documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/):

For example, Bottlerocket userdata with the following would not work since TOML does not allow duplicate keys
[code]

As a workaround, the user has to

[2022-01-12 00:01] bcressey opened #1899 "Make Bottlerocket available in the Jakarta region (ap-southeast-3)"
**What I'd like:**
To launch Bottlerocket AMIs in the Jakarta region (ap-southeast-3).

[2022-01-12 21:22] zmrow opened #1902 "`early-boot-config`: Make local file a valid source for all platforms"
I'd like to see us drop the `aws-dev` special case rules and just treat local file in `/var/lib/bottlerocket` as a valid source for all platforms.

That will streamline the platforms we support to just the three (`aws`, `vmware`, `metal`) rather than "three and a little more."

_Originally posted by @bcressey in https://github.com/bottlerocket-os/bottlerocket/pull/1895#discussion_r783448693_

[2022-01-13 18:32] #1902 closed, assigned to zmrow

[2022-01-14 23:57] etungsten opened #1907 "Update snafu to 0.7.x"
We should update our snafu dependency to v0.7 according to the guide here: https://docs.rs/snafu/latest/snafu/guide/upgrading/index.html#version-06--07

[2022-01-15 00:46] etungsten opened #1909 "Passing an empty TOML table for `container-registry` causes boot failure"
**Image I'm using:**
Bottlerocker v1.5.2

**What I expected to happen:**
When I pass an empty TOML table for `container-registry` settings, the host should boot up fine.
For example
[code]

**What actually happened:**

The host fails to start-up expecting `mirrors` to be specified, even though it should be optional:
[code]

**How to reproduce the problem:**
Specify an empty TOML table for `contain

[2022-01-15 00:47] etungsten commented on #1909
To fix this, we need to add additional serde attributes to the `mirrors` field in the model since we're using a custom deserializer.
https://github.com/bottlerocket-os/bottlerocket/blob/0b947798c33c5305b5e6bea1e0caed5589048d21/sources/models/src/lib.rs#L198-L199

Specifically, we need to make sure serde populates the field with a default with `#[serde(default)]` if `mirrors` isn't there during des

[2022-01-16 11:54] joelchen opened #1911 "Support Swap"
**What I'd like:**
Support enabling swap via Linux commands like fallocate, mkswap, and swapon. Using swap allows the container to write excess memory requirements to disk when the container has exhausted all the RAM that is available to it.

**Any alternatives you've considered:**
Have submitted an issue on aws-cdk to enable swap through aws-cdk: https://github.com/aws/aws-cdk/issues/18460

[2022-01-18 10:06] mjgp2 commented on #1911
I am also interested in this.

I am wondering if it is possible to have a script using the ephemeral disks approach to attach an EBS volume and format & mount it as swap?

https://github.com/bottlerocket-os/bottlerocket/pull/1601

[2022-01-18 12:08] stevehipwell commented on #1721
@ellistarn how come you want to use more than 110 pods on a node, the [official K8s guidance](https://kubernetes.io/docs/setup/best-practices/cluster-large/) is a maximum of 110 pods per node?

I was going to open a new issue to suggest that the default logic should be to use 110, with a pattern to use for running the AWS VPC CNI in legacy non-prefix (IPv4 or IPv6) mode to set the limit for instan

[2022-01-18 14:00] ryansch commented on #1187
I'm able to build images on bottlerocket 1.5.2 with compose v2.

[2022-01-18 14:00] #1187 closed, assigned to nobody

[2022-01-18 17:26] ellistarn commented on #1721
I'm open minded to this idea. @riskyadventure has been discussing with me the perf impact of context switching between so many processes, at least when under load. Historically, k8s-on-aws has offered much higher densities, so this would be backwards incompatible. We'd need to figure out a glide path, and probably want the same solution for EKSOptimizedAMI and Bottlerocket.

[2022-01-18 18:10] stevehipwell commented on #1721
I agree, this should be a consistent default across all of the EKS ecosystem which should align with K8s best practice (the current AL2 EKS defaults will cause actual issues in relative common scenarios).

[2022-01-18 19:16] zmrow commented on #1911
@joelchen @mjgp2 Out of curiosity, could either of you share some additional details around your setup and your need for swap?

My first thought is that a script in a [bootstrap container](https://github.com/bottlerocket-os/bottlerocket/discussions/1618#discussioncomment-880690) could help with this, but I haven't personally tried it yet.  I don't know off the top of my head if bootstrap container

[2022-01-18 20:28] etungsten commented on #1888
Hi @backjo , thanks for creating the issue. We'll look into supporting this as a Bottlerocket setting.

[2022-01-18 21:15] #1909 closed, assigned to etungsten

[2022-01-18 21:56] joelchen commented on #1911
@zmrow My setup is pretty simple using aws-cdk, added LinuxParams from @mjgp2's advice in https://github.com/aws/aws-cdk/issues/18460, so that my Rust application does not crash with 137 error when it consumes more than 1 GiB of memory available in t4g.micro instance:
[code]

[2022-01-19 10:51] ArchiFleKs opened #1917 "Readiness probes are failing on EKS 1.21"
**Image I'm using:** v1.5.2

**What I expected to happen:**

Readiness probes to work

**What actually happened:**

I'm running latest [`terraform-as-eks`](https://github.com/terraform-aws-modules/terraform-aws-eks) module to run EKS cluster with bottle rocket. Joining cluster works fine, most of my pods also.

Some pods have issues with readiness probes (like thanos and promtail for example):

[c

[2022-01-19 10:54] ArchiFleKs commented on #1917
Mostly a configuration issue on my part, will reopen if needed

[2022-01-19 10:54] #1917 closed, assigned to nobody

[2022-01-19 20:33] zmrow commented on #1911
Thanks for the additional details!

I had some time yesterday to test my theory using bootstrap containers and found it's not possible.  The reason it's not possible is that we use the [default seccomp profile](https://docs.docker.com/engine/security/seccomp/) when [setting the container options](https://github.com/bottlerocket-os/bottlerocket/blob/f1a216200947f67470db9133102ac7ea7108bbb5/sources/

[2022-01-21 17:21] #1897 closed, assigned to etungsten

[2022-01-22 15:03] rajboruah opened #1920 "Availability of Bottlerocket in China (Beijing) (cn-north-1) or China (Ningxia) (cn-northwest-1) region."
### Discussed in https://github.com/bottlerocket-os/bottlerocket/discussions/1919

<div type='discussions-op-text'>

<sup>Originally posted by **rajboruah** January 22, 2022</sup>
Hi,

As per https://docs.aws.amazon.com/eks/latest/userguide/launch-node-bottlerocket.html - "You can't deploy to the following regions: China (Beijing) (cn-north-1) or China (Ningxia) (cn-northwest-1)." May I get clarit

[2022-01-24 16:04] zmrow commented on #1255
This is still on our radar, but we don't have any dates to share at this time!

[2022-01-24 16:05] zmrow commented on #1920
Hi there!  We're excited to make Bottlerocket available in China, but I don't have any solid dates to share at this time.

Closing this as a duplicate of  #1255 - please follow that issue for updates! :)

[2022-01-24 16:05] #1920 closed, assigned to nobody

[2022-01-24 20:15] backjo opened #1924 "AVC denials w/ aws-vpc-cni"
**Image I'm using:**
Bottlerocket 1.5.2 (arm64)

**What I expected to happen:**
No AVC denials or SELinux errors should be seen when using standard AWS components together - i.e. Bottlerocket and AWS VPC CNI

**What actually happened:**
AVC denials in dmesg and SELinux errors are seen when using the AWS VPC CNI addon with Bottlerocket.

[code]

[code]

This doesn't appear to be impacting anything

[2022-01-24 20:23] zmrow commented on #1924
Thanks for letting us know - we'll look into this.

[2022-01-25 05:11] backjo commented on #1924
Thanks so much!

[2022-01-25 17:41] springroll12 opened #1927 "Mitigating CVE-2022-0185"
Is there anything required on the bottlerocket side to mitigate/prevent this? Is a kernel upgrade required?

Are unprivileged user namespaces allowed in bottlerocket by default?

[2022-01-25 18:03] jpculp commented on #1927
Thanks for reaching out @springroll12! User namespaces are disabled by default via sysctl settings applied at boot. We're in the process of releasing updates now and will let you know when those are available.

[2022-01-25 18:22] jpculp commented on #1927
We also recommend for security related concerns to reach out directly to AWS/Amazon Security, as opposed to opening issues on GitHub. Please refer to our [SECURITY.md](https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY.md).

[2022-01-25 23:20] jpculp commented on #1927
The latest security release of Bottlerocket ([1.5.3](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.5.3)) is now available!

[2022-01-25 23:20] #1927 closed, assigned to nobody

[2022-01-27 18:19] etungsten opened #1930 "kubelet: potential inconsistency with ipv6 node-ip comparison"
Our kubelet patch introduced in https://github.com/bottlerocket-os/bottlerocket/pull/1925 is not sufficient.

https://github.com/kubernetes/kubernetes/pull/107736 has been merged with the correct approach.

[2022-01-28 14:12] sirisaacnuketon opened #1931 "Make kubelet log verbosity configurable"
Environment: EKS v1.20

**What I'd like:**
A configuration option to adjust the log verbosity of the kubelet in all applicable kubernetes versions [(via the option `--v=<log level>`)](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/).

We have noticed differences in log verbosity in EKS clusters that is differentiated only by the use of Bottlerocket, which currently has n

[2022-01-30 19:39] bcressey opened #1933 "pin tuftool to known good version"
Currently we install `tuftool` via [cargo install tuftool](https://github.com/bottlerocket-os/bottlerocket/blob/877238719314e22faf13ba109a6552d5f0877c6b/Makefile.toml#L700), which means that every new release is immediately picked up. It also means that older commits might become unbuildable if we make a backwards incompatible change.

We should pin `tuftool` to a specific version so that our buil

[2022-01-31 11:50] chlunde commented on #1911
Another use case is for nodes running builds (such as tekton and github actions runners).

Typically only a few builds are memory hungry, but it's difficult for the end user to provision the exact memory required, and it would be expensive to provision memory for the largest build.

In this case it's better to have swap and overprovisioning of memory. Then we get slow builds when two memory hungry

[2022-01-31 22:04] cbgbt commented on #1812
This has been resolved in #1816

[2022-01-31 22:04] #1812 closed, assigned to nobody

[2022-01-31 22:29] bcressey opened #1934 "buildkit's rootless mode doesn't work on Bottlerocket"
**Image I'm using:**
aws-k8s-1.21 1.6.0

**What I expected to happen:**
I deployed ["rootless" buildkit](https://github.com/moby/buildkit/blob/master/examples/kubernetes/statefulset.rootless.yaml) and then ran these steps after enabling user namespaces on the node.

[code]

I expected the build to work correctly.

**What actually happened:**
The build failed with an error like this:
[code]

**How

[2022-01-31 23:05] bcressey commented on #1934
Digging around with `bpftrace`, I was able to rule out LSM checks - SELinux, capabilities - and narrowed the EPERM result down to [path_mount](https://elixir.bootlin.com/linux/v5.10.95/source/fs/namespace.c#L3154).

There are actually two mount calls that happen. The first is a bind mount from `/home/user/.local/share/buildkit/...` to `/home/user/.local/tmp/buildkit-mount/...`. This call succeeds

[2022-02-01 16:50] #1930 closed, assigned to nobody

[2022-02-01 17:32] cbgbt commented on #1815
It looks like we'll want to include a version of systemd (or systemd + patches) which includes the fix from the issue linked above by @jlsalvador. Thanks for cross referencing!

Unfortunately our current version of systemd doesn't apply those patches cleanly. We'll probably want to table this until we have resolved #1671

[2022-02-01 23:04] gabegorelick commented on #1581
Does this include sending a failure signal if we couldn't successfully join a Kubernetes or ECS cluster? That's the main thing I'm looking for in this feature.

[2022-02-02 18:39] webern commented on #1471
Good news!
This RFC was has been created, accepted and implemented in nightly: https://rust-lang.github.io/rfcs/3180-cargo-cli-crate-type.html

@seanmonstar reports that this will allow the removal of cdylib from Hyper's Cargo.toml and allow builds to instead opt-in to the creation of the cdylib. Once that change to Hyper's Cargo.toml is released, we should be able to update.

[2022-02-02 21:05] webern opened #1937 "Consider removing cargo deny ban on multiple versions"
Denying multiple versions in the build dependency tree feels like a bookkeeping exercise.

https://github.com/bottlerocket-os/bottlerocket/blob/ff15b91c1965df3433cc2e887e7537197a6170e2/sources/deny.toml#L41

Is there some practical benefit that we get from this lint? If not, then its existence is outweighed by the maintenance cost of the `skip` and `skip-tree` list. Basically if there are multiple

[2022-02-02 22:35] webern commented on #1937
This is by design. Closing.

[2022-02-02 22:35] #1937 closed, assigned to nobody

[2022-02-03 08:18] mello7tre commented on #1581
It should.
Both ECS and Kube are WantedBy `multi-user.target` and depend on `configured.target`
CfnSignal service is WantedBy `preconfigured.target` and depend on `network-online.target settings-applier.service`.
If you look at:
https://github.com/bottlerocket-os/bottlerocket/tree/develop/sources/api
configured.target `depends on settings-applier and represents the point at which the system is ful

[2022-02-03 16:37] gabegorelick commented on #1581
Do those services reliably fail when they can't join a cluster, or do they retry indefinitely?

[2022-02-03 22:23] #1933 closed, assigned to nobody

[2022-02-04 00:10] #1822 closed, assigned to nobody

[2022-02-04 00:20] cbgbt opened #1942 "Deprecate aws-k8s-1.18 variant by March 2022"
Kubernetes 1.18 went out of upstream support in June, 2021. AWS EKS is maintaining support for 1.18 until [March 31st, 2022](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar). Bottlerocket will deprecate support of our `aws-k8s-1.18` variant by then.

While you’ll still be able to launch `aws-k8s-1.18` nodes beyond March 31st, 2022, we’ll no lon

[2022-02-04 09:04] mello7tre commented on #1581
dunno about kube.
For ECS i made a test using a non existent cluster-name in ecs configuration and ecs service fail at systemd level, so in that case cfsignal should work.
I do not think that there could be another configuration that could make joining a cluster fail apart non existing cluster...
(i tried to put non existent option in `/etc/ecs/ecs.config` and ecs service/agent simply ignore them)

[2022-02-04 19:08] bcressey commented on #1907
Done in #1940

[2022-02-04 19:08] #1907 closed, assigned to nobody

[2022-02-04 19:56] gabegorelick commented on #1581
Another use case: waiting for instances to register and be healthy with a load balancer. Similar to what's mentioned in https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-creationpolicy.html:

[2022-02-07 08:36] mello7tre commented on #1581
yes, but usually the instances of an ecs cluster do not directly register with a LB, are the ecs services running on them that do this.

[2022-02-07 11:27] osibanda opened #1946 "Failing to extend the partition size"
**Platform I'm building on:**
We are running EKS with Kubernetes version 1.21.6 and platform version eks.4.

**Problem statement**
The issue is disk pressure warnings occur intermittently on a particular node in the cluster. We extended the volumes attached to that node and wish to extend the partition sizes. Running df -f returns the attached output [df-output.xlsx](https://github.com/bottlerocke

[2022-02-07 15:29] webern commented on #1946
I'm sorry to hear this, let me get a bit more information and try to reproduce this issue:
- Region
- Your AMI ID and/or Bottlerocket version? (Are you using a custom-built AMI or one of our published AMIs?)
- Instance type
- Are you using any custom CSI driver?

Do you mean that the problem seems to be isolated to a particular EC2 instance ID? Or do you mean that the problem is happening randomly

[2022-02-07 15:43] gabegorelick commented on #1581
True, that is the standard setup. In theory you could use instance targets without ECS managing it, although I don't know if anyone ever does that (I certainly have never).

But for Kubernetes, it's definitely reasonable to have instance targets that directly register with the LB, e.g. to expose a NodePort service.

[2022-02-07 16:17] webern commented on #1946
I initially misunderstood the question. I am now trying to extend the data partition of a Bottlerocket instance and will let you know what I come up with.

[2022-02-07 17:14] mello7tre commented on #1581
maybe in future, if PR will ever be merged, can be added a settings to manually specify a `target-group-arn` to query using `elbv2 describe-target-health`  (i currently do this for other EC2 Stacks using cfn-init).
(if i have correctly understood your suggestion...)

[2022-02-07 17:15] etungsten opened #1947 "apiclient: update tokio-tungstenite to v0.16.1+"
In [v0.16.0 of `tungstenite`](https://github.com/snapview/tungstenite-rs/blob/master/CHANGELOG.md#0160), the closing frame received by the client gets echoed back and returned to the user. Before it always returned a closing frame with a normal close code and empty string for the reason. With this behavior change we've seen some instances where `apiclient exec` would return non-zero exit codes reg

[2022-02-07 19:21] gabegorelick commented on #1581
For now, I've resorted to running a custom host container to accomplish this. So far it seems to be working.

[2022-02-07 19:56] etungsten commented on #1947
The reason why this was happening is because apiserver sends the "exec'd" process's exit code inside the close frame as the close code. See:
https://github.com/bottlerocket-os/bottlerocket/blob/9749af9973e4494768c2fac563172c753b6bc011/sources/api/apiserver/src/server/exec.rs#L351-L359

But on the client side, `tungstenite` doesn't allow any close code except a select few, otherwise it treats it as

[2022-02-07 19:59] webern commented on #1946
Ok, I was able to grow the data partition using the following procedure. I believe you may have had trouble because you had not used `sheltie` to enter the host namespaces (see instructions below).

## Increase the disk size in the AWS console

* In the AWS console, identify the EBS volume labeled `/dev/xvdb`. If you ran Bottlerocket with default configurations, this should be 20G. (Note that we d

[2022-02-07 20:46] etungsten commented on #1947
I guess to completely work around the protocol violation warning message when `apicient exec` commands do fail, `apiserver` would need to send a closing frame with closing code `Normal` regardless of the exec'd process exit status code and just store the exit code in the reason message. `apiclient` would then extract the exit code out of the closing frame reason message and return accordingly.

[2022-02-08 16:40] zmrow commented on #1456
This information was added the the [variants README](https://github.com/bottlerocket-os/bottlerocket/tree/develop/variants#user-data) in #1903.

[2022-02-08 16:40] #1456 closed, assigned to zmrow

[2022-02-08 17:58] gabegorelick commented on #1581
One small hiccup: I think Bottlerocket restarts enabled host containers indefinitely, which is not what I want.

[2022-02-09 17:44] etungsten commented on #1581
One thing I believe you can do is to set `settings.host-containers.<your-custom-container>.enabled` to false from within your custom host container once it's done with its work.
All custom host containers mount in the Bottlerocket API socket and the apiclient, see:
https://github.com/bottlerocket-os/bottlerocket/blob/9749af9973e4494768c2fac563172c753b6bc011/sources/host-ctr/cmd/host-ctr/main.go#L6

[2022-02-09 18:09] gabegorelick commented on #1581
Would that disable the host container for all future instances, or just the enclosing instance? I need future instance rollouts to still run that host container.

[2022-02-09 18:15] etungsten commented on #1581
It would just be for that enclosing instance. Each instance has their own set of settings they configure and use.

[2022-02-10 00:36] jpculp opened #1950 "Support insecure registries"
**What I'd like:**
Bottlerocket doesn't support insecure registries. Should we add a setting to configure them?

### Discussed in https://github.com/bottlerocket-os/bottlerocket/discussions/1922

<div type='discussions-op-text'>

<sup>Originally posted by **exolain** January 24, 2022</sup>
Hi all,

I was wondering, what is the best way to configure the "insecure-registries" setting that it would b

[2022-02-10 00:41] jpculp opened #1951 "Set default docker logging driver"
**What I'd like:**

Bottlerocket allows you to set the list of available logging drivers, but it does not have the ability to set the default logging driver. When "use default driver" set in an ECS task, the driver gets set to the default docker logging driver, which seems to be journald. Should a setting be made to set the default logging driver?

### Discussed in https://github.com/bottlerocket-

[2022-02-11 19:44] peteristhegreat opened #1952 "VPC without ipv6 enabled is slow in sundog"
Related to closed issue: https://github.com/bottlerocket-os/bottlerocket/issues/1351

**Image I'm using:**
`/aws/service/bottlerocket/aws-k8s-1.19/x86_64/latest/image_id`

`bottlerocket-aws-k8s-1.19-x86_64-v1.6.0-9749af99`

`ami-0682b74d05a5c1dac`

**What I expected to happen:**
To have sundog complete in < 2 seconds

**What actually happened:**
Sundog waits around for over a minute.
[code]

If I

[2022-02-11 20:21] etungsten commented on #1952
Thanks for bringing this up. We'll definitely look into this.

[2022-02-11 23:34] etungsten commented on #1952
Hi @peteristhegreat, I'm having trouble reproducing this. I created a new EKS v1.19 IPv4 cluster in us-east-1 with `eksctl` and used the same AMI you listed for the nodes and sundog was finishing under 2 seconds:
[code]

Can you share little bit about your cluster VPC set up? Or your instance user-data? Another thing that would help us track this down is to try running the following commands via t

[2022-02-14 15:33] tjs-intel opened #1954 "Does this project deregister nodes from load balancers?"
**What I'd like:**
I'm considering adding this to my EKS deployment, but I found a flaw in another project that drains nodes before termination (`aws-node-termination-handler`) where nodes weren't properly detached from load balancers before being terminated which resulted in failed requests. Does this project cover LB deregistration? I cant find the label `node.kubernetes.io/exclude-from-external

[2022-02-14 17:16] etungsten commented on #1954
Hi @tjs-intel , Bottlerocket does not cover load balancer deregistration. It is however possible to apply the `node.kubernetes.io/exclude-from-external-load-balancers` label to your Bottlerocket nodes via configuring [the `settings.kubernetes.node-labels` setting](https://github.com/bottlerocket-os/bottlerocket#kubernetes-settings). You can do this to multiple instances at once via [SSM RunCommand

[2022-02-14 17:26] tjs-intel commented on #1954
@etungsten I'm sorry, this issue is meant for https://github.com/bottlerocket-os/bottlerocket-update-operator. I will move it over to there. That project links to documentation here which is how I ended up opening this issue.

[2022-02-14 17:26] #1954 closed, assigned to nobody

[2022-02-14 18:31] peteristhegreat commented on #1952
Well, apparently this is not as reproducible as we thought at first...  We tried to reproduce again this morning 2 or 3 ways and could not.

As far as we can tell from our end, it must have been some other config error that’s not reproducible for us now.

😕

Thank you for looking at.  Thank you for the additional insights in how `sundog.service` does some of its internals.  If we see this in the w

[2022-02-14 18:31] #1952 closed, assigned to nobody

[2022-02-15 12:17] chris-vest opened #1958 "SSM logging expects script binary to be available"
**What I'd like:**

To have `script` installed such that the SSM logging works.

Currently I get this message ending up in the log bucket:

[code]

**Any alternatives you've considered:**

Not sure there is another option, I assume it depends on what the SSM agent expects is available on the node where it's running.

[2022-02-16 04:03] ehedei206 commented on #1525
Hi, is there an update on this? Is there any way we can change fs.inotify.max_user_instances through the bottlerocket api in the control container? or userData toml?

Thanks!

[2022-02-16 10:21] samjo-nyang opened #1960 "Grant AMI to organization and/or organization units"
**What I'd like:**
I'd like to share AMIs with organizations and/or organization units.
- https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/share-amis-with-organizations-and-OUs.html

It would be nice if it supports the following (or similar) commands:
[code]
I think that changing [this file](https://github.com/bottlerocket-os/bottlerocket/blob/develop/tools/pubsys/src/aws/publish_ami/mod.rs#

[2022-02-16 18:00] #1947 closed, assigned to nobody

[2022-02-16 19:58] etungsten opened #1961 "Kubernetes 1.22 support"
Kubernetes 1.22 was released in August 2021: https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/

[CHANGELOG since 1.21.0](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#changelog-since-v1210)

- [ ]  aws-k8s variant
- [ ]  vmware-k8s variant
- [ ]  metal-k8s
- [ ]  aws-k8s nvidia variant

[2022-02-18 08:34] alex-berger opened #1963 "Inline registry mirror configuration is deprecated in containerd"
**What I'd like:**

Inline registry mirror configuration [as used by bottlerocket](https://github.com/bottlerocket-os/bottlerocket/blob/v1.6.0/packages/containerd/containerd-config-toml_k8s#L36) is deprecated since containerd version `1.5.0` and [might be removed in containerd version `1.7`](https://github.com/containerd/containerd/blob/v1.6.0/pkg/cri/config/config.go#L177).

Bottlerocket should b

[2022-02-18 18:13] cbgbt opened #1964 "Update `packages` for 1.7.0"
We should update dependencies under `packages` prior to our next minor version update.

An example of this being done can be found in #1936

[2022-02-18 18:15] cbgbt opened #1965 "Update Rust Dependencies for 1.7.0"
We should update dependencies of our Rust packages in Bottlerocket to prepare for 1.7.0. An example of this being done can be found in #1940

[2022-02-18 18:17] cbgbt opened #1966 "Update golang dependencies for 1.7.0"
This would include dependencies for packages like `host-ctr` and `hotdog`. A previous example of this is #1938

[2022-02-18 20:33] cbgbt opened #1967 "Update host containers for 1.7.0"
We should at minimum build the host containers against the latest version of Amazon Linux 2:
* https://github.com/bottlerocket-os/bottlerocket-admin-container
* https://github.com/bottlerocket-os/bottlerocket-control-container

It is probably a good idea to check that we have the latest versions of `bash`, `musl`, and `ssm` built within those containers.

[2022-02-20 04:20] rverma-dev commented on #769
Is it possible to address https://github.com/bottlerocket-os/bottlerocket/issues/1031 too along with this. With this we can focus better for ML workloads on bottlerocket.

[2022-02-21 05:07] samjo-nyang commented on #1227
For your interest, I implemented this feature through the kubelet credential provider. I developed a token server and a simple kubelet credential provider, and inject the provider using the bootstrap container. Here is a company tech blog article - https://hyperconnect.github.io/2022/02/21/no-more-image-pull-secrets.html (unfortunately, it is Korean, so you may need a translator...)

[2022-02-22 00:03] webern commented on #1960
Here we can see the API that you are referring to: https://docs.aws.amazon.com/cli/latest/reference/ec2/modify-image-attribute.html

[code]

However, we are using Rusoto and I'm not seeing organizations in the `ModifyImageAttributesRequest`. https://rusoto.github.io/rusoto/rusoto_ec2/struct.ModifyImageAttributeRequest.html

If we look at the new Rust SDK, we *do* see the necessary fields available

[2022-02-22 02:47] webern opened #1968 "replace rusoto with aws rust sdk"
Issue #1960 might be blocked by our use of rusoto in pubsys. See my comment in that issue for the specifics. Regardless, we should move to the AWS SDK.

[2022-02-22 13:09] sparkcatalyst96 opened #1969 "Unable to change pod's timezone due to read-only file system"
Hello! We're currently using **Amazon Linux 2 EC2s** on our **EKS** cluster and want to review Bottlerocket as a potential replacement due to it's added security and performance. On all K8s deployments we are **changing the default timezone (UTC) to CET via mounting the /usr/share/zoneinfo/CET path from the host to /etc/zoneinfo**, so that all logging is done in CET timezone, as such:

[code]
(oth

[2022-02-22 19:28] webern commented on #1946
@oscarsgit let us know if you need any additional help with this.

For the record, we're leaving this issue open because we want to add something to the documentation about this.

[2022-02-22 23:24] arnaldo2792 commented on #1969
Hi @GeorgeCimpoies, you are getting the error you shared because Bottlerocket doesn’t include any time zone configurations since it only includes the minimal packages for it to run containers, and when kubernetes tries to mount a folder from the host that doesn’t exist, something (the kernel or the kubelet, I’m not exactly sure what :sweat_smile: ) will try to create it. In this case, is the folde

[2022-02-24 19:51] kdaula opened #1971 "Update containerd version to 1.6"
Update containerd version to 1.6

[2022-02-27 09:04] osibanda commented on #1946
@webern thank you for the suggestion, let me try it out and will update once I have feedback.

[2022-03-02 00:16] bcressey opened #1976 "update to glibc 2.35"
[glibc 2.35 is out!](https://lwn.net/ml/libc-alpha/648c9471-7ece-4e78-a6bf-0636a105cfe4@redhat.com/)

[2022-03-03 12:49] awoimbee commented on #769
Is this issue solved ?
https://github.com/weaveworks/eksctl/issues/4760

[2022-03-04 00:14] samjo-nyang commented on #1788
For your information, it's kind of cheating... but it works.
[code]

[2022-03-04 04:00] xinfeingxia85 opened #1982 "Run one application using puppeteer, but an error is no usable sandbox"
We are planning to change os to Bottlerocket on AWS EKS, but some pods can't work fine and exit because of errors.
Having a service uses a puppeteer library,  and it always restarts but success.
We looked at the log and found that the sandbox was missing.

**Platform I'm building on:**
[code]

**What I expected to happen:**
We expect it can work fine with no errors.

**What actually happened:**
It

[2022-03-04 16:24] bcressey commented on #1815
Going to pull this into the work for #1983.

[2022-03-04 18:54] gthao313 commented on #1982
Thanks for opening this issue. We're investigating on it and will get back to you.

[2022-03-07 06:20] xinfeingxia85 commented on #1982
Thank you. Looking forward to reply.

[2022-03-07 16:57] #1227 closed, assigned to etungsten

[2022-03-07 22:15] #1961 closed, assigned to etungsten

[2022-03-07 23:06] bcressey commented on #1982
Based on the puppeteer docs, it looks like it might require user namespaces. Those are disabled by default on Bottlerocket, because it increases the surface area in the kernel that can be reached by otherwise unprivileged users. However you can enable them if needed.

To enable via user data at VM launch:
[code]

To enable via apiclient from the control or admin container:
[code]

Can you try that

[2022-03-08 00:24] bcressey commented on #1756
If we'd had `apiclient exec` at the outset, we likely would've removed the conflation between "SSH access and superpowers" that exists in the admin container as it's currently formulated.

Instead we might have had "sshd" and "ssm" containers, each of which provided an entry point via the preferred remote management protocol, and the "admin" container wouldn't be remotely reachable. Under that sch

[2022-03-08 01:55] xinfeingxia85 commented on #1982
OK，i will verify and feedback the result as soon as possible.

Thank you.

[2022-03-08 09:31] xinfeingxia85 commented on #1982
I have verified that it works fine.
Thank you.

[2022-03-08 10:59] ryansch opened #1984 "Upgrade kernel >= 5.10.102 for CVE-2022-0847"
CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-0847
Background: https://arstechnica.com/information-technology/2022/03/linux-has-been-bitten-by-its-most-high-severity-vulnerability-in-years/

[2022-03-09 16:51] arnaldo2792 commented on #1984
Hi @ryansch! Thanks for opening this! We just released [1.6.2](https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.6.2), and in it we updated the kernel to [5.10.102](https://github.com/bottlerocket-os/bottlerocket/commit/3d0c10abeecb9f69b6ec598fd5137cb146a46b6e).

You can also track [here](https://github.com/bottlerocket-os/bottlerocket/security/advisories?state=published) the CVEs we

[2022-03-09 18:32] jpculp commented on #1984
We also recommend for security related concerns to reach out directly to AWS/Amazon Security, as opposed to opening issues on GitHub. Please refer to our [SECURITY.md](https://github.com/bottlerocket-os/bottlerocket/blob/develop/SECURITY.md).

[2022-03-10 01:51] sodabrew commented on #769
Is this the blog post?
https://aws.amazon.com/about-aws/whats-new/2022/03/bottlerocket-support-gpu-ec2-instance-types-powered-by-nvidia/

https://aws.amazon.com/blogs/containers/bottlerocket-support-for-nvidia-gpus/

Does this support divvying out GPUs to containers, for example a g4dn.12xlarge has 4x NVIDIA T4 GPUs. Can I bind one to each of four containers?

[2022-03-10 17:41] ryansch commented on #1984
Thanks!

[2022-03-10 17:41] #1984 closed, assigned to nobody

[2022-03-10 18:26] cbgbt commented on #1950
For now, I think we'd like to avoid supporting insecure registries, since it can easily lead to cluster configurations that are insecure.

Based on some discussion in #1922, It seems like this is commonly desired for registries which are self-hosted within the cluster. There are a few mechanisms for supporting SSL certificate signing and management in clusters. If you're looking to enable insecure

[2022-03-10 18:26] #1950 closed, assigned to cbgbt

[2022-03-10 19:41] cbgbt commented on #1982
Thanks!

[2022-03-10 19:41] #1982 closed, assigned to nobody

[2022-03-10 19:42] cbgbt commented on #1969
I'll go ahead and close this issue based on the advice given above by @arnaldo2792, but please feel free to re-open or cut another issue if you have further questions or issues. Thanks!

[2022-03-10 19:42] #1969 closed, assigned to nobody

[2022-03-10 19:57] kdaula opened #1990 "document software versions for each release"
Create an initial template followed by a maintainable page to document versions of softwares in each release.

[2022-03-10 20:30] sparkcatalyst96 commented on #1969
Thank you @arnaldo2792! Since all my docker images are based on openjdk, I just ended up setting the TZ env variable and everything seems to be working as expected!

[2022-03-10 23:21] arnaldo2792 commented on #1617
It is possible to set up ephemeral disks as the storage for container images, as described in #1991

[2022-03-10 23:21] #1617 closed, assigned to bcressey, arnaldo2792

[2022-03-11 15:43] cbgbt commented on #1887
Something else that might be helpful to have here is the base container image. is it [this one?](https://hub.docker.com/_/microsoft-dotnet) We'll have a hard time reproducing this without a bit more information. I'll close this for now, but please feel free to re-open this with more detail.

[2022-03-11 15:43] #1887 closed, assigned to nobody

[2022-03-11 15:54] cbgbt opened #1993 "Allow Modifying THPs via Bottlerocket Settings"
**What I'd like:**
I'd like to be able to modify Transparent Huge Page settings using Bottlerocket settings. This was asked about in #1989.

**Any alternatives you've considered:**
This can currently be accomplished via [bootstrap containers](https://github.com/bottlerocket-os/bottlerocket#bootstrap-containers-settings), but it would be great to model it in the API.

[2022-03-11 19:22] #1141 closed, assigned to bcressey

[2022-03-14 16:55] samjo-nyang opened #1995 "[EKS] Support Inferentia/Neuron Runtime"
**What I'd like:**
I think it requires the neuron driver on https://github.com/aws/aws-neuron-sdk

**Any alternatives you've considered:**
Nothing

[2022-03-14 17:50] cbgbt commented on #1995
Thanks for raising this. We're interested in integrating with Neuron, and it's something we're planning to look into down the road!

[2022-03-15 18:08] #1581 closed, assigned to nobody

[2022-03-15 21:29] arnaldo2792 commented on #808
We will be implementing this incrementally, and there will be bite-sized issues to sandbox the systemd services closely after this issue is closed so that we can include a few sandboxed systemd services per release.

The individual issues will refer to this issue to make it easier for users to track the progress of sandboxing the systemd services.

[2022-03-15 21:29] #808 closed

[2022-03-15 21:34] arnaldo2792 opened #1997 "Sandbox first party systemd services"
**What I'd like:**
In the spirit of #808, we should reduced the exposure rating of our first party systemd services, which include:

- `cfnsignal.service`
- `apiserver.service`
- `host-containers@<>.service`

**Any alternatives you've considered:**
N / A

[2022-03-15 21:38] arnaldo2792 opened #1998 "Sandbox privileged third party systemd services (part 1)"
**What I'd like:**
In the spirit of #808, we should reduced the exposure rating of the third party systemd services. This is the first part of the third party systemd services to be sandboxed:

* nvidia-k8s-device-plugin.service
* acpid.service
* chronyd.service

**Any alternatives you've considered:**
N / A

[2022-03-15 21:41] arnaldo2792 opened #1999 "Sandbox privileged third party systemd services (part 2)"
**What I'd like:**
In the spirit of #808, we should reduced the exposure rating of the third party systemd services. This is the second part of the third party systemd services to be sandboxed:

* wickedd.service
* wickedd-dhcp4.service
* wickedd-dhcp6.service
* wickedd-nanny.service
* dbus-broker.service

**Any alternatives you've considered:**
N / A

[2022-03-15 21:48] aaroniscode opened #2000 "Please add `crictl` to make it easy to troubleshoot containers and Pods"
**What I'd like:**
Please include the `crictl` command line tool to make it easy to troubleshoot containers and Pods in Kubernetes.

crictl is a command-line interface for CRI-compatible container runtimes. You can use it to inspect and debug container runtimes and applications on a Kubernetes node. crictl and its source are hosted in the [cri-tools](https://github.com/kubernetes-sigs/cri-tools) r

[2022-03-15 21:48] arnaldo2792 opened #2001 "Sandbox containerd's systemd service"
**What I'd like:**
In the spirit of #808, we should reduced the exposure rating of contaienrd's systemd service.

**Any alternatives you've considered:**
N / A

[2022-03-15 21:50] arnaldo2792 opened #2002 "Sandbox kubelets's systemd service"
**What I'd like:**
In the spirit of #808, we should reduced the exposure rating of the kubelet systemd service

**Any alternatives you've considered:**
N / A

[2022-03-15 21:51] arnaldo2792 opened #2003 "Sandbox docker's systemd service"
**What I'd like:**
In the spirit of #808, we should reduce the exposure rating of docker's systemd service

**Any alternatives you've considered:**
N / A

[2022-03-15 21:54] arnaldo2792 opened #2004 "Sandbox ecs-agent's systemd service"
**What I'd like:**
In the spirit of #808, we should reduce the exposure rating of the ecs-agent systemd service

**Any alternatives you've considered:**
N / A

[2022-03-15 21:55] arnaldo2792 opened #2005 "Sandbox vmtoolsd's systemd service"
**What I'd like:**
In the spirit of #808, we should reduce the exposure rating of the vmtoolsd systemd service

**Any alternatives you've considered:**
N / A

[2022-03-15 22:47] cbgbt commented on #1995
Re-titled this to be consistent with #1075, which is similar but for an ECS Inferentia variant.

[2022-03-17 22:25] webern commented on #1471
It will be ready soon! https://github.com/hyperium/hyper/commit/1c6637060e36654ddb2fdfccb0d146c7ad527476

[2022-03-18 17:33] AhmadMasry opened #2008 "Add support for Linux Kernel 5.15 LTS"
Please add support for Linux Kernel 5.15 LTS to support newer hardware and to include the new features included in the newer kernel.

[2022-03-18 22:18] etungsten commented on #2008
Hi @AhmadMasry, thanks for reaching out. We're planning to move the 5.15 kernel for all new variants that are going to be released this year, starting with the `*-k8s-1.23` variants in ~May.

[2022-03-19 16:09] #1671 closed, assigned to bcressey

[2022-03-19 16:09] #1815 closed, assigned to bcressey

[2022-03-21 22:47] cbgbt opened #2010 "Consider adding a mechanism for running a script specified in userdata"
**What I'd like:**
The ability to specify a bootstrap script that gets run by an existing bottlerocket-provided bootstrap container.

Check out the discussion in #1989, particularly [this comment](https://github.com/bottlerocket-os/bottlerocket/discussions/1989#discussioncomment-2342621)

**Any alternatives you've considered:**
Users can currently provide arbitrary bootstrap containers to accompli

[2022-03-22 20:15] etungsten commented on #1234
Closing issue as it seems the issue resides in containerd and not bottlerocket specifically. And the issue is no longer a blocker. Please feel free to re-open the issue if that's not the case.

[2022-03-22 20:15] #1234 closed, assigned to samuelkarp

[2022-03-22 20:44] #1946 closed, assigned to nobody

[2022-03-22 20:45] webern opened #2012 "mention extending the data partition in documentation"
**What I'd like:**

In response to #2011 describe that the data partition is automatically extended on boot. Reference the discussion about this from documentation.

**Any alternatives you've considered:**

[2022-03-22 22:02] webern opened #2015 "update webpki"
**What I'd like:**

It looks like our `webpki-roots-shim` is incompatible with the next major version of webpki roots (0.22):

[code]

**Any alternatives you've considered:**

[2022-03-22 22:29] etungsten opened #2017 "`host-containers@control` systemd service does not cleanly stop when asked to be disabled"
**Image I'm using:**
Bottlerocket x86_64 aws-k8s-1.21 v1.6.2

**What I expected to happen:**
`host-containers@control` systemd service to stop gracefully when I disable the SSM control host-container via Bottlerocket settings.

**What actually happened:**
When I disabled the control host-container, the service ends up in status failed because `host-ctr` returns non-zero when trying to delete the c

[2022-03-22 22:45] etungsten commented on #2017
This is happening due to the `ssm-agent` in the control container exiting with exit code 137 `SIGKILL`. In `host-ctr` we error on non-zero exit codes from container processes https://github.com/bottlerocket-os/bottlerocket/blob/bf0404c983c8f43eac80f24e69cc2b5a767d5298/sources/host-ctr/cmd/host-ctr/main.go#L462-L465.

The other error messages are from the defer functions that attempts to clean up t

[2022-03-22 23:07] webern opened #2018 "slow image pulls when pulling same image multiple times"
Some Bottlerocket users have seen very slow image pulls when the same image pull is being used in many containers. For example, if many pods are created using the same container, it seems like containerd is pulling that container many times in parallel instead of deduplicating the request.

It sounds like the same behavior described in this issue: https://github.com/containerd/containerd/issues/49

[2022-03-23 16:23] #2012 closed, assigned to webern

[2022-03-24 20:37] #1965 closed, assigned to webern

[2022-03-24 21:43] arnaldo2792 opened #2021 "Container clients don't use the updated certificates store"
**Image I'm using:**
aws-k8s-1.21 1.6.2, but this may affect versions >=1.2.0

**What I expected to happen:**
I expect the container client (docker or containerd-cri) to use the updated certificates store, even if the store is updated after the clients start.

**What actually happened:**
The container clients cache the certificates store, and don't reload it if the store changed.

**How to reprodu

[2022-03-24 23:06] arnaldo2792 commented on #769
Hello folks! Sorry for the late response:

@awoimbee, yes that issue is resolved and you can use `eksctl` with self-managed nodegroups, with x86_64 hosts that include NVIDIA GPUs. There is still some work going on to support managed nodegroups and Graviton instances.

@sodabrew Correct, those are the blogposts. And yes, you can use a different GPU per container, in instances that have multiple GPU

[2022-03-24 23:19] sodabrew commented on #769
Thank you! Oh, also is GPU partitioning supported at this time?

[2022-03-25 00:05] #1966 closed, assigned to etungsten

[2022-03-25 12:39] travisnburton opened #2024 "EKS - unable to inject values for [settings.kubernetes] with managed node group"
When attempting to inject values for [settings.kubernetes] into user-data for a managed node group (MNG), the values injected by the EKS managed service are invalidated and the nodes are unable to join the MNG.

This is because EKS needs to write values in the [settings.kubernetes] table in order to attach nodes to the cluster, and TOML does not support merging tables - https://github.com/toml-lan

[2022-03-25 14:39] JohnTrevorBurke commented on #1667
Any updates around FIPS compliance and the usage of Bottlerocket OS? It's a blocker for our team to be able to use for Fedramp compliant EKS nodes. Any updates would be very much appreciated!

[2022-03-25 14:50] vennemp commented on #1667
Hey @JohnTrevorBurke i believe I just added you in linked in. I may be able to help.

[2022-03-25 15:13] webern commented on #2024
Thank you for bringing this issue to our attention. We will take a look at this.

[2022-03-25 17:39] mmerkes commented on #2024
Hi from the EKS MNG team!

From what I can tell, EKS MNG does support your scenario. Can you provide some more information on why you believe the duplicate keys are causing your failure? We have custom logic that merges the TOML that handles merging tables, and I've unit tested the exact scenario that you mention. It could be that something else is going on.

A few questions:

1. Are you able to c

[2022-03-25 18:00] travisnburton commented on #2024
The nodegroup and and launch template are created successfully.  The node fails to join the node group.

Below are different examples of userdata which prevent a node from joining the node group (pulled from launch template):
[code]
[code]

When adding either of the 2 examples above to userdata of a working launch template, the template is modified successfully but the following error is returned:

[2022-03-25 18:07] geekmuse commented on #1667
In the same boat here re: FedRAMP.  Any info/updates here?

[2022-03-25 20:03] mmerkes commented on #2024
Looks like the issue is that you're using [a string rather than an integer for container-log-max-files](https://github.com/bottlerocket-os/bottlerocket/blob/319bd8f9a155f3e5a2290cbc35ab1c5866cc3efa/sources/models/src/lib.rs#L198). If you remove the parentheses, it should work as expected.

We should consider updating the README and any place where we document the settings available to include the

[2022-03-25 21:07] travisnburton commented on #2024
Confirmed - thank you!

2 questions remain:

1. TOML merging logic - is there a preferred format? `[settings.kubernetes]` or `settings.kubernetes.foo = `

2. Is this a definitive list of settings applied when using EKS MNG?  https://github.com/bottlerocket-os/bottlerocket/tree/develop/sources/models/src/aws-k8s-1.22

[2022-03-25 21:48] mmerkes commented on #2024
There is no preference on format. If it's valid TOML, it should work.

[code]
Is equivalent to:
[code]

We also make no promises on how we'll format the final document. Currently, we use the former, but we have a change rolling out that will use the latter, and there's no guarantee that won't change, but it shouldn't matter.

As for the list of settings, EKS MNG tries to know as little about Bottl

[2022-03-26 20:00] FringeCase commented on #1667
Bumping @geekmuse comment; FedRAMP path

[2022-03-28 17:29] bcressey commented on #1788
ECS also supports auto-scaling warm pools now, so we should try to implement this in an orchestrator-agnostic way.

[2022-03-28 21:07] jpculp commented on #1967
Merged.

[2022-03-28 21:07] #1967 closed, assigned to jpculp

[2022-03-28 22:22] bcressey commented on #1976
Update is merged; resolving.

[2022-03-28 22:22] #1976 closed, assigned to bcressey

[2022-03-28 22:22] bcressey commented on #1964
Fixed in #2022.

[2022-03-28 22:22] #1964 closed, assigned to cbgbt

[2022-03-29 16:03] mmerkes commented on #2024
This issue can be resolved.

[2022-03-29 18:41] #2024 closed, assigned to nobody

[2022-03-30 16:55] arnaldo2792 commented on #769
Hey @sodabrew, for the moment we don't support [MIG](https://docs.nvidia.com/datacenter/cloud-native/kubernetes/mig-k8s.html), but it is part of our roadmap.

[2022-03-30 19:10] jpculp commented on #1844
Merged.

[2022-03-30 19:10] #1844 closed, assigned to jpculp

[2022-03-31 17:56] johnsonjnpan opened #2045 "Populate /etc/hosts with custom DNS mapping entries"
**What I'd like:**
Add custom static DNS mapping entries for `/etc/hosts` through settings.

Our project requires us to support resolving certain DNS domain(s) to IP(s) even when the host is disconnected from the internet.
I wonder if BottleRocket can provide some way to set/add such DNS mappings reliably (can sustain a reboot).

E.g. By running `apiclient set settings.dns.mappings=["10.0.0.2 some

[2022-04-01 00:55] jpculp commented on #2045
Hi @johnsonjnpan! Thanks for bringing this to our attention. We'll take a look at what our options are.

[2022-04-01 03:59] samuelkarp opened #2052 "Go Modules in packages"
In order to provide core functionality for the operating system, Bottlerocket includes a number of third-party software packages.  Bottlerocket builds these software packages from source code, and stores the source code in a “lookaside” cache.  The lookaside cache helps ensure that builds can be reproducible and reduces the load from Bottlerocket builds on upstream source repositories.  Bottlerock

[2022-04-02 21:56] dusansusic opened #2056 "BottlerocketOS v1.7.0 not supported by AWS Inspector"
Hi, I've noticed that latest BottlerocketOS images are unsupported by AWS Inspector.
I am curious what broke Inspector support, because v1.6.2 is supported.

[2022-04-03 15:29] mprzygrodzki opened #2057 "How to override default max-pods settings in bootstrap params ?"
I need to override default max-pods setting while using Bottlerocket K8s AMI. After adding max-pods params into custom user-data nodes are unable to join EKS cluster. Not pretty sure if i'm doing it in correct way, tried a different values but without luck. Can someone point me what i'm doing wrong ?

[code]

[code]

[2022-04-04 19:58] jpculp commented on #2056
Hi @dusansusic, thanks for reaching out! Officially Bottlerocket is not supported by AWS Inspector yet, although it is something we are looking at and is on our roadmap. Can you give us a little more background about how you were using it before? I suspect the issues you are seeing might be stemming from the fact that Bottlerocket hosts now report their platform as Bottlerocket in the SSM agent.

[2022-04-04 21:16] jpculp commented on #2057
Hi @mprzygrodzki, thanks for reaching out. Are you trying to do this with a managed node group and eksctl? If so, can you provide me the version of eksctl you're using?

[2022-04-05 08:08] dusansusic commented on #2056
@jpculp Running multiple EKS clusters with managed node groups with BottlerocketOS AMI. Each node has `arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore` policy attached. And it just worked with v1.6.2 and all previous versions, AWS Inspector showed findings each time.
With the same configuration, v1.7.0 doesn't work.

[2022-04-05 09:12] mprzygrodzki commented on #2057
Hey @jpculp - I was trying with managed node groups module for EKS. To be more precise --> https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest

Part of MNG node group config. Without adding max pods node groups is created correctly and nodes can join cluster without any issues.

[code]

[2022-04-05 23:23] kdaula commented on #911
EKS Managed Node Groups support Bottlerocket.
further read: https://aws.amazon.com/blogs/containers/amazon-eks-adds-native-support-for-bottlerocket-in-managed-node-groups/

[2022-04-05 23:23] #911 closed, assigned to nobody

[2022-04-05 23:28] kdaula commented on #1063
Resolving, since bpf-lsm and the new capabilities are available in newer variants.

[2022-04-05 23:28] #1063 closed, assigned to nobody

[2022-04-05 23:43] cbgbt commented on #1132
As a tip/workaround, one way this can be accomplished would be to use [bootstrap containers](https://github.com/bottlerocket-os/bottlerocket#bootstrap-containers-settings) to add these settings. This would be a lot easier if we had something like #2010.

That said, adding these as modeled settings would be the best option.

[2022-04-06 00:08] cbgbt opened #2060 "Update `packages` for 1.8.0"
We should update dependencies under packages prior to our next minor version update.

An example of this being done can be found in #1936

[2022-04-06 00:09] cbgbt opened #2061 "Update rust dependencies for 1.8.0"
We should update dependencies of our Rust packages in Bottlerocket to prepare for 1.7.0. An example of this being done can be found in #1940

[2022-04-06 00:09] cbgbt opened #2062 "Update go dependencies for 1.8.0"
This would include dependencies for packages like host-ctr and hotdog. A previous example of this is #1938

[2022-04-07 13:01] mello7tre commented on #1788
To properly handle ECS AutoScaling warm pools, Bottlerocket should support ecs-agent parameter:
ECS_WARM_POOLS_CHECK

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/asg-capacity-providers-create-auto-scaling-group.html#using-warm-pool

[2022-04-07 21:51] etungsten commented on #2057
Hi @mprzygrodzki, can you provide the system log for the Bottlerocket instance that gets launched? You can fetch them with the AWS-CLI like this: `aws ec2 get-console-output --instance-id <INSTANCE_ID> --latest  --output text` or through the EC2 console.

If possible, can you also show what the merged TOML instance userdata look like for one of these nodes? You can get that via the AWS-CLI like th

[2022-04-07 22:07] arnaldo2792 commented on #2057
Hey @mprzygrodzki , along with ^, could you please provide the Bottlerocket version that you are trying to use? Thanks! :+1:

[2022-04-07 22:48] duckie commented on #1225
Hello there

 I cannot use the NFS CSI driver because it does not support read only NFS endpoints. So this is still a problem and the basic "NFS" mount should be supported.

[2022-04-08 22:23] jpculp commented on #2056
@dusansusic, Amazon Inspector leverages the AWS Systems Manager Agent (SSM Agent) to collect data. Prior to Bottlerocket 1.7.0 hosts would appear as Amazon Linux 2 (the base OS of the control container) in Systems Manager and (if enabled) inventory the packages present on the Control Container. We worked closely with the SSM team and with the release of Bottlerocket 1.7.0 and SSM Agent 3.1.1141.0,

[2022-04-11 23:01] arnaldo2792 commented on #1225
Hey @duckie , could you please help us clarify the use case that you have, do you want to:

1. Use a **NFS filesystem** exposed in a NFS server as **read-only**, i .e. :
[code]
2. Mount the **NFS filesystem** in the pod as read-only, i. e.:

[code]

For 1) we might have to ask the NFS CSI driver maintainers to support the use case, for 2) I think you can add mount options, as described in the [NFS

[2022-04-12 01:15] vasu-git opened #2064 "How to enable ec2 instance connect from user-data"
**Image I'm using:**
Bottlerocket OS 1.7.0 (aws-k8s-1.21)

I'm trying to use bottlerocket in my eks cluster(it uses karpenter with a custom launch template)
I also need to enable ssh access to the instance by default using ec2 instance connect.(it works seamlessly for non-bottlerocket based instances)

I was able to enable admin container by default by adding the following the the user-data for th

[2022-04-12 13:25] walesb commented on #1667
Hi Team, I have the same query here, I just want to confirm to know if AWS BottleRocket AMI's are FIPS-140-2 compliant by default or not?

Looking forward to your reply.

[2022-04-12 15:15] DZDomi opened #2065 "Support for kubelet config options: imageGCHighThresholdPercent, imageGCLowThresholdPercent"
**What I'd like:**

We were running into an issue on our development EKS cluster when we tried to update multiple deployments trough Argo CD on the same EKS node. The node was hitting the Condition `DiskPressure` for one to two minutes on each parallel deployment, before it reverted back to reporting `NoDiskPressure`. We tried to track the issue down and could identify the issue with the following

[2022-04-12 17:04] jpculp commented on #2064
Hi @vasu-git, thanks for reaching out. By default the only authentication method that is enabled is traditional SSH using the key you set when you created the instance. If you'd like to use EC2 Instance Connect instead, you need to set the admin container's userdata with the addition of a base64-encoded block like so:

[code]

The base64-encoded block should contain the following JSON:

[code]

Fo

[2022-04-12 17:04] #2064 closed, assigned to nobody

[2022-04-13 15:51] zmrow commented on #2065
Thanks for the report!  We'll consider surfacing those options.

Could nodes be launched with a slightly larger data volume to avoid running so close to the thresholds?

[2022-04-13 16:16] DZDomi commented on #2065
Hey, thanks for the fast reply! Yes this would also certainly be an option, we will consider it, thanks! But in the end it is just a workaround for the underlying issue. Also if you are running hundreds of nodes, storage costs will certainly increase (especially if you run a lot of smaller nodes).

Would be happy to see this an option in the userdata config. Also happy to make the PR myself if you

[2022-04-14 06:40] samjo-nyang opened #2071 "Support for custom /etc/hosts entries"
**What I'd like:**
I'd like to add custom /etc/hosts entries, such as followings.
[code]
So that I can create hostNetwork Pods without specifying hostAliases in their Pod specs.

**Any alternatives you've considered:** (none)

**Minimal patch I tested:**
[code]

[2022-04-14 13:53] marinator86 opened #2072 "Add support for docker registry using TLS client certificates"
**What I'd like:**
We need to connect to a private docker registry, and that forces any client to present a certificate during TLS handshake.

Docker supports these client certificates by configuration. You need to copy cert + key to `/etc/docker/certs.d/...`. In non-bottlerocket instances, we copy those certs using user data:
[code]

We also need to provision credentials for the registry, we're c

[2022-04-14 15:27] zmrow commented on #2071
Thanks for the issue!  We have an [issue open](https://github.com/bottlerocket-os/bottlerocket/issues/2045) for this already - if that issue meets your needs I'll go ahead and close this one.  If there are additional features you'll need, we can add them to that issue.

[2022-04-14 16:30] zmrow commented on #2072
Hi there!  Regarding client certificates, you can provision custom certs via API settings.  This is described in the [Custom CA certificates](https://github.com/bottlerocket-os/bottlerocket#custom-ca-certificates-settings) docs.  If you don't want to use user data for this - you can use a bootstrap container (also described in the linked section).

In terms of registry credentials, you can set the

[2022-04-14 19:38] baasumo commented on #867
Just expanding on the above comment, our team noticed all of these metrics:

[code]

are lacking metadata and some of these are used for autoscaling and other behavior in some of our workloads.

[2022-04-14 22:54] zmrow commented on #867
@baasumo  Thanks for following up on this!

[2022-04-15 01:12] #2071 closed, assigned to nobody

[2022-04-15 01:17] samjo-nyang commented on #1788
Also, I have an additional feature request - I want to pull images in the warm pool state before instances go to hibernated or stopped state. Currently, I use a host container to do this, but I want something Bottlerocket-supported, such as
[code]

FYI: the entrypoint shell script of the container that I used -
[code]

[2022-04-18 19:48] ssypi commented on #1078
Is there any progress or plans regarding this? I saw that the support for awsvpc networking mode with the CNI plugins was added in #1246 but there was a mention that the appmesh plugin was left out for now.

[2022-04-20 00:57] #1942 closed, assigned to etungsten

[2022-04-20 17:50] arnaldo2792 commented on #1074
Hey @kniec, for our kubernetes GPU support we went ahead with the general approach of mounting the userland driver in containers, since as described in the issue you linked, we didn't want customers to rethink how they have to build their container images. However, I do think that your use case could be supported in Bottlerocket, but we need to design how we actually want to do it. I'll bring your

[2022-04-20 18:12] arnaldo2792 opened #2086 "[ECS] Conditionally set GPUSupportEnabled in ecs-settings-applier"
We need to conditionally set the value of the `GPUSupportEnabled` flag in `ecs-settings-applier` at compilation time, depending on what type of image is being built (accelerated vs general purpose).

This is to support #1074

[2022-04-20 18:35] arnaldo2792 opened #2087 "[ECS] Add docker and shimpei templated configuration for the NVIDIA runtime"
We need to have a docker templated configuration that has the `nvidia` runtime in it which will use the `nvidia-oci` runtime (a symlink to `shimpei`). Along with this, we need to have an additional `oci-hooks` toml file to create `shimpei`'s hooks configurations for both the `default` and `nvidia` runtimes.

This is to support #1074

[2022-04-20 18:39] arnaldo2792 opened #2088 "[ECS] Add ecs-gpu-init to create nvidia-gpu-info.json"
`ecs-gpu-init` will create the file `/var/lib/ecs/gpu/nvidia-gpu-info.json`, which is used by the ECS agent to configure GPUs for ECS tasks.

This is to support #1074

[2022-04-21 18:23] nairb774 commented on #1703
Stuck between a rock and a hard place, I come here looking for help. I've got a third-party distoless container which is in need of adjusted ulimits. While it would be great to see Kubernetes actually take this on, it doesn't seem like it has any real traction at this time, and even if it did, I'd expect it to take over a year to go from code commit to actually being something that would be actual

[2022-04-25 18:37] arnaldo2792 commented on #769
We released this on 1.6.0. Refer to [the main documentation](https://github.com/bottlerocket-os/bottlerocket#nvidia-gpus-support) to read about how to use NVIDIA GPUs with Bottlerocket

[2022-04-25 18:37] #769 closed

[2022-04-25 21:57] somnusfish commented on #2072
We haven't heard back from you for a while so I would assume this issue could be resolved. Please feel free to open this issue or reopen a new issue if you still have any questions/concerns.

[2022-04-25 21:57] #2072 closed, assigned to nobody

[2022-04-26 03:57] bcressey commented on #2065
Certainly! It looks like we haven't added more of these settings in a while, but #1659 has the basic structure:
1. changes to the model and modeled types to add the settings and any necessary validation
1. changes to documentation to describe the new settings
1. changes to all the relevant kubelet config templates to render the settings
1. migrations, to ensure that the new settings are erased on

[2022-04-26 04:02] bcressey commented on #2056
We're working with the AWS Inspector team to add first-class support for Bottlerocket - meaning that its vulnerability scan would be aware of our [security advisories](https://github.com/bottlerocket-os/bottlerocket/security/advisories?state=published) and flag nodes that are not running versions of Bottlerocket that contain the fix.

No ETA yet but it's definitely a priority.

[2022-04-27 18:08] #2087 closed, assigned to arnaldo2792

[2022-04-28 20:42] kdaula commented on #1899
Released in v1.7.2

[2022-04-28 20:42] #1899 closed, assigned to jpculp

[2022-04-29 04:08] c4milo commented on #968
Supporting GCP will increase adoption more. I hope it gets prioritize soon 🤞🏼

[2022-04-29 10:26] awoimbee opened #2115 "Mounting "prepared" /dev/xvdb disk on 1.7.2 results in "exec format error""
I understand that the procedure I'm using is far from standard, but I don't see why it would not work and more specifically, what made it stop working in there: https://github.com/bottlerocket-os/bottlerocket/compare/v1.7.1...v1.7.2.

**Image I'm using:**

I'm using `Bottlerocket OS 1.7.2 (aws-k8s-1.22-nvidia)`.
`Bottlerocket OS 1.7.1 (aws-k8s-1.22-nvidia)` is not impacted by this issue.

**What I

[2022-04-29 15:33] bcressey commented on #2115
The "exec format" error is something I've only seen when there's an architecture mismatch.

Any chance you're pulling the images and populating xvdb on an x86_64 instance, and using the snapshot on an arm64 instance? Or vice versa.

[2022-04-29 19:06] dusansusic commented on #2056
@bcressey good to hear that support is coming! Thanks!

[2022-04-29 22:59] bcressey commented on #867
Support for these metrics is still not in cAdvisor upstream, per https://github.com/google/cadvisor/issues/2785#issuecomment-1020088355.

[2022-05-01 22:23] bcressey commented on #1703
I agree that it would be nice to make these configurable in Bottlerocket. I came across this issue today when exploring what would be involved in dropping `CAP_NET_RAW` from the default capabilities list.

As with rlimits, we'd need the ability to modify the base OCI spec in order to avoid just hard-coding a new set of defaults that won't work for all use cases.

Maybe an API like this:
[code]

(e

[2022-05-02 15:39] bobsaintcool opened #2118 "Add grsecurity integration"
Hello,

**What I'd like:**

Have AMI of bottle including a grsecurity patched kernel.
I'd love from a security guy having grsecurity running bellow bottle rocket OS. From what I've understood it could be achieved by build BottleRocket OS from source and using a such a custom AMI into our AWS VMs.

However from what I've understood teams may run [ASG](https://docs.aws.amazon.com/autoscaling/ec2/use

[2022-05-02 16:53] ecpullen commented on #2118
Hi @bobsaintcool, we will look into supporting this down the road.

[2022-05-02 17:10] #2086 closed, assigned to arnaldo2792

[2022-05-02 20:45] bcressey commented on #1703
@nairb774 if I understand correctly, the application doesn't have the logic to raise its own limit, so we'd have to make the soft limit configurable, and couldn't simply increase the hard limit again.

[2022-05-02 22:11] zmrow commented on #2065
@DZDomi  - let us know if you have any questions about the above!  We're happy to help with a PR if you think you'd like to try putting one together.

[2022-05-02 22:13] cbgbt commented on #2045
As an update, I'm currently working on integration of this feature.

[2022-05-03 00:29] nairb774 commented on #1703
Correct.

The specific third-party software where I ran into file-descriptor exhaustion was with Istio's Gateways, and with KNative's Activators. I could be wrong, but there didn't seem to be support in Istio's proxy app, Envoy or in KNative's Activator to tweaks the ulimit/rlimits as part of their startup. I'd almost expect Envoy to have something, but I can't seem to quickly find something there

[2022-05-03 13:21] awoimbee commented on #2115
I know right, it's a weird error to have. I'm building and running these images on g5 or g4dn instances (both x64) (not using g5g). I would like to add more context to this issue but I can't ATM.

[2022-05-03 17:13] #2088 closed, assigned to arnaldo2792

[2022-05-03 19:28] etungsten opened #2124 "Consider changing `host-containers@.service`'s `Type` to `idle`"
We're adding serial console access support to Bottlerocket's admin container in https://github.com/bottlerocket-os/bottlerocket-admin-container/pull/59. We might want to avoid interleaving the admin container's output with other systemd unit status output in the console.

By changing `host-containers@.service`'s process start-up type to `idle`, the admin container's login prompt will show up towar

[2022-05-04 05:52] bcressey commented on #2115
Are you using EBS encryption for the resulting snapshot? There can be problems when going from an unencrypted volume to an encrypted snapshot, in the specific case of all zero blocks.

While trying to repro this with the global EBS encryption setting turned on, I managed to create a snapshot with a zero length copy of `start_admin_sshd.sh` which (predictably) caused the admin container to fail to

[2022-05-05 16:35] #1074 closed, assigned to arnaldo2792

[2022-05-06 09:10] scoof opened #2130 "Support for PodPidsLimit Kubelet option"
**What I'd like:** Kubelet support for PID limits
Please support PodPidsLimit option in Kubelet config

**Any alternatives you've considered:** None

[2022-05-06 20:21] gthao313 commented on #2130
Hi @scoof Thanks for opening this issue. Bottlerocket team will research on this and reach back to you soon. Thanks.

[2022-05-06 21:42] gthao313 commented on #2130
Hi @scoof  We will support it on our next release. Thanks : )

[2022-05-10 16:35] mzupan opened #2132 "Able to set --cluster-dns"
**What I'd like:**

Being able to set --cluster-dns flag for kubelet. This allows the kubelet to set the dns search to something other then coredns like node-local-dns then fail back to coredns

[2022-05-10 18:04] gthao313 commented on #2132
Hi @mzupan  Thanks for opening this issue. Bottlerocket team will research on this and reach back to you soon. Thanks.

[2022-05-10 18:08] mzupan commented on #2132
@gthao313 thanks how it was used with just a linux ami in eks was like

[code]

The first IP being the IP node-local sets on each node and the 2nd being coredns.

That set any pod running on that node to have a resolv.conf that looked like

[code]

[2022-05-10 18:58] bcressey commented on #2132
Does `settings.kubernetes.cluster-dns-ip` not work for this? We generate a value for the setting automatically, but if you specify a value that should override the default.

[2022-05-12 16:33] mzupan commented on #2132
@bcressey that doesn't seem to allow you to specify multiple values like `--cluster-dns` in the kubelet does. Really there for if node-local somehow fails it uses coredns as a failback

[2022-05-12 16:49] bcressey commented on #2132
Now that you point it out, it's obvious that it can be a list of IPs in the [kubelet config template](https://github.com/bottlerocket-os/bottlerocket/blob/6a82bc56b203ab27c78d5d043c3b4f4d5f1a68c8/packages/kubernetes-1.22/kubelet-config#L31), but it never crossed my mind to make it a list in our API. 😄

@etungsten seems like we need some of the serde magic here to migrate `cluster-dns-ip` into a li

[2022-05-13 04:12] webern opened #2135 "pubsys: cargo make ami should "just work""
**What I'd like:**

I have a aws profile with a default region, but when I use `cargo make ami` I get `Failed to build AMI: Infra.toml is missing aws.regions`. For the simple workflow `cargo make build && cargo make ami`, pubsys should be savvy and use my default region without needing me to create this file:

[code]

[2022-05-17 02:26] cgchinmay opened #2137 "Add Support for cni log collector"
**What I'd like:**
Here's the issue: https://github.com/aws/amazon-vpc-cni-k8s/issues/1316
Here's reference PR: https://github.com/awslabs/amazon-eks-ami/pull/870

Would like the script mentioned in above PR to be included in Bottlerocket AMI. This would allow customers to collect cni logs on bottlerocket AMI. Similar to this: https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-scr

[2022-05-17 15:56] zmrow commented on #2137
Thanks for this!  We'll look into it and figure out the best place for it, since Bottlerocket doesn't include a shell.

[2022-05-17 19:30] cbgbt commented on #2057
Hey @mprzygrodzki, any chance you have a moment to provide some additional information here? Thanks!

[2022-05-18 08:30] awoimbee commented on #2115
This was it, thanks ! I hope you didn't loose too much time on this one. I still don't understand why this wasn't an issue on v1.7.1 but whatever.

In my script it translates to:
[code]

[2022-05-18 08:30] #2115 closed, assigned to nobody

[2022-05-18 15:20] etungsten opened #2139 "Kubernetes 1.23 support"
Kubernetes 1.23 was released in December 2021: https://kubernetes.io/blog/2021/12/07/kubernetes-1-23-release-announcement/

[CHANGELOG since 1.21.0](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#changelog-since-v1220)

- [ ]  aws-k8s variant
- [ ]  vmware-k8s variant
- [ ]  metal-k8s
- [ ]  aws-k8s nvidia variant

[2022-05-19 21:38] webern opened #2147 "create a testsys cli in the tools workspace"
instantiate a CLI, named `testsys` in the `tools` workspace. Stub out cargo make targets for installing this CLI (like we do with pubsys) and stub out the `cargo make test` target which will eventually test Bottlerocket instances.

[2022-05-19 21:43] webern opened #2148 "cargo make test for aws-k8s sonobuoy"
Provide the ability to run `cargo make test` for `awk-k8s` variants. This should run a sonobuoy test and give you the option to run either `e2e` or `quick`.

depends on:
- #2147

[2022-05-19 21:54] webern opened #2149 "cargo make test for aws-k8s upgrade-downgrade testing"
Support upgrade-downgrade testing for aws-k8s variants.

It should be possible to run either the conformance testing, upgrade-downgrade testing, or both.

pubsys gets update repository URLs from Infra.toml. We should also use these values for `cargo make test` for upgrade-downgrade testing.

[code]

[2022-05-19 22:01] webern opened #2150 "cargo make test for aws-ecs variants"
Get `cargo make test` working for ECS. In conformance mode this will run a simple task. In upgrade-downgrade mode it will run that task at each waypoint in the upgrade-downgrade cycle.

depends on (or rather, would conflict with if done in parallel):
- #2148
- #2149

[2022-05-19 22:19] webern opened #2151 "cargo make test for vmware-k8s variants"
Get `cargo make test` working for testing vmware-k8s variants in vSphere.

depends on (for precedence):
- #2148
- #2149

We might also say that it depends on this:
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/414

[2022-05-19 22:27] webern opened #2152 "cargo make test for metal-k8s variants"
Get `cargo make test` working for testing metal-k8s variants (probably using [tinkerbell](https://tinkerbell.org/)).

depends on:
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/415

depends on (for precedence):
- #2148
- #2149

We might also say that it depends on this:
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/414

[2022-05-20 14:41] markusboehme commented on #1613
Updated in #2145, this time without being able to reproduce the build failures.

[2022-05-20 14:41] #1613 closed, assigned to nobody

[2022-05-20 21:20] #2130 closed, assigned to gthao313

[2022-05-23 12:43] ghost commented on #867
Is there a way we can get labels and annotations from the pod running these containers?

[2022-05-23 17:29] webern opened #2153 "tools: unpin or update tokio"
We should consider unpinning tokio in the tools workspace. Pinning tokio in bottlerocket makes sense given the level of confidence we want to have in bottlerocket's behavior. But for our publishing and builds tools, perhaps we don't need to be as strict.

In any event `~1.8` is incompatible with the new `testsys` CLI and blocks #2147 and #2148 (and the rest of `cargo make test`) because kube-rs ha

[2022-05-24 16:35] webern opened #2154 "add bottlerocket tests to cargo make test"
When one or more of the following tests exist, we should make it easy to run them with `cargo make test`.

depends on (one or more of):
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/318
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/430
- https://github.com/bottlerocket-os/bottlerocket-test-system/issues/431
- https://github.com/bottlerocket-os/bottlero

[2022-05-24 17:03] bcressey opened #2155 "support automated reconciliation of kernel command line settings"
**What I'd like:**
I'd like a way to provide kernel or init command line parameters via user data or bootstrap container, and have the node automatically reboot into a state where they're applied.

This can be optional, and off by default.

An example use case would be enabling cgroup v2:
[code]

**Any alternatives you've considered:**
Handling the reboot in a bootstrap container, but this is pote

[2022-05-24 17:12] bcressey commented on #2155
Implementation thoughts:

We might get away with ordering constraints on the bootstrap container service units, such that they were all `RequiredBy` and `Before` the reconciliation unit. Otherwise we could use a new `reconciled.target` to guarantee this. The important thing is that we issue any required reboot before we start `multi-user.target`.

I don't recall whether parameters passed by bootco

[2022-05-24 17:13] bcressey commented on #2155
@etungsten, @zmrow, @arnaldo2792 - I'd like to get your thoughts too.

[2022-05-27 18:08] craigerl opened #2160 "Add smartpqi driver to Linux kernel"
I see the broadcom megaraid driver was recently added.  Since we're looking at booting on real hardware
could we also add "smartpqi" in order to boot on all HPE hardware host bus adapters?

I'm suggesting we append

**CONFIG_SCSI_SMARTPQI=y**

to

https://github.com/bottlerocket-os/bottlerocket/blob/develop/packages/kernel-5.10/config-bottlerocket

(@etungsten)

thanks,
-craig

[2022-05-27 19:34] webern commented on #2160
Thank you, our kernel/hardware folks will take a look at this request.

[2022-05-27 22:37] arnaldo2792 opened #2161 "Add socket activation for the apiserver systemd service"
**What I'd like:**
If the apiserver systemd service is restarted for whatever reason, any bind mount that points to the apiserver socket will be invalidated. To prevent this, we should use socket activation and let systemd manage the lifecycle of the socket.

**Any alternatives you've considered:**
N / A

[2022-05-29 08:21] tanvp112 commented on #1240
hi @zmrow, I tested with `1.7.2-28782dce`, there's one last setting that required to pass elasticsearch boostrap check which is the [memlock](https://www.elastic.co/guide/en/elasticsearch/reference/current/_memory_lock_check.html). Is it possible to have memlock hard limit set to `unlimited`?

Thanks.

[2022-05-31 17:14] misterek commented on #2056
Hi @bcressey !  Any idea when inspector reporting might be coming?

[2022-05-31 17:20] bcressey commented on #2056
It's tentatively slotted into the 1.10.0 release, roughly August. Please let me know if that doesn't work for you since we can try to account for that in the relative prioritization.

[2022-05-31 17:32] misterek commented on #2056
Thanks!  Earlier would be helpful, but August should be sufficient. Right now we are checking the current version of bottlerocket vs the version we are running (which is updated with BottleRocketUpdater), which ends up being a completely separate reporting mechanism than Inspector.

Anyway, inspector support will be very welcome, and I'll take it as soon as I can!  Thank you for the update!

[2022-05-31 21:20] etungsten commented on #2155
This sounds like a good idea. I agree the current behavior with `settings.boot` is not ideal where the user has to manually reboot the host to apply boot settings specified in user-data.

Parameters passed by bootconfig are not de-duped against parameters on the kernel cmdline. You can specify the same parameters multiple times. In general, earlier specifications are overwritten by later ones. Boo

[2022-05-31 21:23] a-username-1 opened #2163 "Support for multi user containers with podman on kubernetes"
**What I'd like:**
We are running bottlerocket in EKS, and we have a use case to support multi user containers with podman on unprivileged kubernetes containers. It's failing on setting the uid/gid maps. Single user containers run fine with podman on this setup.

**Any alternatives you've considered:**
We have discussed using a different OS on the EKS nodes to get this working, but most of them wo

[2022-06-01 17:07] bcressey opened #2164 "add a new aws-ecs variant for kernel 6.1"
**What I'd like:**
I'd like a new variant for ECS that includes the new 6.1 kernel.

The ECS Agent works to preserve compatibility across its releases, so there's no upstream version to synchronize with in this case; it's still on 1.x versions.

With that in mind, possible options for a successor to `aws-ecs-1` include:
* `aws-ecs-1.1` - add a ".1" to reflect a new revision
* `aws-ecs-2` - increme

[2022-06-01 17:08] bcressey commented on #2164
@mello7tre and @samuelkarp - I'd love to get your input here.

[2022-06-01 21:24] #1471 closed, assigned to webern

[2022-06-01 21:49] bcressey commented on #2057
My guess is that this is because the user-data ends up with two `[settings.kubernetes]` tables, and the second one (with `max-pods`) clobbers the first, which would have `apiserver` and other critical values.

[2022-06-01 22:10] bcressey commented on #2057
If [this](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/be86c0b898c34943e898e2ecd4994bb7904663ff/examples/user_data/templates/bottlerocket_custom.tpl) is the template that's being extended, you could potentially avoid the problem by using a snippet like this for `bootstrap_extra_args`:
[code]

[2022-06-01 22:39] webern commented on #1471
Fixed by #2019

[2022-06-01 22:52] arnaldo2792 commented on #2161
A reminder for our future selves: we don't want to use bindings to systemd libraries, instead we need to replicate the logic to handle the file descriptors configured by systemd in the process, like [here](https://github.com/systemd/systemd/blob/14c811ff4a3025a3ba8b969f7228c05d31eb3796/src/libsystemd/sd-daemon/sd-daemon.c#L42)

[2022-06-02 05:28] cbgbt commented on #2153
It seems like tokio `1.14.x` stops being supported this month (6/2022). I've started a discussion to see if there will be a new version dedicated as LTS: https://github.com/tokio-rs/tokio/discussions/4732

[2022-06-02 05:54] webern commented on #2153
For the tools workspace I recommend that we use tokio = "1" and cargo update to latest in our lock file. I don't think we need to pin the tools workspace like we do for sources.

[2022-06-02 10:09] mello7tre commented on #2164
Hi, i would go for `aws-ecs-1.1`.

Both `aws-ecs-2` and `aws-ecs-2022` represent a significant change, that it's better to use for the agent version update or for other big changes related to the _ecs world_ (and in that case i would choose `aws-ecs-2` to have a consistent progression with the current one.)
Kernel update, is a big change, but is not directly related to ecs.

[2022-06-02 13:08] cbgbt commented on #2153
I am definitely conflating issues which are actually tangential:
* I agree that we don't need to pin the tools repo
* We should move anything pinned to the 1.8 LTS release to the newest LTS, since 1.8 is no longer supported.

tokio has marked `1.18` as the next LTS in https://github.com/tokio-rs/tokio/pull/4733, and plans to support that until January 2023.

[2022-06-02 18:46] arnaldo2792 opened #2170 "Configure chronyd to adjust the time smoothly"
**What I'd like:**
We need to guarantee that `chronyd` is always running even if the process exits or is killed by the OS. Since `chronyd` could take some time to reconcile the clock (e. g. when the host clock is at  January 1 2000), we need to add:

- A `oneshot` service that steps the clock forward aggressively, that runs at boot and never restarts
- A long running service that can be restarted,

[2022-06-02 18:58] cbgbt opened #2171 "Measure Pod Start & Node Join Performance for k8s Variants"
We are moving to containerd 1.6.4 for Bottlerocket in https://github.com/bottlerocket-os/bottlerocket/pull/2158. We have also made improvements to the kubelet config in https://github.com/bottlerocket-os/bottlerocket/pull/2166 which should improve Pod start time.

This issue is to track testing both of these changes to assert that performance has improved or remained the same for Node Join and Pod

[2022-06-02 19:30] cbgbt opened #2172 "Restarting dbus results in kubelet being unable to start pods"
**Image I'm using:** Any Kubernetes variant

**What I expected to happen:**
If the `dbus` service is restarted, scheduling pods with Kubernetes should not be impacted.

**What actually happened:**
Scheduling a pod does not complete after dbus has been restarted unless the kubelet is also restarted:

[code]

**How to reproduce the problem:**
* `systemctl restart dbus` as admin in a node
* Attempt t

[2022-06-02 22:43] cbgbt opened #2175 "Many packages require newer build tools in the SDK"
**What I'd like:** To update dbus-broker to v31 or greater.

dbus-broker requires a newer build of meson to be included in our SDK. Currently, the SDK [uses F35 as a base](https://github.com/bottlerocket-os/bottlerocket-sdk/blob/c726347768074d39d499c8e5b235a174756c1438/Dockerfile#L1), which doesn't include a recent enough build, so we would need to update that.

Note that when we do update dbus-br

[2022-06-02 23:23] jpculp commented on #2175
I think another benefit of jumping to F36 is openssl 3.0.x is the default.

[2022-06-03 22:26] cbgbt commented on #2175
It turns out that we similarly need a newer meson for the newest libglib (2.73), which would also necessitate this move.

[2022-06-04 00:09] jpculp commented on #2163
Hi @a-username-1, thanks for reaching out! We're taking a look at this and will get back to you soon.

[2022-06-06 07:02] mikkoc commented on #2171
Is there an easy way to test 1.8.0, like a nightly AMI or similar?

The pods startup time for bottlerocket is currently abysmal compared to our regular AmazonLinux2 AMIs:

<img width="735" alt="image" src="https://user-images.githubusercontent.com/6280048/172111728-86bd5159-9b4c-43d3-9114-6454c1e01e6a.png">

[2022-06-06 18:00] zmrow commented on #2155
All of this sounds reasonable to me!

[2022-06-06 22:09] #2153 closed, assigned to cbgbt

[2022-06-06 23:19] #2021 closed, assigned to arnaldo2792

[2022-06-07 01:33] samuelkarp commented on #2164
I don't know that I have enough information to really answer your question, but I'll ask a few questions/try to write down some observations that I think might help you think about it.

How long would you plan to maintain multiple kernels for different variants?  How easy or difficult would it be for ECS customers to migrate between variants?  (Can they do that with `apiclient` or must they launch

[2022-06-07 15:38] #2160 closed, assigned to bcressey

[2022-06-07 20:07] cbgbt commented on #2045
This feature has been merged, and should be released with Bottlerocket 1.8.0.

[2022-06-07 20:35] bcressey commented on #2163
Some notes from my initial investigation.

uidMappings and gidMappings are part of the OCI spec, and can be set through [POSIX platform mounts](https://github.com/opencontainers/runtime-spec/blob/main/config.md#posix-platform-mounts) and [user namespace mappings](https://github.com/opencontainers/runtime-spec/blob/main/config-linux.md#user-namespace-mappings).

This spec gets passed to runc as "co

[2022-06-08 02:00] #2061 closed, assigned to nobody

[2022-06-08 04:13] etungsten opened #2193 "use `bottlerocket-variant` crate to set up logdog conf for variants"
_Originally posted by @bcressey in https://github.com/bottlerocket-os/bottlerocket/pull/2140#discussion_r891316822_

[2022-06-08 06:58] webern commented on #2164
They would need to launch replacement AMIs because we do not have #1261

Note that our recent crate which gives names to the positions of the variant tuple calls this position `version`, or we could think of it as `Variant::version` (we did *not* name it, for example, `orchestrator_version`): https://github.com/bottlerocket-os/bottlerocket/blob/6b7f020a5169a32409bdbd0cb4cbe79e66845b05/sources/bott

[2022-06-08 07:21] samuelkarp commented on #2164
So if that's the case, the eventual sunsetting of the aws-ecs-1 variant might leave customers who've deployed the [ECS updater](https://github.com/bottlerocket-os/bottlerocket-ecs-updater) without automatic upgrades in their clusters?  Or would addressing #1261 be a prerequisite for that?

The new crate is interesting; I had referred to it as the "orchestrator version" primarily because that's wha

[2022-06-08 13:45] cbgbt commented on #2171
Hi @mikkoc. Sorry for the delayed response. We don't currently have a nightly AMI to test, so the easiest way to do the test would be with a Bottlerocket AMI built from the `develop` branch.

I'm in the process of gathering my own metrics here, but some preliminary testing of the changes made in #2166 are quite promising.

[2022-06-08 16:14] #2139 closed, assigned to etungsten

[2022-06-08 17:46] arnaldo2792 opened #2195 "ECS tasks don't have access to introspection server"
**What I'd like:**

There are some tasks (i. e. the datadog agent) that will attempt to query the introspection server created by the ecs-agent. This introspection server isn't accessible in tasks running in Bottlerocket, since we only bind the server to the loopback IP address. We need to make the introspection server available to ECS tasks so that processes like the datadog agent can query the s

[2022-06-08 17:47] webern opened #2196 "make it easier to get logs"
**What I'd like:**

We have `logdog` which helps gather logs on the host for troubleshooting. Getting these logs is tricky and requires entering into the admin container and using sheltie.

What we want is something easier. From the control container, we would like to run an api that creates the logdog tarball and places it in a path where we can access it from the control container.

[2022-06-08 17:47] kdaula commented on #2062
we will be updating hotdog in 1.9.0 thru merging https://github.com/bottlerocket-os/bottlerocket/issues/2160

[2022-06-08 17:47] #2062 closed, assigned to etungsten

[2022-06-08 17:54] webern opened #2197 "sundog does not respect proxy settings"
Sundog and the generators that is calls should respect HTTP proxy settings. For example, Pluto will try to call the EKS API and should use the HTTP proxy settings.

[2022-06-08 19:26] jpculp opened #2198 "EKS pause container source is not consistent between hosts launched before/after v1.7.2"
**What I'd like:**
When we decide to bump the version of the EKS pause container, we need to be mindful that hosts prior to v1.7.2 are set to `{{ pause-prefix settings.aws.region }}/eks/pause-{{ goarch os.arch }}:3.1` while hosts launched post-v1.7.2 are set to `{{ pause-prefix settings.aws.region }}/eks/pause:3.1-eksbuild.1`.

**Alternative solution:**
Create a migration to migrate Bottlerocket h